/build
/provisioning/devbox/.vagrant
/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
/.idea/
*.iml
.DS_Store
/provisioning/files/mail-config.js
/provisioning/*.retry
cv-pdf
.terraform
ci/.zip
.cpcache
.nrepl-port
ui/resources/public/js/
/ui/figwheel-main.edn
/ui/icons
/.envrc
/secret.envrc
/cvpartner.error.txt
