Alf Kristian Stoyle <alf.kristian@kodemaker.no> Alf Kristian Stoyle <alf.kristian@gmail.com>
Alf Solbakken <alf@kodemaker.no> <aesolbakken@gmail.com>
Anders Furseth <anders@kodemaker.no> <anders.furseth@gmail.com>
André Bonkowski <andre@kodemaker.no>
August Lilleaas <august@kodemaker.no> August <august@augustl.com>
August Lilleaas <august@kodemaker.no> August Lilleaas <august@augustl.com>
Christian Johansen <christian@kodemaker.no> Christian Johansen <christian@cjohansen.no>
Christin Gorman <christin@kodemaker.no> Christin Gorman <christin.gorman@gmail.com>
Christin Gorman <christin@kodemaker.no> ChristinGorman <christin.gorman@gmail.com>
Eivind Waaler <eivind@kodemaker.no> Eivind B Waaler <eivindw@gmail.com>
Eivind Waaler <eivind@kodemaker.no> eivindw <eivindw@gmail.com>
Eivind Waaler <eivind@kodemaker.no> eivwaale <eivind.waaler@finn.no>
Finn Johnsen <finn@kodemaker.no> Finn <johnsenf@gmail.com>
Finn Johnsen <finn@kodemaker.no> Finn Johnsen <johnsenf@gmail.com>
Fredrik Aubert <fredrik@kodemaker.no> fredrikaubert <fredrik@kodemaker.no>
Kjetil Jørgensen-Dahl <kjetiljd@kodemaker.no> akafred <github@akafred.com>
Kolbjørn Jetne <kolbjorn@kodemaker.no> Kolbjørn Jetne <kolbjorn.jetne@gmail.com>
Kristian Frøhlich Hansen <kristian@kodemaker.no> <kfh@kfh.no>
Kristian Frøhlich Hansen <kristian@kodemaker.no> kfh <kfh@kfh.no>
Kristoffer Moe <kristoffer@kodemaker.no>
Magnar Sveen <magnar@kodemaker.no> <magnars@gmail.com>
Magnus Rundberget <magnus@kodemaker.no> <mrundberget@hotmail.com>
Magnus Rundberget <magnus@kodemaker.no> rundis <mrundberget@hotmail.com>
Nils Larsgård <nils@kodemaker.no> <nilsmagnus@gmail.com>
Nils Larsgård <nils@kodemaker.no> <nilsmagnus@users.noreply.github.com>
Odin Hole Standal <odin@kodemaker.no> <odin@odinodin.com>
Odin Hole Standal <odin@kodemaker.no> Odin Standal <odin@odinodin.com>
Per Spilling <per@kodemaker.no>
Ronny Løvtangen <ronny@kodemaker.no> <ronny@lovtangen.com>
Stian Alsos <stian@kodemaker.no> stian.alsos@gmail.com <stian.alsos@gmail.com>
Stein Engen <stein@kodemaker.no> Steinengen <stein@kodemaker.no>
Stein Tore Tøsse <stein.tore@kodemaker.no> <stein.tore.tosse@gmail.com>
Sten Morten Misund-Asphaug <stenmorten@kodemaker.no> Sten Morten Misund-Asphaug <stenmortenmisund-asphaug@Stens-MacBook-Pro.local>
Stig Melling <stig@kodemaker.no> Stig Melling <stig@melling.net>
Torstein Meland <torstein@kodemaker.no> <torstein.meland@gmail.com>
Torstein Meland <torstein@kodemaker.no> tmetrue <torstein.meland@gmail.com>
Trygve Amundsen <trygve@kodemaker.no> trygvea <trygve.amundsen@gmail.com>
Yen Xu <yen@kodemaker.no> Yen <yenxu2@gmail.com>
Yen Xu <yen@kodemaker.no> <yenxu2@gmail.com>
