{:id :ansible
 :name "Ansible"
 :type :devops
 :illustration "/photos/tech/ansible.png"
 :site "http://www.ansibleworks.com/"
 :description "Ansible er et provisjoneringsverktøy for helautomatisert oppsett
 av servere og applikasjonene som kjører på dem. Ansible følger i sporene til
 etablerte verktøy som [Puppet](http://puppetlabs.com/) og
 [Chef](http://www.getchef.com/chef/) med fler, men med et enda sterkere fokus
 på lav terskel for å komme igang. Ansible er såpass lavterskel at noen vil
 påstå at å starte med Ansible er *lettere* enn å installere en server manuelt."}
