{:id :clojure
 :name "Clojure"
 :illustration "/photos/tech/clojure.png"
 :site "http://clojure.org/"
 :description
 "Clojure er en Lisp-dialekt som kjører på JVM-en (i tillegg til CLR-en og
 [JavaScript](/javascript/)). Det er et dynamisk og kompilert programmeringsspråk som er
 designet for å integrere tett med sin host-plattform. Til tross for dette er
 Clojure primært et funksjonellt programmeringsspråk med persistente
 datastrukturer og et standard-API som er spesielt god egnet for
 parallelisering."
 :ad {:heading "Ønsker du rådgivning om Clojure?"
      :blurb "Vi har mange dyktige konsulenter som brenner for Clojure.
              Vi hjelper deg å ta de riktige valgene."
      :link-text "Ta kontakt!"}}
