{:id :go
 :name "Go"
 :type :proglang
 :illustration "/photos/tech/go.png"
 :site "http://golang.org/"
 :description
 "[Go](http://golang.org/) er et språk som er utviklet av Google, med Rob Pike og Ken Thompson i spissen.
 Det var opprinnelig et eksperiment internt i google, men har de senere årene blitt svært populært. I 2016 ble det kåret til \"Programming language of the year\" av [Tiobe indeksen](http://www.tiobe.com/tiobe-index/).
 Populæriteten kommer av at språket er enkelt å lære, samtidig som det er et produktivt språk som er enkelt å lese. En av Go sine styrker er støtten
 det gir for parallelisering av koden og at det krever lite ressurser sammenlignet med f.eks. Java. Go er ikke et objekt orientert språk, men benytter interfaces for å oppnå polymorfisme.
 "}
