{:id :grails
 :name "Grails"
 :illustration "/photos/tech/grails.png"
 :site "https://grails.org/"
 :description "Grails er et fullstack rammeverk på javaplattformen som opprinnelig var
 			   inspirert av Ruby on Rails. Grails gikk imidlertid i sin egen retning og har blitt et
 			   solid og kraftfullt alternativ på javaplattformen. Man får fleksibiliteten og enkelheten 
 			   til programmeringspråket [Groovy](/groovy/), samtidig som hele økosystemet til JVMen er tilgjengelig.
 			   Grails bygges med [Gradle](/gradle/) og er basert på Spring Boot.
			   
Det finnes et vell av plugins som enkelt lar deg utvide med ny funksjonalitet. 
 			   Kodemaker har et levende Grailsmiljø og har levert mange vellykkede prosjekter
 			   ved bruk av denne teknologien. I tillegg finner du mange Open Source bidrag både i 
 			   selve rammeverket og i diverse plugins med Kodemakersignatur."}
