{:id :groovy
 :name "Groovy"
 :illustration "/photos/tech/groovy.png"
 :site "http://www.groovy-lang.org/"
 :description "Groovy er et dynamisk språk for JVM'en. 
               Det har optional typing og optional statisk kompilering. 
               Språket har kraftig syntaks, som
               closures, higher order functions, operator overloading, 
               AST transformasjoner og metaprogramering. I tillegg er det kompakt og lettlest.
               Det er antageligvis det språket på JVM'en som har lavest lærekurve 
               for Java-programmerere. I tillegg har man sømløs integrasjon med Java.

Groovy har et stort og voksende økosystem med populære biblioteker/rammeverk som 
[Grails](/grails/), [Gradle](/gradle/) og [Spock](/spock/)"}
