{:id :haskell
 :name "Haskell"
 :type :proglang
 :illustration "/photos/tech/haskell.png"
 :site "http://www.haskell.org/"
 :description
 "Mange Kodemakere ønsker å lære mere om Haskell. Simon Peyton Jones sammenlinker Haskell med et drivhus hvor du møysommelig klipper og vanner og steller alskens eksotiske planter, i ro og mak, uten noen mål om å bli rik og berømt. Høres jo fint ut!"}
