{:id :java
 :name "Java"
 :illustration "/photos/tech/java.png"
 :site "http://docs.oracle.com/javase/7/docs/api/"
 :description
 "Java er raskt, typesikkert, og har enormt mange flinke utviklere som kan hele språket inn og ut. Java har alltid
 hatt et sterkt fagmiljø som over tid har utviklet en mengde gode open source biblioteker. Dette gjør Java til et
 trygt valg, spesielt for store prosjekter.

 Java har hatt en utfordring over de senere årene med at det har hengt etter i utviklingen i forhold til nye kule
 språk som Groovy, Clojure og Scala, men den siste versjonen, Java 8, har gitt Java en lenge etterlengtet
 modernisering slik at Java nå i større grad er konkurransedyktig i forhold til alternative språk."}
