{:id :machinelearning
 :name "Maskinlæring"
 :type :methodology
 :illustration "/photos/tech/machinelearning.jpg"
 :description "
    Tradisjonellt løser datamaskiner problemer gjennom å bli fortalt hvordan de skal løse problemet.
    Maskinlæring er en type algoritmer som *selv lærer* å løse problemet etter å ha trent opp en modell med et datasett. Ofte skjer dette ved å finne mønstre i store datamengder. 

    Maskinlæring har vært brukt med stor suksess i mange år til utfordringer som som skrift-, bilde- og tale-gjenkjenning, anbefalinger, svindel-gjenkjenning og veldig mye mer. I de senere år har man oppnådd oppsiktsvekkende resultater gjennom nye former for nevrale nettverk som går under betegnelsen [Dyp Læring](/deeplearning/). Dyp Læring er spesiellt god på å lære direkte av ubehandlede data.

    Nye rammeverk som tensorflow og keras gjør at man relativt enkelt kan komme i gang med å eksperimentere med maskinlæring uten å investere store summer i kompetanseheving og infrastruktur. 

    Flere kodemakere har tatt kurset i [Maskinlæring på Stanford](https://www.coursera.org/learn/machine-learning) med Andrew Ng, 
    og noen har også fulgt opp med flere kurs innenfor fagområdet.

  "}
