{:id :swift
 :name "Swift"
 :type :proglang
 :site "https://developer.apple.com/swift/"
 :description
 "Apple lanserte programmeringsspråket [Swift](http://developer.apple.com/swift/) under WWDC 2014 som språket som skulle ta over for Objective-C. Objective-C hadde tjent Apple vel i mange år, men man fant ut at man trengte et mer moderne og produktivt språk, som ikke dro med seg så mye bagasje fra C som det er bygget på. 
 
 Her kom Swift inn i bildet. Swift er utviklet internt i Apple over flere år av eksperter, men har også tatt inspirasjon fra andre programmeringsspråk som Objective-C, Rust, Haskell, Ruby, Python, C#, CLU med flere.
 
 Swift er et kompilert språk, med automatisk minnehåndtering ved bruk av ARC, i motsettning til mange andre språk som baserer seg på Garbage Collection. 
 "}
