{:id :finn-oppdrag
 :name "FINN oppdrag"
 :logo "/logos/finn.png"
 :description "FINN.no besluttet i 2009 at de skulle ta
               anbudsmarkedet, og satte noen av sine beste folk til å
               lage FINN oppdrag. Kodemaker var med fra starten. I dag
               er de Norges største markedsplass for privatpersoner
               som vil finne flinke fagfolk."
 :illustration "/photos/references/finn-oppdrag.jpg"
 :site "http://www.finn.no/oppdrag/"}
