{:id :sparebank1-sso
 :name "Sparebank1 Tynt Sikkerhetslag"
 :logo "/logos/sparebank1.png"
 :description "Konsulenter fra Kodemaker gjorde først en proof-of-concept for å teste ut bruk av hyllevare for håndtering av sikkerhet
 og tilgangskontroll for bankens nettsider. Deretter utførte vi en anskaffelsesprosess. Til slutt implementerte vi en ny sikkerhetsløsning
 basert på valgt produkt. Resultatet var en ny innloggingsapplikasjon som kunne integrere redaksjonelt innhold tilpasset de enkelte
 regionale bankene som inngår i Sparebank1 Gruppen. Applikasjonen kan også whitelables og tilpasses partnere i andre markeder, deriblant forsikring."
 :site "https://forsikring.sparebank1.no/"
 :awesomeness 99}
