[;; meta

 {:db/ident :tx-source/file-name
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one}

 ;; page

 {:db/ident :page/uri
  :db/valueType :db.type/string
  :db/unique :db.unique/identity
  :db/cardinality :db.cardinality/one}

 {:db/ident :page/kind
  :db/valueType :db.type/keyword
  :db/cardinality :db.cardinality/one}

 ;; generic attributes

 {:db/ident :list/idx
  :db/valueType :db.type/long
  :db/cardinality :db.cardinality/one}

 {:db/ident :list/ref
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/one}

 ;; Attributes used to override certain attributes specifically for the CV

 {:db/ident :cv/description
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one}

 {:db/ident :cv/blurb
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one}

 {:db/ident :cv/preferred-techs
  :db/valueType :db.type/ref
  :db/isComponent true
  :db/cardinality :db.cardinality/many}

 {:db/ident :cv/exclude-techs
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/many}

 {:db/ident :cv/person
  :db/valueType :db.type/ref
  :db/isComponent true
  :db/cardinality :db.cardinality/one}

 ;; tech

 {:db/ident :tech/name
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one}

 {:db/ident :tech/type
  :db/valueType :db.type/keyword
  :db/cardinality :db.cardinality/one}

 {:db/ident :tech/illustration
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one}

 {:db/ident :tech/site
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one}

 {:db/ident :tech/description
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one}

 {:db/ident :tech/ad
  :db/valueType :db.type/string
  :dte/valueType :data/edn
  :db/cardinality :db.cardinality/one}

 ;; blog posts

 {:db/ident :blog-post/title
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one}

 {:db/ident :blog-post/published
  :dte/valueType :java.time/local-date
  :db/cardinality :db.cardinality/one}

 {:db/ident :blog-post/updated
  :dte/valueType :java.time/local-date
  :db/cardinality :db.cardinality/one}

 {:db/ident :blog-post/external-url
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one}

 {:db/ident :blog-post/illustration
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one}

 {:db/ident :blog-post/author
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/one}

 {:db/ident :blog-post/author-picture
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one}

 {:db/ident :blog-post/blurb
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one}

 {:db/ident :blog-post/techs
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/many}

 {:db/ident :blog-post/tech-list
  :db/valueType :db.type/ref
  :db/isComponent true
  :db/cardinality :db.cardinality/many}

 {:db/ident :blog-post/body
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one}

 {:db/ident :blog-post/archived?
  :db/valueType :db.type/boolean
  :db/cardinality :db.cardinality/one}

 {:db/ident :blog-post/discussion-links
  :dte/valueType :data/edn
  :db/cardinality :db.cardinality/many}

 ;; side-projects
 {:db/ident :side-project/title
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one}

 {:db/ident :side-project/description
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one}

 {:db/ident :side-project/illustration
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one}

 {:db/ident :side-project/url
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one}

 {:db/ident :side-project/link-text
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one}

 {:db/ident :side-project/techs
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/many}

 {:db/ident :side-project/tech-list
  :db/valueType :db.type/ref
  :db/isComponent true
  :db/cardinality :db.cardinality/many}

 ;; recommendations
 {:db/ident :recommendation/title
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one}

 {:db/ident :recommendation/description
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one}

 {:db/ident :recommendation/url
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one}

 {:db/ident :recommendation/link-text
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one}

 {:db/ident :recommendation/techs
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/many}

 {:db/ident :recommendation/tech-list
  :db/valueType :db.type/ref
  :db/isComponent true
  :db/cardinality :db.cardinality/many}

 ;; presentation
 {:db/ident :presentation/title
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one}

 {:db/ident :presentation/description
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one}

 {:db/ident :presentation/techs
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/many}

 {:db/ident :presentation/tech-list
  :db/valueType :db.type/ref
  :db/isComponent true
  :db/cardinality :db.cardinality/many}

 {:db/ident :presentation/event-name
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one}

 {:db/ident :presentation/event-url
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one}

 {:db/ident :presentation/call-to-action-text
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one}

 {:db/ident :presentation/call-to-action-url
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one}

 {:db/ident :presentation/date
  :dte/valueType :java.time/local-date
  :db/cardinality :db.cardinality/one}

 {:db/ident :presentation/video-url
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one}

 {:db/ident :presentation/slides-url
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one}

 {:db/ident :presentation/source-url
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one}

 {:db/ident :presentation/thumb
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one}

 {:db/ident :presentation/direct-link?
  :db/valueType :db.type/boolean
  :db/cardinality :db.cardinality/one}

 ;; screencasts

 {:db/ident :screencast/title
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one}

 {:db/ident :screencast/blurb
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one}

 {:db/ident :screencast/description
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one}

 {:db/ident :screencast/illustration
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one}

 {:db/ident :screencast/techs
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/many}

 {:db/ident :screencast/tech-list
  :db/valueType :db.type/ref
  :db/isComponent true
  :db/cardinality :db.cardinality/many}

 {:db/ident :screencast/published
  :dte/valueType :java.time/local-date
  :db/cardinality :db.cardinality/one}

 {:db/ident :screencast/url
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one}

 ;; open source project

 {:db/ident :oss-project/url
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one}

 {:db/ident :oss-project/name
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one}

 {:db/ident :oss-project/description
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one}

 {:db/ident :oss-project/techs
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/many}

 {:db/ident :oss-project/tech-list
  :db/valueType :db.type/ref
  :db/isComponent true
  :db/cardinality :db.cardinality/many}

 ;; presentation product

 {:db/ident :presentation-product/title
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one}

 {:db/ident :presentation-product/kind
  :db/valueType :db.type/keyword
  :db/cardinality :db.cardinality/one}

 {:db/ident :presentation-product/description
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one}

 {:db/ident :presentation-product/techs
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/many}

 {:db/ident :presentation-product/tech-list
  :db/valueType :db.type/ref
  :db/isComponent true
  :db/cardinality :db.cardinality/many}

 {:db/ident :presentation-product/duration
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one}

 {:db/ident :presentation-product/min-participants
  :db/valueType :db.type/long
  :db/cardinality :db.cardinality/one}

 {:db/ident :presentation-product/max-participants
  :db/valueType :db.type/long
  :db/cardinality :db.cardinality/one}

 ;; projects

 {:db/ident :project/customer
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one}

 {:db/ident :project/summary
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one}

 {:db/ident :project/employer
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/one}

 {:db/ident :project/description
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one}

 {:db/ident :project/exclude-from-profile?
  :db/valueType :db.type/boolean
  :db/cardinality :db.cardinality/one}

 {:db/ident :project/years
  :dte/valueType :data/edn
  :db/cardinality :db.cardinality/one}

 {:db/ident :project/start
  :dte/valueType :java.time/local-date
  :db/cardinality :db.cardinality/one}

 {:db/ident :project/end
  :dte/valueType :java.time/local-date
  :db/cardinality :db.cardinality/one}

 {:db/ident :project/techs
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/many}

 {:db/ident :project/tech-list
  :db/valueType :db.type/ref
  :db/isComponent true
  :db/cardinality :db.cardinality/many}

 ;; person

 {:db/ident :person/given-name
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one}

 {:db/ident :person/family-name
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one}

 {:db/ident :person/full-name
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one}

 {:db/ident :person/title
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one}

 {:db/ident :person/start-date
  :dte/valueType :java.time/local-date-time
  :db/cardinality :db.cardinality/one}

 {:db/ident :person/profile-pictures
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/many}

 {:db/ident :person/portraits
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/many}

 {:db/ident :person/profile-overview-picture
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one}

 {:db/ident :person/profile-page-picture
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one}

 {:db/ident :person/cv-picture
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one}

 {:db/ident :person/description
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one}

 {:db/ident :person/administration?
  :db/valueType :db.type/boolean
  :db/cardinality :db.cardinality/one}

 {:db/ident :person/quit?
  :db/valueType :db.type/boolean
  :db/cardinality :db.cardinality/one}

 {:db/ident :person/profile-active?
  :db/valueType :db.type/boolean
  :db/cardinality :db.cardinality/one}

 {:db/ident :person/phone-number
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one}

 {:db/ident :person/email-address
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one}

 {:db/ident :person/presence
  :dte/valueType :data/edn
  :db/cardinality :db.cardinality/one}

 {:db/ident :person/using-at-work
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/many}

 {:db/ident :person/favorites-at-the-moment
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/many}

 {:db/ident :person/want-to-learn-more
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/many}

 {:db/ident :person/recommendations
  :db/valueType :db.type/ref
  :db/isComponent true
  :db/cardinality :db.cardinality/many}

 {:db/ident :person/hobbies
  :dte/valueType :data/edn
  :db/cardinality :db.cardinality/many}

 {:db/ident :person/side-projects
  :db/valueType :db.type/ref
  :db/isComponent true
  :db/cardinality :db.cardinality/many}

 {:db/ident :person/presentations
  :db/valueType :db.type/ref
  :db/isComponent true
  :db/cardinality :db.cardinality/many}

 {:db/ident :person/screencasts
  :db/valueType :db.type/ref
  :db/isComponent true
  :db/cardinality :db.cardinality/many}

 {:db/ident :person/open-source-projects
  :db/valueType :db.type/ref
  :db/isComponent true
  :db/cardinality :db.cardinality/many}

 {:db/ident :person/open-source-contributions
  :db/valueType :db.type/ref
  :db/isComponent true
  :db/cardinality :db.cardinality/many}

 {:db/ident :person/projects
  :db/valueType :db.type/ref
  :db/isComponent true
  :db/cardinality :db.cardinality/many}

 {:db/ident :person/endorsements
  :dte/valueType :data/edn
  :db/cardinality :db.cardinality/many}

 {:db/ident :person/experience-since
  :db/valueType :db.type/long
  :db/cardinality :db.cardinality/one}

 {:db/ident :person/qualifications
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/many}

 {:db/ident :person/innate-skills
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/many}

 {:db/ident :person/employments
  :dte/valueType :data/edn
  :db/cardinality :db.cardinality/one}

 {:db/ident :person/education
  :dte/valueType :data/edn
  :db/cardinality :db.cardinality/many}

 {:db/ident :person/languages
  :dte/valueType :data/edn
  :db/cardinality :db.cardinality/many}

 {:db/ident :person/project-highlights
  :dte/valueType :data/edn
  :db/cardinality :db.cardinality/many}

 {:db/ident :person/endorsement-highlight
  :dte/valueType :data/edn
  :db/cardinality :db.cardinality/one}

 {:db/ident :person/certifications
  :dte/valueType :data/edn
  :db/cardinality :db.cardinality/many}

 {:db/ident :person/business-presentations
  :db/valueType :db.type/ref
  :db/isComponent true
  :db/cardinality :db.cardinality/many}

 {:db/ident :person/workshops
  :db/valueType :db.type/ref
  :db/isComponent true
  :db/cardinality :db.cardinality/many}

 ;; employer

 {:db/ident :employer/name
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one}

 ;; article

 {:db/ident :article/title
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one}

 {:db/ident :article/layout
  :db/valueType :db.type/keyword
  :db/cardinality :db.cardinality/one}

 {:db/ident :article/illustration
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one}

 {:db/ident :article/lead
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one}

 {:db/ident :article/aside
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one}

 {:db/ident :article/meta
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one}

 {:db/ident :article/body
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one}

 ;; project participation

 {:db/ident :project-participation/role
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one}

 {:db/ident :project-participation/person
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/one}

 ;; grid blocks

 {:db/ident :block/idx
  :db/valueType :db.type/long
  :db/cardinality :db.cardinality/one}

 {:db/ident :block/url
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one}

 {:db/ident :block/image
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one}

 {:db/ident :block/size
  :db/valueType :db.type/long
  :db/cardinality :db.cardinality/one}

 ;; reference

 {:db/ident :reference/page-title
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one}

 {:db/ident :reference/image
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one}

 {:db/ident :reference/portrait
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one}

 {:db/ident :reference/signee-name
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one}

 {:db/ident :reference/signee-phone
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one}

 {:db/ident :reference/signee-title
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one}

 {:db/ident :reference/logo
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one}

 {:db/ident :reference/blurb
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one}

 {:db/ident :reference/sections
  :dte/valueType :data/edn
  :db/cardinality :db.cardinality/many}

 {:db/ident :reference/team
  :db/valueType :db.type/ref
  :db/isComponent true
  :db/cardinality :db.cardinality/many}

 {:db/ident :reference/project-start
  :dte/valueType :java.time/local-date
  :db/cardinality :db.cardinality/one}

 {:db/ident :reference/project-end
  :dte/valueType :java.time/local-date
  :db/cardinality :db.cardinality/one}

 {:db/ident :reference/project-hours
  :db/valueType :db.type/long
  :db/cardinality :db.cardinality/one}

 {:db/ident :reference/techs
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/many}

 {:db/ident :reference/tech-list
  :db/valueType :db.type/ref
  :db/isComponent true
  :db/cardinality :db.cardinality/many}

 {:db/ident :reference/grid-blocks
  :db/valueType :db.type/ref
  :db/isComponent true
  :db/cardinality :db.cardinality/many}

 ;; video

 {:db/ident :video/title
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one}

 {:db/ident :video/url
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one}

 {:db/ident :video/by
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/many}

 {:db/ident :video/blurb
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one}

 {:db/ident :video/date
  :dte/valueType :java.time/local-date
  :db/cardinality :db.cardinality/one}

 {:db/ident :video/techs
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/many}

 {:db/ident :video/embed-code
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one}

 {:db/ident :video/direct-link?
  :db/valueType :db.type/boolean
  :db/cardinality :db.cardinality/one}
 ]
