{:kodemaker "Arbeidsgiver: Kodemaker Systemutvikling AS"
 :gitorious "Gitorious AS"
 :shortcut "Arbeidsgiver: Shortcut AS"
 :ixd "Arbeidsgiver: IXD AS"
 :study-part-time "Deltidsarbeid under studier"
 :self-employed "Som selvstendig næringsdrivende"}
