{
 :aktiv "Aktiv Systempartner AS"
 :eventum "Eventum Norge AS"
 :forsvaret "Forsvaret"
 :kodemaker "Arbeidsgiver: Kodemaker Systemutvikling AS"
 :gitorious "Gitorious AS"
 :husbanken "Husbanken"
 :ixd "Arbeidsgiver: IXD AS"
 :knowit "Knowit Objectnet"
 :mesan "Mesan"
 :nettstedfabrikken "Nettstedfabrikken (enkeltmannsforetak)"
 :nets "NETS AS (tidligere Bankenes Betalingssentral AS)"
 :not-a-number "Not a Number"
 :objectware "Objectware AS"
 :quick "Quick Software Development AS"
 :self-employed "Som selvstendig næringsdrivende"
 :shortcut "Arbeidsgiver: Shortcut AS"
 :steria "Steria AS"
 :study-part-time "Deltidsarbeid under studier"
 :synkarion "Synkarion AS"
 :systemservice "Systemservice AS"
 :telenor-mobil "Telenor Mobil"
 :web-totalservice "Web Totalservice AS"
 :well-data "Well Data Technologies"
 :western-geco "Western Geco"
}
