{:form {:title "Hva er det du vil?"
        :address "Din e-post eller telefon:"
        :subject "Beskriv prosjektet ditt:"
        :button "Jeg ønsker å bli kontaktet"
        :action {:url "http://mailchimp.com/somewhere"
                 :method "POST"}}

 :references [:finn-surf-sammen]}
