{:form {:title "Hva kan vi hjelpe deg med?"
        :address "Din e-post eller telefon:"
        :subject "Beskriv ditt ønske:"
        :button "Jeg ønsker å bli kontaktet"
        :action {:url "http://mailchimp.com/somewhere"
                 :method "POST"}}

 :references [:nsb-personalbillett :finn-surf-sammen]}
