;; Kategorisering av typer tech for teknologier som ikke har sin egen side enda.
;; Typen brukes til å plassere teknologien i rett kategori på CV-en.
{
 :abdera :server
 :actionscript :proglang
 :activemq :server
 :activex :library
 :adobe-reachform :tool
 :akka :library
 :alpine :os
 :android :os
 :angular :frontend
 :angularjs :frontend
 :ant :devtools
 :appcode :devtools
 :architecture :methodology
 :asana :tool
 :asciidoctor :tool
 :asp :framework
 :aspnet :framework
 :atg-dynamo :framework
 :atom :specification
 :auth0 :security
 :automated-acceptance-testing :methodology
 :aws :cloud
 :aws-api-gateway :cloud
 :aws-cloudformation :cloud
 :aws-cloudfront :cloud
 :aws-cloudwatch :cloud
 :aws-ec2 :cloud
 :aws-ecs :cloud
 :aws-iam :cloud
 :aws-kinesis :cloud
 :aws-lambda :cloud
 :aws-rds :cloud
 :aws-route53 :cloud
 :aws-s3 :cloud
 :aws-vpc :cloud
 :azure :cloud
 :babel :tool
 :bamboo :tool
 :bankid :library
 :bash :proglang
 :browser-devtools :devtools
 :browserify :library
 :burndown :methodology
 :buster-js :library
 :camel :library
 :capistrano :devops
 :cassandra :database
 :cd :methodology
 :cef :frontend
 :centos :os
 :chai :library
 :checkstyle :tool
 :ci :methodology
 :clojure-spec :library
 :cloud :cloud
 :cobol :proglang
 :cocoapods :library
 :code-review :methodology
 :codenarc :tool
 :coffeescript :proglang
 :collectionjson :specification
 :compass :library
 :complus :library
 :compojure :library
 :component :library
 :concourse :devops
 :confluence :tool
 :cordova :frontend
 :core-async :library
 :cpd :tool
 :cpp :proglang
 :cqrs :methodology
 :crucible :devops
 :cruise-control :devops
 :csharp :proglang
 :css :frontend
 :cvs :vcs
 :cxf :server
 :cygwin :devtool
 :dashing :tool
 :datadog :devops
 :datalog :database
 :datascript :database
 :db2 :database
 :dbartisan :library
 :dbfit :framework
 :ddd :methodology
 :delphi :proglang
 :digital-ocean :cloud
 :docker-cloud :cloud
 :docker-swarm :cloud
 :dojo :library
 :domain-modeling :methodology
 :dotnet :framework
 :dreamweaver-mx :devtools
 :dynamodb :database
 :easerver :server
 :eclipse :devtools
 :efs :cloud
 :ehcache :server
 :ejb :library
 :elasticsearch :database
 :elisp :proglang
 :epicentric-portal :server
 :es6 :proglang
 :escenic :server
 :event-sourcing :methodology
 :express-js :framework
 :ezpublish :server
 :fast :server
 :fatwire :server
 :figwheel :devtools
 :findbugs :tool
 :fitnesse :framework
 :flash :framework
 :flex :proglang
 :fluentd :devops
 :frontend :frontend
 :frp :methodology
 :fsharp :proglang
 :fusioncharts :library
 :gcd :server
 :geb :library
 :geronimo :server
 :gerrit :tool
 :git-svn :vcs
 :github :vcs
 :gitlab :vcs
 :glassfish :server
 :google-adwords :tool
 :google-analytics :tool
 :google-closure :frontend
 :google-cloud :cloud
 :google-cloud-datastore :database
 :google-cloud-messaging :cloud
 :google-earth :tool
 :google-image-charts :library
 :google-maps :library
 :google-protocol-buffers :specification
 :graphite :server
 :grasshopper :tool
 :griffon :library
 :groovyws :library
 :grunt :library
 :gwt :framework
 :h2db :database
 :hadoop :library
 :hamcrest :library
 :haproxy :devops
 :hateoas :methodology
 :hazlecast :server
 :hbase :server
 :hdfs :library
 :heroku :cloud
 :hibernate-search :library
 :honeysql :library
 :hpunix :os
 :hsqldb :database
 :html :frontend
 :http :frontend
 :hudson :devops
 :hugsql :library
 :hystrix :library
 :ibm-bluemix :server
 :iis :server
 :immutable-js :library
 :intellij :devtools
 :interbase :database
 :interview :methodology
 :ios :os
 :iplanet-enterprise-directory :server
 :j2ee :proglang
 :jade :library
 :jasmine :library
 :jasperreport :server
 :java-ee :proglang
 :javafx :library
 :jaxrs :tool
 :jboss :server
 :jboss-messaging :server
 :jboss-portal :server
 :jbossws :library
 :jbuilder :library
 :jdbc :library
 :jenkins :devops
 :jersey :library
 :jetty :server
 :jira :tool
 :jool :library
 :joomla :server
 :jpa :library
 :jquery :frontend
 :jquery-mobile :library
 :jrebel :library
 :js-test-driver :library
 :jsp :library
 :jspm :devtools
 :junit :library
 :junitee :library
 :kafka :database
 :kanban :methodology
 :karma :library
 :kibana :server
 :koha :library
 :kotlin :proglang
 :krypto :methodology
 :kubernetes :devops
 :leiningen :devtools
 :less :frontend
 :letsencrypt :security
 :liberator :library
 :lighttable :devtools
 :linux :os
 :linux-kernel :library
 :liquibase :library
 :lisp :proglang
 :lisp-flavoured-erlang :proglang
 :logstash :server
 :lombok :library
 :lotus-notes :server
 :lucene :library
 :magnolia-cms :server
 :manual-testing :methodology
 :mariadb :database
 :markdown :specification
 :markedsforing :methodology
 :material-ui :frontend
 :mercurial :vcs
 :mesos :devops
 :metrics :methodology
 :micro-services :methodology
 :midje :library
 :mks :vcs
 :mocha :library
 :mockito :library
 :mongo-queue :server
 :mongodb :database
 :monit :devops
 :mono :framework
 :mqseries-integrator :server
 :ms-access :database
 :ms-exchange :server
 :mscpp :proglang
 :mule :server
 :mysql :database
 :neo4j :database
 :netty :server
 :nexus :server
 :nginx :devops
 :node :proglang
 :notes :server
 :oauth2 :security
 :objc :proglang
 :objcplusplus :proglang
 :oc4j :server
 :octave :proglang
 :octopus :devops
 :oidc :security
 :okd :devops
 :om :framework
 :om-next :framework
 :openam :security
 :openid :security
 :openssl :library
 :oracle :database
 :oracle-appserver :server
 :oracle-locator :database
 :oracle-portal :server
 :osx :os
 :packer :devops
 :pair-programming :methodology
 :pascal :proglang
 :passenger :server
 :peoplesoft-crm :server
 :phantomjs :library
 :photoshop :tool
 :php :proglang
 :pki :security
 :play :framework
 :pmd :tool
 :postgresql :database
 :prolog :proglang
 :prototype :library
 :puppet :devops
 :puppeteer :frontend
 :pwa :frontend
 :pygments :library
 :python :proglang
 :quartz :library
 :rails :framework
 :rake :library
 :rational-clearcase :vcs
 :re-frame :library
 :reactive-cocoa :library
 :reagent :frontend
 :redhat :os
 :redis :database
 :redux :library
 :redux-frontent :frontend
 :release-management :methodology
 :responsive-design :frontend
 :rest :specification
 :retrospectives :methodology
 :ring :library
 :rspec :library
 :ruby :proglang
 :rubymine :devtools
 :rust :proglang
 :saltstack :devops
 :saml :security
 :sanity :cloud
 :sap :server
 :sass :frontend
 :sbt :devtools
 :scalatra :framework
 :scrum :methodology
 :secureway-directory-stellent-cms :server
 :selenium :library
 :sente :library
 :serverless :cloud
 :sinatra :library
 :sinon :library
 :siteminder :server
 :slack :tool
 :soap :specification
 :solaris :os
 :sonar :tool
 :sourcesafe :vcs
 :splunk :server
 :spotify-api :specification
 :spring-batch :framework
 :spring-boot :framework
 :spring-integration :framework
 :spring-mvc :framework
 :spring-security :security
 :sqlite :database
 :sqlserver :database
 :squirrel-sql :library
 :sse :frontend
 :ssh :library
 :stash :vcs
 :static-analysis :methodology
 :statsd :server
 :story-points :methodology
 :struts :framework
 :struts2 :framework
 :sublime-text :devtools
 :svg :frontend
 :svn :vcs
 :swing :library
 :sybase :database
 :systemjs :devtools
 :teamcity :devops
 :terminal :devtools
 :terraform :devops
 :testing :methodology
 :testng :library
 :textmate :devtools
 :thinking-sphinx :library
 :tools-deps :devtools
 :traefik :devops
 :trello :tool
 :tsql :specification
 :tutum :cloud
 :typescript :proglang
 :ubuntu :os
 :unfiltered :library
 :unity3d :framework
 :unix :os
 :vagrant :tool
 :varnish :devops
 :vavr :library
 :vba :proglang
 :vbscript :proglang
 :vcs-analysis :methodology
 :verity-search :server
 :vertx :library
 :vim :devtools
 :virtualisering :devops
 :visibroker :library
 :visual-basic :proglang
 :visual-source-safe :vcs
 :visual-studio :devtools
 :visualage :devtools
 :vmware-esxi :devops
 :watir :library
 :wcf :framework
 :webgl :frontend
 :weblogic :server
 :webpack :tool
 :websockets :frontend
 :websphere-studio :server
 :webwork :framework
 :wicket :library
 :wiki :methodology
 :windows :os
 :wordpress :server
 :wpf :framework
 :wslite :library
 :xalan :server
 :xcode :devtools
 :xerces :tool
 :xml :specification
 :xmlspy :tool
 :xslt :specification
 :xtractor :library
 :yarn :tool
 :zeromq :server
 :zookeeper :library
 }
