;; Kategorisering av typer tech for teknologier som ikke har sin egen side enda.
;; Typen brukes til å plassere teknologien i rett kategori på CV-en.
{
 :alpine :os
 :android :os
 :angularjs :framework
 :ant :devtools
 :appcode :devtools
 :asana :tool
 :aspnet :framework
 :auth0 :security
 :aws-api-gateway :cloud
 :aws-cloudfront :cloud
 :aws-cloudwatch :cloud
 :aws-ecs :cloud
 :aws-iam :cloud
 :aws-kinesis :cloud
 :aws-lambda :cloud
 :aws-rds :cloud
 :aws-route53 :cloud
 :aws-s3 :cloud
 :aws-vpc :cloud
 :bamboo :tool
 :bash :proglang
 :browser-devtools :devtools
 :browserify :library
 :buster-js :library
 :capistrano :devops
 :cd :methodology
 :cef :frontend
 :centos :os
 :chai :library
 :ci :methodology
 :clojure-spec :library
 :collectionjson :specification
 :compass :library
 :concourse :devops
 :confluence :tool
 :cpp :proglang
 :cqrs :methodology
 :csharp :proglang
 :css :frontend
 :cvs :vcs
 :cxf :server
 :datascript :database
 :dbfit :framework
 :ddd :methodology
 :dotnet :framework
 :eclipse :devtools
 :elasticsearch :server
 :elisp :proglang
 :event-sourcing :methodology
 :express-js :framework
 :ezpublish :server
 :fatwire :server
 :fitnesse :framework
 :flex :framework
 :google-adwords :tool
 :google-analytics :tool
 :groovyws :library
 :grunt :library
 :haproxy :devops
 :html :frontend
 :http :frontend
 :intellij :devtools
 :ios :os
 :jade :library
 :jasmine :library
 :jetty :server
 :jira :tool
 :jaxrs :tool
 :jboss :server
 :jquery :library
 :js-test-driver :library
 :jsp :library
 :jspm :devtools
 :junit :library
 :karma :library
 :leiningen :devtools
 :less :frontend
 :lighttable :devtools
 :lisp :proglang
 :lisp-flavoured-erlang :proglang
 :markdown :specification
 :markedsforing :methodology
 :material-ui :frontend
 :mesos :devops
 :midje :library
 :mocha :library
 :mockito :library
 :mongodb :database
 :mule :server
 :mysql :database
 :nginx :devops
 :oauth2 :security
 :objc :proglang
 :objcplusplus :proglang
 :octopus :devops
 :oidc :security
 :om :framework
 :om-next :framework
 :openam :server
 :openssl :library
 :oracle :database
 :oracle-locator :database
 :osx :os
 :passenger :server
 :photoshop :tool
 :php :proglang
 :puppet :devops
 :pygments :library
 :rails :framework
 :rake :library
 :reactive-cocoa :library
 :redhat :os
 :rest :specification
 :rubymine :devtools
 :rspec :library
 :sap :server
 :sbt :devtools
 :selenium :library
 :sinon :library
 :siteminder :server
 :soap :specification
 :spring-batch :framework
 :spring-mvc :framework
 :spring-security :framework
 :sybase :database
 :ssh :library
 :svn :vcs
 :sqlite :database
 :teamcity :devops
 :terminal :devtools
 :textmate :devtools
 :thinking-sphinx :library
 :tsql :specification
 :ubuntu :os
 :unity3d :framework
 :unix :os
 :visual-source-safe :vcs
 :visual-studio :devtools
 :windows :os
 :wcf :framework
 :webgl :frontend
 :weblogic :server
 :zeromq :server
 }
