;; Kategorisering av typer teknologier. Typen brukes til å plassere teknologien
;; i rett kategori på CV-en. Det er ikke lov å bruke ukategoriserte techs, så
;; hvis du har brukt noe nytt, legg den til på rett sted i denne fila.
;;
;; Kategorien :concept kan brukes til ting som ikke direkte er en teknologi,
;; eksempelvis "metode og tilnærming", som er etiketten vi bruker på CV-en.
;;
;; "Kategorien" :excluded er for ting som av en eller annen grunn trengs brukt
;; som en tag-aktig sak, men som ikke hører hjemme på CV-en. Eksempel er Trygve
;; sine bleier fra pappapermisjonen.

;; Én tech per linje er git-vennlig. Vennligst etterstreb å holde listene
;; alfabetisk sortert, så blir det litt lettere å plassere og finne ting.

{:development
 {:label "Utvikling"
  :parent :other
  :idx 75}

 :web-app
 {:label "Web- og apputvikling"
  :parent :development
  :idx 65}

 :ai
 {:label "Kunstig intelligens"
  :parent :development
  :idx 70
  :techs
  [:deeplearning
   :face-recognition
   :gans
   :machine-learning
   :reinforcement-learning
   :tensorflow
   :tensorflow-js]}

 :apps
 {:label "Apputvikling"
  :parent :web-app
  :idx 80
  :techs
  [:android-intents
   :apns
   :cocoa
   :cordova
   :core-text
   :gcd
   :google-cloud-to-device-android-push
   :jquery-mobile
   :pwa
   :reactive-cocoa
   :siri-service-interface-for-real-time-information
   :wearables]}

 :cross-platform
 {:label "Kryssplattform"
  :parent :apps
  :idx 85
  :techs
  [:flutter
   :react-native
   :xamarin
   :xamarin-forms
   :xaml]}

 :cloud
 {:label "Skytjenester"
  :parent :devops
  :idx 30
  :techs
  [:aws
   :aws-api-gateway
   :aws-cloudformation
   :aws-cloudfront
   :aws-cloudwatch
   :aws-ec2
   :aws-ecs
   :aws-iam
   :aws-kinesis
   :aws-lambda
   :aws-rds
   :aws-route53
   :aws-s3
   :aws-vpc
   :azure
   :cloudstack
   :digital-ocean
   :docker-cloud
   :docker-swarm
   :efs
   :gcp
   :github-actions
   :google-appengine
   :google-cloud
   :google-cloud-messaging
   :heroku
   :ibm-bluemix
   :secret-manager
   :serverless
   :tutum
   :travis-ci]}

 :concept
 {:label "Metode og tilnærming"
  :parent :other
  :idx 160
  :techs
  [:algoritmer
   :analysis
   :aop
   :architecture
   :arkitektur
   :automated-acceptance-testing
   :bildeanalyse
   :blockchains
   :business
   :cd
   :ci
   :code-review
   :concurrency
   :cqrs
   :ddd
   :design
   :devops
   :distributed-systems
   :domain-modeling
   :event-sourcing
   :frp
   :funksjonell-programmering
   :hateoas
   :homoikonisitet
   :immutability
   :kanban
   :lean
   :logic-programming
   :micro-services
   :open-source
   :pair-programming
   :plugins
   :podcast
   :pojo
   :prime-numbers
   :programming
   :reactive-programming
   :release-management
   :screenscraping
   :scrum
   :security
   :smidig
   :soa
   :soap
   :software-craftsmanship
   :tdd
   :teknologi
   :testing
   :tooling
   :trening
   :uml
   :universell-utforming
   :virtualisering
   :web-performance
   :web-services
   :webservices]}

 :coop
 {:label "Samhandling"
  :parent :software
  :idx 170
  :techs
  [:asana
   :confluence
   :gerrit
   :github
   :gitlab
   :jira
   :slack
   :stash
   :trello]}

 :data
 {:label "Data"
  :parent :other
  :idx 95
  :techs
  [:json
   :xml]}

 :database
 {:label "Database"
  :parent :data
  :idx 90
  :techs
  [:cassandra
   :datalog
   :datascript
   :datomic
   :db2
   :derby
   :dynamodb
   :eventstore
   :flyway
   :google-cloud-datastore
   :gorm
   :h2db
   :hbase
   :hibernate
   :hive
   :honeysql
   :hsqldb
   :hugsql
   :influxdb
   :interbase
   :jdbc
   :jdbi
   :jpa
   :ldap
   :liquibase
   :mariadb
   :middlegen
   :mongodb
   :ms-access
   :mssql
   :mysql
   :neo4j
   :openjpa
   :oracle
   :oracle-locator
   :plsql
   :postgresql
   :redis
   :slick
   :spring-jdbc
   :sql
   :sql-reporting-services
   :sql-server
   :sqlite
   :squirrel-sql
   :sybase
   :t-sql
   :telegraf
   :tsql
   :zookeeper]}

 :desktop
 {:label "Desktop"
  :parent :web-app
  :idx 150
  :techs
  [:awt
   :complus
   :electron
   :jfc
   :swing
   :swing-admin-console
   :unity
   :wcf]}

 :devops
 {:label "Devops"
  :parent :other
  :idx 40
  :techs
  [:ansible
   :argocd
   :bamboo
   :berglas
   :capistrano
   :circleci
   :cloud
   :concourse
   :crucible
   :cruise-control
   :cruisecontrol
   :docker
   :docker-compose
   :ehcache
   :flux
   :hadoop
   :haproxy
   :hdfs
   :helm
   :hudson
   :hystrix
   :istio
   :jenkins
   :kustomize
   :kubernetes
   :lambdacd
   :mesos
   :nginx
   :octopus
   :okd
   :openshift
   :packer
   :passenger
   :puppet
   :saltstack
   :sealed-secrets
   :shipit
   :spark
   :teamcity
   :terraform
   :traefik
   :varnish
   :vault
   :vmware-esxi
   :weave]}

 :devtools
 {:label "Utviklingsverktøy"
  :parent :other
  :idx 20
  :techs
  [:babel
   :browser-devtools
   :checkstyle
   :cocoapods
   :codenarc
   :dbartisan
   :findbugs
   :hazelcast
   :jprofiler
   :jspm
   :mks
   :nexus
   :npm
   :optimizeit-profiler
   :oracle-jdeveloper
   :rational-rose
   :rational-suite
   :sonar
   :springsource-tool-suite
   :systemjs
   :terminal
   :toad
   :togetherj
   :vagrant
   :visual-age
   :visual-interdev
   :visual-source-safe
   :visualage
   :yarn]}

 :build-tools
 {:label "Byggeverktøy"
  :parent :devtools
  :idx 15
  :techs
  [:ant
   :figwheel
   :gradle
   :grunt
   :gulp
   :leiningen
   :make
   :maven
   :maven-junit
   :rake
   :sbt
   :tools-deps
   :webpack]}

 :editors
 {:label "Utviklingsmiljøer"
  :parent :devtools
  :idx 16
  :techs
  [:appcode
   :borland
   :cygwin
   :dreamweaver-mx
   :eclipse
   :emacs
   :intellij
   :jrebel
   :mscode
   :lighttable
   :powerbuilder
   :powerdesigner
   :rubymine
   :sublime-text
   :textmate
   :vim
   :visual-studio
   :visual-studio-appcenter
   :vscode
   :websphere-studio
   :xcode
   :xmlspy]}

 :vcs
 {:label "Versjonskontroll"
  :parent :devtools
  :idx 17
  :techs
  [:cvs
   :git
   :git-svn
   :mercurial
   :rational-clearcase
   :sourcesafe
   :svn]}

 :frontend
 {:label "Frontend"
  :parent :webdev
  :idx 60
  :techs
  [:angular
   :angular-material
   :angularjs
   :atomic-design
   :backbone
   :bootstrap
   :canvas
   :cef
   :cesiumjs
   :compass
   :css
   :d3
   :devcards
   :dojo
   :dumdom
   :express-js
   :ext-js
   :flash
   :frontend
   :fusioncharts
   :google-closure
   :google-image-charts
   :google-maps
   :highcharts
   :html
   :http
   :immutable-js
   :jade
   :jawr
   :jquery
   :jsx
   :less
   :mapbox
   :material-ui
   :neptune
   :om
   :om-next
   :oocss
   :openlayers
   :patternlab
   :pegjs
   :prototype
   :puppeteer
   :pygments
   :quiescent
   :ractive
   :re-frame
   :react
   :reagent
   :redux
   :responsive-design
   :sass
   :sente
   :sse
   :svg
   :voiceover
   :webgl
   :websockets]}

 :library
 {:label "Biblioteker"
  :parent :development
  :idx 220
  :techs
  [:ajaxanywhere
   :axis
   :c3
   :castor-xml
   :dlib
   :drools
   :geotools
   :grpc
   :hamcrest
   :itext
   :mdb
   :micronaut
   :opencv
   :optimalj
   :prawn
   :reactive-x
   :saaj
   :telon
   :unleash
   :vavr
   :versata
   :versata-workflow
   :vertx
   :wkhtmltopdf
   :xdoclet
   :xerces
   :xtractor]}

 :jvm
 {:label "JVM"
  :parent :library
  :idx 215
  :techs
  [:apache-poi
   :aspectj
   :google-guice
   :jackson
   :java-mail
   :java-sound-framework
   :jaxb
   :jersey
   :jgit
   :jmx
   :jni
   :jool
   :lombok
   :rxjava
   :spring-mvc]}

 :scala
 {:label "Scala"
  :parent :jvm
  :idx 216
  :techs
  [:akka]}

 :clojure
 {:label "Clojure"
  :parent :jvm
  :idx 217
  :techs
  [:aleph
   :boot
   :clojure-spec
   :component
   :core-async
   :mount]}

 :kotlin
 {:label "Kotlin"
  :parent :jvm
  :idx 218
  :techs
  [:arrow
   ]}

 :messaging
 {:label "Meldingssystemer"
  :parent :data
  :idx 130
  :techs
  [:activemq
   :apache-mq
   :azure-event-hubs
   :blazeds
   :camel
   :corba
   :ibm-mq
   :jboss-messaging
   :jms
   :kafka
   :mongo-queue
   :mq
   :mq-series
   :mq-series-integrator
   :mqtt
   :mule
   :nats
   :oracle-aq
   :quartz
   :visibroker
   :wsrp
   :zeromq]}

 :monitoring
 {:label "Logging og monitorering"
  :parent :devops
  :idx 50
  :techs
  [:birt
   :dashing
   :datadog
   :dropwizard-metrics
   :fluentd
   :grafana
   :graphite
   :jasperserver
   :jmeter
   :kibana
   :log4j
   :logstash
   :metrics
   :monit
   :munin
   :prometheus
   :splunk
   :statsd
   :teradata-tcrm
   :tivoli
   :zipkin]}

 :network
 {:label "Nettverk"
  :parent :platform
  :idx 210
  :techs
  [:bigip
   :snmp
   :tcp
   :udp]}

 :platform
 {:label "Plattform"
  :parent :other
  :idx 200
  :techs
  [:alpine
   :android
   :appfuse
   :arduino
   :bc4j
   :bluetooth
   :busybox
   :centos
   :coreos
   :dotnet
   :ejb
   :fuseki
   :gcc
   :graalvm
   :griffon
   :hololens
   :hp-nonstop
   :hpunix
   :ibm-aix
   :ims
   :ios
   :iot
   :ip
   :j2me
   :j2se
   :javafx
   :jbpm
   :jbuilder
   :linux
   :linux-kernel
   :mac-os
   :media-home-platform
   :mono
   :mvs
   :novell-netware
   :openhab
   :osx
   :passiv-rfid
   :pthread
   :qb-vision
   :redhat
   :rpm
   :rup
   :shell
   :solaris
   :ssh
   :suse-linux
   :terminator
   :thrift
   :ubuntu
   :unix
   :windows
   :windows-nt
   :windows-server]}

 :proglang
 {:label "Programmeringsspråk"
  :idx 10
  :techs
  [:abap
   :actionscript
   :applescript
   :bash
   :c
   :clojure
   :clojurescript
   :cobol
   :coffeescript
   :cpp
   :csharp
   :dataflex
   :dart
   :delphi
   :elisp
   :elixir
   :elm
   :erlang
   :es6
   :flex
   :fortran
   :fsharp
   :go
   :groovy
   :haskell
   :idris
   :j2ee
   :java
   :javascript
   :kotlin
   :lisp
   :lisp-flavoured-erlang
   :mscpp
   :node
   :nodejs
   :objc
   :objcplusplus
   :octave
   :pascal
   :perl
   :php
   :prolog
   :python
   :r
   :ruby
   :rust
   :scala
   :scheme
   :swift
   :turbo-pascal
   :typescript
   :vba
   :vbscript
   :visual-basic
   :xslt]}

 :search
 {:label "Søk"
  :parent :data
  :idx 120
  :techs
  [:elasticsearch
   :fast
   :hibernate-search
   :lucene
   :solr
   :thinking-sphinx
   :verity-search]}

 :security
 {:label "Sikkerhet og kryptografi"
  :parent :other
  :idx 140
  :techs
  [:ad
   :bankid
   :buddy
   :cas
   :ecc
   :jsch
   :kryptografi
   :oauth
   :oauth2
   :oidc
   :okta
   :openam
   :openid
   :openssl
   :opensso
   :pki
   :rbac
   :rsa
   :saml
   :spring-security
   :ssl
   :sso]}

 :service
 {:label "Tjenester"
  :parent :software
  :idx 190
  :techs
  [:auth0
   :cics
   :cytoscape
   :enonic-cms
   :escenic
   :ezpublish
   :fatwire
   :gemfire
   :google-analytics
   :google-earth
   :ibm-component-broker
   :ibm-content-manager-ondemand
   :ibm-datapower
   :ibm-rational-application-developer
   :joomla
   :koha
   :letsencrypt
   :magnolia-cms
   :mailgun
   :media-highway
   :peoplesoft-crm
   :prebidjs
   :prolink
   :pswincom
   :quickr
   :sanity
   :sap
   :seapine
   :secureway-directory-stellent-cms
   :site-server-commerce
   :siteminder
   :travelfusion
   :twilio
   :vertical-site
   :weblogic :wordpress]}

 :software
 {:label "Software"
  :parent :other
  :idx 180
  :techs
  [:agresso
   :domino
   :erwin
   :excel
   :lotus-notes
   :ms-exchange
   :photoshop
   :visio
   :zeplin]}

 :testing
 {:label "Testing"
  :parent :development
  :idx 110
  :techs
  [:buster-js
   :canoo-webtest
   :chai
   :cucumber
   :dbunit
   :easymock
   :expectations
   :fitnesse
   :gatling
   :geb
   :grinder
   :hp-loadrunner
   :jasmine
   :jest
   :jmock
   :js-test-driver
   :junit
   :junitee
   :karma
   :midje
   :mocha
   :mockito
   :mockobjects
   :phantomjs
   :rspec
   :selenium
   :sinon
   :spock
   :testng
   :unit-testing
   :watir]}

 :webdev
 {:label "Webutvikling"
  :parent :web-app
  :idx 100
  :techs
  [:activex
   :adobe-reachform
   :apache
   :apache-axis
   :apache-jena
   :asp
   :aspnet
   :atg-dynamo
   :browserify
   :caucho-resin
   :cheetah
   :compojure
   :cxf
   :dbfit
   :django
   :dropwizard
   :easerver
   :epicentric-portal
   :express
   :facelets
   :geronimo
   :glassfish
   :grails
   :graphql
   :groovyws
   :gsp
   :gwt
   :html5
   :https
   :hypermedia
   :ibm-websphere
   :iis
   :iplanet-enterprise-directory
   :jax-rs
   :jax-ws
   :jaxrs
   :jboss
   :jboss-portal
   :jbossws
   :jetty
   :jinja2
   :joss
   :jsf
   :jsp
   :jsr-168
   :jstl
   :ktor
   :liberator
   :mustache
   :netty
   :novell-extend-composer-appserver
   :oc4j
   :optimus
   :oracle-appserver
   :oracle-portal
   :oracle9ias
   :phoenix
   :play
   :portlets
   :primefaces
   :quasar
   :quic
   :rack
   :rad
   :rails
   :rdf
   :rest
   :resteasy
   :ring
   :rss
   :scalatra
   :servlets
   :sinatra
   :sitemesh
   :spring
   :spring-boot
   :spring-web-flow
   :spring-ws
   :springboot
   :stasis
   :struts
   :struts2
   :swagger
   :tapestry
   :thymeleaf
   :tomcat
   :unfiltered
   :unity3d
   :velocity
   :weblogic-portal
   :webmacro
   :webmethods
   :websocket
   :websphere
   :websphere-portal
   :webtrends
   :webwork
   :wicket
   :wildfly
   :xalan
   ]}

 :other
 {:label "Annet"
  :idx 230
  :techs
  [:abdera
   :atom
   :etl
   :genova
   :google-protocol-buffers
   :grasshopper
   :interconnect
   :jasper-reports
   :ms-dna
   :ms-market
   :mts
   :orion
   :paradox
   :powercenter
   :silverstream
   :spring-batch
   :spring-integration
   :talkback
   :tandem
   :wpf
   :xfire
   :xfire-webservices
   :xsd]}

 :excluded
 {:techs
  [:bleier
   :consulting
   :database
   :hjernen
   :utvikling
   :web]}
 }
