;; Her er listen over navn på tech som vi ikke har lagd noen egen side for
;; enda, men som vi likevel vil stave annerledes enn kun stor forbokstav
;; og med space istedet for dash.
{
 :angularjs "AngularJS"
 :appcode "AppCode"
 :aspnet "asp.net"
 :auth0 "Auth0"
 :aws "AWS"
 :aws-api-gateway "ApiGateway"
 :aws-cloudfront "Cloudfront"
 :aws-cloudwatch "Cloudwatch"
 :aws-ecs "AWS ECS"
 :aws-iam "AWS IAM"
 :aws-kinesis "Kinesis"
 :aws-lambda "AWS Lambda"
 :aws-rds "AWS RDS"
 :aws-route53 "Route53"
 :aws-s3 "AWS S3"
 :aws-vpc "AWS VPC"
 :bankid "BankID"
 :browser-devtools "Nettleser-devtools"
 :buster-js "Buster.JS"
 :cd "Continuous Delivery"
 :ci "Continuous Integration"
 :clojure-spec "clojure.spec"
 :css "CSS"
 :cvs "CVS"
 :csharp "C#"
 :cpp "C++"
 :cqrs "CQRS"
 :cxf "CXF"
 :dbfit "DbFit"
 :ddd "Domain-driven design"
 :dotnet ".NET"
 :dynamodb "DynamoDB"
 :express-js "Express.JS"
 :ezpublish "eZ Publish"
 :es6 "ES2016/ES6"
 :fatwire "FatWire CMS"
 :haproxy "HAProxy"
 :html "HTML"
 :innovasjonsmiljoer "Innovasjonsmiljøer"
 :intellij "IntelliJ IDEA"
 :jira "JIRA"
 :jquery "jQuery"
 :js-test-driver "JsTestDriver"
 :jsf "JSF"
 :jsp "JSP"
 :jspm "jspm"
 :junit "JUnit"
 :lighttable "Light Table"
 :lisp-flavoured-erlang "Lisp Flavoured Erlang"
 :markedsforing "Markedsføring"
 :material-ui "Material UI"
 :octopus "Octopus Deploy"
 :oidc "OpenID Connect"
 :openam "OpenAM"
 :orm "ORM"
 :osx "OSX"
 :passenger "Phusion Passenger"
 :php "PHP"
 :siteminder "CA SiteMinder"
 :spring-mvc "Spring MVC"
 :tdd "TDD"
 :tsql "T-SQL"
 :unity3d "Unity 3D"
 :weblogic "WebLogic"
 :jboss "JBoss"
 :mongodb "MongoDB"
 :collectionjson "Collection+JSON"
 :jaxrs "JAX-RS"
 :zeromq "ZeroMQ"
 :http "HTTP"
 :objc "Objective C"
 :objcplusplus "Objective C++"
 :openssl "OpenSSL"
 :reactive-cocoa "Reactive Cocoa"
 :rest "REST"
 :rubymine "RubyMine"
 :rspec "RSpec"
 :teamcity "TeamCity"
 :thinking-sphinx "Thinking Sphinx"
 :ip "IP"
 :ios "iOS"
 :dan-kennedy "Dan Kennedy"
 :frank-kern "Frank Kern"
 :google-adwords "Google AdWords"
 :google-analytics "Google Analytics"
 :groovyws "GroovyWS"
 :oracle-locator "Oracle Locator"
 :mule "Mule ESB"
 :webgl "WebGL"
 :wcf "WCF"
 :cef "Chrome Embedded Framework"
 :devops "DevOps"
 :ecmascript-2015 "EcmaScript 2015"
 :om-next "Om Next"
 :soap "SOAP"
 :svn "Subversion"
 :testing "Automatisert testing"
 :sbt "SBT"
 :textmate "TextMate"
 :visual-studio "Visual Studio"
 }
