;; Her er listen over navn på tech som vi ikke har lagd noen egen side for
;; enda, men som vi likevel vil stave annerledes enn kun stor forbokstav
;; og med space istedet for dash.
{
 :abdera "Apache Abdera"
 :actionscript "ActionScript"
 :activemq "ActiveMQ"
 :activex "ActiveX"
 :ad "Active Directory"
 :ajaxanywhere "AjaxAnywhere"
 :analysis "Analyse"
 :angularjs "AngularJS"
 :angular-material "Angular Material"
 :apache-poi "Apache POI"
 :appcode "AppCode"
 :asp "ASP"
 :aspnet "asp.net"
 :architecture "Arkitektur"
 :atg-dynamo "ATG Dynamo"
 :auth0 "Auth0"
 :automated-acceptance-testing "Automatisert akseptansetesting"
 :aws-api-gateway "AWS Api Gateway"
 :aws-cloudfront "Cloudfront"
 :aws-cloudwatch "Cloudwatch"
 :aws-ecs "AWS ECS"
 :aws-iam "AWS IAM"
 :aws-kinesis "Kinesis"
 :aws-lambda "AWS Lambda"
 :aws-rds "AWS RDS"
 :aws-route53 "Route53"
 :aws-s3 "AWS S3"
 :aws-vpc "AWS VPC"
 :bankid "BankID"
 :blazeds "BlazeDS"
 :browser-devtools "Nettleser-devtools"
 :buster-js "Buster.JS"
 :cd "Kontinuerlig leveranse"
 :centos "CentOS"
 :ci "Kontinuerlig integrasjon"
 :clojure-spec "clojure.spec"
 :create-react-app "Create React App"
 :aws-cloudformation "AWS CloudFormation"
 :complus "COM+"
 :consulting "Konsulenteri"
 :core-async "core.async"
 :cpd "CPD"
 :cruise-control "CruiseControl"
 :css "CSS"
 :cvs "CVS"
 :csharp "C#"
 :cpp "C++"
 :cqrs "CQRS"
 :cxf "CXF"
 :dbfit "DbFit"
 :ddd "Domenedrevet design"
 :delphi "Borland Delphi"
 :digital-ocean "DigitalOcean"
 :domain-modeling "Domenemodellering"
 :dotnet ".NET"
 :dreamweaver-mx "Dreamweaver MX"
 :dynamodb "DynamoDB"
 :efs "EFS"
 :ejb "EJB"
 :etl "ETL"
 :express-js "Express.JS"
 :ezpublish "eZ Publish"
 :es6 "ES2015/ES6"
 :fast "Fast søkemotor"
 :fatwire "FatWire CMS"
 :fluentd "fluentd"
 :frp "FRP (Functional Reactive Programming)"
 :fsharp "F#"
 :fusioncharts "FusionCharts"
 :face-recognition "Fjesgjenkjenning"
 :google-cloud "Google Cloud"
 :google-image-charts "Google Image Charts"
 :graalvm "Graalvm"
 :graphql "GraphQL"
 :gans "Generative Adversarial Networks"
 :h2db "H2 database"
 :haproxy "HAProxy"
 :hateoas "Hypermedia (HATEOAS)"
 :hpunix "HP Unix"
 :hsqldb "HSQLDB"
 :html "HTML"
 :https "HTTPS"
 :ibm-content-manager-ondemand "IBM Content Manager OnDemand"
 :ibm-bluemix "IBM Bluemix"
 :iis "MS IIS"
 :immutable-js "Immutable.JS"
 :innovasjonsmiljoer "Innovasjonsmiljøer"
 :intellij "IntelliJ IDEA"
 :j2ee "Java EE"
 :javafx "JavaFX"
 :java-ee "Java EE"
 :jax-rx "JAX-RS"
 :jboss-messaging "JBoss Messaging"
 :jboss-portal "JBoss Portal"
 :jclass "JClass"
 :jdbc "JDBC"
 :jfc "JFC (Swing)"
 :jira "JIRA"
 :jms "JMS"
 :jool "Jooλ"
 :jpa "JPA"
 :jquery "jQuery"
 :jquery-mobile "jQuery Mobile"
 :js-test-driver "JsTestDriver"
 :jsf "JSF"
 :json "JSON"
 :jsp "JSP"
 :jspm "jspm"
 :jstl "JSTL"
 :junit "JUnit"
 :ldap "LDAP"
 :letsencrypt "Let's Encrypt"
 :lighttable "Light Table"
 :lisp-flavoured-erlang "Lisp Flavoured Erlang"
 :mac-os "Mac OS" ;Classic Mac OS 1984-2001
 :mariadb "MariaDB"
 :markedsforing "Markedsføring"
 :material-ui "Material UI"
 :mks "MKS"
 :ms-access "MS Access"
 :ms-sql "MS SQL Server"
 :mscpp "Microsoft Visual C++"
 :mysql "MySQL"
 :notes "Lotus Notes"
 :novell-extend-composer-appserver "Novell exteNd Composer + Appserver"
 :npm "npm"
 :oc4j "OC4J"
 :octave "Octave/Mathlab"
 :octopus "Octopus Deploy"
 :oidc "OpenID Connect"
 :okd "OKD"
 :openam "OpenAM"
 :opencv "OpenCV"
 :openid "OpenID"
 :oracle-portal "Oracle Portal"
 :oracle9ias "Oracle9iAS"
 :orm "ORM"
 :osx "OS X"
 :packer "HashiCorp Packer"
 :passenger "Phusion Passenger"
 :pdf "PDF"
 :plsql "PL/SQL"
 :php "PHP"
 :pwa "Progressive Web Apps (PWA)"
 :rational-clearcase "Rational ClearCase"
 :rational-rose "Rational Rose"
 :re-frame "re-frame"
 :reinforcement-learning "Forsterkende læring (Reinforcement learning)"
 :saml "SAML"
 :siri-service-interface-for-real-time-information "SIRI (Service Interface for Real Time Information)"
 :siteminder "CA SiteMinder"
 :snmp "SNMP"
 :sourcesafe "SourceSafe"
 :spring-mvc "Spring MVC"
 :sql "SQL"
 :sqlite "SQLite"
 :sqlserver "SQL Server"
 :squirrel-sql "SQuirreL SQL"
 :struts2 "Struts 2"
 :sublime-text "Sublime Text"
 :svg "SVG"
 :systemjs "SystemJS"
 :tdd "TDD"
 :testng "TestNG"
 :tools-deps "tools.deps"
 :tsql "T-SQL"
 :unity3d "Unity 3D"
 :weblogic "WebLogic"
 :webwork "WebWork"
 :websocket "WebSocket"
 :wkhtmltopdf "wkhtmltopdf"
 :jboss "JBoss"
 :jbuilder "Borland JBuilder"
 :mongodb "MongoDB"
 :collectionjson "Collection+JSON"
 :jaxrs "JAX-RS"
 :zeromq "ZeroMQ"
 :http "HTTP"
 :objc "Objective-C"
 :objcplusplus "Objective C++"
 :openssl "OpenSSL"
 :reactive-cocoa "Reactive Cocoa"
 :rest "REST"
 :rubymine "RubyMine"
 :rspec "RSpec"
 :teamcity "TeamCity"
 :thinking-sphinx "Thinking Sphinx"
 :infrastructure "Infrastruktur"
 :interview "Intervju"
 :ip "IP"
 :ios "iOS"
 :dan-kennedy "Dan Kennedy"
 :frank-kern "Frank Kern"
 :gcd "Grand Central Dispatch"
 :git-svn "git-svn"
 :google-adwords "Google AdWords"
 :google-analytics "Google Analytics"
 :google-closure "Google Closure"
 :groovyws "GroovyWS"
 :oracle-locator "Oracle Locator"
 :oracle-appserver "Oracle Application Server"
 :mule "Mule ESB"
 :webgl "WebGL"
 :wcf "WCF"
 :cef "Chrome Embedded Framework"
 :devops "DevOps"
 :ecmascript-2015 "EcmaScript 2015"
 :om-next "Om Next"
 :pair-programming "Parprogrammering"
 :pmd "PMD"
 :postgresql "PostgreSQL"
 :prototype "Prototype.JS"
 :quic "QUIC"
 :saltstack "SaltStack"
 :soap "SOAP"
 :sse "Server-sent events"
 :static-analysis "Statisk analyse"
 :story-points "Story points-estimering"
 :svn "Subversion"
 :testing "Automatisert testing"
 :sbt "SBT"
 :spotify-api "Spotify API"
 :textmate "TextMate"
 :vba "Visual Basic for Applications"
 :vbscript "VBScript"
 :vcs-analysis "Analyse av versjonshistorikk"
 :visibroker "Borland Visibroker"
 :visual-basic "Visual Basic"
 :visual-studio "Visual Studio"
 :vmware-esxi "VMWare ESXI (nå vSphere)"
 :wpf "Windows Presentation Foundation"
 :xamarin-forms "Xamarin Forms"
 :xml "XML"
 :xmlspy "XML Spy"
 :xslt "XSLT"
 :xtractor "XTractor"
 :ssl "SSL"
 :rsa "RSA"
 :ecc "ECC"
}
