;; Her er listen over navn på tech som vi ikke har lagd noen egen side for
;; enda, men som vi likevel vil stave annerledes enn kun stor forbokstav
;; og med space istedet for dash.
{
 :angularjs "AngularJS"
 :cd "CD"
 :ci "CI"
 :css "CSS"
 :html "HTML"
 :jquery "jQuery"
 :js-test-driver "JsTestDriver"
 :jsp "JSP"
 :junit "JUnit"
 :markedsforing "Markedsføring"
 :innovasjonsmiljoer "Innovasjonsmiljøer"
 :lighttable "Light Table"
 :ddd "DDD"
 :node-js "Node.js"
 :spring-mvc "Spring MVC"
 :tdd "TDD"
 :unity3d "Unity 3D"
 :tsql "T-SQL"
 :openam "OpenAM"
 :fatwire "FatWire CMS"
 :bankid "BankID"
 :jsf "JSF"
 :cvs "CVS"
 :siteminder "CA SiteMinder"
 :weblogic "WebLogic"
 }
