body .com-rigsomelight-devcards-card-base,
body .com-rigsomelight-devcards-card-base-no-pad {background: #fff;}
body .com-rigsomelight-devcards-panel-heading {background: #fffafa;}

body .com-rigsomelight-devcards-container {width: auto; max-width: 1482px;}
body .com-rigsomelight-devcards-devcard-padding {padding: 0; margin-top: 0; border: 20px solid #fffafa; border-top: 1px solid #fffafa;}

/* body .com-rigsomelight-devcards-card-base, */
/* body .com-rigsomelight-devcards-card-base-no-pad {border-color: rgb(0,0,0);} */
