.arrow {
  width: 169px;
  padding-bottom: 9px;
  border-bottom: 1px solid var(--rouge);
  margin-bottom: 10px;
  position: relative;
}
.arrow-head {
  position: absolute;
  width: 15px;
  height: 15px;
  right: 3px;
  top: 2px;
  border-bottom: 1px solid var(--rouge);
  border-right: 1px solid var(--rouge);
  transform: rotate(-45deg);
}
.seymour {display: flex; flex-direction: column; height: 100%;}
.seymour-top {flex: 1;}
.seymour-bottom {flex: 0;}
.seymour h4 {margin: 40px 0 24px;}
.seymour p {margin-bottom: 32px;}

.round-media {display: flex;}
.round-media .media-element {flex: 0 0 auto; margin-right: 30px;}
.round-media .media-element .img {border-radius: 50%;}
.round-media .media-content {flex: 1 0 auto;}
.round-media .title {margin-bottom: 8px;}
