@font-face {
  font-family: "Financier Display";
  font-weight: 400;
  src: url('../fonts/FinancierDisplayWeb-Regular.eot');
  src: url('../fonts/FinancierDisplayWeb-Regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/FinancierDisplayWeb-Regular.woff2') format('woff2'),
       url('../fonts/FinancierDisplayWeb-Regular.woff') format('woff');
}

@font-face {
  font-family: "Financier Display";
  font-weight: 400;
  font-style: italic;
  src: url('../fonts/FinancierDisplayWeb-RegularItalic.eot');
  src: url('../fonts/FinancierDisplayWeb-RegularItalic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/FinancierDisplayWeb-RegularItalic.woff2') format('woff2'),
       url('../fonts/FinancierDisplayWeb-RegularItalic.woff') format('woff');
}

@font-face {
  font-family: "Financier Display";
  font-weight: 500;
  src: url('../fonts/FinancierDisplayWeb-Medium.eot');
  src: url('../fonts/FinancierDisplayWeb-Medium.eot?#iefix') format('embedded-opentype'),
       url('../fonts/FinancierDisplayWeb-Medium.woff2') format('woff2'),
       url('../fonts/FinancierDisplayWeb-Medium.woff') format('woff');
}

@font-face {
  font-family: "Financier Display";
  font-weight: 600;
  src: url('../fonts/FinancierDisplayWeb-Semibold.eot');
  src: url('../fonts/FinancierDisplayWeb-Semibold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/FinancierDisplayWeb-Semibold.woff2') format('woff2'),
       url('../fonts/FinancierDisplayWeb-Semibold.woff') format('woff');
}

@font-face {
  font-family: "Financier Display";
  font-weight: 700;
  src: url('../fonts/FinancierDisplayWeb-Bold.eot');
  src: url('../fonts/FinancierDisplayWeb-Bold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/FinancierDisplayWeb-Bold.woff2') format('woff2'),
       url('../fonts/FinancierDisplayWeb-Bold.woff') format('woff');
}

@font-face {
  font-family: "Financier Text";
  font-weight: 400;
  src: url('../fonts/FinancierTextWeb-Regular.eot');
  src: url('../fonts/FinancierTextWeb-Regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/FinancierTextWeb-Regular.woff2') format('woff2'),
       url('../fonts/FinancierTextWeb-Regular.woff') format('woff');
}

@font-face {
  font-family: "Financier Text";
  font-weight: 500;
  src: url('../fonts/FinancierTextWeb-Medium.eot');
  src: url('../fonts/FinancierTextWeb-Medium.eot?#iefix') format('embedded-opentype'),
       url('../fonts/FinancierTextWeb-Medium.woff2') format('woff2'),
       url('../fonts/FinancierTextWeb-Medium.woff') format('woff');
}
