/* Farger er på fransk fordi 1) det er kultivert, 2) det omgår en bug i css-optimizeren */

:root {
  --rouge: #ff524b;
  --taupe-foncé: #784949;
  --chocolat-au-lait: #591e1e;
  --puits-de-mine: #222222;
  --blanc-rose: #fffafa;
  --chablis: #fff6f6;
  --blanc: #fff;
  --saumon: #ff817c;
  --empereur: #545454;
  --rose-aube: #f5e9e9;

  /* Syntax highlighting, ikke godkjent av Hr Designer */
  --chambray: #335c81;
  --indigo: #4062bb;
}

html,
body {
  background: var(--blanc);
  box-sizing: border-box;
  color: var(--puits-de-mine);
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-size: 21px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.52;
  letter-spacing: normal;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

button {
  font-family: inherit;
}

html,
body {
  height: 100%;
  min-height: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

ul,
ol {
  padding: 0;
}

.nav-list li {
  list-style: none;
  margin: 0;
}

ul {list-style: none}
li {margin-left: 32px;}
.text ul li, .dotted li {margin: 0 0 16px 20px;}
.text ul li::before, .dotted li::before {content: "•"; color: var(--rouge); display: inline-block; width: 1em; margin-left: -1em; float: left;}
.dotted-tight li, .text .dotted-tight li {margin-bottom: 0;}

dd {
  margin: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a, .clickable {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}
.section {
  padding: 0 8.33vw;
  overflow: hidden;
}

.content {
  max-width: 1120px;
  margin: 0 auto;
}

.content-l {
  max-width: 1400px;
  margin: 0 -140px;
}

.gutter-xl {
  margin: 0 -500px;
  padding: 0 500px;
}

.gutter-l {
  margin: 0 -200px;
  padding: 0 200px;
}

.gutter-m {
  margin: 0 -100px;
  padding: 0 100px;
}

.gutter-s {
  margin: 0 -50px;
  padding: 0 50px;
}

@media only screen and (min-width: 1174px) {
  .whitespaceorama {padding: 159px 0 192px;}
}

.footer {
  margin: 0 -35px;
  padding-top: 56px;
  padding-bottom: 56px;
}

.f-logo, .f-address, .f-contact, .f-links {
  margin: 24px 35px;
}

.f-infos {flex: 0;}
.f-links {flex: 1;}

@media only screen and (min-width: 1200px) {
  .f-address {white-space: nowrap;}
}

@media only screen and (min-width: 1080px) {
  .footer {display: flex;}
  .f-logo {padding-top: 6px; flex: 1;}
}

@media only screen and (min-width: 690px) {
  .f-infos {display: flex;}
}

.trigrid {
  padding: 64px 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  grid-template-rows: repeat(100%);
  grid-gap: 64px 8.33%;
}

.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.bg-blanc-rose {
  background-color: var(--blanc-rose);
}

.header-section {
  padding-top: 72px;
  padding-bottom: 59px;
}

.hyrule-section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.inline-menu {
  display: none;
}

.inline-menu li + li {
  margin-left: 32px;
}

.menu-toggler {
  display: block;
}

#mobile-menu {
  background-color: var(--blanc-rose);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999; /* lul */
}

.close-menu {
  margin: 72px 8.33vw;
  float: right;
}

#mobile-menu ul {
  margin-top: 140px;
}

.menu {
  background-color: var(--blanc-rose);
  display: none;
  padding: 121px 47px 47px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.bd-with-menu .menu {
  display: block;
}

.menu-close-button {
  position: absolute;
  top: 32px;
  right: 47px;
}

.menu li + li {
  margin-top: 40px;
}

@media only screen and (min-width: 690px) {
  .inline-menu {
    display: flex;
  }

  .menu-toggler {
    display: none;
  }
}

.bruce {
  position: relative;
}

.bruce .gutter {
  background-repeat: no-repeat;
  background-position: left 300px bottom 220px,
                       left 87px top -240px,
                       left -40px bottom -265px;
  background-image: url("../img/p-nt/dotgrid-flat.gif"),
                    url("../img/p-nt/descending-line.svg"),
                    url("../img/p-nt/greater-than-small.svg");
  background-size: auto, 650px, 450px 900px;
}

.bruce-header {
  position: relative;
  z-index: 2;
}

.bruce .gutter {
  padding-top: 72px;
  padding-bottom: 400px;
}

.bruce .bruce-content {
  margin-top: 85px;
  max-width: 650px;
}

.bruce .text {
  margin: 24px 0 40px;
}

.bruce-image-front,
.bruce-image-back {
  position: absolute;
  width: 240px;
}

.bruce-image-front img,
.bruce-image-back img {
  display: block;
  max-width: 100%;
}

.bruce-image-front {
  bottom: 130px;
  left: -44px;
  opacity: 0.75;
  z-index: 1;
}

.bruce-image-back {
  bottom: -35px;
  right: -20px;
}

@media only screen and (min-width: 700px) {
  .bruce .gutter {
    background-position: left 100px bottom -315px,
                         left -360px bottom -232px,
                         left 400px top -240px,
                         left 282px top -100px;
    background-image: url("../img/p-nt/dotgrid.png"),
                      url("../img/p-nt/ascending-line.svg"),
                      url("../img/p-nt/descending-line.svg"),
                      url("../img/p-nt/greater-than-small.svg");
    background-size: auto, 650px, 650px, 450px 900px;
    padding-bottom: 130px;
  }

  .bruce .text {
    max-width: 350px;
  }

  .bruce-image-front,
  .bruce-image-back {
    width: 46%;
  }

  .bruce .bruce-content {
    margin-top: 200px;
  }

  .bruce-image-front {
    bottom: auto;
    left: 250px;
    top: -90px;
    top: -13%;
  }

  .bruce-image-back {
    bottom: auto;
    right: -20px;
    top: 360px;
  }
}

@media only screen and (min-width: 1000px) {
  .bruce .gutter {
    background-position: left 100px bottom -270px,
                         left -357px bottom -270px,
                         left -480px top 440px,
                         right -380px top -0px,
                         left 60px top -220px,
                         left 680px top -20px;
    background-image: url("../img/p-nt/dotgrid.png"),
                      url("../img/p-nt/dotgrid.png"),
                      url("../img/p-nt/ascending-line.svg"),
                      url("../img/p-nt/descending-line.svg"),
                      url("../img/p-nt/descending-line.svg"),
                      url("../img/p-nt/greater-than-small.svg");
    background-size: auto, auto, 650px, 650px, 650px, 450px 900px;
    padding-bottom: 195px;
  }

  .bruce .bruce-content {
    margin-top: 290px;
  }

  .bruce .text {
    max-width: 100%;
  }

  .bruce-image-front,
  .bruce-image-back {
    width: 666px;
  }

  .bruce-image-front {
    left: 35%;
    top: -280px;
  }

  .bruce-image-back {
    left: 55%;
    top: auto;
    bottom: 65px;
  }
}

.img {max-width: 100%; display: block;}

/* Vertigo component */

.vertigo-media {
  margin: 0 -8.33vw;
  padding-bottom: 110%;
}

.vertigo-content {
  padding: 65px 0;
}

@media only screen and (min-width: 680px) {
  .vertigo-media {
    margin-right: 0;
    padding-bottom: 0;
  }

  .vertigo .grid {
    display: grid;
    grid-template-columns: minmax(200px, 50%) minmax(320px, 50%);
  }

  .vertigo-media .r-img {
    height: 650px;
  }

  .vertigo-content {
    padding-top: 80px;
    padding-left: 96px;
  }

  .vertigo-media .inner-media {
    float: right;
    padding-left: 170px;
    margin: 0 0 0 -170px;
  }
}

@media only screen and (min-width: 900px) {
  .vertigo-media .r-img {
    height: 850px;
  }

  .vertigo-content {
    padding-top: 190px;
  }
}

.vertigo-content .text {
  margin: 30px 0 60px;
}

.pønt-section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.pønt-section .content {
  position: relative;
}

.pønt-section .img {
  max-width: 100%;
}

.bottom-circle {
  -webkit-clip-path: polygon(0% 0%, 20% 0%, 100% 80%, 100% 100%, 0% 100%);
  clip-path: polygon(0% 0%, 20% 0%, 100% 80%, 100% 100%, 0% 100%);
}

.top-triangle {
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%);
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%);
}

.bottom-triangle {
  -webkit-clip-path: polygon(0% 0%, 100% 100%, 0% 100%);
  clip-path: polygon(0% 0%, 100% 100%, 0% 100%);
}

.top-circle {
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 80% 100%, 0% 20%);
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 80% 100%, 0% 20%);
}

@media only screen and (max-width: 767px) {
  .pønt-item {
    overflow: visible;
    margin-bottom: 60px;
  }

  .bottom-circle,
  .bottom-triangle {
    position: relative;
    top: -140px;
    margin-bottom: -80px;
  }

  .bottom-triangle {
    margin-bottom: -140px;
  }

  .top-circle,
  .top-triangle {
    float: right;
  }
}

@media only screen and (min-width: 768px) {
  .pønt-section .content {
    height: 1140px;
  }

  .portrait-1 .img,
  .portrait-2 .img {
    width: 335px;
  }

  .portrait-2 {
    position: absolute;
    top: 0;
    left: -170px;
  }

  .portrait-1 {
    position: absolute;
    top: 740px;
    right: -170px;
  }

  .top-circle,
  .bottom-circle {
    width: 325px;
  }

  .top-triangle,
  .bottom-triangle {
    width: 180px;
  }

  .top-triangle {
    position: absolute;
    top: 248px;
    right: 0;
  }

  .bottom-circle {
    position: absolute;
    top: 278px;
    right: 0;
  }

  .top-circle {
    position: absolute;
    top: 530px;
    left: 0;
  }

  .bottom-triangle {
    position: absolute;
    top: 700px;
    left: 0;
  }
}

@media only screen and (min-width: 1200px) {
  .pønt-section .content {
    height: 560px;
  }

  .pønt-section {
    padding-top: 210px;
    padding-bottom: 210px;
  }

  .portrait-2 {
    left: -300px;
    top: 160px;
  }

  .top-triangle,
  .bottom-triangle {
    width: 13vw;
  }

  .top-circle,
  .bottom-circle {
    max-width: 390px;
    width: 24vw;
  }

  .bottom-triangle {
    left: 106px;
    top: 160px;
  }

  .top-circle {
    left: 126px;
    top: 0;
  }

  .bottom-circle {
    left: auto;
    right: 140px;
    top: 200px;
  }

  .top-triangle {
    left: auto;
    right: 154px;
    top: 185px;
  }

  .portrait-1 {
    right: -300px;
    top: 0;
  }
}

/* Illustrated teasers */

.teaser-illustration {
  margin: 32px 0;
}

@media only screen and (min-width: 680px) {
  .illustrated-teaser {
    display: flex;
    flex-wrap: wrap;
  }

  .teaser-content {
    flex: 1 1 0;
  }

  .teaser-illustration {
    flex: 0 0 220px;
    margin: 0 0 0 48px;
  }

  .teaser-link {
    flex: 0 0 100%;
  }
}

/* Banner section */

.banner-logo { width: 174px; }

@media only screen and (max-width: 420px) {
  .banner-logo { width: 87px; }
}

.banner-ws {margin-top: 80px; margin-bottom: 30px;}

/* Widescreen section */
.widescreen {padding: 0;}

/* Article section */
.titled-section,
.article-section,
.container-section {padding-top: 80px; padding-bottom: 80px;}
.definition-section,
.container-section-tight {padding-top: 40px; padding-bottom: 40px;}

.article-section-tight {padding-top: 64px; padding-bottom: 64px;}

.responsive-article-dots {
  background-repeat: no-repeat;
  background-position: bottom 0 left 85%;
  background-image: url(../img/p-nt/dotgrid.png);
  background-size: auto;
}

@media only screen and (min-width: 1000px) {
  .responsive-article-dots {
    background-position: top 262px left 85%;
  }
}

/* Enumeration section */

.enumeration-section {padding-top: 64px; padding-bottom: 80px;}
.enum-cats {margin-top: 48px;}
.enum-label {color: var(--empereur);}

@media only screen and (min-width: 900px) {
  .enum-cat {display: flex; margin-top: 20px;}
  .enum-label {width: 257px; margin-right: 60px; flex-shrink: 0;}
}

@media only screen and (max-width: 899px) {
  .enum-cat {margin-top: 44px;}
  .enum-items {margin-top: 12px;}
}

/* CV section */

.cv-wrapper {
  margin: 0 -8.33vw;
  padding: 0 8.33vw;
}

.cv-image {
  height: 380px;
  margin-bottom: 32px;
  margin-left: -8.33vw;
  overflow: hidden;
  position: relative;
}

.cv-image img {
  display: block;
  width: 91.67vw;
}

.cv-contact,
.cv-title,
.cv-details,
.cv-intro h2 {padding-bottom: 32px;}

.cv-intro {clear: both; overflow: hidden;}
.cv-intro-text {margin: 50px 0 80px;}
.cv-highlight {margin-bottom: 64px;}

@media only screen and (min-width: 600px) {
  .cv-image img {max-width: 100%;}
  .cv-intro-text {margin: 100px 0 120px;}

  .cv-image {
    position: absolute;
    height: auto;
    margin-bottom: 0;
    margin-right: 96px;
    width: 300px;
  }

  .cv-essentials {
    min-height: 344px;
    padding: 56px 0 0 315px;
  }

  .cv-highlights {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 16px;
  }
}

@media only screen and (min-width: 1000px) {
  .cv-image {
    margin-left: -80px;
    width: 384px;
  }

  .cv-image img {max-width: 100%;}
  .cv-title {padding-bottom: 54px;}

  .cv-essentials {
    min-height: 420px;
    padding-left: 400px;
  }

  .cv-details {
    align-items: flex-end;
    display: flex;
    padding-bottom: 0;
  }

  .cv-contact {
    margin-right: 100px;
    padding-bottom: 0;
  }

  .cv-intro {
    display: flex;
    flex-direction: row-reverse;
    overflow: visible;
    clear: none;
  }

  .cv-highlights {
    flex: 0 0 400px;
    padding: 180px 96px 0 0;
    display: block;
  }

  .cv-intro-text {
    margin: 80px 0;
  }
}

@media only screen and (min-width: 1360px) {
  .cv-essentials {
    min-height: 0;
    padding-bottom: 80px;
  }

  .cv-highlights {padding-top: 240px;}
}

/* Profile section */

.profile-image {max-width: 450px;}

@media only screen and (max-width: 449px) {
  .profile-cv {margin: 32px 0;}
  .profile-contact {margin-bottom: 64px;}
}

@media only screen and (min-width: 450px) and (max-width: 900px) {
  .profile-section { display: grid; grid-template-columns: 35% auto; grid-column-gap: 60px;}
  .profile-title { grid-column: 2 / span 1; grid-row: 1 / span 1; }
  .profile-image { grid-column: 1 / span 1; grid-row: 1 / span 3; }
  .profile-cv { grid-column: 2 / span 1; grid-row: 2 / span 1; }
  .profile-contact { grid-column: 2 / span 1; grid-row: 3 / span 1; margin-top: 16px; align-self: end;}
  .profile-desc { grid-column: 1 / span 2; grid-row: 4 / span 1; margin-top: 54px;}
}

@media only screen and (min-width: 450px) and (max-width: 600px) {
  .profile-section { display: grid; grid-template-columns: 45% auto; grid-column-gap: 30px;}
}

@media only screen and (min-width: 901px) {
  .profile-section { display: grid; grid-template-columns: 257px auto; grid-column-gap: 60px;}
  .profile-title { grid-column: 2 / span 1; grid-row: 1 / span 1; margin-top: 56px;}
  .profile-image { grid-column: 1 / span 1; grid-row: 1 / span 2; }
  .profile-cv { grid-column: 2 / span 1; grid-row: 2 / span 1; }
  .profile-contact { grid-column: 1 / span 1; grid-row: 3 / span 1; margin-top: 54px;}
  .profile-desc { grid-column: 2 / span 1; grid-row: 3 / span 1; margin-top: 54px;}

  .titled-title {float: left; margin-right: 60px;}
  .definition-title {float: left; margin-right: 96px;}
  .definition-content,
  .titled-content {overflow: hidden;}
}

.titled-title { width: 257px; }
.definition-title {width: 304px;}
.definition-content {margin-bottom: 32px;}
.definition-content .teaser + .teaser {margin-top: 32px;}

.definition-separator,
.definition-separator-strong {
  border: none;
  border-top: 1px solid var(--rose-aube);
  margin-bottom: 32px;
}

.definition-separator-strong {
  margin-top: 32px;
  border-color: var(--chocolat-au-lait);
}

@media only screen and (max-width: 899px) {
  .titled-title,
  .definition-title { margin-bottom: 64px; }
}

/* contact-section */

@media only screen and (min-width: 551px) {
  .contact-header {font-size: 30px; line-height: 46px; color: var(--chocolat-au-lait); margin: 0 0 167px;}
}

@media only screen and (max-width: 550px) {
  .contact-header {font-size: 21px; line-height: 35px; color: var(--chocolat-au-lait); margin: 0 0 144px;}
}

@media only screen and (min-width: 901px) {
  .contact-section .contacts-1 {float: left; width: 385px; margin-right: 15px;}
  .contact-section .contacts-2 {display: none;}
}

@media only screen and (max-width: 900px) {
  .contact-section .contacts-1 {display: none;}
  .contact-section .contacts-2 .tango-grid {margin-bottom: 96px;}
  .contact-section .contact-map {margin-top: 96px;}
}

/* hip-section */

.hip-section {padding-top: 64px; padding-bottom: 64px;}
.hip-title {width: 317px;} /* 257 (aside) + 60 (aside margin) */
.hip-title,
.hip-label {color: var(--chocolat-au-lait);}

.hip-left-box,
.hip-right-box,
.hip-single-box {background: var(--chablis); position: relative;}

@media only screen and (min-width: 1100px) {
  .hip-title {margin-bottom: 80px;}
  .hip-single-box { padding: 64px 25% 80px 500px; margin: 0 320px 48px -500px;}
  .hip-single-img {position: absolute; right: -320px; margin-top: 7px; width: 40%; max-width: 543px;}
}

@media only screen and (min-width: 589px) and (max-width: 1099px) {
  .hip-title {margin-bottom: 64px;}
  .hip-single-box {padding: 64px 80px 190px 500px; margin: 0 80px 48px -500px;}
  .hip-single-img {position: absolute; right: -80px; bottom: -110px; width: 458px;}
}

@media only screen and (max-width: 588px) {
  .hip-title {margin-bottom: 64px;}
  .hip-single-box {margin: 0 -500px 272px -500px; padding: 64px 500px 80px 500px;}
  .hip-single-img {position: absolute; left: 50%; margin-left: -272px; bottom: -272px; width: 544px; height: 272px;}
}

.hip-right-img {background-repeat: no-repeat; background-position: center center; background-size: cover;}

@media only screen and (min-width: 1100px) {
  .hip-pair {display: flex; align-items: top;}
  .hip-left-box {padding: 64px 80px 208px 500px; margin-left: -500px;}
  .hip-left-img {position: absolute; margin-top: 80px; width: 43%;}
  .hip-right-box {margin-top: 307px; margin-right: -500px; padding-right: 500px;}
  .hip-right-inner {padding: 205px 80px 112px 80px; position: relative;}
  .hip-right-img {position: absolute; top: -267px; left: 50%; margin-left: -167px; width: 335px; height: 400px;}
}

@media only screen and (min-width: 600px) and (max-width: 1099px) {
  .hip-left-box {margin-right: 162px; margin-right: 18%; margin-left: -8.33vw; padding: 80px 80px 80px 8.33vw;}
  .hip-left-img {position: absolute; width: 78%; z-index: 9999; margin-top: 80px; margin-left: -150px;}
  .hip-right-box {margin-left: 232px; margin-left: 25%; margin-right: -8.33vw; padding: 464px 8.33vw 80px 80px;}
  .hip-right-img {position: absolute; width: 50%; min-width: 290px; height: 400px; top: 0; right: 0;}
}

@media only screen and (max-width: 599px) {
  .hip-left-box {margin: 0 -8.33vw 364px; padding: 64px 8.33vw 64px 8.33vw;}
  .hip-left-img {position: absolute; margin-top: 64px; width: 600px; left: 50%; margin-left: -300px;}
  .hip-right-box {margin: 0 -8.33vw; padding: 48px 8.33vw 80px 8.33vw;}
  .hip-right-img {width: 100vw; height: 100vw; margin: -48px -8.33vw 48px -8.33vw;}
}

@media only screen and (max-width: 450px) {
  .hip-left-box {margin-bottom: 314px;}
  .hip-left-img {width: 500px; margin-left: -250px;}
}

@media only screen and (max-width: 350px) {
  .hip-left-box {margin-bottom: 264px;}
  .hip-left-img {width: 400px; margin-left: -200px;}
}

.icon-link svg {width: 24px; margin-right: 24px; fill: var(--chocolat-au-lait);}
.icon-links a {width: 24px; margin-right: 24px;}
.icon-links svg { width: 24px; fill: var(--chocolat-au-lait);}
.icon-links a:last-child {margin-right: 0;}

.icon-link {
  display: flex;
}

.article-section .article-wrapper + .article-wrapper {
  margin-top: 64px;
}

.arrow {
  width: 169px;
  padding-bottom: 9px;
  border-bottom: 1px solid var(--rouge);
  margin-bottom: 10px;
  position: relative;
}
.arrow-head {
  position: absolute;
  width: 15px;
  height: 15px;
  right: 3px;
  top: 2px;
  border-bottom: 1px solid var(--rouge);
  border-right: 1px solid var(--rouge);
  transform: rotate(-45deg);
}
.seymour {display: flex; flex-direction: column; height: 100%;}
.seymour-top {flex: 1;}
.seymour-bottom {flex: 0;}
.seymour h4 {margin: 40px 0 24px;}
.seymour p {margin-bottom: 32px;}

.media {display: flex;}
.media .media-element {flex: 0 0 auto;}
.media-element .img {width: 100%;}
.media .media-content {flex: 1 0 0;}
.media .media-content .title {margin-bottom: 8px;}

.round-media {align-items: center;}
.round-media .media-element {margin-right: 30px;}
.round-media .media-element .img, .round-img {border-radius: 50%; max-width: 92px;}

@media only screen and (max-width: 400px) {
  .round-media.media {display: block;}
  .round-media .media-element {margin-bottom: 23px;}
}

.vert-round-media {align-items: center;}
.vert-round-media .media-content {color: var(--chocolat-au-lait);}
.vert-round-media .media-element .img {max-width: 120px;}

@media only screen and (min-width: 800px) {
  .vert-round-media {flex-direction: column; align-items: flex-start;}
  .vert-round-media .media-element {margin-bottom: 16px;}
}

.illustrated {flex-direction: column; align-items: flex-start;}
.illustrated .media-element {margin-bottom: 32px;}

.text > * {margin-top: 28px;}
.article-text > * {margin-top: 16px;}
.text > *:first-child {margin-top: 0;}

.link,
.text a {color: var(--rouge);}
.link:hover,
.text a:hover {text-decoration: underline;}
.text h2 a {color: inherit;}
.article-text h2 {margin-top: 80px;}
.article-text h3 {margin-top: 64px;}

.link.skip-underline {text-decoration: inherit;}

.text img {display: block; max-width: 100%;}
.article-text img {margin: 64px 0;}

.article {overflow: auto;}
.article-align-balanced .article-aside {margin-top: 68px;}
.article-align-front .article-aside {margin-top: 120px;}
.article-align-content .article-aside {margin-top: 64px;}
.article-align-back .article-aside {margin-top: 48px;}
.article img {max-width: 100%;}

.video-thumb {position: relative; display: inline-block;}
.video-overlay {pointer-events: none; position: absolute; top: 0; left: 0; width: 100%; height: 100%;display: flex;justify-content: center;align-items: center;}
.video-indicator {width: 60px; height: 60px; border: 6px solid var(--blanc); border-radius: 30px;  box-shadow: 0 2px 15px 0 rgba(0,0,0,0.5); background: var(--rouge); position: relative;}
.video-thumb-chocolate .video-indicator {background: var(--chocolat-au-lait);}
.video-indicator::after {content: ''; position: absolute; width: 0; height: 0; top: 12px; left: 17px; border-top: 12px solid transparent; border-right: 20px solid transparent; border-bottom: 12px solid transparent; border-left: 20px solid var(--blanc);}

.video-tags {margin: 24px 0 13px;}

@media only screen and (min-width: 1000px) {
  .article {display: flex;}
  .article-content {flex: 0 0 50%;}
  .article-align-front .article-aside {float: right;}
  .article-align-back .article-aside {float: right; max-width: 75%;}
  .article-aside {flex: 0 0 50%; padding-left: 50px; float: none; max-width: 100%;}
  .article .article-aside {margin-top: 0;}
  .article-align-balanced {align-items: center;}
  .article-align-front {align-items: flex-start;}
  .article-align-back {align-items: flex-end;}
}

@media only screen and (max-width: 999px) {
  .hide-below-1000 { display: none; }
}

@media only screen and (min-width: 1120px) {
  .article-content {flex: 0 0 55%;}
  .article-aside {flex: 45%;}
}

@media only screen and (min-width: 1200px) {
  .article-aside {padding-left: 110px;}
}

.article .h3, .article .text h1 {margin-bottom: 50px;}
.article .h4, .article .text h1 {margin-bottom: 16px;}

.annotation {color: var(--empereur);}
.simple-article .annotation {color: var(--taupe-foncé);}
.article .h3 + .annotation {margin: -42px 0 32px;}
.article .h4 + .annotation {margin: -8px 0 8px;}

.curtain {display: inline-block; overflow: hidden;}
.curtain-left {border-bottom-left-radius: 80% 65%;}
.curtain-right {border-bottom-right-radius: 80% 65%;}

.curtain-short-right {border-bottom-right-radius: 45% 80%;}
.curtain-short-top {border-top-right-radius: 45% 80%;}

.stats {color: var(--chocolat-au-lait)}

@media only screen and (max-width: 899px) {
  .ac-content {margin-bottom: 48px;}
  .ac-person {display: flex; align-items: center;}
  .ac-person .media {flex: 1;}
  .ac-person .ac-logo {width: 150px;}
  .acc {display: none;}
}
@media only screen and (max-width: 600px) {
  .ac-logo {display: none;}
}
.ac-link {margin-top: 56px;}
@media only screen and (min-width: 900px) {
  .ac-link {display: none;}
  .ac-person {min-width: 384px; padding-right: 25px;}
  .ac-title {margin-left: 384px;}
  .ac-person .ac-logo {display: none;}
  .attributed-content {display: flex; flex-direction: row-reverse;}
  .acc {display: flex; margin-top: 48px; align-items: center;}
  .acc-link {flex: 1;}
  .acc-logo {width: 150px;}
}

.hyrule {background: var(--rose-aube); height: 1px; border:none; margin: 80px 0;}

/* Grid section */
.grid-section {
  padding-bottom: 40px;
  padding-top: 40px;
}

.grid-header-section .grid-section {
  padding-top: 80px;
  padding-bottom: 160px;
}

.box-grid {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px -20px;
}

.box-grid-item {
  flex: 0 0 16.6%;
  padding: 0 10px 20px;
}

.box-grid-span-2 {
  flex: 0 0 33.3%;
}

@media only screen and (max-width: 600px) {
  .card-grid-item {
    margin-bottom: 64px;
  }
}

@media only screen and (min-width: 600px) {
  .card-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 64px 8%;
    justify-content: space-between;
  }
}

@media only screen and (min-width: 900px) {
  .card-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media only screen and (min-width: 600px) {
  .tango-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 64px 18px;
    justify-content: space-between;
  }
}

@media only screen and (max-width: 599px) {
  .tango-grid-item {margin-bottom: 64px;}
  .hide-below-600 {display: none;}
}

.ib {display: inline-block;}

.h0 {
  color: var(--chocolat-au-lait);
  font-family: "Financier Display", serif;
  font-size: 97px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.93;
  letter-spacing: normal;
}

.h1, .text h1 {
  color: var(--chocolat-au-lait);
  font-family: "Financier Display", serif;
  font-size: 84px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.15;
  letter-spacing: normal;
}

.h2, .text h2 {
  color: var(--chocolat-au-lait);
  font-family: "Financier Text", serif;
  font-size: 62px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
}

.h3, .text h3, .article-text h2 {
  color: var(--chocolat-au-lait);
  font-family: "Financier Display", serif;
  font-size: 46px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
}

.h4, .h4-light, .text h4, .article-text h3, .h4 a:link, .h4-light a:link {
  color: var(--chocolat-au-lait);
  font-family: "Financier Text", serif;
  font-size: 30px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
}

.h4-light, .h4-light a:link {
  font-family: "Financier Display", serif;
  font-weight: normal;
}

.h5, .text h5, .article-text h4 {
  color: var(--chocolat-au-lait);
  font-size: 24px;
  font-weight: 500;
}

.b {font-weight: bold;}

.h6, .text h6, .article-text h5, cite {
  color: var(--chocolat-au-lait);
  font-size: 21px;
  font-weight: normal;
  font-style: normal;
}

.article-text .codehilite {
  border-top: 1px solid var(--rose-aube);
  border-bottom: 1px solid var(--rose-aube);
  margin: 32px 0;
  padding: 16px 0;
}

.anchor-marker {
  display: none;
}

.text-l {font-size: 31px;}
.article-text .codehilite,
.text-s {font-size: 16px;}

.blockquote, .text blockquote {
  font-style: italic;
}

.codehilite, code {
  font-family: Consolas, "Liberation Mono", Courier, monospace;
  overflow: auto;
  vertical-align: middle;
  line-height: 1.3;
  font-size: 15px;
}

/* "iPad" */
@media only screen and (max-width: 900px) {
  .h0 {
    font-size: 70px;
    line-height: 0.9;
  }

  .h1, .text h1 {
    font-size: 46px;
    line-height: 1.07;
  }

  .h2, .text h2 {
    font-size: 30px;
    font-weight: 500;
  }

  .h3, .text h3 {
    font-size: 30px;
    font-weight: 500;
  }
}

.tac {text-align: center;}

.mts, .mvs {margin-top: 16px;}
.mbs, .mvs {margin-bottom: 16px;}
.mtm, .mvm {margin-top: 32px;}
.mbm, .mvm {margin-bottom: 32px;}
.mtl, .mvl {margin-top: 64px;}
.mbl, .mvl {margin-bottom: 64px;}
.mtxl {margin-top: 80px;}
.mtxxl {margin-top: 120px;}
.mbxl {margin-bottom: 80px;}
.mbxxl {margin-bottom: 120px;}

.mw500 {max-width: 500px;}

.r-img {background-size: cover;}

/* "Mobil" */
@media only screen and (max-width: 420px) {
  .h0 {
    font-size: 45.5px;
    line-height: 0.9;
  }

  .mbxl {margin-bottom: 64px;}
  .mbxxl {margin-bottom: 80px;}
}

.em {font-style: italic;}

.tags {
  text-transform: uppercase;
  font-family: Lato;
  font-size: 16px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.5px;
  color: var(--empereur);
}

.tags .link {color: var(--empereur);}

.video-embed { position: relative; padding-bottom: 56.25%; padding-top: 30px; height: 0; overflow: hidden; max-width: 100%; height: auto; }
.video-embed iframe,
.video-embed object,
.video-embed embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

@font-face {
  font-family: "Financier Display";
  font-weight: 400;
  src: url('../fonts/FinancierDisplayWeb-Regular.eot');
  src: url('../fonts/FinancierDisplayWeb-Regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/FinancierDisplayWeb-Regular.woff2') format('woff2'),
       url('../fonts/FinancierDisplayWeb-Regular.woff') format('woff');
}

@font-face {
  font-family: "Financier Display";
  font-weight: 400;
  font-style: italic;
  src: url('../fonts/FinancierDisplayWeb-RegularItalic.eot');
  src: url('../fonts/FinancierDisplayWeb-RegularItalic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/FinancierDisplayWeb-RegularItalic.woff2') format('woff2'),
       url('../fonts/FinancierDisplayWeb-RegularItalic.woff') format('woff');
}

@font-face {
  font-family: "Financier Display";
  font-weight: 500;
  src: url('../fonts/FinancierDisplayWeb-Medium.eot');
  src: url('../fonts/FinancierDisplayWeb-Medium.eot?#iefix') format('embedded-opentype'),
       url('../fonts/FinancierDisplayWeb-Medium.woff2') format('woff2'),
       url('../fonts/FinancierDisplayWeb-Medium.woff') format('woff');
}

@font-face {
  font-family: "Financier Display";
  font-weight: 600;
  src: url('../fonts/FinancierDisplayWeb-Semibold.eot');
  src: url('../fonts/FinancierDisplayWeb-Semibold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/FinancierDisplayWeb-Semibold.woff2') format('woff2'),
       url('../fonts/FinancierDisplayWeb-Semibold.woff') format('woff');
}

@font-face {
  font-family: "Financier Display";
  font-weight: 700;
  src: url('../fonts/FinancierDisplayWeb-Bold.eot');
  src: url('../fonts/FinancierDisplayWeb-Bold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/FinancierDisplayWeb-Bold.woff2') format('woff2'),
       url('../fonts/FinancierDisplayWeb-Bold.woff') format('woff');
}

@font-face {
  font-family: "Financier Text";
  font-weight: 400;
  src: url('../fonts/FinancierTextWeb-Regular.eot');
  src: url('../fonts/FinancierTextWeb-Regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/FinancierTextWeb-Regular.woff2') format('woff2'),
       url('../fonts/FinancierTextWeb-Regular.woff') format('woff');
}

@font-face {
  font-family: "Financier Text";
  font-weight: 500;
  src: url('../fonts/FinancierTextWeb-Medium.eot');
  src: url('../fonts/FinancierTextWeb-Medium.eot?#iefix') format('embedded-opentype'),
       url('../fonts/FinancierTextWeb-Medium.woff2') format('woff2'),
       url('../fonts/FinancierTextWeb-Medium.woff') format('woff');
}
