.section {
  padding: 0 8.33vw;
}
.content {
  max-width: 1120px;
  margin: 0 auto;
}
@media only screen and (min-width: 1174px) {
  .whitespaceorama {padding: 159px 0 192px;}
}
.footer {
  padding: 56px 0;
}

.f-logo, .f-address, .f-contact, .f-links {
  margin: 24px 35px;
}

.f-infos {flex: 0;}
.f-links {flex: 1;}

@media only screen and (min-width: 1200px) {
  .f-address {white-space: nowrap;}
}

@media only screen and (min-width: 1080px) {
  .footer {display: flex;}
  .f-logo {padding-top: 6px; flex: 1; text-align: center;}
}

@media only screen and (min-width: 690px) {
  .f-infos {display: flex;}
}

.trigrid {
  padding: 64px 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  grid-template-rows: repeat(100%);
  grid-gap: 64px 8.33%;
}
