.section {
  padding: 0 8.33vw;
  overflow: hidden;
}

.content {
  max-width: 1120px;
  margin: 0 auto;
}

.gutter-xl {
  margin: 0 -500px;
  padding: 0 500px;
}

.gutter-l {
  margin: 0 -200px;
  padding: 0 200px;
}

.gutter-m {
  margin: 0 -100px;
  padding: 0 100px;
}

.gutter-s {
  margin: 0 -50px;
  padding: 0 50px;
}

@media only screen and (min-width: 1174px) {
  .whitespaceorama {padding: 159px 0 192px;}
}

.footer {
  margin: 0 -35px;
  padding-top: 56px;
  padding-bottom: 56px;
}

.f-logo, .f-address, .f-contact, .f-links {
  margin: 24px 35px;
}

.f-infos {flex: 0;}
.f-links {flex: 1;}

@media only screen and (min-width: 1200px) {
  .f-address {white-space: nowrap;}
}

@media only screen and (min-width: 1080px) {
  .footer {display: flex;}
  .f-logo {padding-top: 6px; flex: 1;}
}

@media only screen and (min-width: 690px) {
  .f-infos {display: flex;}
}

.trigrid {
  padding: 64px 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  grid-template-rows: repeat(100%);
  grid-gap: 64px 8.33%;
}

.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.header-section {
  background-color: var(--blanc-rose);
  padding-top: 72px;
  padding-bottom: 59px;
}

.inline-menu {
  display: none;
}

.inline-menu li + li {
  margin-left: 32px;
}

.menu-toggler {
  display: block;
}

.menu {
  background-color: var(--blanc-rose);
  display: none;
  padding: 121px 47px 47px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.bd-with-menu .menu {
  display: block;
}

.menu-close-button {
  position: absolute;
  top: 32px;
  right: 47px;
}

.menu li + li {
  margin-top: 40px;
}

@media only screen and (min-width: 690px) {
  .inline-menu {
    display: flex;
  }

  .menu-toggler {
    display: none;
  }
}

.bruce {
  position: relative;
}

.bruce .gutter {
  background-repeat: no-repeat;
  background-position: left 300px bottom 220px,
                       left 87px top -240px,
                       left -40px bottom -265px;
  background-image: url("../img/p-nt/dotgrid-flat.gif"),
                    url("../img/p-nt/descending-line.svg"),
                    url("../img/p-nt/greater-than-small.svg");
  background-size: auto, 650px, 450px 900px;
}

.bruce-header {
  position: relative;
  z-index: 2;
}

.bruce .gutter {
  padding-top: 80px;
  padding-bottom: 400px;
}

.bruce .bruce-content {
  margin-top: 85px;
  max-width: 620px;
}

.bruce .text {
  margin: 24px 0 40px;
}

.bruce-image-front,
.bruce-image-back {
  position: absolute;
  width: 240px;
}

.bruce-image-front img,
.bruce-image-back img {
  display: block;
  max-width: 100%;
}

.bruce-image-front {
  bottom: 130px;
  left: -44px;
  opacity: 0.75;
  z-index: 1;
}

.bruce-image-back {
  bottom: -10px;
  right: -10px;
}

@media only screen and (min-width: 750px) {
  .bruce .gutter {
    background-position: left 100px bottom -315px,
                         left -360px bottom -232px,
                         left 400px top -240px,
                         left 282px top -100px;
    background-image: url("../img/p-nt/dotgrid.png"),
                      url("../img/p-nt/ascending-line.svg"),
                      url("../img/p-nt/descending-line.svg"),
                      url("../img/p-nt/greater-than-small.svg");
    background-size: auto, 650px, 650px, 450px 900px;
    padding-bottom: 130px;
  }

  .bruce .text {
    max-width: 350px;
  }

  .bruce-image-front,
  .bruce-image-back {
    width: 46%;
  }

  .bruce .bruce-content {
    margin-top: 200px;
  }

  .bruce-image-front {
    bottom: auto;
    left: 250px;
    top: -90px;
    top: -13%;
  }

  .bruce-image-back {
    bottom: auto;
    right: -20px;
    top: 360px;
  }
}

@media only screen and (min-width: 1000px) {
  .bruce .gutter {
    background-position: left 100px bottom -325px,
                         left -357px bottom -325px,
                         left -480px top 440px,
                         right -380px top -0px,
                         left 60px top -220px,
                         left 680px top -20px;
    background-image: url("../img/p-nt/dotgrid.png"),
                      url("../img/p-nt/dotgrid.png"),
                      url("../img/p-nt/ascending-line.svg"),
                      url("../img/p-nt/descending-line.svg"),
                      url("../img/p-nt/descending-line.svg"),
                      url("../img/p-nt/greater-than-small.svg");
    background-size: auto, auto, 650px, 650px, 650px, 450px 900px;
    padding-bottom: 130px;
  }

  .bruce .bruce-content {
    margin-top: 290px;
  }

  .bruce .text {
    max-width: 100%;
  }

  .bruce-image-front,
  .bruce-image-back {
    width: 666px;
  }

  .bruce-image-front {
    left: 35%;
    top: -280px;
  }

  .bruce-image-back {
    left: 55%;
    top: auto;
    bottom: 0;
  }
}

/* background-repeat: no-repeat; */
/* background-position: left 300px bottom 220px, */
/*                      left -325px bottom -140px, */
/*                      left 87px top -240px, */
/*                      left 880px top -240px, */
/*                      left -40px bottom -265px; */
/* background-image: url("../img/p-nt/dotgrid-flat.gif"), */
/*                   url("../img/p-nt/ascending-line.svg"), */
/*                   url("../img/p-nt/descending-line.svg"), */
/*                   url("../img/p-nt/descending-line.svg"), */
/*                   url("../img/p-nt/greater-than-small.svg"); */
/* background-size: auto, 650px, 650px, 650px, 450px 900px; */

/* .bruce-image-front, */
/* .bruce-image-back { */
/*   position: absolute; */
/*   width: 360px; */
/* } */

/* .bruce .bruce-content { */
/*   margin-top: 270px; */
/* } */

/* .bruce .text { */
/*   margin: 24px 0 70px; */
/* } */

/* @media only screen and (min-width: 900px) { */
/*   .bruce-image-back { */
/*     right: -50px; */
/*   } */
/* } */

/* @media only screen and (min-width: 1200px) { */
/*   .bruce-image-front, */
/*   .bruce-image-back { */
/*     width: 666px; */
/*   } */
/* } */

/* @media only screen and (min-width: 1400px) { */
/*   .bruce-image-back { */
/*     right: -50px; */
/*   } */

/*   .bruce-image-front { */
/*     width: 1120px; */
/*     left: auto; */
/*     right: auto; */
/*   } */

/*   .bruce-image-front img { */
/*     position: absolute; */
/*     right: 200px; */
/*   } */
/* } */

/* @media only screen and (min-width: 1800px) { */
/*   .bruce-image-back { */
/*     right: 0; */
/*   } */
/* } */

.img {
  display: block;
}

/* Vertigo component */

.vertigo-media {
  position: relative;
}

.vertigo-media .inner-media {
  margin: 0 -8.33vw;
  overflow: hidden;
}

.vertigo-media .img {
  width: 100%;
}

.vertigo-content {
  padding: 65px 0;
}

@media only screen and (min-width: 680px) {
  .vertigo .grid {
    display: grid;
    grid-template-columns: minmax(200px, 50%) minmax(320px, 50%);
  }

  .vertigo-media .img {
    float: right;
    height: 650px;
    width: auto;
  }

  .vertigo-content {
    padding-top: 80px;
    padding-left: 96px;
  }

  .vertigo-media .inner-media {
    float: right;
    padding-left: 170px;
    margin: 0 0 0 -170px;
  }
}

@media only screen and (min-width: 900px) {
  .vertigo-media .img {
    height: 850px;
  }

  .vertigo-content {
    padding-top: 190px;
  }
}

.vertigo-content .text {
  margin: 30px 0 60px;
}

.pønt-section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.pønt-section .content {
  position: relative;
}

.pønt-section .img {
  max-width: 100%;
}

@media only screen and (max-width: 767px) {
  .pønt-item {
    overflow: visible;
    margin-bottom: 60px;
  }

  .bottom-circle,
  .bottom-triangle {
    position: relative;
    top: -140px;
    margin-bottom: -80px;
  }

  .bottom-triangle {
    margin-bottom: -140px;
  }

  .top-circle .img,
  .top-triangle .img {
    float: right;
  }
}

@media only screen and (min-width: 768px) {
  .pønt-section .content {
    height: 1140px;
  }

  .portrait-1 .img,
  .portrait-2 .img {
    width: 335px;
  }

  .portrait-2 {
    position: absolute;
    top: 0;
    left: -170px;
  }

  .portrait-1 {
    position: absolute;
    top: 740px;
    right: -170px;
  }

  .top-circle,
  .bottom-circle {
    width: 325px;
  }

  .top-triangle,
  .bottom-triangle {
    width: 180px;
  }

  .top-triangle {
    position: absolute;
    top: 248px;
    right: 0;
  }

  .bottom-circle {
    position: absolute;
    top: 278px;
    right: 0;
  }

  .top-circle {
    position: absolute;
    top: 530px;
    left: 0;
  }

  .bottom-triangle {
    position: absolute;
    top: 700px;
    left: 0;
  }
}

@media only screen and (min-width: 1200px) {
  .pønt-section .content {
    height: 560px;
  }

  .pønt-section {
    padding-top: 210px;
    padding-bottom: 210px;
  }

  .portrait-2 {
    left: -300px;
    top: 160px;
  }

  .top-triangle,
  .bottom-triangle {
    width: 13vw;
  }

  .top-circle,
  .bottom-circle {
    max-width: 390px;
    width: 24vw;
  }

  .bottom-triangle {
    left: 106px;
    top: 160px;
  }

  .top-circle {
    left: 126px;
    top: 0;
  }

  .bottom-circle {
    left: auto;
    right: 140px;
    top: 200px;
  }

  .top-triangle {
    left: auto;
    right: 154px;
    top: 185px;
  }

  .portrait-1 {
    right: -300px;
    top: 0;
  }
}

/* Banner section */

.banner-logo { width: 174px; }

@media only screen and (max-width: 420px) {
  .banner-logo { width: 87px; }
}

.banner-ws {
  margin-top: 80px;
  margin-bottom: 110px;
}
