/* Farger er på fransk fordi 1) det er kultivert, 2) det omgår en bug i css-optimizeren */

:root {
  --rouge: #ff524b;
  --taupe-foncé: #784949;
  --chocolat-au-lait: #591e1e;
  --puits-de-mine: #222222;
  --blanc-rose: #fffafa;
  --blanc: #fff;
  --saumon: #ff817c;
}
