body .com-rigsomelight-devcards-card-base,
body .com-rigsomelight-devcards-card-base-no-pad {background: #fff;}
body .com-rigsomelight-devcards-panel-heading {background: #fffafa;}

/* body .com-rigsomelight-devcards-card-base, */
/* body .com-rigsomelight-devcards-card-base-no-pad {border-color: rgb(0,0,0);} */
