:root {
  --red: #ff524b;
  --dark-taupe: #784949;
  --milk-chocolate: #591e1e;
  --mine-shaft: #222222;
  --rose-white: #fffafa;
  --white: #fff;
  --salmon: #ff817c;
}

body {
}

/* .bg-red {background: --var(red);} */
/* .bg-dark-taupe {background: --var(dark-taupe);} */
/* .bg-red {background: --var(red);} */
/* .bg-red {background: --var(red);} */
/* .bg-red {background: --var(red);} */
/* .bg-red {background: --var(red);} */
/* .bg-red {background: --var(red);} */
