@import url(vars.css);
@import url(base.css);

body {
}

/* .bg-red {background: --var(red);} */
/* .bg-dark-taupe {background: --var(dark-taupe);} */
/* .bg-red {background: --var(red);} */
/* .bg-red {background: --var(red);} */
/* .bg-red {background: --var(red);} */
/* .bg-red {background: --var(red);} */
/* .bg-red {background: --var(red);} */
