#logo {width: 303px; height: 45px; background: url(/images/kodemaker-large.png) no-repeat 0 0; background-size: 303px 45px; margin: 22px 17px;}
.menu {bottom: -4px;}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    #logo {background-image: url(/images/kodemaker-large-2x.png);}
}

h1 {font-size: 60px;}
h2 {font-size: 25px;}

.menu {bottom: 5px;}
.menu a {margin-left: 15px;}

.illustration, .mod, h1, h2, h3, h4, h5, p, ul, ol, hr, .img {margin: 15px;}
ul {margin-left: 30px}
ol {margin-left: 35px}
.grid {margin: 15px 0 0 15px;}
.gridContent {margin: 0 15px 15px 0;}
.mount {padding: 10px;}
#footer {margin-top:15px;}

blockquote {padding-left: 6em;}
blockquote:before {left: 0.25em;}

.fpf {max-width: 420px;}
.fpt {font-size: 18px;}