#logo {width: 303px; height: 45px; background: url(/images/kodemaker-large.png) no-repeat 0 0; background-size: 303px 45px; margin: 22px;}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    #logo {background-image: url(/images/kodemaker-large-2x.png);}
}

.menu {bottom: 0;}
.menu a {margin-left: 15px;}

blockquote {padding-left: 6em;}
blockquote:before {left: 0.25em;}

.large {font-size: 25px; line-height: 1.5;}

.fpp {font-size: 14px;} /* front page photos */

.form {padding: 20px 40px;}

.wall {font-size: inherit;}
.bricks {line-height: 40px;}
.brick {height: 40px;}
