#logo {width: 303px; height: 45px; background: url(/images/kodemaker-large.png) no-repeat 0 0; background-size: 303px 45px; margin: 22px;}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    #logo {background-image: url(/images/kodemaker-large-2x.png);}
}

.menu {bottom: 0;}
.menu a {margin-left: 15px;}

blockquote {padding-left: 6em;}
blockquote:before {left: 0.15em;}

.ref-meta-left .white {margin-right: 1px;}
.ref-meta-left {float:left; width: 50%;}
.ref-meta-right {overflow:hidden; *overflow:visible; *zoom:1;}
.ref-meta .peeps {margin-left: 2px; text-align: right; margin-bottom: 0; padding-top: 10px; padding-right: 10px;}
.ref-meta .peeps img {float: right;width: 50px;}

.large {font-size: 25px; line-height: 1.5;}

.fpp {font-size: 14px;} /* front page photos */

.form {padding: 20px 40px;}

.wall {font-size: inherit;}
.bricks {line-height: 40px;}
.brick {height: 40px;}

.ginormous-1,
.ginormous-2 {font-size: 145px;}
.ginormous-3 {font-size: 130px;}
.ginormous-4 {font-size: 80px;}

.hide-lt-660 {display: block;}
