.fpp {font-size: 15px;} /* front page photos */

.large {font-size: 30px; line-height: 1.4;}

.ginormous-1,
.ginormous-2 {font-size: 170px;}
.ginormous-3 {font-size: 160px;}
.ginormous-4 {font-size: 100px;}

.ref-info {padding: 20px 30px 20px 0;}
.ref-txt-2-wrap {padding: 20px 30px;}
.show-lt-810 {display: none;}
