body {font: 16px Helvetica, arial, freesans, clean, sans-serif;}

a {text-decoration: none;}
a:hover {text-decoration: underline;}

.hn {font-family: "HelveticaNeue-CondensedBlack", "HelveticaNeueBlackCondensed", "HelveticaNeue-Black-Condensed", "Helvetica Neue Black Condensed", "HelveticaNeueBlack", "HelveticaNeue-Black", "Helvetica Neue Black", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosCnBlack', "Helvetica", "Tahoma", "Geneva", "Arial Narrow", "Arial", sans-serif; font-weight:600; font-stretch:condensed; text-transform: uppercase; }
#main {max-width: 960px; margin: 0 auto;}

#logo {text-indent: 100%; white-space: nowrap; overflow: hidden;}
#logo {width: 155px; height: 23px; background: url(/images/kodemaker-small.png) no-repeat 0 0; background-size: 155px 23px; margin: 15px 10px;}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    #logo {background-image: url(/images/kodemaker-small-2x.png);}
}

#header {background: #000; position: relative;}

.illustration, .mod, h1, h2, h3, h4, h5, p, ul, ol, .img {margin: 10px;}

.bd,
.line,
.lastUnit {overflow:hidden; *overflow:visible; *zoom:1;}

.grid,
.media {overflow:hidden;*overflow:visible;zoom:1;}
.media .img {float:left; margin-right: 0;}

.grid {margin: 10px 0 0 10px; }
.gridUnit {display: inline-block; vertical-align: top;}
.gridContent {margin: 0 10px 10px 0;}

.photoframe {position: relative; z-index: 0; display: inline-block; vertical-align: bottom; text-align: left; max-width: 100%;}
.photoframe:after {bottom: 5px; content: ""; position: absolute; width: 90%; height: 25px; z-index: -1; padding: 0; margin: 0 5%; display: block; background: transparent; border-radius: 100% / 50%; box-shadow: 0 5px 10px 0 rgba(0,0,0,0.3);}
.mount {border: 1px solid #ccc; padding: 5px; border-radius: 2px; background: #fff; max-width: 100%;}

.thumb {width: 100px; max-width: 20%;}

p {margin-bottom: 1.3em;}

.tiny {font-size: 12px; font-weight: normal;}

.r-4-3-2 {width: 50%; }
.r-2of3 {width: 100%;}

body {-webkit-text-size-adjust: 100%}

.nowrap {white-space: nowrap;}

.menu {display:none;}

.title {display: block; color: #666;}

.shy {color: #ccc; font-weight: normal;}

img {display: block; max-width: 100%; height: auto; -ms-interpolation-mode: bicubic;}

a, h1, h2, .linkish {color: #d30707;}

.block {display: block;}
.linkBlock {display: block; text-decoration: none !important;}
.linkBlock:hover .linkish {text-decoration: underline;}

h1 {font-size: 30px;}
h2 {font-size: 20px; border-bottom: 1px solid #ddd; font-weight: bold;}
h3 {font-size: 18px; font-weight: bold;}
h4 {font-weight: bold;}

.near, h3, h4, h5 {margin-bottom: 0 !important;}
.near+*, h3+*, h4+*, h5+* {margin-top: 0 !important;}

.illu {float: right; max-width: 35%; margin-left: 10px;}

.aside, .body {line-height: 1.7;}
.tight {line-height: 1.4;}

q {color: #666;}
q:before {content: "“"}
q:after {content: "”"}

strong {font-weight: bold;}
em {font-style: italic;}

.cookie {font-size: 12px; background: #f4f4f4; padding: 4px; border-radius: 2px;}
.cookie * {margin: 0 2px;}
.cookie-w {margin-top: -4px !important;}

#footer {border-top: 1px solid #ddd; color: #666; line-height: 1.7; font-size: 12px; clear: both;}

.mtn {margin-top: 0 !important;}
.mbn {margin-bottom: 0 !important;}
.mts {margin-top: 5px !important;}
.mbs {margin-bottom: 5px !important;}
.mrm {margin-right: 10px !important;}

blockquote {padding: 1em 6em 0; font-style: italic; position: relative;}
blockquote:before {color: #ccc; content: "“"; font-size: 8em; position: absolute; top: -0.3em; left: .25em;}
