body {font: 16px Helvetica, arial, freesans, clean, sans-serif;}

a {text-decoration: none;}
a:hover {text-decoration: underline;}

.hn {font-family: "HelveticaNeue-CondensedBlack", "HelveticaNeueBlackCondensed", "HelveticaNeue-Black-Condensed", "Helvetica Neue Black Condensed", "HelveticaNeueBlack", "HelveticaNeue-Black", "Helvetica Neue Black", "Impact", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosCnBlack', "Helvetica", "Tahoma", "Geneva", "Arial Narrow", "Arial", sans-serif; font-weight:600; font-stretch:condensed; text-transform: uppercase; }
body.column #main {max-width: 960px; margin: 0 auto;}

body.full-width .iw {max-width: 960px; margin: 0 auto; position: relative;}

#logo {text-indent: 100%; white-space: nowrap; overflow: hidden;}
#logo {width: 155px; height: 23px; background: url(/images/kodemaker-small.png) no-repeat 0 0; background-size: 155px 23px; margin: 15px 10px;}

.presence {float: left; width: 40px; height: 40px; margin: 0 6px 6px 0; background: url(/icons/icons.png);}
.presence.twitter {background-position: 0 -40px;}
.presence.linkedin {background-position: 0 -80px;}
.presence.github {background-position: 0 -120px;}
.presence.stackoverflow {background-position: 0 -160px;}
.presence.coderwall {background-position: 0 -200px;}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    #logo {background-image: url(/images/kodemaker-small-2x.png);}
    .presence {background-image: url(/icons/icons2x.png); background-size: 40px 240px;}
}

#instantclick {display: none;}
#header {background: #000; position: relative;}

.illustration, .mod, h1, h3, h4, h5, p, ul, ol, hr, .img {margin: 10px;}
h2 {margin: 30px 0 10px; padding: 5px 10px; line-height: 1.2em;}
h1 {line-height: 1.1em;}
h3 {line-height: 1.3em;}
.pth {padding-top: 20px;}

.text-adornment {display: none;}

ul {margin-left: 30px}
ol {margin-left: 35px}
ul li {list-style-type: disc;}
ol li {list-style-type: decimal;}

.m-item {margin-bottom: 1.3em;}
.m-title br {display: none;}

.bd,
.line,
.lastUnit {overflow:hidden; *overflow:visible; *zoom:1;}

.grid,
.media {overflow:hidden;*overflow:visible;zoom:1;}
.media .img {float:left; margin-right: 0;}
.media .imgExt {float:right; margin-left: 0;}
.right {float:right;}

.grid {margin: 10px 0 0 10px; }
.gridUnit {display: inline-block; vertical-align: top;}
.gridContent {margin: 0 10px 10px 0;}

.photoframe {position: relative; z-index: 0; display: inline-block; vertical-align: bottom; text-align: left; max-width: 100%;}
.photoframe:after {bottom: 5px; content: ""; position: absolute; width: 90%; height: 25px; z-index: -1; padding: 0; margin: 0 5%; display: block; background: transparent; border-radius: 100% / 50%; box-shadow: 0 5px 10px 0 rgba(0,0,0,0.3);}
.mount {border: 1px solid #ccc; padding: 5px; background: #fff; max-width: 100%;}

.framed {border: 3px solid #000;}

.thinMount {border: 1px solid #ccc; padding: 3px 4px 0px; background: #fff; max-width: 100%;}

.thumb {width: 100px; max-width: 20%;}
.logo {width: 200px; max-width: 35%;}

.normal {font-weight: normal;}

p {margin-bottom: 1.3em;}

.fpp {font-size: 11px;} /* front page photos */
.fpp .linkish {display: block; padding-left: 3px;}

.small {font-size: 14px; font-weight: normal;}
.tiny {font-size: 12px; font-weight: normal;}

.r-4-3-2 {width: 50%; }
.r-2of3 {width: 100%;}
.s-3of4 {width: 75%;}
.r-4-3,
.s-1of3 {width: 33.33333%;}
.s-1of6 {width: 16.66667%;}

.form {background: #f4f4f4; padding: 10px;}
.form label {display: block;}
.input {display: block; width: 100%; font-size: 16px; padding: 7px 5px; margin-bottom: 10px; box-sizing: border-box; border: 3px solid #000;}
.input:focus {border-color: red;}
.btn {font-size: 16px; padding: 10px 40px; margin-top: 20px; background: #000; color: #fff; border: none;}

body {-webkit-text-size-adjust: 100%}

.nowrap {white-space: nowrap;}

.menu {display:none;}

.title {display: block; color: #666;}

.shy {color: #ccc; font-weight: normal;}

img {display: block; max-width: 100%; height: auto; -ms-interpolation-mode: bicubic;}

a, h1, .linkish {color: #d30707;}

.anchor-link {color: #fff; position: relative;}
.anchor-marker {display: none;}
.anchor-link:hover {text-decoration: none;}
.anchor-link:hover .anchor-marker {display: block; position: absolute; left: -16px;}

.block {display: block;}
.linkBlock {display: block; text-decoration: none !important;}
.linkBlock:hover .linkish {text-decoration: underline;}

h1 {font-size: 30px;}
h2 {font-size: 20px; font-weight: bold; color: #fff; background: #000;}
h3 {font-size: 20px; font-weight: bold;}
h4 {font-weight: bold;}

.near, h3, h4, h5 {margin-bottom: 0 !important;}
.near+*, h3+*, h4+*, h5+* {margin-top: 0 !important;}

.illu {float: right; max-width: 35%; margin-left: 10px;}
.tinyIllu {width: 10%; min-width: 70px; float: right; margin-left: 15px;}

.inline-form {background: #f4f4f4;}

.inverse {background: #000; color: #fff;}

.aside, .body {line-height: 1.7;}
.tight {line-height: 1.4;}

q {font-style: italic;}
q:before {content: "«"}
q:after {content: "»"}

strong {font-weight: bold;}
em {font-style: italic;}

.cookie {text-transform: uppercase; letter-spacing: 0.1em; font-size: 12px;}
.cookie-w {margin-top: -5px !important; }

.footer-spacing {clear: both; margin-top: 150px;}
#footer {background: #000; color: #fff; line-height: 1.7;}
#footer a {color:#fff;}

.bullet {margin: 0 0.5em;}

hr {border-top: 3px solid #000; border-left: 0; border-right: 0; border-bottom: 0;}

blockquote {padding: 1em 0 0 4em; font-style: italic; position: relative;}
blockquote:before {color: #ccc; content: "“"; font-size: 8em; position: absolute; top: -0.3em; left: 0;}

.codehilite, code {font-family: Consolas, "Liberation Mono", Courier, monospace; border: 1px solid #ddd; background-color: #f8f8f8; border-radius: 3px; max-width: 100%; display: inline-block; overflow: auto; vertical-align: middle; line-height: 1.3; font-size: 13px; padding: 0 0.5em;}
.codehilite {display: block; padding: 10px;}
.codehilite code {border: none;}

.ref {border: 3px solid #000;}
.ref-img {border-bottom: 3px solid #000;}
.ref-txt {border-bottom: 3px solid #000; font-style: italic;}
.ref-txt-2 {display: none;}
.ref-card {display: table; width: 100%;}
.ref-info {display: table-cell; text-align: right; width: 70%; vertical-align: top;}
.ref-logo {display: table-cell; vertical-align: top;}
.ref-logo img {max-height: 4em; max-width: 100px; margin: 20px;}

#ocm {display: none;}

.menu {display:block; position: absolute; bottom: 2px; right: 0; }
.menu a {color: #999; font-size: 13px; margin-left: 10px; text-transform: uppercase; }

.arrow {float: right; overflow: hidden; margin-top: 5px;}
.arrow-body {float: left; background: #d30707; width: 22px; height: 22px;}
.arrow-head {float: left; display: block; width: 0; height: 0; border-style: solid; border-width: 11px 0 11px 11px; border-color: transparent transparent transparent #d30707;}

.arrow:hover .arrow-body {background: #000;}
.arrow:hover .arrow-head {border-color: transparent transparent transparent #000;}

.wall {font-size: 11px;}
.bricks {margin-bottom: 3px; background: #d30707; text-align: center; line-height: 25px;}
.brick {width: 18%; color: #fff; display: inline-block; height: 25px; border-right: 3px solid #fff;}
.brick:first-child {border-left: 3px solid #fff;}
.collapsing-brick {display: none;}
a.brick:hover {background: #000;}

.video-embed { position: relative; padding-bottom: 56.25%; padding-top: 30px; height: 0; overflow: hidden; max-width: 100%; height: auto; }
.video-embed iframe,
.video-embed object,
.video-embed embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

.call-to-action {background: #f4f4f4; -webkit-transition: opacity 1000ms; -moz-transition: opacity 1000ms; -o-transition: opacity 1000ms; transition: opacity 1000ms;}
.call-to-action.hidden {opacity: 0; height: 0; overflow: hidden;}
.call-to-action.visible {opacity: 1; height: auto;}
