body {font: 16px Helvetica, arial, freesans, clean, sans-serif;}

.hn {font-family: "HelveticaNeue-CondensedBlack", "HelveticaNeueBlackCondensed", "HelveticaNeue-Black-Condensed", "Helvetica Neue Black Condensed", "HelveticaNeueBlack", "HelveticaNeue-Black", "Helvetica Neue Black", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosCnBlack', "Helvetica", "Tahoma", "Geneva", "Arial Narrow", "Arial", sans-serif; font-weight:600; font-stretch:condensed; text-transform: uppercase; }
#main {max-width: 960px; margin: 0 auto;}

#logo {text-indent: 100%; white-space: nowrap; overflow: hidden;}
#logo {width: 155px; height: 23px; background: url(/images/kodemaker-small.png) no-repeat 0 0; background-size: 155px 23px; margin: 15px 10px;}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    #logo {background-image: url(/images/kodemaker-small-2x.png);}
}

#header {background: #000; position: relative;}

.illustration, .mod, h1, h2, h3, h4, h5, p, ul, ol, .img {margin: 10px;}

.bd,
.line,
.lastUnit {overflow:hidden; *overflow:visible; *zoom:1;}

.grid {margin: 10px 0 0 10px; overflow:hidden; *overflow:visible;*zoom:1;}
.gridUnit {display: inline-block;}
.gridContent {margin: 0 10px 10px 0;}

.photoframe {position: relative; z-index: 0; display: inline-block; vertical-align: bottom; text-align: left; max-width: 100%;}
.photoframe:after {bottom: 5px; content: ""; position: absolute; width: 90%; height: 25px; z-index: -1; padding: 0; margin: 0 5%; display: block; background: transparent; border-radius: 100% / 50%; box-shadow: 0 5px 10px 0 rgba(0,0,0,0.3);}
.paspartur {border: 1px solid #ccc; padding: 5px; border-radius: 2px; background: #fff; max-width: 100%;}

p {margin-bottom: 1.3em;}

.tiny {font-size: 12px;}

.r-4-3-2 {width: 50%; }
.r-2of3 {width: 100%;}

body {-webkit-text-size-adjust: 100%}

.nowrap {white-space: nowrap;}

.menu {display:none;}

.title {display: block; color: #666;}

img {max-width: 100%; height: auto; -ms-interpolation-mode: bicubic;}

a, h1, h2, .linkish {color: #d30707;}
h2 a {text-decoration: none;}

.block {display: block;}
.linkBlock {display: block; text-decoration: none;}
.linkish {text-decoration: underline;}

h1 {font-size: 30px;}
h2 {font-size: 20px; border-bottom: 1px solid #ddd; font-weight: bold;}

.aside, .body {line-height: 1.7;}

q {color: #666;}
q:before {content: "“"}
q:after {content: "”"}

strong {font-weight: bold;}

#footer {border-top: 1px solid #ddd; color: #666; line-height: 1.7; font-size: 13px; clear: both;}

.mbn {margin-bottom: 0 !important;}
