@page {
  width: 100%;
  margin-top: 3em;
  margin-bottom: 2em;
  margin-left: 0;
  margin-right: 0;

  @top-left {
    content: "";
  }

  @top-right {
    content: "";
  }

  @bottom-center {
    clear: both;
    bottom: 0;
    margin-bottom: 1em;
    font: 12px Helvetica, arial, freesans, clean, sans-serif;
    width: 100%;
    content: "www.kodemaker.no \00a0\00a0\00a0\00a0 +47 22 82 20 80 \00a0\00a0\00a0\00a0 Munkedamsveien 3b, 0161 Oslo";
  }

  @bottom-left {
    content: "";
  }

  @bottom-right {
    content: "";
  }
}

.noprint {
  display: none;
}

hr {
  margin: 10px;
}

.iw {
  margin: 0 3em;
}

#cv-header .picture {float: right; margin-left: 0; margin-right: 10px;}
#cv-header .picture .image {max-height: 130px; float: right;}

.footer {
  display: none;
}

@page :first {
  margin-top: 0;
}

h1, h2, h3, h4,
h5, h6, thead, header {
  page-break-after: avoid;
}

table tr, ul, ol, .print-block {
  page-break-inside: avoid;
}

blockquote {
  page-break-inside: avoid;
}

p {
  widows: 3;
  orphans: 3;
}

.flex-l {
  overflow: hidden;
}

.grey-box {
  float: left;
  width: 33%;
  overflow: hidden;
}

.grey-box .bd {
  background-color: #eee;
  margin: 0 10px;
  padding: 10px;
  font-size: 12px;
}

.grey-box:first-child .bd {
  margin-left: 0;
}

.grey-box:last-child .bd {
  margin-right: 0;
}

.grey-box .content {
  margin: 0.5em 0 0;
}

blockquote {
  padding: 1em 0 0 6em;
  position: relative;
}

blockquote:before {
  color: #ccc;
  content: "“";
  font-size: 8em;
  position: absolute;
  top: -0.1em;
  left: 0;
}

#cv-header .heading {
  margin-top: 20px;
}
