.mtn {margin-top: 0 !important;}
.mtl {margin-top: 15px !important;}
.mbn {margin-bottom: 0 !important;}
.mbl {margin-bottom: 15px !important;}
.mbxl {margin-bottom: 30px !important;}
.mts {margin-top: 5px !important;}
.mbs {margin-bottom: 5px !important;}
.mrm {margin-right: 10px !important;}
.mrl {margin-right: 15px !important;}
.mls {margin-left: 5px !important;}
.mtm {margin-top: 10px !important;}
.mhn {margin-left: 0 !important; margin-right: 0 !important;}
