# non-www to www redirect -- duplicate content is BAD:
# https://github.com/h5bp/html5-boilerplate/blob/5370479476dceae7cc3ea105946536d6bc0ee468/.htaccess#L362
# Choose between www and non-www, listen on the *wrong* one and redirect to
# the right one -- http://wiki.nginx.org/Pitfalls#Server_Name
server {
  # don't forget to tell on which port this server listens
  listen 80;

  # listen on the non-www host
  server_name kodemaker.no;

  # Serve ACME challenges from a separate directory
  location /.well-known {
    alias /var/www/letsencrypt/.well-known;
  }

  # and redirect to the non-www host (declared below)
  location / {
{% if cert_stat.stat.exists %}
  return 301 https://{{ km_domain }}$request_uri;
{% else %}
  return 301 http://{{ km_domain }}$request_uri;
{% endif %}
  }
}

# redirect from nye.kodemaker to site
server {
  listen 80;
  server_name nye.kodemaker.no;

{% if cert_stat.stat.exists %}
  return 301 https://{{ km_domain }}$request_uri;
{% else %}
  return 301 http://{{ km_domain }}$request_uri;
{% endif %}
}

{% if cert_stat.stat.exists %}
# SSL termination
server {
  listen 443 ssl;
  server_name {{ km_domain }};
  ssl_certificate /etc/letsencrypt/live/{{ km_domain }}/fullchain.pem;
  ssl_certificate_key /etc/letsencrypt/live/{{ km_domain }}/privkey.pem;
  ssl_protocols TLSv1 TLSv1.1 TLSv1.2;
  ssl_ciphers HIGH:!aNULL:!MD5;

  location / {
    proxy_pass http://{{ km_domain }}:6081;
  }
}
{% endif %}

# insecure http
server {
  listen 80 default deferred;

  # The host name to respond to
  server_name {{ km_domain }};

  location / {
{% if cert_stat.stat.exists %}
    return 301 https://{{ km_domain }}$request_uri;
{% else %}
    proxy_pass http://{{ km_domain }}:6081;
{% endif %}
  }

  # Serve ACME challenges from a separate directory
  location /.well-known {
    alias /var/www/letsencrypt/.well-known;
  }
}

server {
  listen 8001 default deferred; # Re: deferred: The option is beneficial on all configurations, not to the level you'd ever likely notice except under an extreme load of HTTP traffic, but it's theoretically the "right" way to do it. It's an option because not all Unix (not even all Linux) flavours have that capability, and thus for portability it can be configured not to be inclided. http://unix.stackexchange.com/questions/94104/real-world-use-of-tcp-defer-accept

  # The host name to respond to
  server_name {{ km_domain }};

  index index.html;
  root /var/www/kodemaker.no/current;

  charset utf-8;

  # fetch CVs from old site
  location ^~ /cv/ {
    proxy_pass http://old.kodemaker.no/cv/;
  }

  # fetch old wordpress content from old site (to go with CVs)
  location ^~ /wp-content/ {
    proxy_pass http://old.kodemaker.no/wp-content/;
  }

  location /site/build {
    proxy_pass http://127.0.0.1:8002;
  }

  location /send-mail {
    proxy_pass http://127.0.0.1:8003;
  }

  # far-future expires headers
  location ~* ^.+\.(css|js|jpg|jpeg|gif|png|ico|gz|svg|svgz|ttf|otf|woff|eot|mp4|ogg|ogv|webm)$ {
    expires max;
    access_log off; # and no logging of static content access
  }

  # Prevent clients from accessing hidden files (starting with a dot)
  # This is particularly important if you store .htpasswd files in the site hierarchy
  location ~* (?:^|/)\. {
    deny all;
  }

  # Don't include port when redirecting
  port_in_redirect off;

  # Force the latest IE version
  # Use ChromeFrame if it's installed for a better experience for the poor IE folk
  add_header "X-UA-Compatible" "IE=Edge";

{% if cert_stat.stat.exists %}
  # Stay safe
  add_header "Strict-Transport-Security" "max-age=31536000";
{% endif %}

  # Old URLs
  rewrite  ^/mennesker/alf-kristian-støyle/?$ /alf-kristian/ permanent;
  rewrite  ^/mennesker/alfeinar/?$ /alf-einar/ permanent;
  rewrite  ^/mennesker/christian-johansen/?$ /christian/ permanent;
  rewrite  ^/mennesker/steintore/?$ /stein-tore/ permanent;
  rewrite  ^/mennesker/(.*)?$ /$1 permanent;

  location ~/2013 {
    rewrite ^/2013/06/kommende-kodemaker-alf-kristian-støyle/$ /blogg/kommende-kodemaker-alf-kristian-stoyle/ permanent;
    rewrite ^/2013/08/høstens-andre-nykommer-christian-johansen/$ /blogg/hostens-andre-nykommer-christian-johansen permanent;
    rewrite ^/2013/09/1144/$ /blogg/skarpe-kniver-pa-javazone/ permanent;
    rewrite ^/2013/11/nerdaid-vs-firmajulenissen/ /blogg/nerdaid-vs-firmajulenissen/ permanent;

    rewrite ^/2013/0[689]/$ /blogg/ permanent;
    rewrite ^/2013/11/$ /blogg/ permanent;
  }

  rewrite ^/nyheter/?$ /blogg/ permanent;
  rewrite ^/nyheter/page/2/$ /blogg/ permanent;

  # Old blog posts are gone
  location ~ /(stikkord)|(tema) {
    rewrite ^/(stikkord)|(tema)/.*$ /blogg/ permanent;
  }

  location ~ /201[012] {
    if ($request_uri ~ ^/2010/0[589].*) {
      return 410;
    }

    if ($request_uri ~ ^/2010/0[489].*) {
      return 410;
    }

    if ($request_uri ~ ^/2012/(09)|(11).*) {
      return 410;
    }
  }

  # When all else fails
  error_page 404 /404/;
  error_page 410 /410/;
}
