{:id :alf-einar
 :name ["Alf" "Einar" "Solbakken"]
 :title "Utvikler"
 :quit? true
 :start-date "2008-07-01"
 :description "Alf jobbet hos oss fra januar 2008 til desember 2022. Han er en
               dyktig utvikler og trivelig fyr. Ta kontakt hvis dere trenger
               en referanse."

 :phone-number ""
 :email-address ""

 :presence {}}
