{:id :alf-einar
 :name ["Alf" "Einar" "Solbakken"]
 :title "Utvikler"
 :quit? true
 :start-date "2008-07-01"
 :description "Alf liker enkle og pragmatiske løsninger som kan dekke kundens behov. Han liker godt å sette seg inn i nye domener, programmeringsspråk og teknologier, og har kapasitet til raskt å omsette teori til praksis."

 :phone-number "+47 9345 6131"
 :email-address "alf@kodemaker.no"

 :presence		{:cv "alf"
                         :twitter "aesolbakken"
                         :github  "aesolbakken"
                         :linkedin "/in/aesolbakken/"
                         :coderwall "aesolbakken"}
 	
 :tech          {:favorites-at-the-moment [:clojure :clojurescript]
                 :want-to-learn-more      [:devops :kubernetes]
                 :using-at-work [:clojure :clojurescript :react]}

 :cv {:default {:preferred-techs [:clojure :clojurescript]}}

 :project-highlights [{:blurb "Videreutvikling av eksisterende samt design og implementasjon av nye systemer innenfor kjøtt- og egg-bransjen"
                       :customer "Animalia"}
                      {:blurb "Arkitektur og implementering av forsvarets løsning for synkronisering av masterdata"
                       :customer "Forsvaret"}
                      {:blurb "Videreutvikling av NSB sin løsning for visualisering av posisjonsdata for tog i sanntid"
                       :customer "NSB"}
                      ]
 :endorsement-highlight {:author "Stein Engen"
                         :title  "Senior Engineer at Norwegian Armed Forces Cyber Defence"
                         :quote  "Jeg har hatt gleden av å benytte Alf som utvikler i to prosjekter over en 3 års periode der jeg har vært prosjektleder - begge med hovedtyngden av teknologi på Java-stack'en. Alf er en særdeles dyktig programmerer - og en sann kodemaker. I tillegg til det rent teknisk/faglige fungerer Alf utmerket i konstellasjoner der vi trekker brukerne inn for å designe løsningene. I slike settinger kreves både kreativitet og smidighet, samt at man har \"guts\" nok til å si ifra om man mener noe er feil. Alf leverer på dette også. Kan gi ham mine beste anbefalinger!"
                         }

 :recommendations [{:title "Clojure from the ground up"
                    :blurb "En god begynnelse for de som ønsker å komme igang med Clojure. Passer godt til både nye programmerere og de litt mer erfarne"
                    :link {:url "http://aphyr.com/posts/301-clojure-from-the-ground-up-welcome"
                           :text "Les artikkelen"}
                    :tech [:clojure]}]

 :projects      [
                 {:customer "Forsvaret"
                   :years [2019 :ongoing]
                   :summary "Forsvaret, Materielldataportalen"
                   :employer :kodemaker
                   :description "Masterdata-synkronisering mellom forsvarets materielldatasystemer (SAP, MCC, DNF, IMAS, m.fl). Oppgaver: Analyse, design, test, utvikling, dokumentasjon"
                   :tech [:groovy :grails :bootstrap :oracle :sap :soap :rest]}

                 {:customer "Animalia"
                  :years [2018 2019]
                  :summary "Utvikler"
                  :employer :kodemaker
                  :description "Videreutvikling av eksisterende samt design og implementasjon av nye systemer innenfor kjøtt- og egg-bransjen"
                  :tech [:clojure :clojurescript :groovy :grails]}
                  
 				  {:customer "Forsvaret"
                  :years [2016 2017]
                  :summary "Forsvaret, Materielldataportalen"
                  :employer :kodemaker
                  :description "Masterdata-synkronisering mellom forsvarets materielldatasystemer (SAP, MCC, DNF, IMAS, m.fl). Oppgaver: Analyse,
                 design, test, utvikling, dokumentasjon"
                  :tech [:groovy :grails :bootstrap :oracle :sap :soap :rest]}

                 {:customer "NSB"
                  :years [2014 2015 2016]
                  :summary "Passasjerinformasjonssystemer, K2IS"
                  :employer :kodemaker
                  :description "Videreutvikling av
                 passasjerinformasjons-anleggene ombord i togene. Oppgaver:
                 Analyse, design, test, utvikling, dokumentasjon"
                  :tech [:groovy :grails :bootstrap :griffon :mysql]}

                 {:customer "NSB"
                  :years [2014 2015 2016]
                  :summary "Integrasjonstjenester mellom Svenske Trafikverket og NSB"
                  :employer :kodemaker
                  :description "Utvikling av integrasjonstjenester mellom Svenske
                 Trafikverket og NSB. Oppgaver: Analyse, design, test, utvikling,
                 dokumentasjon"
                  :tech [:groovy :grails :bootstrap :soap :rest]}

                 {:customer "NSB"
                  :years [2014 2015 2016]
                  :summary "Visualisering av posisjonsdata for tog i sanntid"
                  :employer :kodemaker
                  :description "Videreutvikling av en kartapplikasjon for
                 visualisering av posisjonsdata for tog i sanntid. Oppgaver:
                 Utvikling, dokumentasjon"
                  :tech [:groovy :grails :bootstrap :react :flex]}

                 {:customer "Forsvaret GBMS"
                  :years [2013 2014 2015]
                  :summary "GBMS"
                  :employer :kodemaker
                  :description "Nyutvikling av et system for datafangst og
                analyse av skyts. Integrasjon med forsvarets SAP-løsning.
                Oppgaver: Analyse, design, test, utvikling, dokumentasjon"
                  :tech [:groovy :grails :bootstrap :oracle :sap :jenkins :javascript]}

                 {:customer "Nets"
                  :years [2012]
                  :summary "Separation of duties, BKAD"
                  :employer :kodemaker
                  :description "Videreutvikling av diverse applikasjoner for å
                legge til rette for separation of duties. Videreutvikling av
                BKAD - Sentralt bankregister. Oppgaver: test, utvikling,
                dokumentasjon"
                  :tech [:java :hibernate :spring :selenium :jetty :junit :maven :oracle]}

                 {:customer "Fondet for RVO"
                  :years [2011]
                  :summary "Utvikling av nytt saksbehandlersystem"
                  :employer :kodemaker
                  :description "Nytt saksbehandlersystem. Oppgaver: Analyse,
                 design, test, utvikling, dokumentasjon"
                  :tech [:ruby :rails :html :css :javascript :jquery :mysql :passenger
                         :nginx :rspec :thinking-sphinx :rubymine :capistrano :rake]}

                 {:customer "FFI"
                  :years [2011]
                  :summary "Systemintegrasjon"
                  :employer :kodemaker
                  :description "Prototyping av systemer for utveksling av
                posisjonsdata nasjonalt og mellom våre allierte ved hjelp av
                OASIS Web Services Notification. Oppgaver: Analyse, design,
                test, utvikling, dokumentasjon"
                  :tech [:cxf :groovyws :grails :wcf :csharp]}

                 {:customer "Statens pensjonskasse"
                  :years [2009 2010 2011]
                  :summary "Utvikling av nytt pensjonssystem"
                  :employer :kodemaker
                  :description "Nytt pensjonssystem. prosjekt PERFORM. Oppgaver:
                 Analyse, design, test, utvikling, dokumentasjon"
                  :tech [:java :hibernate :spring :flex :spring-batch :mockito
                         :sybase :jboss :maven :jetty :junit :fitnesse :c]}

                 {:customer "Forsvaret"
                  :years [2009]
                  :summary "Amplan4"
                  :employer :kodemaker
                  :description "Planlegging og bestillingssystem for
                 ammunisjon (Amplan4) - Videreutvikling. Oppgaver: Analyse,
                 design, test, utvikling, dokumentasjon"
                  :tech [:hibernate :spring :spring-mvc :oracle :jboss
                         :jsp :maven :jetty :javascript :html :junit :groovy
                         :spring-security]}

                 {:customer "Statens pensjonskasse"
                  :years [2009]
                  :summary "Utvikling av nytt pensjonssystem"
                  :employer :kodemaker
                  :description "Nytt pensjonssystem. prosjekt PERFORM. Oppgaver:
                 Analyse, design, test, utvikling, dokumentasjon"
                  :tech [:java :hibernate :spring :flex :spring-batch :mockito
                         :sybase :jboss :maven :jetty :junit :fitnesse :c]}

                 {:customer "Forsvaret"
                  :years [2008 2009]
                  :summary "Amplan4"
                  :employer :kodemaker
                  :description "Planlegging og bestillingssystem for
                 ammunisjon (Amplan4). Integrasjon med forsvarets SAP-løsning.
                 Oppgaver: Analyse, design, test, utvikling, dokumentasjon"
                  :tech [:hibernate :spring :spring-mvc :oracle :joss :jsp :maven :jetty
                         :javascript :html :junit :groovy :spring-security :sap]}

                 {:customer "Forsvaret"
                  :years [2007]
                  :summary "NORCCISII"
                  :employer :forsvaret
                  :description "Nasjonalt kommando og kontrollsystem i
                 integrasjon med NATO (NORCCISII). Oppgaver: Implementering av
                 et sett med webservices i forbindelse med
                 informasjonsutveksling mellom ulike lands kommando og
                 kontrollsystem."
                  :tech [:dotnet :wcf :csharp :fitnesse :visual-studio]}
                 {:customer "FOKIV"
                  :years [2006]
                  :summary "FOBID"
                  :employer :forsvaret
                  :description "Informasjonssystem over alle forsvarets
                 publikasjoner (FOBID). Oppgaver: Dynamisk transformering av
                 dokumenter vha XSLT. Søkefunksjonalitet. Forretningslogikk."
                  :tech [:hibernate :spring :spring-mvc :lucene :xslt :jetty :tomcat :oracle
                         :mysql :maven :junit :jmock]}
                 {:customer "FMI"
                  :years [2006]
                  :summary "Medieregister"
                  :employer :forsvaret
                  :description "Informasjonssystem over forsvarets film og
                  bildearkiv (Medieregister). Oppgaver: Utvikling av søk, kunde-
                  og bestillings systemet. Utvikling av søk, kunde- og
                  bestillings systemet."
                  :tech [:hibernate :spring :spring-mvc :lucene :jsp :jboss :tomcat :oracle
                         :maven-junit :jmock]}
                 {:customer "FLO"
                  :years [2005]
                  :summary "Beskop2"
                  :employer :forsvaret
                  :description "Ledelses informasjonssystem over alt materiell i
                  forsvaret (Beskop2). Oppgaver: Analyse, Design, Test,
                  Utvikling."
                  :tech [:hibernate :spring :webwork :jsp :velocity :jboss
                         :oracle :maven :junit :jmock]}
                 {:customer "FOHK"
                  :years [2004]
                  :summary "Ferdaball"
                  :employer :forsvaret
                  :description "Forsvarets erfaringdatabase Lessons
                  Learned (Ferdaball). Oppgaver: Analyse, Design, Test, Utvikling,
                  Dokumentasjon."
                  :tech [:hibernate :spring :webwork :jsp :velocity :jboss
                         :tomcat :oracle :mysql :maven :junit :jmock]}
                 {:customer "FLO"
                  :years [2003]
                  :summary "Beskop"
                  :employer :forsvaret
                  :description "Ledelses informasjonssystem over alt materiell i
                  forsvaret (Beskop). Oppgaver: Analyse, Design, Utvikling."
                  :tech [:pojo :jdbc :struts :borland :oracle :ant]}
                 {:customer "SVI"
                  :years [2002]
                  :summary "SVI"
                  :employer :forsvaret
                  :description "Kvalitetsikringssystem for forsvarets operative
                  avdelinger. Oppgaver: Analyse, Design, Utvikling."
                  :tech [:ejb :struts :borland :oracle :ant]}
                 {:customer "FLO"
                  :years [2002]
                  :summary "FLO"
                  :employer :forsvaret
                  :description "Sertifisert opplæring (portal).
                  Kursadministrasjonssystem (Sopp). Oppgaver: Analyse, Design,
                  Utvikling"
                  :tech [:ejb :servlets :jsp :borland :apache :oracle :ant]}
                 {:customer "FLO"
                  :years [2001]
                  :employer :forsvaret
                  :summary "FLO"
                  :description "Webshop på forsvarets Intranet for Forsvarets
                  uniformsutsalg (Funif). Oppgaver: Analyse, Design, Utvikling"
                  :tech [:ejb :servlets :jsp :borland :oracle :ant]}
                 ]
                 
 :endorsements  [{:author "Stein Engen"
                  :title  "Senior Engineer at Norwegian Armed Forces Cyber Defence"
                  :quote  "Jeg har hatt gleden av å benytte Alf som utvikler i to prosjekter over en 3 års periode der jeg har vært prosjektleder - begge med hovedtyngden av teknologi på Java-stack'en. Alf er en særdeles dyktig programmerer - og en sann kodemaker. I tillegg til det rent teknisk/faglige fungerer Alf utmerket i konstellasjoner der vi trekker brukerne inn for å designe løsningene. I slike settinger kreves både kreativitet og smidighet, samt at man har \"guts\" nok til å si ifra om man mener noe er feil. Alf leverer på dette også. Kan gi ham mine beste anbefalinger!"
                  }
								 {:author "Ketil Lund"
                  :title  "Principal scientist at Forsvarets Forskningsinstitutt"
                  :quote  "Alf jobbet for oss i ca 3 mnd i forbindelse med et pilotprosjekt rundt integrasjon av ulike informasjonssystemer. Vi er svært fornøyde med jobben Alf gjorde. Han er effektiv, har stor innsatsvilje og er en trivelig person å jobbe sammen med."
                  }
                 {:author "Kjell Røysum"
                  :title  "Senior Software Engineer at Steria AS"
                  :quote  "I worked with Alf for almost half a year in a Scrum Team, and learned to know him as a real proffesional. 
When he picked a task from our Sprintbacklog we considered it done! He worked independently, and his ability to acquire knowledge of existing functionality was impressive. He always kept focus on his tasks and his human qualities contributed to a great atmosphere and helped the collaboration in the team. 
He primarily worked with JEE, Spring (Including Spring Batch), Hibernate and Fitnesse using Subversion, Maven 2, 
Hudson, Nexus and he was responsible for the design and implementation of our Spring Batch reference application. 
I addition he obtained a good knowledge of the Pension Business."
                  }
                 ]

 :born 1972
 :education-summary "Ingeniør HiST, KS"
 :experience-since 2001
 :cv/description " Alf er utdannet ingeniør fra Høgskolen i S-Trøndelag og har
 jobbet med systemutvikling siden 2001. De fleste prosjekter han har vært
 involvert i har han hatt en sentral rolle tilknyttet mye ansvar. Alf kan bekle
 mange roller i et utviklingsprosjekt. I tillegg til rene utviklingsoppgaver
 har han ved flere anledninger fungert som arkitekt og teknisk prosjektleder.

 Alf liker enkle og pragmatiske løsninger som kan dekke kundens behov. Han liker
 godt å sette seg inn i nye domener, programmeringsspråk og teknologier, og har
 kapasitet til raskt å omsette teori til praksis.

 Alf er en lagspiller og samarbeider godt med sine medarbeidere. Han er opptatt
 av at teamet skal fungere og har egenskaper for å medvirke til dette."

 :qualifications ["Fullstackutvikler"
                  "Foretrekker funksjonell programmering"
                  "Ansvarsfull og samarbeidsvillig"]

 :education [{:institution "Høyskolen i S-Trøndelag"
              :years [1998 2001]
              :subject "Systemutvikling"}
             {:institution "Krigsskolen Linderud"
              :years [1994 1996]
              :subject "Infanteriet"}
             {:institution "Befalsskolen i Nord-Norge"
              :years [1992 1993]
              :subject "Infanteriet"}]

 :certifications [{:name "JavaScript/JQuery" :year 2009}
                  {:name "Enonic Kurs" :year 2008}
                  {:name "Core Spring Kurs" :year 2006}
                  {:name "Jboss Administrator" :year 2004}
                  {:name "Sun Certified Java Programmer" :year 2003}]

 :languages [{:language "Norsk"
              :orally "Morsmål"
              :written "Morsmål"}
             {:language "Engelsk"
              :orally "Meget god"
              :written "Flytende"}]

 :innate-skills [:intellij :eclipse :git :svn :cvs :ddd :tdd :unix :mac-os :windows]
 }
