{:id              :alf-kristian
 :name            ["Alf Kristian" "Støyle"]
 :title           "Kodemagiker"
 :start-date      "2013-10-01"
 :description     "Alf Kristian liker seg på dypt vann, med store
 utfordringer og vanskelige mål. Dette gjelder både i privatliv
 og på jobb.

 På jobb har fokuset ofte vært \"baksia\", da prosjektene han har
 vært i har de største utfordrigene der. Han ser likevel på seg selv
 som en full-stack utvikler, og hjelper gjerne kunden med frontend,
 utvikling av datamodeller eller API'er.

 Dette betyr også at Alf Kristian er flink til å se forbedringer i
 alle ledd av systemutvikling. Han opplever stadig at han hjelper
 kunden med å forbedre ting de ikke var klar over kunne vært bedre.

 Alf Kristian har stor tro på funksjonell programmering, og har
 jobbet lenge i communities som scalaBin og Oslo Socially Functional
 for å fremheve bruken av funksjonelle språk, som Scala og
 Clojure."

 :phone-number    "997 92 226"
 :email-address   "alf.kristian@kodemaker.no"

 :presence        {:cv       "alf.kristian"
                   :twitter  "stoyle"
                   :github   "stoyle"
                   :linkedin "/in/stoyle"}
 :upcoming        []

 :hobbies         [{:title        "Funksjonell programmering"
                    :description  "IT-verden er i stadig forandring, kravene
            til oppgaver som skal løses skjerpes, vi må forholde oss
            til større datamengder, lage software som yter og
            skalerer bedre, samtidig som kunder krever at vi leverer
            raskere. Etter min mening (og mange andres) er
            funksjonelle programmeringsspråk bedre verktøy for å
            imøtekomme slike krav."
                    :illustration "/illustrations/hobbies/alf_kristian_lambda.jpg"}
                   {:title        "Jogging og løpeteknikk"
                    :description  "Helt siden jeg fikk en Garmin GPS klokke i
            gave, og oppdaget at man kunne tracke sin forbedring
            online, har jeg elsket å løpe. Det begynte forholdsvis
            rolig, helt til jeg ble utfordret til å løpe maraton.
            Dette ble en stor utfordring, som gjorde meg totalt
            hekta. Jeg skjønte fort at normal løpeteknikk ikke er bra
            for kroppen, så jeg blir stadig observert på joggeturer
            med mine Vibram Fivefingers."
                    :illustration "/illustrations/hobbies/alf_kristian_five_fingers.jpg"}]

 :tech            {:favorites-at-the-moment [:clojure :scala :funksjonell-programmering]
                   :want-to-learn-more      [:clojurescript :nodejs]}

 :recommendations [{:title "The Joy of Clojure"
                    :blurb "Dette er ingen intro bok om Clojure,
                            dette er en bok for de som vil lære litt
                            mer. I tillegg til et dypdykk i språket,
                            lærer man om generell funksjonell
                            programmering. Kan anbefales for alle som
                            føler det er forbi begynnerstadiet i FP,
                            enten det gjelder Clojure eller andre
                            spåk."
                    :link  {:url  "http://joyofclojure.com/"
                            :text "Offisielle sider"}
                    :tech  [:clojure :funksjonell-programmering]}
                   {:title "Learn You a Haskell for Great Good!"
                    :blurb "Haskell er et programmeringsspråk som får
                            større og større påvirkningskraft på
                            andre språk. Denne boken gir en vennlig
                            introduksjon til et språk som er ganske
                            ganske annerledes. Man kan lese store
                            deler av boken på nett."
                    :link  {:url  "http://learnyouahaskell.com/"
                            :text "Besøk websidene"}
                    :tech  [:funksjonell-programmering]}
                   {:title "Born to Run: A Hidden Tribe,
                           Superathletes, and the Greatest Race the
                           World Has Never Seen"
                    :blurb "Utrolig nok, men dette er en spennende
                            og interessant bok om løping! Hvorfor
                            skader vi oss så ofte når vi tar på
                            joggesko, hvorfor kan noen mennesker
                            løpe mer enn 200 km mens vanlige
                            mennesker sliter med 10? Denne boken
                            kommer med en alternativ teori på
                            hvorfor mennesker har blitt som vi er,
                            var vi egentlig \"født til å løpe?\""
                    :link  {:url  "http://www.chrismcdougall.com/book.html"
                            :text "Offisielle sider"}
                    :tech  [:trening]}]

 :presentations   [{:title "Really understanding Clojure, getting into macros"
                    :blurb "På Javazone 2014, snakket Alf Kristian om Clojure sine makroer. Det ble et dypdykk inn i en av Clojure sine kraftigste features"
                    :urls  {:video "http://vimeo.com/album/3031533/video/105758305"}
                    :date "2014-08-10"
                    :tech  [:clojure :funksjonell-programmering]}
                    
                    {:title "Programmeringsspråket betyr alt!"
                    :blurb "Hovedverktøyet til programmerere er
                  programmeringsspråket. Likevel velge vi sjeldent det
                  beste riktige verktøyet for å løse oppgavene.
                  Denne presentasjonen fokuserer på hvor viktig det er å velge
                  riktig programmeringsspråk."
                    :date "2013-02-14"
                    :urls  {:video "http://www.youtube.com/watch?v=y5PSRn56ZWo"}
                    :tech  [:funksjonell-programmering :clojure :scala
                            :python :groovy :java]}
                   {:title "Lisp er vakkert!"
                    :blurb "Mange misliker Lisp på grunn av annerledes
                    syntaks. Men når man forstår hvorfor syntaksen er som
                    den er, så blir språket vakkert!"
                    :date "2012-09-10"
                    :urls  {:video "http://vimeo.com/49324971"}
                    :tech  [:lisp :clojure]}
                   {:title "Clojure - JVM språket som er \"multi-core ready\""
                    :blurb "En introduksjonspresentasjon om Clojure,
                    som går igjennom språkets oppbygning og filosofi.
                    Forklarer også hvorfor Clojure er et bedre rustet språk
                    for fremtiden enn andre."
                    :date "2011-09-07"
                    :urls  {:video "https://vimeo.com/28765670"}
                    :tech  [:clojure :funksjonell-programmering]}]

 :endorsements    [{:author "Øyvind Møller Asbjørnsen"
                    :title  "Head of Java Community of Practice at Capgemini"
                    :quote  "Alf Kristian is by far one of the most talented
                    developers I've ever worked with, and it was a true
                    pleasure to have him on my team. We worked together for
                    a year on a distributed custom build project consisting
                    of 100 people with six development teams in two
                    geographical locations. Alf Kristian soon established
                    him self as lead developer on the team and a valued
                    resource in the project. He's highly productive, solves
                    the toughest and most complex tasks, and delivers highly
                    maintainable code with few bugs. He identifies problems
                    and weaknesses in both process, code and architecture and
                    suggests ways of solving them, but still remains loyal to
                    the decisions made by the team or project. He's easy going
                    and a true team player, helping out whenever he can. It was
                    a true pleasure to have him on my team, I learned a lot from
                    him, and hope to be working with him again in the future.
                    If you're looking for a trustworthy, highly skilled
                    developer/architect for your project, small or large,
                    then you can't go wrong with Alf Kristian. Highly
                    recommended! "}
                   {:author "Tobias K. Torrissen"
                    :title  "CTO Knowit Objectnet"
                    :quote  "Alf Kristian is a passionate and talented
                    developer. I had the pleasure of working with Alf
                    Kristian for six years in Knowit. In addition to being a
                    great developer and consultant, he was involved in
                    Knowit´s strategy for knowledge management and technology.
                    Alf Kristian has been a strong promoter of functional
                    programing languages and his competence and enthusiasm
                    on the subject was partly responsible for the fact that
                    Knowit was one of the first norwegian consultancies to put
                    a system written in Scala in production.<br><br>

                    Alf Kristian is a very conscientious person and I wish him
                    the best of luck with his new job and give him my warmest
                    recommendations. "}
                   {:author "Tor Magne Hougen"
                    :title  "Byggesjef TVINN Toll- og avgiftsdirektoratet"
                    :quote  "Tiden hos oss i Toll og avgifts direktoratet,
                    sammen med Alf Kristian var behagelig. Alfs bidrag med
                    kompetanse, kunnskap, kreativitet, samt oppførselen og
                    væremåte ga oss og teamet store felles løft. Ønsket mitt
                    var å fortsette samarbeidet , derved ”slippe” å anbefale
                    ham. Siden så ikke ble, umiddelbart og noe skal fremheves
                    må det være blant hans mange gode egenskaper: Raskt å
                    tilegne seg oversikt. Se muligheter og løsninger i alle
                    spekter fra programmeringsteknisk detaljnivå til overordnet
                    informasjonsflyt. Profesjonell opptreden, tørre å ta tak i
                    utfordringer på alle nivåer. "}]}
