{:id :anders
 :name ["Anders" "Furseth"]
 :title "Arkitekt og sikkerhetsspesialist"
 :start-date "2010-03-15"
 :description "Anders elsker jobben sin som kodemaker. Han har de siste 10 årene besittet roller som utvikler og løsningsarkitek i små og store prosjekter, hovedsakelig innen bank og finans, og ofte med særskilt fokus på IT-sikkerhet. \n\n Anders er pragmatisk og tar stor glede i å kunne benytte de riktige verktøyene for å skape produkter med høy kvalitet til lav kost. Gjensidig respekt, ærlighet og åpen kommunikasjon med rikelig takhøyde er verdier som Anders setter høyt."

 :phone-number ""
 :email-address ""

 :presence {:cv "anders"}}
