{:id :anders
 :name ["Anders" "Furseth"]
 :title "Utvikler"
 :start-date "2010-03-15"
 :experience-since 2001
 :born 1980
 :description "Anders elsker jobben sin som kodemaker. Han har de siste 10
               årene besittet roller som utvikler og løsningsarkitekt i små
               og store prosjekter, hovedsakelig innen bank og finans, og
               ofte med særskilt fokus på IT-sikkerhet. \n\n
               Anders er pragmatisk og tar stor glede i å kunne benytte de
               riktige verktøyene for å skape produkter med høy kvalitet
               til lav kost. Gjensidig respekt, ærlighet og åpen kommunikasjon
               med rikelig takhøyde er verdier som Anders setter høyt."

 :phone-number "+47 922 02 797"
 :email-address "anders@kodemaker.no"

 :presence {:cv "anders"
            :linkedin "/in/andersfurseth"
            :github "andersfurseth"}

 :tech {:using-at-work [:clojure :clojurescript :kubernetes :datomic :kafka]
        :favorites-at-the-moment [:clojure :clojurescript :funksjonell-programmering]
        :want-to-learn-more      [:kubernetes]}

 :qualifications ["Nysgjerrig, erfaren og ansvarstagende full-stack utvikler"
                  "Lang erfaring med IT-sikkerhet"
                  "Trives i mindre, autonome team"]

 :recommendations [{:title "Out of the Tar Pit"
                    :blurb "Ben Moseley og Peter Marks presenterer svært
                            overbevisende argumenter for hva som er kilden
                            til kompleksitet i systemene vi bygger. Dersom du
                            ikke har lest denne artikkelen de siste 3 månedene
                            oppfordrer jeg deg på det sterkeste til å gjøre
                            nettopp det med det samme!"
                    :link  {:url  "http://shaffner.us/cs/papers/tarpit.pdf"
                            :text "Out of the Tar Pit (PDF)"}
                    :tech  [:funksjonell-programmering]}
                   {:title "Simple Made Easy"
                    :blurb "Foredraget som endret mitt syn på hvordan
                            programvare bør utvikles. Rich Hickey gir
                            oss i tillegg et begrepsaparat for å objektivt
                            kunne diskutere graden av kompleksitet i kode vi
                            skriver og verktøyer vi benytter. Jeg kan ikke
                            anbefale dette foredraget varmere!"
                    :link  {:url  "http://www.infoq.com/presentations/Simple-Made-Easy"
                            :text "Gjør det eneste fornuftige. Se foredraget nå!"}
                    :tech  [:funksjonell-programmering]}]

 :endorsements [{:author "Steffen Fiksdal"
                 :title "Teknisk arkitekt, BankAxept"
                 :quote "Of the people I know Anders is one of very few who
                        understands and masters all layers of computer software
                        architecture. He has a solid overview of the lowest levels
                        of the operating system up to the higher abstract levels
                        of application programming. This competence makes him an
                        extremly powerful resource in a software development team."}
                {:author "Sverre H. Huseby"
                 :title "Konsulent, Zenior"
                 :quote "Anders is a clever and fast programmer who easily sees
                        solutions to complex problems. His code is tidy almost to
                        the extreme. One of the best developers I have ever worked
                        with."}]

 :projects [{:customer "Hafslund Strøm / Fortum"
             :employer :kodemaker
             :summary "Mine Sider, App, Produktsider, Bestillingsløp"
             :description "Utvikling og forvaltning av flere av Fortum og Hafslund Strøm sine kunderettede flater."
             :tech [:clojurescript :clojure :responsive-design :sanity :datadog :git :aws :aws-s3 :tools-deps :varnish]
             :years [2021 :ongoing]}
            {:customer "Ruter"
             :employer :kodemaker
             :summary "Salgsløsning for billetter ombord i buss"
             :description "Backend-utvikling av ny plattform for salg av billetter ombord i buss."
             :tech [:kotlin :kafka :gradle :postgresql :kubernetes :ci :cd :datadog :event-sourcing]
             :years [2020 2021]}
            {:customer "Norled"
             :employer :kodemaker
             :summary "Nytt informasjonssystem for fergedrift"
             :description "Utvikler nye informasjonssystemer for fergedrift for
             Norled. Jobber også med billett-app for kunder, samt app for
             fergebillettørene."
             :tech [:clojure :clojurescript :kubernetes :datomic :datascript :reagent :mount :docker
                    :aws :aws-vpc :aws-s3 :aws-route53 :aws-iam :nginx :cordova :html :css :responsive-design :kafka
                    :influxdb :lambdacd :ci :cd :alpine :ubuntu :datadog :event-sourcing :cqrs :figwheel :dynamodb
                    :aws-ec2 :bash :clojure-spec :cloud :travis-ci]
             :years [2016 2017 2018 2019 2020]}
            {:customer "Oiiku"
             :employer :kodemaker
             :years [2015]
             :summary "Arrangementsystemer"
             :description "Oiiku utvikler nettbaserte tjenester for organisering
             og gjennomføring av arrangmenter. Oiiku blir benyttet ved flere
             høyprofilerte konferanser i Norden (NHOs årskonferanse, EAT Forum,
             m.fl.). Jeg jobbet i et team på to med ny- og videreutvikling av
             Oiikus tjenester basert på Clojure. Jeg jobbet både frontend og
             backend, samt med automatisering av drift."
             :tech [:clojure :datomic :javascript :angularjs :ansible :elasticsearch]}
            {:customer "NSB"
             :years [2015]
             :employer :kodemaker
             :summary "Avvikssystem"
             :description "Full-stack utvikling av system for håndtering av
             driftsavvik i NSBs transporttjenester."
             :tech [:groovy :javascript :react :java :spring :gradle :grails]}
            {:customer "Eventum Norge AS"
             :years [2014]
             :employer :eventum
             :summary "Markedsportal"
             :description "Utvikling av et nettbasert markedsplass for
             formidling av møte- og selskapslokaler. Ansvarlig for utvikling av
             back-end av løsningen, med bidrag på utvikling av front-end.
             Roller: Ledende utvikler."
             :tech [:clojure :datomic :javascript :react :elasticsearch]}
            {:customer "Oiiku"
             :years [2013]
             :employer :kodemaker
             :summary "Arrangementsystemer"
             :description "Oiiku utvikler nettbaserte tjenester for organisering
             og gjennomføring av arrangmenter og konferanser. Jeg jobbet i et
             lite team med utvikling av applikasjon og API for bestilling,
             printing og adgangskontroll for deltagerkort."
             :tech [:clojure :datomic :elasticsearch]}
            {:customer "FINN.no AS"
             :years [2010]
             :employer :kodemaker
             :summary "FINNs tjenester for søk og bestilling av reiseprodukter"
             :description "Utvikling av FINNs tjenester for søk og bestilling av
             reiseprodukter Roller: Senior utvikler."
             :tech [:groovy :java :javascript :solr :spring :maven :gradle]}
            {:customer "Brønnøysundsreg."
             :years [2010]
             :employer :kodemaker
             :summary "Sikkerhetsløsning (autentisering) for altinn.no"
             :description "Utvikling av autentiseringsløsning for altinn.no via
             Accenture / Brønnøysundsregisteret. Roller: Senior utvikler, team
             lead, mentoring."
             :tech [:opensso :java :maven :hibernate :jax-ws :dotnet]}
            {:customer "Oslo Børs VPS"
             :years [2008]
             :employer :aktiv
             :summary "System for forvaltning av fond"
             :description "Utvikling av nytt system for forvaltning av fond.
             Rolle: Teknisk ansvarlig for tjeneste- og domenelag i
             applikasjonene."
             :tech [:java :ejb :spring :hibernate :maven :websphere :jetty]}
            {:customer "NETS AS"
             :years [2008]
             :employer :nets
             :summary "Konsekvensanalyse / forprosjekt for utfasing av PKI plattform"
             :description "Konsekvensanalyse for utfasing av sertifikatplattform
             benyttet av flere virksomhetskritiske tjenester. Utarbeidelse av
             løsningsforslag for innføring/utvikling av ny sertifikatplattform.
             Utarbeidelse av strategi for migrering av berørte tjenester og
             produkter til ny plattform. Rolle: Analytiker"
             :tech [:design]}
            {:customer "NETS AS"
             :years [2007 2008]
             :employer :nets
             :summary "System for bestilling av digitale sertifikater via web"
             :description "Design og utvikling av webbasert grensesnitt for bestilling og
             formidling av digitale sertifikater. Rolle: Ledende utvikler"
             :tech [:java :spring-mvc :spring :hibernate]}
            {:customer "NETS AS"
             :employer :nets
             :years [2005 2006 2007]
             :summary "Autentisering- og autorisasjonssystem for online portal"
             :description "Design og utvikling av nytt sikkerhetsrammeverk for
             tilgangskontroll av tjenester. Støtte for et bredt utvalg av
             autentiseringsmekanismer samt Single Sign-On mekanismer. Utvikling
             av dynamisk regelmotor for evaluering av tilgangsforespørsler.
             Benyttes av store deler av BBS sine webtjenester. Rolle:
             Løsningsarkitekt og ledende utvikler"
             :tech [:java :spring :hibernate :siteminder :rbac]}
            {:customer "NETS AS"
             :years [2007 2008]
             :employer :nets
             :summary "Utarbeidelse av metodikk for sikkerhetsanalyse av IT-systemer"
             :description "Initiativtaker og utførende i utarbeidelse av
             bedriftstilpasset metodikk for sikkerhetsanalyse av tjenester. Utførende
             analytiker og veileder for sikkerhetsanalyse av tjenester. Rolle: Analytiker"
             :tech []}
            {:customer "NETS AS"
             :years [2003 2004 2005]
             :employer :nets
             :summary "Utvikling av system og rammeverk for kryptering og signering av finansielle transaksjoner"
             :description "Videreutvikling av tjeneste og
             produkt for generering og verifisering av digitale signaturer i
             ulike formater. Ansvarlig for implementering av støtte for bl.a.
             EDIFACT AUTACK og Visa/MasterCard MPI. Benyttet av ulike tjenester
             for å sikre integritet av utveklsing av finansielle transaksjoner
             mellom NETS og kunder. Rolle: Utvikler"
             :tech
             [:c :java :jni :linux :solaris :hp-nonstop]}
            {:customer "NETS AS"
             :years [2002 2003]
             :employer :nets
             :summary "Utvikling av system for innsamling og analyse av sikkerhetshendelser"
             :description "Innsamlings- og analyseverktøy Implementering av
             innsamling- og analyseverktøy av sikkerhetshendelser i interne
             infrastrukturkomponenter. Rolle: Utvikler"
             :tech [:c :perl :mysql :apache :linux]}]

 :cv {}

 :project-highlights [{:blurb "Arkitektur, infrastruktur og implementasjon av
                               nytt informasjonssystem for fergedrift basert på
                               Clojure, Clojurescript, Datomic og Kafka."
                       :customer "Norled"}
                      {:blurb "Robust meldingsmodul for tidsstyrt, event-styrt
                               eller manuell utsending av SMS eller e-post.
                               Clojure og Datomic."
                       :customer "Oiiku"}
                      {:blurb "Utvikling av FINNs tjenester for søk og bestilling
                               av reiseprodukter."
                       :customer "FINN.no AS"}]

 :endorsement-highlight {:author "Steffen Fiksdal"
                         :title "Teknisk arkitekt, BankAxept"
                         :quote "Anders has a solid overview of the lowest levels
                                 of the operating system up to the higher abstract levels
                                 of application programming. This competence makes him an
                                 extremly powerful resource in a software development team."}

 :education-summary "Institutt for Informatikk, UiO"
 :cv/description "Anders er en svært engasjert, ansvarstagende og pragmatisk
 konsulent. I løpet av sine 16 år i bransjen har han hovedsakelig besittet
 roller som utvikler og løsningsarkitekt i flere større prosjekter, fra
 sikkerhetsløsninger for bank, finans og offentlige tjenester til kommersielle
 reiselivsprodukter.

 Ettersom han i perioder av denne tiden også har hatt rollen som fagsjef i en
 infrastrukturavdeling har han vært involvert som rådgiver i en rekke mindre
 prosjekter og forvaltningsoppdrag med bred faglig spennvidde.

 Anders har også utført kodegranskning med fokus på sikkerhet av samfunnskritiske
 systemer, samt vært foredragsholder innen sikker programvareutvikling."

 :languages [{:language "Norsk"
              :orally "Morsmål"
              :written "Morsmål"}
             {:language "Engelsk"
              :orally "Meget god"
              :written "Flytende"}]

 :education [{:institution "Universitet i Oslo, Institutt for Informatikk"
              :years [2000 2001 2002 2003]
              :subject "Systemutvikling"}
             {:institution "Militæretjeneste, Hæren"
              :years [1999 2000]
              :subject "Luftværnet"}
             {:institution "Fagerlia VGS, Ålesund"
              :years [1996 1997 1998 1999]
              :subject "Matte, fysikk og kjemi"}]

 :open-source-projects [{:url "https://github.com/andersfurseth/flare"
                         :name "flare"
                         :description "Et verktøy som forbedrer rapportering av feilende tester for Clojure."
                         :tech [:clojure :clojurescript]}
                        {:url "https://github.com/andersfurseth/rubberlike"
                         :name "rubberlike"
                         :description "Et verktøy for å enkelt spinne opp embedded ElasticSearch servere"
                         :tech [:clojure]}
                        {:url "https://github.com/andersfurseth/jiffy"
                         :name "jiffy"
                         :description "Port av Java Time til Clojurescript"
                         :tech [:clojure]}]

 :open-source-contributions [{:name "midje"
                              :url "https://github.com/marick/midje"
                              :tech [:clojure]}
                             {:name "stubadub"
                              :url "https://github.com/magnars/stubadub"
                              :tech [:clojure]}
                             {:name "datomic-type-extensions"
                              :url "https://github.com/magnars/datomic-type-extensions"
                              :tech [:clojure]}]}
