{:id            :andre
 :name          ["André" "Bonkowski"]
 :title         "Kodemaker"
 :start-date    "2005-09-01"
 :description   "André har sansen for enkle løsninger, og fokuserer på å ikke bringe inn ny teknologi og rammeverk uten av det 
                 faktisk vil gi en gevinst for prosjektet og kunden. Han er preget av yrkesstolthet, er nøyaktig, og setter 
                 sin ære i å levere riktig kvalitet."

 :phone-number  "+47 911 79 089"
 :email-address "andre@kodemaker.no"

 :presence      {:cv "andre"
                 :twitter       "bonkowski"
                 :linkedin      "/in/bonkowski"
                 :stackoverflow "/users/893477/andre"
                 :github        "bonkowski"
                 :coderwall     "bonkowski"
                 }

 :tech          {:favorites-at-the-moment [:haskell :clojure :clojurescript]
                 :want-to-learn-more      [:erlang :elixir :elm :swift :go]}
 
 :recommendations [{
    :title "Clojure Applied"
    :link {:url "https://pragprog.com/book/vmclojeco/clojure-applied"
    :text "Info om boken"}
    :tech [:clojure :software-craftsmanship]
    :blurb "Dette er ikke en 'Lær Clojure' bok, men gir en hel tips og forslag til hvordan benytte Clojure på en bra og fornuftig måte. Jeg leste denne boken etter 
           mitt første Clojure/ClojureScript prosjekt. Det hadde selvfølgelig vært nyttig å ha lest boken før prosjektet, men jeg er ikke sikker om alt hadde gitt så mye mening som
           nå etter at jeg har følt noen av problemstillingene på kroppen. Uansett en bok jeg varmt vil anbefale."}
    { 
    :title "The Pragmatic Programmer: From Journeyman to Master"
    :link {:url "http://pragprog.com/book/tpp/the-pragmatic-programmer"
    :text "Info om boken"}
    :tech [:software-craftsmanship]
    :blurb "Denne boken kom ut allerede i 1999, så noen av teknologiene som er benyttet som eksempler er litt utdaterte, men budskapet i boka er fortsatt i høyeste grad aktuelle." 
  }]

 :hobbies       [{:title        "Formel 1"
                  :description  "Jeg hadde som guttunge en plakat på veggen av Clay Regazzoni kjørende i en Ferrari F1 bil.
                  Om det var det som fikk i gang interessen for Formel 1 vet jeg ikke helt, men etter å vært på mitt første F1 løp på Silverstone i 1991, så var jeg solgt.
                  Følger med hver løpshelg fra start til slutt"
                  :illustration "/illustrations/hobbies/kimi-f1.jpg"}
                  ]

 :blog-posts [{:url "http://blog.bonkowski.net/blog/2013/02/10/refactoring-in-appcode//"
                :title "Refactoring in AppCode"
                :blurb "De fleste Java utviklere kjenner til IntelliJ IDEA, som etter min og mange andres mening er den beste IDE'en 
                for Java. Etter å ha utviklet for iOS en god stund så finner man fort ut at Apples Xcode ikke er på høyde. Gleden var stor da 
                JetBrains laserte AppCode. Her en artikkel som beskriver litt hvordan rafactoring støtten er i AppCode"
                :tech [:cocoa :objc]
                }
              {:url "http://blog.bonkowski.net/blog/2013/01/21/navigation-in-appcode/"
                :title "Navigation in AppCode"
                :blurb "I \"serien\" om bruk av AppCode så omhandler denne posten om navigering i IDE'en"
                :tech [:cocoa :objc]
                }]

 :endorsements  [{:author "Arnstein Teigene"
                  :title  "Produkteier, FINN Apps"
                  :quote  "André er en hardtarbeidende og sosial person som har betraktelig løftet kvaliteten på produktet vårt. 
                  Han er enkel å ha med å gjøre og har gjort hverdagen til gruppen han jobbet i fargerik og gøy. 
                  Jeg kan varmt anbefale han som en faglig sterk person, men også som en som holder arbeidsmoral og humør oppe."
                  }
                 {:author "Petter Marthiniussen"
                  :title  "Section Manager, Telenor"
                  :quote  "André har ved flere anledninger jobbet som utvikler på vår mellomvareløsning i mobil verdikjede. 
                  Løsningen er kompleks med stort endringstempo. André er gjennomgående en dyktig utvikler som gjerne tar ansvar 
                  utover eget arbeidsområde. Han er sosial, og en hyggelig kollega. Jeg vil gjerne benytte meg av hans tjenester 
                  dersom muligheten dukker opp igjen."
                  }
                 {:author "Norman Katz"
                  :title  "Team Manager, Nordic Lottery Systems"
                  :quote  "In all of his work André strove to come up with simple and eligent solutions to tasks that less 
                  experienced developers would have viewed as complex. When from time to time the project had tasks that were in 
                  trouble, André was the person I could always rely on to get them back on track. I would recommend André 
                  without any reservation."
                  }
                 ]

 }

