{:id :andre
 :first-name "André"
 :middle-name "Michael"
 :last-name "Bonkowski"
 :title "Partner"
 :order 8
 :description "André er opptatt av å levere kvalitet. Han er dedikert til oppgaven og er ikke redd for å si sin mening når det trenges. Han bruker enhver anledning til å kose seg med diverse hobbyprosjekter på iPhone plattformen, og gleder seg til sitt første iPhone oppdrag. \n\n Han er i tillegg opptatt av hva som rører seg av nye produkter på OpenSource-fronten og er en svoren Mac-entusiast."}
