{:id :august
 :name ["August" "Lilleaas"]
 :title "Systemutvikler"
 :start-date "2012-01-01"
 :description "August er opptatt av enkle løsninger og gode brukeropplevelser,
 og er glad i å bli utfordret. Han er like erfaren på backend som på frontend,
 og jobber med webapplikasjoner, sanntidssystemer og mobilapplikasjoner. På
 fritiden driver han med alt fra testrammeverk til operativsystemer, og er
 sulten på å lære alt om det meste."
 :cv/description "August er full-stack webutvikler, og har tidligere jobbet som iOS-apputvikler.

Han startet med Ruby on Rails, og beveget seg over på JVM-plattformen i 2012 og
har erfaring med Clojure, Kotlin, Grails/Groovy og Spring

August liker å snakke, og du kan få et godt inntrykk av hvordan han oppleves ved
å se presentasjonen [You Probably Don't Know How The Internet Actually Works](https://vimeo.com/74406482) fra
JavaZone 2013 - som forøvrig ble [stemt frem av deltagerne](http://2014.javazone.no/toptalks.html) som den beste
presentasjonen på hele konferansen!"

 :phone-number "+47 915 28 701"
 :email-address "august@kodemaker.no"

 :presence {:cv "august"
            :twitter "augustl"
            :stackoverflow "/users/26051/august-lilleaas"
            :github "augustl"}

 :tech {:favorites-at-the-moment [:datomic, :react]
        :using-at-work [:react :react-native :kotlin :android :postgresql :azure]
        :want-to-learn-more [:c :haskell]}

 :upcoming
 [{:title "Datomic: The most innovative DB you've never heard of"
   :description "En presentasjon som evangeliserer Datomic, som alt for få utviklere kjenner til og bruker. Her skal horisonter utvides og antagelser utslettes."
   :tech [:clojure :datomic :groovy]
   :url "http://gr8conf.eu/#/talk/477"
   :location {:title "Gr8Conf EU 2017, København" :url "http://gr8conf.eu/"}
   :date "2017-06-01"}]

 :recommendations
 [{:title "Simple Made Easy"
   :link {:url "http://www.infoq.com/presentations/Simple-Made-Easy"
          :text "Se foredraget"}
   :tech [:clojure :design :immutability]
   :blurb "Rich Hickey, oppfinneren av Clojure og Datomic, snakker om forskjellene på \"Simple\" og \"Easy\". Det er stor forskjell på \"vanskelig\", som er subjektivt (Russisk er vanskelig fordi du ikke kan det), og \"simpelt\", som er objektivt (spagetti-kode er vanskelig å lese fordi det er sammenvevd). Denne presentasjonen har allerede rukket å bli rene Woodstock-legenden, og forklarer godt hovedpoengene med Clojure uten en eneste linje kode."}
  {:title "Fun with Relational Interpreters in miniKanren"
   :link {:url "http://vimeo.com/user18356272/review/66548859/4f724d6341"
          :text "Se foredraget"}
   :tech [:scheme :logic-programming]
   :blurb "Spol til 0:45:00. Sannsynligvis det villeste du noen gang har sett. Generere alle programmer som returnerer tallet 6? Lett! Hva med å generere et program som returnerer et program som returnerer seg selv når det kalles? Naturligvis. Alt dette med Scheme og miniKanren, en logikkmotor av William Byrd & Daniel Friedman"}
  {:title "Locked doors, headaches, and intellectual need"
   :link {:url "http://mkremins.github.io/blog/doors-headaches-intellectual-need/"
          :text "Les bloggposten"}
   :tech [:functional-programming :monads]
   :blurb "Mitt anbefalte monad-tutorial. Her lærer du å fiske, i stedet for å få monad-burritoen servert, og får forklart hvorfor du og jeg ikke klarer å forstå monads."}]

 :hobbies
 [{:title "Brasiliansk Jiu-Jitsu"
   :description "Kampsportens sjakk, som handler mere om strategi og posisjonering enn noe annet. Og kanskje den aller beste kampsporten for selvforsvar."
   :illustration "/illustrations/hobbies/august_bjj.jpg"}]

 :presentations
 [{:title "The imminent revolution of functional append-only databases"
   :blurb "I de fleste domener har gammel data høy verdi. Det bør ikke være ditt ansvar å løse dette manuelt med tradisjonelle muterbare databaser. Få en introduksjon til ny grensesprengende database-teknologi som løser dette problemet for deg."
   :urls {:video "http://vimeo.com/user18356272/review/96634125/3419ad5e0a"}
   :date "2014-05-13"
   :event "flatMap(Oslo)"
   :tech [:datomic :eventstore :clojure :immutability]}
  {:title "Datomic - a functional database"
   :event "Baksia (meetup)"
   :blurb "Datomic is more than just nosql. The server only does writes, not
   queries. Reads from data and index happens via storage services, which can be
   mysql, riak, dynamo, and others. The queries happen on the client itself. The
   database is represented as an immutable data structure. You can at any point
   in time get your database as of e.g 2 weeks ago. This talk will explain how
   all of the above works, what \"functional database\" means, and which
   tradeoffs and benefits Datomic has chosen when compared to other database
   paradigms. Some experience in database concepts (ex: MVCC, dynamo style high
   write availability) and a general urge to know what happens under the hood is
   expected of the listener."
   :urls {:video "http://www.meetup.com/baksia/events/137948902/"}
   :tech [:datomic]
   :date "2013-10-02"}
  {:title "You probably don't know how the internet actually works"
   :blurb "En slags kjapp intro til hvordan internett egentlig funker. Halvparten om routing og slikt, resten om krypto."
   :urls {:video "http://vimeo.com/74406482"}
   :date "2013-09-10"
   :event "JavaZone"
   :tech [:ip :openssl]}
    {:title "WTF is Datomic?"
   :blurb "Introduksjon til hvordan i alle dager en immutable database kan funke, og hvorfor det er bra greier."
   :urls {:video "http://vimeo.com/user18356272/review/66548971/99370e0950"}
   :date "2013-05-14"
   :tech [:datomic :clojure :immutability]}]

 :appearances
 [{:title "Introduction to AngularJS"
   :event "GDG (Google Developers Group) Oslo"
   :urls {:video "http://www.meetup.com/GDGOslo/events/103477952/"}
   :tech [:angularjs :javascript]
   :date "2013-02-27"}
  {:title "Google Closure"
   :event "FINN.no"
   :tech [:javascript :google-closure]
   :urls {:video "https://twitter.com/FINN_tech/status/266172271519993856"}
   :date "2012-11-07"}
  {:title "Google Closure, a hidden gem"
   :event "Framsia"
   :tech [:javascript :google-closure]
   :urls {:video "http://www.meetup.com/framsia/events/78995302/"}
   :date "2012-09-04"}
  {:title "Buster.JS"
   :event "KnowIT internkonferanse (Stockholm)"
   :tech [:busterjs :javascript]
   :date "2012-09-02"}
  {:title "Google Closure"
   :event "Netlight EDGE (internkonferanse i Stockholm)"
   :tech [:javascript :google-closure]
   :date "2012-09-01"}
  {:title "Adding tests to untested JavaScript"
   :event "Netlight EDGE (internkonferanse i Stockholm)"
   :tech [:javascript]
   :date "2012-08-31"}
  {:title "Buster.JS"
   :event "sthlmjs (JavaScript-brukergruppe i Stockholm)"
   :urls {:video "https://twitter.com/sthlmjs/status/241237941127634945"}
   :tech [:javascript :busterjs]
   :date "2012-08-30"}
  {:title "The missing link in single page web applications"
   :event "Web Rebels"
   :urls {:video "http://vimeo.com/43334973"}
   :tech [:javascript]
   :date "2012-05-14"}
  {:title "Buster.JS er fremtiden innen JavaScript-testing"
   :event "Smidig 2011"
   :tech [:busterjs :javascript]
   :urls {:video "http://vimeo.com/32224383"}
   :date "2011-06-01"}]

 :projects
 [{:customer "Bring"
   :start "2018-04"
   :summary "Glow - hele stacken til Bring Express (trafikkstyring, levering av pakker, pakkesporing til mottagere, ...)"
   :employer :kodemaker
   :description "Glow - verktøyet for Bring Express sin pakkelevering. Dette inkluderer ruteplanlegging, administrasjon av
   utsendelse av pakker for utsenderne, mobil-app for sjåførene som plukker opp og leverer pakkene, og grensesnittet til
   mottagerene av pakkene (pakkesporing, osv)."
   :tech [:react :react-native :kotlin :android :postgresql :azure]}
  {:customer "NSB"
   :start "2015-01"
   :end "2018-03"
   :summary "Status Tiltak - verktøy for planlegging og bestilling av alternativ transport"
   :employer :kodemaker
   :description "Status Tiltak - verktøyet til planlegging og bestilling av
   alternativ transport ved oppståtte avvik. Brukes av NSB sin driftsoperative
   sentral (DROPS). Rolle: Full-stack webutvikler, devops, eneste utvikler på
   prosjektet Implementerte av avansert GUI med React og websockets, for at
   flere brukere i sanntid kan jobbe med tiltaksplan for samme tog."
   :tech [:groovy :gradle :react :oracle :mariadb :active-mq :liquibase :ansible]}
  {:customer "NSB"
   :start "2013-04"
   :end "2018-03"
   :summary "Status - distribusjons-system for tekstlig informasjon (internt og kunder)"
   :employer :kodemaker
   :description "Status - verktøyet til trafikkinformatør-rollen i NSB sin
   driftsoperative sentral (DROPS). Rolle: Full-stack webutvikler, devops
   Innførte reaktiv meldingsbasert arkitektur, hvor en status enkodes som en
   JSON-blob som sendes til ActiveMQ. Hver tjeneste som lytter har sin egen kø
   via ActiveMQ virtual topics. Implementerte abonnements-modul, hvor man i GUI
   kan sette opp spørringer og tilhørende mottakere, som fører til utsendelse av
   e-post og sms når det skjer endringer i Status Skrev om hoved-GUI for å jobbe
   med statuser fra jQuery til AngularJS Implementerte tjeneste som lytter på
   togbevegelser i sanntid og kverner frem hvilke tog som er berørt av hvilke
   infrastrukturbrudd, og når de kommer til å kjøre inn i bruddet. Brukes til å
   informere både kunder og personell. Innførte Ansible for automatisert oppsett
   av servere og deploying av nye versjoner av applikasjonen. Innførte Liquibase
   for automatiserte og deterministiske databasemigreringer i produksjonsmiljøet
   Innførte React og skrev om de delene av Angular.JS-appen som egnet seg dårlig
   til Angular, kodemessig og ytelsesmessig."
   :tech [:groovy :gradle :grails :react :angular-js
          :oracle :active-mq :liquibase :ansible]}
  {:customer "Oiiku"
   :years [2012 2013]
   :employer :kodemaker
   :summary "Arkitektur og full stack utvikling for system for event-håndtering"
   :description "Oiiku, internt prosjekt i Kodemaker sammen med Onkel Estrup.
   Oiiku er et event-system for proff-brukere (eventbyråer o.l). Implementerte
   en første prototype i Ruby on Rails og CouchDB, med monolitt-arkitektur.
   Designet en tjeneste-oppdelt arkitektur med et sentralt API, SSO for
   innlogging, og hvert sub-system delt opp i frittstående komponenter.
   Implementerte det sentrale API-et med all business-logikk og databehandlign
   av eventer og deltakere. Første versjon brukte MongoDB, skrev om til Datomic.
   Laget støtte for fulltekst-søk på deltakere, støttet av elsticsearch.
   Implementerte ett av sub-systemene, GUI-et for å jobbe med deltakere.
   Excel-aktig tabell for redigering, GUI for å definere hvilke attributter en
   deltaker kan ha, import og eksport av deltakere via excel ved bruk av Apache
   POI."
   :tech [:clojure :datomic :angularjs :java :jetty :mongodb :google-closure :openssl
          :lucene :elasticsearch]}
  {:customer "Husleieproffen"
   :years [2012 2013]
   :employer :kodemaker
   :summary "Full stack webutvikling, system for håndtering av husleie"
   :description "Utvikling av hele applikasjonen for Husleieproffen, både
   backend og frontend. Implementerte en prototype med Ruby on Rails som endte
   opp som produksjonssystem et par måneder. Skrev om prototypen til
   tjenestebasert arkitektur med Clojure. Tilpasset eksisterende Ruby on
   Rails-app til å bli en frittstående Ruby-app,, for å unngå å måtte skrive om
   eksisterende PDF-genereringslogikk."
   :tech [:clojure :ruby :rails :rack :mysql]}
  {:customer "Internt"
   :years [2007 2008 2009 2010 2011]
   :employer :shortcut
   :summary "Utvikling av shortcut.no"
   :description "Full-stack webutvikler på websiden vår, shortcut.no. All
   programmering av back-end og front-end. Websiden har senere blitt relansert,
   eksempel fra archive.org:
   https://web.archive.org/web/20131101203810/http://shortcut.no/ruterreise"
   :tech [:ruby :rails]}
  {:customer "Internt"
   :years [2007 2008 2009 2010 2011]
   :employer :shortcut
   :summary "Shortcut Publish"
   :description "Shortcut Publish. CMS som ikke er en CMS. Brukes til alle
   websider laget av Shortcut. Består av en samling gjenbrukbare
   Rails-komponenter (login, CRUD, oppsett av admin-skjemaer, mm) pakket inn i
   en Ruby Gem."
   :tech [:ruby :rails]}
  {:customer "Internt"
   :years [2011]
   :employer :shortcut
   :summary "Internt system for utsending av push-meldinger på iOS"
   :description "Internt system for utsending av push-meldinger for iOS-apper."
   :tech [:nodejs :activemq :https :openssl :apns :monit]}
  {:customer "Internt"
   :years [2011]
   :employer :shortcut
   :summary "Webapp for oversetting av iOS-apper"
   :description "Webapp for oversetting av iOS-apper. CLI skrevet i Ruby
   genererer lokaliserings-metadata og laster opp til web-app. Ruby 1.9 brukes
   både på klient og server for full kontroll over enkoding i alle ledd.
   Web-appen har et enkelt grensesnitt for oversettelse til flere språk. Dette
   brukes av kunder av Shortcut. Lettere å forholde seg til en webside enn en
   utf16-enkoded .strings-fil fra Xcode."
   :tech [:ruby :rails]}
  {:customer "Internt"
   :years [2011]
   :employer :shortcut
   :summary "Internt system for automatisert bygg av iOS-apper"
   :description "Internt system for automatisert bygging av iOS-apper. Samling
   av scripts + webapp for enkel bygging av iOS-apper. Bygger, tar vare på
   symbol-filer, mm. Kan automatiseres på server, i motsetning til Xcode."
   :tech [:xcode :ruby]}
  {:customer "Securitas"
   :years [2011]
   :employer :shortcut
   :summary "Securitas 24 timer iPhone-app"
   :description "Securitas 24 timer iPhone-app Programmerte hele iPhone-appen.
   Skrev gjenbrukbare rutiner for å generere HTTP multipart-enkodede requests
   for opplasting av bilder. Appen har transaksjonsbasert multi-kontekst Core
   Data-oppsett, for datasynkronisering på bakgrunnstråder. CMS i Rails. Data
   serveres som binary plist, for at minst mulig CPU-tid skal brukes til parsing
   på device. Mobil webside for å rendre selve artiklene i appen. CSS og grafikk
   som fungerer på vanlig skjerm og retinaskjerm på iPhone."
   :tech [:ios :http]}
  {:customer "Forbrukerrådet"
   :years [2011]
   :employer :shortcut
   :summary "Forbrukerrådet Hormonsjekk"
   :description "Forbrukerrådet Hormonsjekk iPhone-app All programmering av
   iOS-app. Designet server-API. Implementerte strekkodelesing med zbar. All
   data i appen er online fra server, caches lokalt med Core Data. Appen vant en
   pris i Gullblyanten 2011."
   :tech [:ios :http]}
  {:customer "Adecco"
   :years [2011]
   :employer :shortcut
   :summary "Adecco Job Finer for iPhone"
   :description "Adecco Job Finder for iPhone Kodet HTML/CSS for
   UIWebView-visning av annonser (2008). Forbedret ytelse 8x fra forrige
   versjon. Push notifications når nye relevante jobber legges til. Henting av
   nye data mens man bruker appen, i stedet for modal loading-skjerm.
   Multitråding etc for å få til dette."
   :tech [:ios :gcd :pthread]}
  {:customer "Hjemmet Mortensen"
   :years [2010]
   :employer :shortcut
   :summary "Prototype på iPad-app for magasiner"
   :description "Prototype iPad-app for ymse magasiner. Prototypen viste hvordan
   dynamisk innhold kunne typesettes og layoutes automatisk og bli like fint som
   manuelt typesatt tekst. Fikk XML inn, Core Text og hjemmelaget layout-system
   bruktes til å rendre fine artikkelsider, innholdsfortegnelser,
   bildesamlinger, mm."
   :tech [:ios :core-text]}
  {:customer "Tandberg/Cisco"
   :years [2009 2010]
   :employer :shortcut
   :summary "Front-end i portal for administering av abonnementer"
   :description "Tandberg/Cisco Callway. Abonnementsbaserte videotjenester,
   alternativ til in-house drifting av servere. Frontend-artikekt på portal for
   ordrer, fakturering, abonnementer, mm. Backend var et REST-API (ekte REST,
   ikke bare et HTTP-API). Server serverte statisk HTML og JavaScript. All
   websidebygging skjedde i klienten. Avansert brukergrensesnitt for rask og
   effektiv administrasjon av systemet. Laget også HTML-grensesnitt til
   Java-applet for nettverkstesting. Oppdaterte Java-kode for å tilby
   JavaScript-API. Bygget opp UI real-time med JavaScript/HTML/CSS mens tester
   kjørte i Java-appleten."
   :tech [:javascript :java :jsp]}
  {:customer "Tryg Forsikring"
   :years [2009]
   :employer :shortcut
   :summary "livboye.no"
   :description "Backend og frontend for livboye.no, \"photoshop accurate\"
   implementasjon av UI."
   :tech
   [:ruby :rails :google-maps :javascript :jquery]}
  {:customer "Eniro"
   :years [2009]
   :employer :shortcut
   :summary "Nettverkssøk på proff.no"
   :description "Frontend for komponentet nettverkssøk på proff.no, eksempel."
   :tech [:javascript :jquery]}
  {:customer "Gitorious"
   :years [2009]
   :employer :shortcut
   :summary "Gitorious Virtual Appliance"
   :description "Gitorious Virtual Appliance. Arkitektur og løsning for
   disbribusjon av vmdk-image for enkel installasjon av Gitorious bak
   brannmuren. Speccet og satt opp hardware lokalt for testing mot VMWare
   ESXI (nå vSphere)."
   :tech [:vmware-esxi :virtualisering]}
  {:customer "Norrøna"
   :years [2008 2009]
   :employer :shortcut
   :summary "norrona.no"
   :description "norrona.no. All programmering, både backend og frontend. Brukte
   imagemagic på backend for dynamisk multispråk-rendring av grafikk fra
   databasen, for tekst i overskrifter og menyelementer. I dag har siden blitt
   byttet ut."
   :tech [:ruby :rails :javascript]}
  {:customer "Edda media/Tinde"
   :years [2007 2008]
   :employer :shortcut
   :summary "tinde.no"
   :description "tinde.no Rails-artikekt, frontend-aritkekt. Opplæring til fast
   ansatte uten Rails- og Ruby-kompetanse. Implementasjon og programmering av
   nye features. Databasemigreringer."
   :tech [:ruby :rails :fast]}
  {:customer "Web Totalservice AS"
   :years [2007]
   :summary "Nettsider for små og mellomstore bedrifter"
   :employer :web-totalservice
   :description "Jobbet med et stort antall websider for små og mellomstore
   bedrifter, og organisasjoner. Hadde eneansvar for serveropppsett og
   systemadministrasjon av LAMP-servere. Jobbet som hovedtekniker på
   Joomla-oppsett og installasjon, databaseoppsett, og konfigurering og tweaking
   av PHP. Jobbet som eneste frontendutvikler for implementering av
   Joomla-templates, javascripts, osv."
   :tech [:javascript :php :mysql :linux :apache :joomla]}
  {:customer "Nettstedfabrikken"
   :employer :nettstedfabrikken
   :years [2006]
   :summary "Websider med Joomla"
   :description "Laget websider ved bruk av Joomla (CMS). Samarbeidet med kunden
   med design-arbeid, satt opp server, konfigurerte og tweaket Joomla, og
   implementerte templates/HTML."
   :tech [:html :css :joomla]}]

 :open-source-projects
 [{:url "https://github.com/augustl/path-travel-agent/"
   :name "Path Travel Agent"
   :description "Bibliotek til Java for path-matching (f.eks URL-er i HTTP) som er typesikkert, og har `O(log N)` ytelse"
   :tech [:java]}
  {:url "https://github.com/busterjs/buster/"
   :name "Buster.JS"
   :description "Ambisiøst test-toolkit for JavaScript."
   :tech [:javascript :testing]}
  {:url "https://github.com/augustl/halt"
                         :name "HALT"
   :description "Ambisiøst operativsystem-prosjekt."
   :tech [:javascript :testing]}
  {:url "https://github.com/augustl/net-http-cheat-sheet"
   :name "Ruby Net::HTTP Cheat Sheet"
   :description "Eksempler på bruk av Ruby sitt Net::HTTP"
   :tech [:ruby :http]}
  {:url "https://github.com/augustl/ruby-openssl-cheat-sheet"
   :name "Ruby OpenSSL Cheat Sheet"
   :description "Eksempler på bruk av OpenSSL, både generelt, og i Ruby."
   :tech [:ruby :openssl]}
  {:url "https://github.com/augustl/gradle-warlike-plugin"
   :name "gradle-warlike-plugin"
   :tech [:gradle :groovy]
   :description "Plugin til byggesystemet Gradle for å emulere en WAR-container
   i et lokalt utviklingsmiljø, slik at du enkelt kan utvikle lokalt med
   hot-reloading og deploye til en WAR-fil uten noe ekstra jobb."}
  {:url "http://ditrw.com/booktorious/"
   :name "HTML5-epubleser"
   :tech [:html :javascript]
   :description "Proof of concept lesing av EPUB i nettleseren. Alt skjer på
   klienten, selv lesing av fil fra disk lokalt, via FileReader-APIet."}
  {:url "http://augustl.com/blog/2009/s3_upload_snow_leopard_service"
   :name "Show Leopard upload to S3"
   :tech [:aws-s3 :applescript :ruby]
   :description "Automator Action for å laste opp filer til Amazon S3 via
   høyreklikk."}]


 :open-source-contributions
 [{:name "Linux" :url "http://lkml.indiana.edu/hypermail/linux/kernel/1105.3/02740.html" :tech [:c :gcc :linux]}
  {:name "Urban Airship" :url "https://github.com/groupon/urbanairship/commit/3c4967b987ac3aade37b323e1e449de3abd15479" :tech [:ruby]}]


 :blog-posts
 [{:url "https://augustl.com/blog/2016/datomic_the_most_innovative_db_youve_never_heard_of/"
   :published "2016-01-20"
   :title "Datomic: The most innovative DB you've never heard of"
   :blurb "Alt for få utviklere kjenner til Datomic, som på en måte er bedre enn man har kapasitet til å forestille seg før man har prøvd den litt selv."
   :tech [:datomic]}
  {:url "https://augustl.com/blog/2014/jdk8_react_rendering_on_server/"
   :published "2014-03-20"
   :title "JDK8 + Facebook React: Rendering single page apps on the server"
   :blurb "En proof-of-concept på å gjenbruke React-komponenter til å få single page apps til å funke både på server og klient, uten at du trenger å gjøre noe særlig for å tilpasse JS-koden din."
   :tech [:java :react]}
  {:url "https://augustl.com/blog/2014/an_immutable_operating_system/"
   :published "2014-02-02"
   :title "An immutable operating system"
   :blurb "Hjerne-dump av tankene mine om et operativsystem jeg lenge har hatt lyst til å lage (og nå har begynt å hacke på). Til tross for svært lite tabloid stil fikk den en del oppmerksomhet, og endte opp på forsiden til Hacker News."
   :tech [:c :immutability]}
  {:url "https://augustl.com/blog/2013/zeromq_instead_of_http/"
   :published "2013-07-22"
   :title "ZeroMQ instead of HTTP, for internal services"
   :blurb "Det er vanlig å bruke HTTP når man trenger RPC, altså at du har en eller annen klient som trenger å snakke med en server. I denne bloggposten forklarer jeg hvorfor og hvordan du kan og bør bruke ZeroMQ i stedet for, eller i tillegg til, HTTP. Det er svært mange fordeler med ZeroMQ som er fundamentalt umulig å løse med HTTP."
   :tech [:clojure :zeromq :http]}]

 :cv {}
 :experience-since 2006
 :relationship-status "Gift, 1 barn"
 :born 1986
 :education [{:institution "Norges Musikkhøgskole"
              :years [2005 2006 2007]
              :subject "Bachelor, Klassisk piano utøvende (ikke fullført)"}]
 :qualifications ["Ekspert på GUI-programmering for web og mobilapper (både iOS og Android)"
                  "Full-stack, jobber oftest med hele stacken, ikke bare front-end og GUI"
                  "God på arkitektur og skalerbarhet, med tilhørende devops"]

 :project-highlights [{:blurb "Full-stack + native app for nytt nordisk system for ekspressleveranser"
                       :customer "Bring"}
                      {:blurb "Full-stack utvikling av system for distribusjon av trafikkinformasjon"
                       :customer "NSB"}
                      {:blurb "Full-stack utvikling av system for hurtig planlegging av alternativ transport ved oppståtte avvik"
                       :customer "NSB"}]
 }
