{:id :christian
 :name ["Christian" "Johansen"]
 :title "Kodemaker"
 :start-date "2013-11-01"
 :description "Christian er en engasjert og allsidig programmerer. Gjennom sine
               kurs og foredrag har han gjort seg kjent som en meningssterk og
               kvass programmerer som tar design, testing og kvalitet seriøst.
               Christian har lang erfaring med både frontend og backend såvel
               som devops-nivå oppsett, provisjonering og drift av
               applikasjonsservere. Han trives godt både alene og i team, og
               fungerer både som humørspreder og kritisk røst i samarbeid med
               andre."

 :phone-number "+47 934 17 480"
 :email-address "christian@kodemaker.no"

 :presence {:cv "christian"
            :twitter "cjno"
            :linkedin "/in/christianjohansen"
            :github "cjohansen"}

 :tech {:using-at-work [:clojurescript :aws :docker :concourse]
        :favorites-at-the-moment [:datomic :emacs :clojurescript]
        :want-to-learn-more [:haskell :aws :elm :go :oidc]}

 :side-projects [{:title "Learning Functional JavaScript"
                  :description "Et grundig videokurs i funksjonell programmering
                  med JavaScript. Laget for Packt forlag i 2015."
                  :illustration "/illustrations/side-projects/functional-js.jpg"
                  :tech [:javascript :nodejs :functional-programming]
                  :link {:url "https://www.packtpub.com/web-development/learning-functional-javascript-video"
                         :text "Sjekk ut kurset"}}
                 {:title "Test-Driven JavaScript Development"
                  :description "Etter noen år med fordypning i og blogging om
                  TDD med JavaScript kom jeg litt tilfeldigvis i kontakt med
                  Addison-Wesley. Resultatet ble en bok som kom ut i 2010."
                  :illustration "/illustrations/side-projects/jstdd.jpg"
                  :tech [:javascript :nodejs :tdd :testing]
                  :link {:url "http://tddjs.com/" :text "Sjekk ut boka"}}
                 {:title "ZombieCLJ"
                  :description "I denne oppfølgeren til ZombieTDD lager
                                [Magnar](/magnar/) og jeg spill med
                                Clojure og ClojureScript. Det går i
                                parprogrammering hele veien. Og jaggu skriver vi
                                ikke flere tester først. Skulle tro XP hadde noe
                                for seg."
                  :illustration "/illustrations/side-projects/zombieclj.jpg"
                  :link {:url "http://www.zombieclj.no" :text "Se videoene"}
                  :tech [:clojure :clojurescript :tdd :testing]}]

 :upcoming []

 :recommendations [{:title "How to Use npm as a Build Tool"
                    :link {:url "http://blog.keithcirkel.co.uk/how-to-use-npm-as-a-build-tool/"
                           :text "Les artikkelen"}
                    :tech [:javascript :nodejs :npm :grunt :gulp]
                    :blurb "Grunt, Gulp og andre JavaScript-baserte task runnere
                            skaper flere problemer enn de løser. Denne artikkelen
                            viser på forbilledlig vis hvordan npm i de aller fleste
                            tilfeller er mer enn tilstrekkelig, og tilbyr konkrete
                            alternativer til de mest vanlige bruksområdene for Grunt
                            og dens like. Omfavn en smidigere frontend-stack du også!"}
                   {:title "React: Rethinking best-practices"
                    :link {:url "http://www.youtube.com/watch?v=x7cQ3mrcKaY"
                           :text "Se foredraget"}
                    :tech [:javascript :design :react]
                    :blurb "Pete Hunt, en av hodene bak JavaScript
                            UI-rammeverket til Facebook og Instagram, React,
                            forteller om tankene bak. Foredraget fra JSConf.eu
                            2013 utfordrer en del etablerte sannheter og
                            presenterer en måte å tenke på
                            web-frontend-programmering på som sammenfaller med
                            klassisk UI-programmering og som virkelig fokuserer
                            på *separation of concerns*."}
                   {:title "The Future of JavaScript MVC Frameworks"
                    :link {:url "http://swannodette.github.io/2013/12/17/the-future-of-javascript-mvcs/"
                           :text "Les artikkelen"}
                    :tech [:clojurescript :design]
                    :blurb "David Nolen, Clojurescript-superstjerne, forteller
                            om sitt 'Om', Clojurescript-API over Facebook's
                            React. Om går enda noen skritt fra hva React tilbyr
                            ved å servere hele pakka med immutable
                            datastrukturer og et funksjonelt API. Artikkelen
                            viser samtidig hvordan dagens mest populære
                            MVC-rammeverk for JavaScript er langt fra å tilby en
                            tilfredstillende løsning på problemene vi som
                            frontendutviklere møter."}
                   {:title "Simple Made Easy"
                    :blurb "Det er ikke lett å lage noe enkelt. Rich
                            Hickey snakker om forskjellen på nærliggende
                            (subjektivt lett) og ukomplisert (objektivt
                            enkelt). Og implikasjonene for hvordan du bør
                            tenke rundt software."
                    :link {:url "http://www.infoq.com/presentations/Simple-Made-Easy"
                           :text "Se foredraget"}
                    :tech [:design :clojure]}
                   {:title "Dance you Imps!"
                    :blurb "Uncle Bob Martin skriver et knallgodt innlegg om
                    hvordan ORM-er ikke egentlig er ORM-er. Dette sitatet
                    oppsummerer på mange måter hovedpoenget:

                    \"What is a data structure? It's a bunch of public data with
                    no methods. Compare that to an object which is a bunch of
                    public methods with no visible data. These two things are
                    the exact opposites of each other!\""
                    :link {:url "http://blog.8thlight.com/uncle-bob/2013/10/01/Dance-You-Imps.html"
                           :text "Les artikkelen"}
                    :tech [:orm :design]}]
 :hobbies [{:title "Mat, brød og øl"
            :description "Som programmerer tar jeg stor glede i å skape. Som
                          aspirerende hobbykokk tas denne gleden ut i skaperverk
                          som i tillegg kan nytes med smaksløkene. Jeg tar like
                          stor glede i å bruke en hel lørdag på å lage Lasagne
                          fra bunnen som jeg gjør av en kveld med
                          surdeigsbrødbaking eller ølbrygging. Eller å pleie
                          chiliplantene jeg har rundt i huset på vinteren, og i
                          hagen på sommeren."
            :illustration "/illustrations/hobbies/chili-con-carne.jpg"}
           {:title "Musikk"
            :description "Jeg har spilt i band siden jeg gikk på ungdomsskolen,
                          og holder fortsatt gitarspillet ved like gjennom
                          bandet Execration, som ble foræret en Spellemann for
                          2014. Jeg har alltid vært en sucker for aggressiv
                          musikk, fra mine jyplingår som fan av Nirvana og
                          skranglepunk til mine senere år som metal-connoisseur
                          av ypperste rang."
            :illustration "/illustrations/hobbies/execration.jpg"
            :url "http://execration.no/"}
           ]

 :blog-posts [{:url "http://cjohansen.no/annotating-datomic-transactions/"
               :title "Annotating Datomic transactions"
               :blurb "En artikkel om Datomics transaksjoner, og hvordan de kan utvides med app-spesifik informasjon for bedre auditing og mer."
               :tech [:datomic :clojure :datalog]}
              {:url "http://cjohansen.no/querying-across-datomic-databases/"
               :title "Querying across Datomic databases"
               :blurb "Et konkret eksempel på hvordan du kan gjøre datalog spørringer over flere databaser samtidig med Datomic."
               :tech [:datomic :clojure :datalog]}
              {:url "http://www.sitepoint.com/immutability-javascript/"
               :title "Immutability in JavaScript"
               :blurb "Introduksjon til immutability, og hvordan jobbe med immutable data i JavaScript"
               :tech [:javascript :immutability]}
              {:url "http://www.sitepoint.com/immutability-react/"
               :title "Immutability in React"
               :blurb "Artikkelen bygger videre på artikkelen om immutability i JavaScript, og viser immutable data i sving i en React-applikasjon."
               :tech [:javascript :react :immutability]}
              {:url "http://www.sitepoint.com/thinking-outside-dom-concepts-setup/"
               :title "Thinking outside the DOM"
               :blurb "Hvordan tenker man egentlig design i JavaScript? Gjelder
              konsepter som løse koblinger og 'single responsibility' også på
              klienten? Jeg vil så absolutt påstå at det gjør det, og denne
              artikkelen belyser hvordan man kan angripe klient-spesifikke
              problemer i JavaScript med gode design-prinsipper i hånda."
               :tech [:javascript :dom]}
              {:url "http://cjohansen.no/building-static-sites-in-clojure-with-stasis/"
               :title "Building Static Sites in Clojure With Stasis"
               :blurb "En lang tutorial-style bloggpost om å lage statiske
                       websider i Clojure med blant annet biblioteket Stasis.
                       Artikkelen gir et innblikk i bruk av mange populære
                       web-biblioteker for Clojure."
               :tech [:clojure :stasis :optimus]}
              {:url "http://cjohansen.no/clojure-to-die-for/"
               :title "Clojure to die for"
               :blurb "En liten feiring av helt hverdagslige idiomer of småtriks
               som gjør det å jobbe med Clojure til en fantastisk god
               opplevelse"
               :tech [:clojure]}
               {:url "http://cjohansen.no/an-introduction-to-elisp/"
               :title "An introduction to Emacs Lisp"
               :blurb "Etter å ha brukt Emacs i mange år, og nylig ha gått
                       gjennom [The Little
                       Schemer](http://mitpress.mit.edu/books/little-schemer)
                       satte jeg meg for noen år siden ned for å lære meg Emacs
                       Lisp skikkelig. Jeg benyttet anledningen til å samtidig
                       skrive en god og grundig innføring for andre i samme
                       situasjon. Artikkelen handler om Emacs Lisp spesielt, men
                       fungerer også som en introduksjon til Lisp generelt. I
                       motsetning til andre introduksjonsartikler tar den for
                       seg et nogenlunde sammensatt eksempel slik at man ser
                       hvordan Lisp ser ut utover 'Hello world'."
               :tech [:lisp :elisp :emacs]}]

 :projects [{:customer "Tine Husdyrfag"
             :description "Etablering av ny skyplatform og utvikling av applikasjoner på denne"
             :tech [:aws :concourse :clojurescript :go :docker :nginx :material-ui :react]
             :years [2017]}
            {:customer "Eventum.no"
             :description "Utvikling av backend og frontend for tjenesten
             eventum.no. Automatisering av server-oppsett, bygg og deployment."
             :tech [:datomic :clojure :clojurescript :ansible :docker :javascript :nodejs
                    :react :elasticsearch :centos :auth0 :aws-s3]
             :years [2017]}
            {:customer "NRK Origo - Potion"
             :description "Søk i NRKs enorme mengder videoklipp - både
            nettklipp, ting som har gått på TV og råstoff. Utviklet en
            søkekomponent for 'smart søk' som gjør utstrakt bruk av
            autocomplete, forslag til forskjellige filtreringer, og gjør andre
            grep for å styre brukeren i retning av et detaljert søk. Søket ble
            implementert i Elasticsearch gjennom en node.js/Express webserver,
            og med UI skrevet i React. UI-et ble skilt ut som et bibliotek for
            intern gjenbruk, og er nå i bruk i flere applikasjoner."
             :tech [:javascript :elasticsearch :nodejs :react :docker :mesos]
             :years [2015 2016]}
            {:customer "NRK Radioarkiv"
             :description "Implementerte nytt design for NRKs interne
             Radioarkiv, som brukes internt for research og gjenbruk av
             arkivmatriale. Designet ble implementert i form av en styleguide
             som senere ble den sentrale UI-komponenten i paraply-prosjektet
             Origo, som favner alle NRKs egenproduserte systemer rettet mot
             interne arbeidsflyter."
             :tech [:javascript :css :rwd]
             :years [2015]}
            {:customer "NRK Origo"
             :description "Laget en lettvekts bilderedigeringskomponent (litt
             effekter, crop, skalering, panorering) med web-teknologi.
             Komponenten benyttes som plugin i video-redigeringsverktøyene Adobe
             Premiere Pro og Quantell."
             :tech [:javascript :webgl :cef :angularjs :jasmine :karma :nodejs]
             :years [2014]}
            {:customer "NRK - Bidrag"
             :description "Laget en app som viser en strøm av bidrag som NRKs
             journalister og andre ansatte sender inn fra 'felten'. Brukes
             internt i NRK til å både få oversikt over hva som kommer inn, men
             også til å se status for viderebehandling av bilder og video i
             andre systemer (transkoding, arkiv osv)."
             :tech [:javascript :react :nodejs :buster-js :express-js :mysql :jade :compass]
             :years [2014]}
            {:customer "Schibsted Payment ID (SPiD)"
             :description "Utviklet nytt nettsted for teknisk dokumentasjon. Vi
             gjør mange grep for å holde dokumentasjonen aktuell og oppdatert.
             Sidene blir bygget opp basert på informasjon hentet rett fra SPiD
             sitt REST API. Eksempler i guides hentes fra fungerende eksempler,
             for å sikre at kodeeksempler ikke er utdatert."
             :tech [:clojure :responsive-design :stasis :optimus :midje]
             :years [2014]}
            {:customer "Schibsted Payment ID (SPiD)"
             :description "Prototypet ny innlogging, registrering og kjøpsflyt
             for SPiD, med fokus på brukervennlighet, støtte for mobil, og
             forenkling av tekniske løsninger."
             :tech [:html :css :responsiv-design :javascript :grunt :mocha :chai]
             :years [2014]}
            {:customer "FINN Oppdrag"
             :description "Klargjorde et avansert registreringsskjema
             for utrulling til flere markedsplasser ved å modularisere
             koden til komponenter som kunne settes sammen til
             forskjellige skjemaer."
             :tech [:javascript :js-test-driver :sinon :spring-mvc :java :junit]
             :years [2011 2012]}
            {:customer "FINN Småjobber"
             :description "Hjalp [FINN Småjobber](http://finn.no/smajobber/)-teamet
                           med lanseringen av løsningen rett før jul 2013. Har
                           jobbet med hele løsningen, men med fokus på frontend.
                           Implementert nytt ajax-søk med React.JS og hjulpet
                           andre på teamet med å styrke sin frontend-kompetanse."
             :tech [:javascript :spring-mvc :karma :jasmine :browserify :sinon :java :junit]
             :years [2013 2014]}]

 :presentations [{:title "Talk: I put 7 years of meal data in Datomic - Here's what I learned"
                  :blurb "Datomic is an append-only database, designed from the
                  ground up with modern applications and hardware in mind. It
                  never loses data, it has an RDF-like approach to schemas, it's
                  really fast, and it has a powerful query language borrowed
                  from Prolog that expresses queries as data structures. In
                  short: it's pretty awesome."
                  :tech [:datomic :clojure]
                  :date "2017-09-14"
                  :urls {:video "https://2017.javazone.no/program/b334906441754e7b9b282dfdf533738b"}}
                 {:title "EcmaScript 2015: The Close Future of JavaScript"
                  :blurb "I juni 2015 ble siste versjon av EcmaScript - spec-en
                  til JavaScript - ferdigstilt. EcmaScript 2015 (eller
                  EcmaScript 6 som det en gang het) er tidenes største
                  oppgradering av språket, og i dette foredraget gjennomgås en
                  hel haug med eksempler på nye features og hvordan de kan
                  brukes. Alt kodes live med hjelp av Emacs."
                  :tech [:javascript]
                  :date "2015-09-10"
                  :urls {:video "https://vimeo.com/album/3556815/video/138956041"}}
                 {:title "You can't change this: Immutability in JavaScript"
                  :blurb "Hva er immutability? Hva er hensikten? Kan man benytte
                  seg av det i JavaScript? Hvordan? Hvilke konsekvenser har
                  immutability for UI-programmering? Dette foredraget gir deg
                  svar på disse spørsmålene, med mer til."
                  :tech [:javascript :react :immutability]
                  :date "2015-06-19"
                  :urls {:video "https://vimeo.com/131643024"}}
                 {:title "ZombieCLJ: Live parprogrammering"
                  :blurb "Se Christian og Magnar parprogrammere på nettspill
                  med Clojure og ClojureScript.

                  Denne økten er for de som syns det er moro å se folk parprogrammere
                  mens de prater om hva de driver med. Det blir Clojure med hanskene
                  av, så man må tåle å ikke forstå alt. De som er helt nye til
                  funksjonell programmering kan muligens få eksplodert hodet.
                  Definitivt live koding."
                  :date "2014-09-10"
                  :tech [:clojure :clojurescript :react]
                  :urls {:video "http://vimeo.com/album/3031533/video/105777538"}}
                 {:title "Functional UI Programming"
                  :blurb "En introduksjon til React.js, med sammenligning av
                  populære MC*-rammeverk, samt et eksempel på bruk i form av
                  live-koding av minesveiper med ClojureScript og Om (en
                  React-wrapper)."
                  :date "2014-05-13"
                  :urls {:video "http://vimeo.com/user18356272/review/96639841/5556b7d3ab"}
                  :tech [:javascript :clojurescript :react :om]}
                 {:title "Zombie TDD: Live parprogrammering"
                  :blurb "Magnar og jeg setter oss ned med emacsen
                          og parprogrammerer foran publikum. Se
                          hvordan to typer som digger JavaScript
                          angriper problemer og gjør koden testbar."
                  :date "2012-09-12"
                  :tech [:javascript :tdd :testing]
                  :urls {:video "http://vimeo.com/49485653"}}
                 {:title "Pure JavaScript"
                  :blurb "Kast de objekt-orienterte krykkene og se denne
                  introduksjonen til funksjonell programmering med JavaScript"
                  :date "2012-06-11"
                  :urls {:video "http://vimeo.com/43808808"}
                  :tech [:javascript]
                  :direct-link? true}
                 {:title "Test-driven JavaScript Development"
                  :blurb "En praktisk gjennomgang av TDD i JavaScript.
                  Foredraget er en times live-kode-sesjon der jeg lager et
                  autocomplete/type-ahead søk, test-first."
                  :date "2011-06-11"
                  :urls {:video "http://ndc2011.macsimum.no/mp4/Day1%20Wednesday/Track5%201620-1720.mp4"}
                  :tech [:javascript :design :testing]}
                 {:title "JavaScript design and architecture"
                  :blurb "En liten inspirasjonsprat om å finne gode
                  abstraksjoner for frontend-programmering"
                  :date "2011-09-07"
                  :urls {:video "http://vimeo.com/28760470"
                         :slides "http://cjohansen.no/talks/2011/javazone-js-design"}
                  :tech [:javascript :design]}
                 {:title "Mythbusters: JavaScript Edition"
                  :blurb "Få programmeringsspråk er omgitt av så mye unøyaktig,
                          irrelevant og direkte feil informasjon og misforstått
                          'hjelpematriell'. I dette foredraget tar jeg for meg
                          noen av de vanligste misforståelsene, og prøver
                          gjennom eksempler å oppgradere publikums JavaScript-kunnskap."
                  :date "2011-09-07"
                  :urls {:video "http://vimeo.com/28723225"
                         :slides "http://cjohansen.no/talks/2011/mythbusters/#1"}
                  :tech [:javascript]}
                 ]

 :open-source-projects [{:url "https://github.com/cjohansen/Sinon.JS/"
                         :name "Sinon.JS"
                         :description "Et spy-/stub- og mocke-bibliotek for JavaScript."
                         :tech [:javascript :testing]}
                        {:url "https://github.com/busterjs/buster/"
                         :name "Buster.JS"
                         :description "Ambisiøst test-toolkit for JavaScript."
                         :tech [:javascript :testing]}
                        {:url "https://github.com/magnars/prone"
                         :name "Prone"
                         :description "Bedre feilmeldinger og debugging for Clojure webapps."
                         :tech [:clojure]}
                        {:url "https://github.com/cjohansen/asciidoclj"
                         :name "asciidoclj"
                         :description "Rendre asciidoc i Clojure."
                         :tech [:clojure]}
                        {:url "https://github.com/cjohansen/hiccup-find"
                         :name "hiccup-find"
                         :description "Test-helpere for hiccup."
                         :tech [:clojure]}
                        {:url "https://github.com/cjohansen/uinit"
                         :name "Uinit"
                         :description "Et inisialiserings-system for UI-komponenter."
                         :tech [:javascript :frontend]}
                        {:url "https://gitorious.org/gitorious/dolt"
                         :name "dolt"
                         :description "En git repository-browser for Ruby. Kjernen i [fil-browseren til Gitorious](https://gitorious.org/gitorious/libdolt/source/e71f17223b1e51d97bb716ed461f4296ce6f6c49:lib)."
                         :tech [:ruby :git]}
                        {:url "https://gitorious.org/gitorious/makeup"
                         :name "Makeup"
                         :description "Et Ruby-bibliotek for å rendre markdown med kodeblokker som syntax highlightes."
                         :tech [:ruby :markdown :pygments]}
                        {:url "https://github.com/cjohansen/use_case"
                         :name "UseCase"
                         :description "Strukturerte abstraksjoner for
                         ikke-triviell programflyt. Biblioteket ble opprinnelig
                         skrevet for å redusere kompleksiett i Ruby on
                         Rails-applikasjoner, men er ikke spesifikt avhengig av
                         Rails. Biblioteket reduserer koblinger mellom modeller
                         og kontrollere, og kan potensielt redusere
                         kompleksiteten i begge betraktelig."
                         :tech [:ruby :design :rails]}
                        {:url "https://github.com/culljs/culljs/"
                         :name "Cull.JS"
                         :description "Funksjonell verktøykasse for JavaScript."
                         :tech [:javascript :functional-programming]}
                        {:url "https://github.com/culljs/dome/"
                         :name "Dome"
                         :description "Funksjonell verktøykasse for DOM-manipulering."
                         :tech [:javascript :functional-programming :dom]}]
 :open-source-contributions [{:name "Gitorious" :url "http://gitorious.org/gitorious/", :tech [:ruby :git :rails :unix :ssh]}
                             {:name "Optimus" :url "https://github.com/magnars/optimus" :tech [:clojure :web-performance]}
                             {:name "karma-referee" :url "https://github.com/cjohansen/karma-referee" :tech [:javascript :testing]}
                             {:name "carousel-js" :url "https://github.com/cjohansen/carousel-js" :tech [:javascript]}]
 }
