{:id :christian
 :name ["Christian" "Johansen"]
 :title "Kodemaker"
 :start-date "2013-11-01"
 :description "Christian er en engasjert og allsidig programmerer. Gjennom sine
               kurs og foredrag har han gjort seg kjent som en kvass
               frontend-programmerer som tar design, testing og kvalitet
               seriøst, men tar med like stor glød fatt i prosjekter på
               server-siden. Christian har lang erfaring med både frontend og
               backend såvel som drift av Linux-servere. Han fungerer godt både
               alene og i team, og fungerer både som humørspreder og kritisk
               røst i samarbeid med andre."

 :phone-number "+47 934 17 480"
 :email-address "christian@kodemaker.no"

 :presence {:cv "christian"
            :twitter "cjno"
            :linkedin "/in/christianjohansen"
            :github "cjohansen"}

 :tech {:favorites-at-the-moment [:clojure :react :emacs]
        :want-to-learn-more [:clojurescript :ansible :docker]}

 :recommendations [{:title "React: Rethinking best-practices"
                    :link {:url "http://www.youtube.com/watch?v=x7cQ3mrcKaY"
                           :text "Se 'React: Rethinking best-practices' på youtube"}
                    :tech [:javascript :arkitektur :design]
                    :blurb "Pete Hunt, en av hodene bak JavaScript
                            UI-rammeverket til Facebook og Instagram, React,
                            forteller om tankene bak. Foredraget fra JSConf.eu
                            2013 utfordrer en del etablerte sannheter og
                            presenterer en måte å tenke på
                            web-frontend-programmering på som sammenfaller med
                            klassisk UI-programmering og som virkelig fokuserer
                            på 'separation of concerns'."}
                   {:title "The Future of JavaScript MVC Frameworks"
                    :link {:url "http://swannodette.github.io/2013/12/17/the-future-of-javascript-mvcs/"
                           :text "The Future of JavaScript MVC Frameworks"}
                    :tech [:clojurescript :arkitektur :design]
                    :blurb "David Nolen, Clojurescript-superstjerne, forteller
                            om sitt 'Om', Clojurescript-API over Facebook's
                            React. Om går enda noen skritt fra hva React tilbyr
                            ved å servere hele pakka med immutable
                            datastrukturer og et funksjonelt API. Artikkelen
                            viser samtidig hvordan dagens mest populære
                            MVC-rammeverk for JavaScript er langt fra å tilby en
                            tilfredstillende løsning på problemene vi som
                            frontendutviklere møter"}
                   {:title "Simple Made Easy"
                    :blurb "Det er ikke lett å lage noe enkelt. Rich
                            Hickey snakker om forskjellen på nærliggende
                            (subjektivt lett) og ukomplisert (objektivt
                            enkelt). Og implikasjonene for hvordan du bør
                            tenke rundt software."
                    :link {:url "http://www.infoq.com/presentations/Simple-Made-Easy"
                           :text "Se 'Simple Made Easy' på infoq.com"}
                    :tech [:design :arkitektur :clojure]}]
 :hobbies [{:title "Mat, brød og øl"
            :description "Som programmerer tar jeg stor glede i å skape. Som
                          aspirerende hobbykokk tas denne gleden ut i skaperverk
                          som i tillegg kan nytes med smaksløkene. Jeg tar like
                          stor glede i å bruke en hel lørdag på å lage Lasagne
                          fra bunnen som jeg gjør av en kveld med
                          surdeigsbrødbaking eller ølbrygging. Eller å pleie
                          chiliplantene jeg har rundt i huset på vinteren, og i
                          hagen på sommeren."
            :illustration "/illustrations/hobbies/salsa.jpg"}
           {:title "Musikk"
            :description "Jeg har spilt i band siden jeg gikk på ungdomsskolen,
                          og holder fortsatt gitarspillet ved like gjennom
                          bandet Execration. Jeg har alltid vært en sucker for
                          aggressiv musikk, fra mine jyplingår som fan av
                          Nirvana og skranglepunk til mine senere år som
                          metal-connoisseur av ypperste rang."
            :illustration "/illustrations/hobbies/execration.jpg"
            :url "http://execration.no/"}
           ]

 :blogs [{:id :cjohansenno
          :name "cjohansen.no"
          :url "http://cjohansen.no/arkiv"
          :theme "Teknisk frontend og Ruby-utvikling"
          :tech [:javascript :css :html :tdd :ruby :rails]}]

 :presentations [{:title "Pure JavaScript"
                  :blurb "Kast de objekt-orienterte krykkene og se denne
                  introduksjonen til funksjonell programmering med JavaScript"
                  :urls {:video "http://vimeo.com/43808808"}
                  :thumb "/thumbs/videos/functional-js.jpg"
                  :tech [:javascript]}
                 {:title "Test-driven JavaScript Development"
                  :blurb "En praktisk gjennomgang av TDD i JavaScript.
                  Foredraget er en times live-kode-sesjon der jeg lager et
                  autocomplete/type-ahead søk, test-first."
                  :urls {:video "http://ndc2011.macsimum.no/mp4/Day1%20Wednesday/Track5%201620-1720.mp4"}
                  :thumb "/thumbs/videos/js-tdd-ndc.jpg"
                  :tech [:javascript :tdd :testing]}
                 {:title "JavaScript design and architecture"
                  :blurb "En liten inspirasjonsprat om å finne gode
                  abstraksjoner for frontend-programmering"
                  :urls {:video "http://vimeo.com/28760470"
                         :slides "http://cjohansen.no/talks/2011/javazone-js-design"}
                  :thumb "/thumbs/videos/jz-js-design.jpg"
                  :tech [:javascript :design :arkitektur]}
                 {:title "Mythbusters: JavaScript Edition"
                  :blurb "Få programmeringsspråk er omgitt av så mye unøyaktig,
                          irrelevant og direkte feil informasjon og misforstått
                          'hjelpematriell'. I dette foredraget tar jeg for meg
                          noen av de vanligste misforståelsene, og prøver
                          gjennom eksempler å oppgradere publikums JavaScript-kunnskap."
                  :urls {:video "http://vimeo.com/28723225"
                         :slides "http://cjohansen.no/talks/2011/mythbusters/#1"}
                  :thumb "/thumbs/videos/mythbusters.jpg"
                  :tech [:javascript]}]
 }
