{:id :eivind
 :name ["Eivind" "Barstad" "Waaler"]
 :title "Kodemaker"
 :start-date "2015-09-01 00:09"
 :description "Eivind har mange års erfaring som utvikler og arkitekt på Java-baserte systemer.
 	      Han er pragmatisk og løsningsorientert, og elsker å finne gode løsninger på
	      kompliserte utfordringer. Eivind er flink til å se saker fra flere sider og kan
	      ofte komme opp med enklere alternativer. Han gir seg aldri før feilen er funnet!

	      Eivind har erfaring med både fag- og personalledelse i tillegg til utvikling.
	      Etter å ha jobbet i ca. 10 år tok han mastergrad ved UiO. Dette bidro til at han
	      fikk øynene opp for alternative JVM-språk og funksjonell programmering. I tillegg
	      skjønte han at det var programmering og systemutvikling som var viktigst, ikke
	      ledelse.

	      Eivind er aktiv i fagmiljøet og har blant annet holdt presentasjon på mer enn 10
	      forskjellige JavaZone-konferanser."

 :phone-number "+47 982 19 322"
 :email-address "eivind@kodemaker.no"

 :presence {:twitter "eivindw"
            :linkedin "/pub/eivind-barstad-waaler/0/410/b5a"
            :stackoverflow "/users/562492/eivindw"
            :github "eivindw"}

 :tech {:using-at-work [:ansible :docker :clojure :javascript :angularjs]
        :favorites-at-the-moment [:clojure :responsive-design :ansible :emacs]
        :want-to-learn-more [:react :haskell :consul]}

 :recommendations [{:title "Tittel"
                    :blurb "Beskrivelse."
                    :link {:url "http://url.com"
                           :text "Tekst.."}
                    :tech [:web-performance :frontend]}]

 :hobbies [{:title "Tittel"
            :description "Markdown beskrivelse"
            :illustration "/illustrations/hobbies/brettspill.jpg"}]

 :blog-posts [{:url "http://url.com"
               :title "Tittel"
               :blurb "Beskrivelse..."
               :tech [:javascript]}]

 :presentations [{:title "Tittel"
                  :blurb "Beskrivelse"
                  :date "2014-09-10"
                  :tech [:clojure :clojurescript :react]
                  :urls {:video "http://vimeo.com/album/3031533/video/105777538"}}]
}
