{:id :eivind
 :name ["Eivind" "Barstad" "Waaler"]
 :title "Kodemaker"
 :start-date "2015-09-01 00:09"
 :description "Eivind liker å programmere :)"

 :phone-number "+47 982 19 322"
 :email-address "eivind@kodemaker.no"

 :presence {:twitter "eivindw"
            :linkedin "/pub/eivind-barstad-waaler/0/410/b5a"
            :stackoverflow "/users/562492/eivindw"
            :github "eivindw"}

 :tech {:using-at-work [:ansible :docker :clojure :javascript :angularjs]
        :favorites-at-the-moment [:clojure :responsive-design :ansible :emacs]
        :want-to-learn-more [:react :haskell :consul]}

 :recommendations [{:title "Tittel"
                    :blurb "Beskrivelse."
                    :link {:url "http://url.com"
                           :text "Tekst.."}
                    :tech [:web-performance :frontend]}]

 :hobbies [{:title "Tittel"
            :description "Markdown beskrivelse"
            :illustration "/illustrations/hobbies/brettspill.jpg"}]

 :blog-posts [{:url "http://url.com"
               :title "Tittel"
               :blurb "Beskrivelse..."
               :tech [:javascript]}]

 :presentations [{:title "Tittel"
                  :blurb "Beskrivelse"
                  :date "2014-09-10"
                  :tech [:clojure :clojurescript :react]
                  :urls {:video "http://vimeo.com/album/3031533/video/105777538"}}]
}
