{:id :finn
 :name ["Finn" "J" "Johnsen"]
 :title "1337 h@X0r"
 :start-date "2008-10-01"
 :description "Finn er opptatt av open source og åpne standarder. Han trives med intrikate tekniske utfordringer, og er kjent for å levere høy kvalitet."
 :phone-number "+47 97 00 59 68"
 :presence {:cv "finn"
            :twitter "finnjohnsen"
            :github "finnjohnsen"
            :linkedin "/in/finnj"}
 :tech {:favorites-at-the-moment [:javascript :groovy]
       :want-to-learn-more [:clojure]}
 :email-address "finn@kodemaker.no"
 :hobbies [{:title "Foto"
            :description "Alle liker å se på bilder. Et speilrefleks lar seg stort sett kombinere med alle andre aktiviteter du finner på - så sitter du igjen med minner du stolt kan henge på veggen i A3 -format."
            :illustration "/illustrations/hobbies/finn-flue.jpg"}
	    {:title "Reise"
	    :description "Verden er stor og har mye å vise deg - pakk kofferten og lag deg minner (og fotografier) du tar med deg resten av livet."
	    :illustration "/illustrations/hobbies/finn-newyork.jpg"
	    }
]
 }
