{:id :finn
 :first-name "Finn"
 :middle-name "J"
 :last-name "Johnsen"
 :title "1337 h@X0r"
 :order 13
 :description "Finn er opptatt av open source og åpne standarder. Han trives med intrikate tekniske utfordringer, og er kjent for å levere høy kvalitet."}
