{:id :fredrik
 :first-name "Fredrik"
 :last-name "Aubert"
 :title "Partner"
 :order 15
 :description "Fredrik har 10 års erfaring som systemuvikler. Han har jobbet mye med moderne frontendteknologi, og er en tungvekter på både webapplikasjoner og rike klienter. Han ivrer genrelt for lettvektsarkitekturer og smidige utviklingsmetodikk."}
