{:id :frode
 :profile-active? true
 :name ["Frode" "Nerbråten"]
 :title "Systemutvikler"
 :start-date "2018-10-01 00:00"
 :description "Frode er en allsidig og engasjert utvikler med mange års erfaring fra forretningskritiske systemer med mange brukere, store datamengder og strenge krav til sikkerhet og tilgjengelighet.

Han liker å jobbe med alle deler av applikasjonene fra frontend til backend, databaser, infrastruktur og drift.

Han er interessert i funksjonell programmering og distribuerte systemer og er opptatt av å lage enkle, robuste og feiltolerante systemer."

 :cv/description "Frode er en allsidig og engasjert utvikler med mange års erfaring fra forretningskritiske systemer med mange brukere, store datamengder og strenge krav til sikkerhet og tilgjengelighet.

Han liker å jobbe med alle deler av applikasjonene fra frontend til backend, databaser, infrastruktur og drift. De siste årene har han jobbet mye med frontend, api-design, mikrotjenester og devops.

Frode liker å lære nye ting og er god til å sette seg inn i komplekse domener. Han er interessert i funksjonell programmering og distribuerte systemer og er opptatt av å lage enkle, robuste og feiltolerante systemer.

Frode er først og fremst en utvikler og arkitekt, men har også kombinert dette med roller som fagleder og teamleder."

 :phone-number "+47 982 19 314"
 :email-address "frode@kodemaker.no"

 :presence {:cv "frode"
            :twitter "froden"
            :linkedin "/in/nerbraten"
            :github "froden"}

 :tech {:using-at-work [:kotlin :typescript :postgresql :docker]
        :favorites-at-the-moment [:elm :kotlin :haskell]
        :want-to-learn-more [:elm :kotlin :clojure]}

 :innate-skills [:terminal :intellij :osx :haskell :vim :lean :scrum :kanban :tdd :browser-devtools :windows]

 :recommendations [{:title "Distributed systems for fun and profit"
                    :blurb "En veldig bra innføring i grunnleggende teori og prinsipper bak distribuerte systemer. Den tar for seg på en lettlest måte hvordan fysisk avstand og samtidighet påvirker alle distribuerte systemer (i praksis alle kommersielle it-systemer), hvorfor det er viktig å ta hensyn til dette når vi utvikler systemer og hvordan dette påvirker designet av kjente systemer som Amazon Dynamo, Google BigTable og Hadoop."
                    :link {:url "http://book.mixu.net/distsys/single-page.html"
                           :text "Til boken"}
                    :tech [:distributed-systems]}
                   {:title "The Log: What every software engineer should know about real-time data's unifying abstraction"
                    :blurb "Meget inspirerende bloggpost av Jay Kreps, mannen bak Kafka hos LinkedIn, om hvordan en replikert, append-only log kan brukes til integrasjon og asynkron meldingsutveksling med høy throughput og lav latency."
                    :link {:url "https://engineering.linkedin.com/distributed-systems/log-what-every-software-engineer-should-know-about-real-time-datas-unifying"
                           :text "Les artikkel"}
                    :tech [:kafka :performance]}
       {:title "The Phoenix Project"
        :blurb "En fornøyelig bok om en mellomleder i IT-avdelingen i en stor bedrift som får i oppgave å redde selskapets massive forsinkede IT-prosjekt som truer hele selskapets fremtid. Han får hjelp av et mystisk styremedlem med en teori om at IT har mer til felles med produksjon av biler enn man skulle tro. Meget underholdene bok om prinsippene fra lean manufacturing og starten på devopsbevegelsen."
        :link {:url "https://itrevolution.com/book/the-phoenix-project/"
             :text "Til boken"}
        :tech [:lean :devops]}
       {:title "Learn you a Haskell for great good"
        :blurb "En lettbeint og underholdene introduksjon til Haskell. Anbefales til alle som vil lære Haskell. Les gjerne denne før du går over til mer omfattende bøker."
        :link {:url "http://learnyouahaskell.com/"
             :text "Til boken"}
        :tech [:haskell :functional-programming]}]

;; :hobbies [{:title "Foto"
;;            :description "TLDR"
;;            :illustration "/illustrations/hobbies/frode_foto.jpg"}]

 :presentations [{:title "Hypermediadrevet API i praksis"
                  :event "JavaZone"
                  :blurb "Presentasjon fra JavaZone 2012 om praktisk bruk av hypermedia og lenker i REST-apier"
                  :date "2012-09-12"
                  :tech [:rest :hypermedia :api]
                  :urls {:video "https://vimeo.com/49392437"}}
                 ]

 :appearances [
               {:title "3-dagers Scala-kurs på NTNU"
                :date "2013-11-20"
                :event "NTNU"
                :tech [:scala :scalatra :mongodb :angularjs]}
               {:title "Monader du allerede kjenner"
                :event "Fagdag"
                :tech [:scala :functional-programming]
                :date "2013-11-01"}
               {:title "Intro til Scala"
                :event "Chalmers i Gøteborg"
                :tech [:scala]
                :date "2013-09-01"}
               {:title "Ruby on Rails kurs på NTNU"
                :event "NTNU"
                :tech [:ruby :rails]
                :date "2008-11-01"}
               {:title "Ruby on Rails kurs på UiO"
                :event "UiO"
                :tech [:ruby :rails]
                :date "2008-09-01"}
               {:title "Intro til Ruby on Rails"
                :event "NTNU"
                :tech [:ruby :rails]
                :date "2007-05-01"}
                ]

 :endorsements [{:author "Soheil Dabestani"
                 :title  "CEO Diffia"
                 :quote  "We had the pleasure to have Frode as part of the Diffia team for a while in 2018/2019. He is an excellent developer - knowledgeable, up-to-date, curious, structured, and problem solver with excellent communication skills. He impressed us with how fast he hit the ground running and was up to speed with the project within days. The team loved working with him both on a personal and a professional level. Any devteam would be lucky to have him!"}

                {:author "Martin Koksrud Bekkelund"
                 :title  "Direktør for produkt- og forretningsutvikling, Posten"
                 :quote  "Jeg har hatt gleden av å arbeide tett med Frode i mer enn seks år. Frode har alle de gode egenskapene man ser etter i en kollega og dyktig utvikler. Foruten at han har svært høy faglig kompetanse, har han også god forretningsforståelse, noe som gjør det naturlig å ta med Frode i funksjonelle diskusjoner, både internt og med kunder. Frode er også en svært sympatisk person som alltid er blid og som alle liker."}

                {:author "Tor Kleiberg"
                 :title  "Teknologidirektør Digipost, Posten"
                 :quote  "Frode jobbet for og med meg i teknologiavdelingen i Digipost i flere år. Jeg vil alltid huske ham som en bunnsolid og kunnskapsrik teknolog og utvikler med løsningsteft og evne til å finne og realisere gode løsninger på alle mulige utfordringer. Frode er en kjernekar og bidro med sine verdier og smittende entusiasme i stor grad til å skape en sterk, samarbeidsorientert og kvalitetsbevist arbeidskultur på prosjektet. Jeg kan uten tvil anbefale Frode på det varmeste."}]

 :endorsement-highlight {:author "Tor Kleiberg"
                         :title "Teknologidirektør Digipost, Posten"
                         :quote "Frode er en bunnsolid og kunnskapsrik teknolog og utvikler med løsningsteft og evne til å finne og realisere gode løsninger på alle mulige utfordringer. Han er en kjernekar og bidro med sine verdier og smittende entusiasme i stor grad til å skape en sterk, samarbeidsorientert og kvalitetsbevist arbeidskultur på prosjektet."}

 :project-highlights [{:blurb "Utvikling av system for sikker digital post. Domenemodellering, applikasjonsarkitektur, api-design, frontend og infrastruktur"
                       :customer "Posten Norge AS - Digipost"}
                      {:blurb "Utvikling av sentral integrasjonsplattform og mellomvare for billettbestillinger og søk"
                       :customer "Norwegian"}
                      {:blurb "Utvikling av appen Nimble. Et mobilt samhandlingsverktøy for helsepersonell på sykehus"
                       :customer "Diffia"}]

 :projects [{:customer "Bring"
             :employer :kodemaker
             :start "2019-02"
             :summary "Glow - system for budleveranser med sanntids pakkesporing."
             :description "Utvikling av system for budleveranser som håndterer alt
                fra mottak av ordre, ruteoptimalisering for sjåfører, sporing i
                sanntid, og integrasjoner med mange av Bring sine systemer. Frode har jobbet med frontend, backend og drift"
             :tech [:azure :typescript :react :redux :kotlin :gradle
                    :postgresql :event-sourcing :cqrs :flyway :javascript :yarn]}
            {:customer "Diffia"
             :years [2018]
             :employer :kodemaker
             :summary "Nimble - samhandlingsverktøy for helsepersonell på sykehus"
             :description "Utvikling av appen Nimble som brukes av helsepersonell på sykehus.
                Med den kan leger og sykepleiere registrere pasientinformasjon, legge inn prøveresultater og kommunisere seg i mellom direkte fra sengeposten.
                Appen integrerer med andre sentrale sykehussystemer som elektronisk pasientjournal. Frode har jobbet med frontend, backend og infrastruktur."
             :tech [:java :netty :jdbi :postgresql :flyway :javascript :react :redux :material-ui :swift :ios :xcode :jira :npm]}
            {:customer "Posten Norge AS - Digipost"
             :years [2017 2018]
             :employer :bekk
             :summary "Videreutvikling og teamledelse på Digipost"
             :description "Videreutvikling av systemer på Digipost. Frode har i perioden vært teamleder for det største utviklingsteamet på Digipost."
             :tech [:java :jetty :jersey :spring :hibernate :dropwizard :postgresql :ansible :terraform
                    :cloudstack :prometheus :kibana :elasticsearch :javascript :react :nodejs :docker
                    :haproxy :linux :coreos :hazelcast :git :go
                    :drone :bash :npm :nexus :github :trello :slack]}
            {:customer "Posten Norge AS - Digipost"
             :employer :bekk
             :summary "Digipost Faktura"
             :years [2015 2016]
             :description "Utvikling av løsning for fakturabetaling i Digipost. Løsningen gjør det mulig å betale fakturaer mottatt i Digipost direkte i nettbanken. Frode hadde en sentral rolle i prosjektet fra planlegging til implementasjon. Prosjektet bestod i to hoveddeler: Del 1 involverte integrasjon med bank-APIer for å kunne betale fra Digipost. Del 2 bestod i å utvikle API-er som bankene kan bruke til å hente fakturainformasjon fra Digipost for betaling i nettbanken."
             :tech [:java :jetty :jersey :spring :hibernate :postgresql :springws]}
            {:customer "Posten Norge AS - Digipost"
             :employer :bekk
             :summary "Volum og ytelsestestrigg"
             :years [2015]
             :description "Utvikling av system for kontinuerlige volum og lasttester for både batch-api og rest-apier på Digipost."
             :tech [:java :dropwizard-metrics :scala :gatling]}
            {:customer "Posten Norge AS - Digipost"
             :employer :bekk
             :summary "Digipost Labs - system for brukerdialog, blogg og idébank"
             :years [2014]
             :description "System for brukerdialog, blogg og idébank for Digipost. https://labs.digipost.no.
                          Frode hadde hovedansvar for backendutvikling provisjonering av infrastruktur og drift.
                          Han bidro også med frontendutvikling senere i prosjektet."
             :tech [:scala :scalatra :mongodb :javascript :jquery]}
            {:customer "Statens Vegvesen"
             :years [2013]
             :employer :bekk
             :summary "POC Datainnsamling til Nasjonal Veidatabank"
             :description "System for innsending, validering og lagring av veidata til Nasjonal Veidatabank.
                          POC med fokus på ytelse, skalerbarhet og modularisering.
                          Frode jobbet med AKKA-basert backend og ytelsestesting."
             :tech [:java :akka :jetty :elasticsearch :gatling :javascript]}
            {:customer "Posten Norge AS - Digipost"
             :years [2010 2011 2012 2013]
             :employer :bekk
             :summary "Digipost - Sikker digital post for Norges innbyggere"
             :description "Frode har vært med å utvikle Digipost helt fra starten via pilot til første release
                          og til Digipost ble den foretrukne leverandøren for sikker digital post i Norge med 1.8 millioner brukere.
                          Han har jobbet med alle de sentrale komponentene i Digipost inkludert rest-api-er, batch-api,
                          integrasjon med andre systemer, databaser, infrastruktur, overvåkning, skytjenester, frontend og ytelsestesting.
                          Frode har opparbeidet seg stor tillitt hos kunden og blitt en av de mest sentrale utviklerne på Digipost.
                          Hans roller på prosjektet inkludere utvikler, arkitekt og teamleder."
             :tech [:java :jetty :jersey :spring :hibernate :dropwizard :oracle :postgresql :ansible :terraform
                    :cloudstack :kibana :elasticsearch :scala :javascript :python
                    :apache :haproxy :bigip :linux :coreos :gatling :hazelcast :jaxb :jackson :git
                    :jenkins :drone :bash :jquery :npm :nexus :github :trello :slack]}
            {:customer "Norwegian Air Shuttle"
             :years [2005 2006 2007 2008 2009 2010]
             :employer :bekk
             :summary "Integrasjonsplatform/mellomvare for billettbestilling"
             :description "Frode jobbet som systemutvikler på foretningskritisk integrasjonsbuss som håndterer mer enn 90% av Norwegians billettbestillinger.
                          Integrasjonsbussen er utviklet fra grunnen inhouse hos Norwegian og integrerer en stor del av de eksterne og interne systemene med høye sikkerhetskrav.
                          Disse integrasjonspunktene inkluderer bl.a. databaser, Amadeus GDS, SAP, kredittkortvalidering, BizTalk, økonomisystemer, diverse flyplassystemer,
                          norwegian.no, BankNorwegian og CallNorwegian. Frode var en del av et lite team som jobbet tett med flere avdelinger hos kunden og
                          samarbeidet med team fra andre konsulentselskaper. Teamet hadde ansvar for utvikling, testing, deployment og overvåkning i produksjon."
             :tech [:java :jboss :apache-axis :xml :jaxb :jbossws :cxf :aop :linux :junit :testng :maven :hudson :git :svn :cvs :ant :cruisecontrol :eclipse]}
             ]

 :cv {}

 :education-summary "Sivilingeniør/Master i Kommunikasjonsteknologi fra NTNU"
 :experience-since 2005
 :qualifications ["Erfaren, engasjert og allsidig systemutvikler og arkitekt"
                  "Full-stack"
                  "Erfaring med devops, overvåkning og oppsett av infrastruktur"
                  "Interessert i funksjonell programmering, distribuerte systemer og åpen kildekode"
                  "Erfaring med kontinuerlige leveranser og autonome team"
                  ]
 :certifications [{:name "Elastic Leadership. 2-dagers kurs med Roy Osherove", :year 2018}
                  {:name "Distributed Systems. 2-dagers kurs med Kyle Kingsbury", :year 2016}
                  {:name "Fagleder distribuerte systemer", :year 2016}
                  {:name "Design and Implementation of Microservices: kurs med Sam Newman", :year 2015}
                  {:name "Fagleder Scala og JVM", :year 2013}
                  {:name "Bekk Managerprogram", :year 2013}
                  {:name "Sertifisering: Functional Programming Principles in Scala", :year 2012}
                  {:name "Certified Scrum Master", :year 2008}
                  {:name "Sun Certified Enterprise Architect, del 1", :year 2007}
                  {:name "JBoss Advanced J2EE kurs", :year 2006}
                  {:name "RHD261 - JBoss for Advanced J2EE Developers / Certified JBoss Developer", :year 2006}
                  {:name "Sun Certified Java Programmer for Java 1.5", :year 2005}
                  {:name "Notes Domino 6/6.5 Application Developer Foundation Skills", :year 2005}
                  ]
 :relationship-status "Gift, 3 barn"
 :born 1980
 :education [{:institution "NTNU"
              :years [2000 2001 2002 2003 2004 2005]
              :subject "Sivilingeniør/Master i Kommunikasjonsteknologi"}
              ]
 :open-source-contributions [
                 {:name "Dropwizard" :url "https://github.com/dropwizard/dropwizard/pull/948" :tech [:java :dropwizard] }
                 {:name "Gatling" :url "https://github.com/gatling/gatling/pull/1564" :tech [:scala :gatling] }
                 {:name "Jetty" :url "https://org.eclipse.jetty" :tech [:java :jetty] }
                 ]

;:side-projects
;                [
;                 {:title        "Digipostarkiv"
;                  :description  "En applikasjon som synkroniserer innholdet i en lokale mappe på din maskin med din Digipost-konto (ala Dropbox).
;                                Består av en backend skrevet i Haskell og et native OSX-gui skrevet i Swift som linkes sammen til én binary."
;                  :illustration "/illustrations/side-projects/weathergraph.png"
;                  :link         {:url "https://github.com/froden/digipostarkiv" :text "Kode på GitHub"}
;                  :tech         [ :haskell :swift :objective-c :oauth]
;                  }
;                 ]
 }
