{:id :kolbjorn
 :name ["Kolbjørn" "Jetne"]
 :title "Daglig leder"
 :start-date "2001-04-01 00:01"
 :experience-since 1998
 :administration? true
 :description "Jeg synes det er moro å være leder i Kodemaker.  Lang erfaring med å utfordre etablerte sannheter.  Uredd og utforskende.  Såre fornøyd med at Kodemaker nå er den aller kuleste arbeidsplassen for dyktige teknologer.  Motiverer meg veldig å jobbe med motiverte kodemakere, og vi har det mye moro sammen.  Vi skal alltid utvikle oss videre, og to hestehoder foran er helt OK!"

 :phone-number "+47 957 45 096"
 :email-address "kolbjorn@kodemaker.no"

 :presence {
            :twitter "kjetne"
            :linkedin "/in/kolbjorn/"
            }
            


            
:tech {:favorites-at-the-moment [:teamsalg :nettverksbygging :historie]
        :want-to-learn-more [:markedsforing :innovasjonsmiljoer]}
        
:recommendations [{:title "Good to Great"
                    :link {:url "http://en.wikipedia.org/wiki/Good_to_Great"
                           :text "Mer om boka"}
                    :tech [:business]
                    :blurb "En bok som fikk fart på mine tanker om at Kodemaker kunne bli verdens beste konsulentfirma.  Mange interessante observasjoner fra amerikanske bedrifters utvikling.  Hva kjennetegner de store suksessene? Spennende lesing!"}]

                            
            
:hobbies [{:title "Golf"
            :description "Herlig å tilbringe en dag på golfbanen i konkurranse med dårlige venner. Jeg skal vinne. Merkelig hvor ofte de forløsende tankene som løser alle verdensproblemer kommer når skuldrene senkes.  Forretningsmøter på golfbanen, enda mer genialt ;)"
            :illustration "/illustrations/hobbies/golf-kolbjorn.jpg"}]
            
:endorsements [{
                 :author "Tonje Magnussøn"
                 :title "Chief HR Officer at Schibsted Payment AS"
                 :photo "/thumbs/faces/tonje-magnusson.jpg"
                 :quote "Jeg opplever Kolbjørn som ryddig og god på å skape relasjoner med samarbeidspartnere. Kodemaker som selskap leverer dyktige konsulenter, som passer godt inn i miljøene de jobber i. Kolbjørn er flink til å følge opp, og setter seg raskt inn i utfordringene kundene har."}
                 {
                 :author "Mette Rosenvinge Kolderup"
                 :title "Daglig Leder og partner at Merge-IT AS"
                 :photo "/thumbs/faces/mette-rosenvinge-kolderup.jpg"
                 :quote "Kolbjørn er en av de mest profesjonelle jeg kjenner i IT bransjen i Oslo-regionen. Med sin sindige, rolige og behagelige væremåte, leder han grupper, konstellasjoner (tidligere leder, nå Styreleder, av Overhuset) og sitt selskap (Kodemaker) med stødig hånd. Han har et øye for detaljer, men er spesielt flink til å se de store linjene i det han/vi holder på med. Som samarbeidspartner er han en rettferdig, direkte og aller viktigst: en ærlig sparringspartner, noe som er gjennomgående i alt hva han gjør. 
                 Kolbjørn anbefales. Ganske enkelt ;-)"}
                 {
                 :author "Rune Lien"
                 :title "Uber coder at Agens as (tidl. Kodemaker)"
                 :photo "/thumbs/faces/rune-lien.jpg"
                 :quote "Jeg har hatt gleden av å jobbe i samme firma som Kolbjørn i 3 år. Han er en bunnsolid og veldig engasjert leder. Gjennom sitt engasjement og tiltro til sine ansatte har han vært med å bidra til å sette Kodemaker på kartet. Han er direkte og ærlig, legger sjeldent noe i mellom. Du får alltid gode og ærlige svar når du spør Kolbjørn om råd. Noe som i hvertfall hos meg skaper stor tillit."}]
                         
                         }
