{:id :kristoffer
 :name ["Kristoffer" "Moe"]
 :title "Partner"
 :start-date "2007-04-01 00:05"
 :description "Kristoffer har vært i konsulentbransjen lenge, og bidrar gjerne på alle lag i systemutvikling, fra database opp til brukergrensesnitt, selv om hovedfokus er på java. Vært innom mange miljøer, og trives i åpent landskap."

 :phone-number ""
 :email-address ""

 :presence {}}
