{:id :kristian
 :name ["Kristian" "Frøhlich Hansen"]
 :title "Kodemester"
 :start-date "2010-02-01"
 :description "Kristian er systemutvikler og arkitekt med bred erfaring på tvers av flere bransjer. Dette inkluderer prosjekter innen bank & finans, telekom og digital medieovervåkning. Kristian har en pragmatisk og smidig tilnærming til utfordringene han møter og trives godt i prosjekter som styres etter agile prinsipper."

 :phone-number ""
 :email-address ""

 :presence {}}
