{:id :kristoffer
 :name ["Kristoffer" "Moe"]
 :title "Partner"
 :start-date "2003-09-01 09:00"
 :description "Kristoffer har vært i konsulentbransjen lenge, og bidrar gjerne på alle lag i systemutvikling, fra database opp
 til brukergrensesnitt, selv om hovedfokus er på Java. Han har alltid kundens behov i tankene, er analytisk men også pragmatisk
  innstilt og holder kjepphestene innelåst i stallen og verktøykassen fri for gyldne hammere."

 :phone-number "922 36 798"
 :email-address "kristoffer@kodemaker.no"

 :presence {:cv "kristoffer"
            :linkedin "/in/kristoffermoe"}

 :projects [{:id :finn-surf-sammen
             :customer "FINN Surf Sammen"
             :description "Jobbet hovedsaklig med javalaget, men også i databaselaget."
             :years [2008 2009]
             :tech [:javascript :css :html :ajax :jquery :jsp :java
                    :cvs :jira :confluence]}
             {:id :sparebank1-sso
             :customer "Sparebank1 Gruppen"
             :description "Implementerte felles innlogginsløsning og sikkerhetslag basert på OpenAM."
             :years [2011 2012]
             :tech [:javascript :css :html :ajax :jquery :jsf :java
             :git :jira :confluence :bankid]}]

 :endorsements [{:project :finn-surf-sammen
                 :author "Bjørn Henrik Vangstein"
                 :title "Scrum Master"
                 :photo "/thumbs/faces/bjorn-henrik-vangstein.jpg"
                 :quote "(...) Kristoffer er en svært selvstendig og uredd utvikler, og setter seg meget raskt inn i nye problemstillinger og teknologier.
                  Han er meget effektiv og disiplinert, med sans for detaljer og tar like gjerne enkle som komplekse oppgaver.
                  Kristoffers sans for humor kommer godt med i ethvert utviklingsteam, og han glir lett inn i miljøet.
                  Det var et tap for FINN at vi ikke lenger kunne ha Kristoffer med oss videre."
             }
             {:project :sparebank1-sso
              :author "Johan Gedde-Dahl"
              :title "Virksomhetsarkitekt"
              :quote "Kristoffer ble kastet ut på dypt vann med en minimal innføring - og leverte varene med begrenset oppfølging."
             }
             ]

 }
