{:id :magnus
 :name ["Magnus" "Rundberget"]
 :title "Styreleder"
 :start-date "2007-04-01 00:07"
 :description "Magnus er en arkitekttype med lang erfaring fra en rekke teknologitunge prosjekter. Magnus har evnen til å se de store linjene og sørge for at prosjekter holder seg innenfor fornuftige teknologiske rammer."

 :phone-number ""
 :email-address ""

 :presence {}}
