{:id :magnus
 :name ["Magnus" "Rundberget"]
 :title "Kodeentusiast"
 :start-date "2007-04-01 00:07"
 :description "Magnus har lang erfaring fra store og
               små prosjekter. Han har jobbet med en rekke teknologier og hatt mange forskjellige roller.
               Magnus stortrives i prosjekter der han
               får være med å foredle kunders ønsker og drømmer i kode. Han er dyktig i team og jobber aktivt for at teamet som helhet skal lykkes. Magnus liker både frontend og backend utvikling. I tillegg har han en forkjærlighet for automatisering og Continuous Delivery. "

 :phone-number "+47 928 83 365"
 :email-address "magnus@kodemaker.no"

 :presence {:cv "magnus"
            :twitter "mrundberget"
            :github "rundis"
            :linkedin "/in/mrundberget"}

 :tech {:using-at-work [:groovy :grails :oracle]
        :favorites-at-the-moment [:elm :haskell :clojure :clojurescript :figwheel]
        :want-to-learn-more [:elm :reactive-programming :haskell]}

 :recommendations [{:title "Inventing on principle"
                    :link {:url "https://www.youtube.com/watch?v=PUv66718DII"
                           :text "Se foredraget"}
                    :tech [:tooling :design :kreativitet :observasjon]
                    :blurb "Fantastisk foredrag av Brett Victor. Programmering er et kreativt yrke. Det er antageligvis mye lettere å være kreativ dersom man kan ta, se, observere og endre helt fritt og dynamisk på et kjørende program.
                            Hadde det ikke vært digg å kunne spole tilbake det du nettopp gjorde i appen din, endre noen parametere og så kjøre på nytt. Kanskje tom for å sammenligne.
                            Dette foredraget var bl.a med på å inspirere mye av tankene rundt verktøy som Light Table og programmeringspråket Elm"}
                   {:title "Let's be Mainstream"
                    :link {:url "https://www.youtube.com/watch?v=oYk8CKH7OhE"
                           :text "Se foredraget"}
                    :tech [:elm :functional-programming]
                    :blurb "Evan Czaplicki (forfatter av Elm) forsøker å få med hardcore funksjonelle programmerere (med en hang for typer) til å begynne å kommunisere
                            med utenforstående på mer forståelige termer. Etter å ha sett denne fikk jeg endelig lyst til å kikke på et typet funksjonelt språk."}
                   {:title "Test-driven JavaScript Development"
                    :link {:url "http://ndc2011.macsimum.no/mp4/Day1%20Wednesday/Track5%201620-1720.mp4"
                        :text "Se foredraget"}
                    :tech [:javascript :testing :design]
                    :blurb "Dette foredraget av [Christian Johansen](/christian/)
                            var en grunnene til at jeg i stor grad kastet jQuery-scripting på båten. En inspirerende og lærerik testdrevet sesjon hvor man lager en autocomplete-komponent." }]
 :hobbies [{:title "Fluefiske"
            :description "Du går langs en deilig elv omringet av
             flott norsk natur. I sidesynet ser du plutselig en liten uregelmessighet i vannoverflaten. Du stopper for å kikke. Etter en liten stund ser du en ørret som forsiktig stiger til overflaten og slurper i seg en liten døgnflue. Pulsen stiger, du skifter flue og navigerer deg forsiktig i posisjon for å kaste ..."
             :illustration "/illustrations/hobbies/fluefiske-magnus.jpg"
            :url "http://rundis.smugmug.com/Fisketurer"}]

 :side-projects [{:title "Light Table"
                  :description "Etter å ha vært en ivrig bruker av Light Table i 1,5 år, bestemte jeg meg sommeren 2015
                                til å ta steget opp å joine opensource teamet til Light Table for å forsøke
                                å gjenopplive prosjektet. Det er nok å ta tak i for å si det sånn !"
                  :illustration "/photos/tech/lighttable.jpg"
                  :link {:url "http://github.com/LightTable/LightTable" :text "Light Table på Github"}
                  :tech [:clojure :clojurescript :nodejs :electron :javascript]}]

 :presentations [{:title "Managing and diagramming elm packages with d3 in Light Table"
                  :blurb "Screencast hvor jeg demonstrerer avhengighetshåndtering og viser avhengighetsgraf (laget med d3) for min
                          Elm Light Table plugin."
                  :tech [:elm :clojurescript :lighttable :d3]
                  :urls {:video "https://youtu.be/Okk-YjEeUgI"
                         :source "https://github.com/rundis/elm-light"}
                  :date "2016-01-01"}
                 {:title "Elm plugin for Light Table"
                  :blurb "Screencast som demonstrerer første versjon av min elm plugin for Light Table"
                  :tech [:elm :clojurescript :lighttable ]
                  :urls {:video "https://youtu.be/B_eZw_GcM-4"
                         :source "https://github.com/rundis/elm-light"}
                  :date "2015-10-29"}
                 {:title "A pinch of Clojure love to Light Table"
                  :blurb "Screencast som demonstrerer kule features i min Light Table refactoring plugin"
                  :tech [:clojurescript :lighttable :clojure]
                  :urls {:video "https://youtu.be/1yk8nsjJxb0"
                         :source "https://github.com/rundis/clj-light-refactor"}
                  :date "2015-04-14"}
                 {:title "Clojure refactoring in Light Table"
                  :blurb "Screencast som demonstrerer litt av min Light Table refactoring plugin"
                  :tech [:clojurescript :lighttable :clojure]
                  :urls {:video "https://www.youtube.com/watch?v=xlGpRTVIkYQ"
                         :source "https://github.com/rundis/clj-light-refactor"}
                  :date "2015-03-07"}
                 {:title "The Groovy Light Table Plugin"
                  :blurb "Screencast om bruk av Groovy og Gradle i Light Table"
                  :tech [:clojurescript :lighttable :groovy :gradle]
                  :urls {:video "http://www.youtube.com/watch?v=5ji8RR2A4gQ"}
                  :date "2014-05-18"}
                 {:title "Creating and Using Snippets in Light Table"
                  :blurb "Screencast som viser hvordan lage og bruke snippets i LightTable med lt-snippets"
                  :tech [:javascript :lighttable]
                  :urls {:video "http://www.youtube.com/watch?v=I6iuXOw3HDQ"}
                  :date "2014-05-06"}
                 {:title "InstaBuster Part 2: Powerful JavaScript testing using Light Table and Buster.JS"
                  :blurb "Screencast med demo av dashboard og autotest features for LightTable InstaBuster"
                  :tech [:javascript :testing :lighttable]
                  :urls {:video "https://www.youtube.com/watch?v=jYDiAVbPL8I&list=UUIpfu-L0KFtMlju3LgjPeSg"}
                  :date "2014-04-21"}
                 {:title "InstaBuster: JavaScript testing with LightTable & Buster.JS"
                  :blurb "Screencast med en kort introduksjon til LightTable InstaBuster"
                  :tech [:javascript :testing :lighttable]
                  :urls {:video "http://www.youtube.com/watch?v=WKHWazblpbc"}
                  :date "2014-03-17"}
                 {:title "Gradle - Det er faktisk ditt bygg"
                  :blurb "Mange klamrer seg fortsatt til
                          illusjonen at alle bygg er (nesten) helt like. Det stemmer kanskje i knøtteligaen, men i litt større organisasjoner finner man alltid spesielle krav til bygge/leveranseprosessene. Det virker logisk å velge et byggeverktøy som er svært fleksibelt og samtidig er basert på konvensjoner. Det verktøyet heter Gradle."
                  :tech [:gradle :groovy]
                  :urls {:video "http://vimeo.com/49375218"}
                  :date "2012-09-13"}]


 :blog-posts [{:url "http://rundis.github.io/blog/2015/haskell_elm_spa_part1.html"
               :title "Typed up CRUD SPA with Haskell and Elm - Part 1: Spike time"
               :blurb "Blogserie som omhandler min ferd for å lære meg statiske sterkt typed funksjonelle språk. I serien tar
                       jeg for meg utvikling av en CRUD applikasjon med Elm til frontend og Haskell for backend. Førte episode
                       tar for seg en spike for å få en helt enkel basis på plass."
               :tech [:elm :haskell]}
              {:url "http://rundis.github.io/blog/2015/elm_sweeper.html"
               :title "Minesweeper - a brief journey from JavaScript/React to Elm"
               :blurb "Jeg tar utgangspunkt i en minesveiper implementasjon fra [Christian Johansen](/christian/) i JavaScript/React og hviser hvordan man kan implementere det samme spillet i Elm.
                       Bloggposten sammenligner flere implementasjonsdetajer og reflekterer kort om statisk vs. dynamisk typing."
               :tech [:elm :javascript :react]}
              {:url "http://rundis.github.io/blog/2015/clojurescript_performance_tuning.html"
               :title "ClojureScript - Performance tuning rewrite-cljs"
               :blurb "Rewrite-cljs er mitt bibliotek for å traversere og omskrive clojure/clojurescript kode. I denne blogposten
                       forteller jeg litt om hvordan jeg tunet ytelsen bl.a ved å komme nærmere jernet (JavaScript)"
               :tech [:clojure :clojurescript :javascript]}
              {:url "http://rundis.github.io/blog/2015/parembrace.html"
               :title "Showcasing rewrite-cljs - Parembrace for Light Table"
               :blurb "En liten fortelling om stegene jeg gikk igjennom for å lage en skikkelig paredit plugin for Clojure/ClojureScript i Light Table.
                       Et nytt ClojureScript bibliotek ble unnfanget i processen."
               :tech [:clojure :clojurescript]}
              {:url "http://rundis.github.io/blog/2015/lt_react.html"
               :title "Implementing a Clojure ns-browser in Light Table with React"
               :blurb "Buzzword compliant post om hvordan man elegant kan bruke React.JS for implementering av view-logikk i Light Table.
                       Posten går også i dybden på den grunnleggende arkiteturen i Light Table"
               :tech [:clojure :clojurescript]}
              {:url "http://rundis.github.io/blog/2015/clojure_dates.html"
               :title "Taming those pesky datetimes in a clojure stack"
               :blurb "En liten erfaringsrapport med tips og triks for hvordan håndtere datoer i Clojure/ClojureScript i en tjeneste/lagdelt arkitektur"
               :tech [:clojure :clojurescript]}
              {:url "http://rundis.github.io/blog/2015/buddy_auth_part4.html"
               :title "Securing Clojure Microservices using buddy - Part 4: Secure and liberate a service app"
               :blurb "En blogserie hvor jeg ser på autentisering og autorisasjon i en clojure microservices arkitektur med bruk av [Buddy](https://github.com/funcool/buddy).
                       I del 4 ser vi på hvordan vi kan sikre en service app basert som benytter REST-biblioteket Liberator"
               :tech [:clojure :buddy :microservices]}
              {:url "http://rundis.github.io/blog/2015/clj_light_thread.html"
               :title "Implementing a Clojure threading refactoring in ClojureScript using Light Table"
               :blurb "En kort gjennomgang av hvordan man kan implementere en refaktoreringsfunksjon i Light Table vha clojure.zip"
               :tech [:clojure :clojurescript :lighttable]}
              {:url "http://rundis.github.io/blog/2015/buddy_auth_part3.html"
               :title "Securing Clojure Microservices using buddy - Part 3: Token revocation"
               :blurb "En blogserie hvor jeg ser på autentisering og autorisasjon i en clojure microservices arkitektur med bruk av [Buddy](https://github.com/funcool/buddy).
                       I del 3 ser vi på mulige løsninger for å trekke tilbake tokens vha refresh tokens"
               :tech [:clojure :buddy :microservices]}
              {:url "http://rundis.github.io/blog/2015/buddy_auth_part2.html"
               :title "Securing Clojure Microservices using buddy - Part 2: WebApp authentication and authorization"
               :blurb "En blogserie hvor jeg ser på autentisering og autorisasjon i en clojure microservices arkitektur med bruk av [Buddy](https://github.com/funcool/buddy).
                       Del 2 handler om å bruk av tokens og cookies for autentisering og autorisasjon i en clojure web applikasjon."
               :tech [:clojure :buddy :microservices]}
              {:url "http://rundis.github.io/blog/2015/buddy_auth_part1.html"
               :title "Securing Clojure Microservices using buddy - Part 1: Creating Auth Tokens"
               :blurb "En blogserie hvor jeg ser på autentisering og autorisasjon i en clojure microservices arkitektur med bruk av [Buddy](https://github.com/funcool/buddy).
                       Del 1 handler om å lage en service som generer signerte tokens for bruk i autentisering og autorisasjon."
               :tech [:clojure :buddy :microservices]}
              {:url "http://rundis.github.io/blog/2015/bootify-ring.html"
               :title "Bootifying my ring app"
               :blurb "[Boot.clj] (https://github.com/boot-clj/boot) er et spennende alternative til Leiningen for bygging av clojure applikasjoner.
                       Jeg deler noen erfaringer med bruk av Boot.clj i et clojure ring prosjekt"
               :tech [:clojure :boot]}
              {:url "http://rundis.github.io/blog/2014/gr_lt_part5.html"
               :title "A Groovy Light Table client - Step 5: Gradle dependencies in Light Table with dagre-D3"
               :blurb "Del 5 i en blog serie hvor jeg beskriver stegene jeg tar for å forsøke å lage
                       en dugandes Groovy plugin for Light Table. Del 5 kombinerer det rike api'et i Gradle
                       og fleksibiliteten i Light Table til å vise dependency grafer vha D3. Kule greier !"
               :tech [:clojurescript :groovy :gradle :lighttable]}
              {:url "http://rundis.github.io/blog/2014/gr_lt_part4.html"
               :title "A Groovy Light Table client - Step 4: Exploring new avenues with Gradle"
               :blurb "Del 4 i en blog serie hvor jeg beskriver stegene jeg tar for å forsøke å lage
                       en dugandes Groovy plugin for Light Table. Del 4 handler om implementasjon av Gradle støtte
                       for uthenting og bruk av classpath, samt opplisting og eksevkvering av tasks"
               :tech [:clojurescript :groovy :gradle :lighttable]}
              {:url "http://rundis.github.io/blog/2014/gr_lt_part3.html"
               :title "A Groovy Light Table client - Step 3: Running out of quick wins"
               :blurb "Del 3 i en blog serie hvor jeg beskriver stegene jeg tar for å forsøke å lage
                       en dugandes Groovy plugin for Light Table. Del 3 handler om noen små forbedringer
                       for å gi en REPL lignende opplevelse med Groovy."
               :tech [:clojurescript :groovy :lighttable]}
              {:url "http://rundis.github.io/blog/2014/gr_lt_part2.html"
               :title "A Groovy Light Table client - Step 2: Evaluating Code"
               :blurb "Del 2 i en blog serie hvor jeg beskriver stegene jeg tar for å forsøke å lage
                       en dugandes Groovy plugin for Light Table. Del 2 handler om hvordan jeg får
                       evaluert Groovy kode og vist resultater inline i Light Table."
               :tech [:clojurescript :groovy :lighttable]}
              {:url "http://rundis.github.io/blog/2014/gr_lt_part1.html"
               :title "A Groovy Light Table client - Step 1: Connecting the client"
               :blurb "Del 1 i en blog serie hvor jeg beskriver stegene jeg tar for å forsøke å lage
                       en dugandes Groovy plugin for Light Table. I denne posten beskriver jeg hvordan
                       jeg kobler opp Light Table til en Groovy klient-prosess."
               :tech [:clojurescript :groovy :lighttable]}

              {:url "http://codewader.blogspot.no/2014/02/getting-my-feet-wet-with-clojure-using.html"
               :title "Getting my feet wet with Clojure using Light Table"
               :blurb "En liten erfaringsrapport fra mine første steg med å skrive produksjonskode i Clojure
                       ved bruk av Light Table IDE."
               :tech [:clojure :lighttable]}

              {:url "http://codewader.blogspot.no/2013/08/javascript-testing-in-your-jvm-projects.html"
               :title "Javascript testing in your JVM projects using Gradle and BusterJS"
               :blurb "Hadde det ikke vært kjekt om du kunne inkludert javascript testing som en del
                       av CI for JVM prosjektet ditt ? Gradle Buster Plugin to the rescue !"
               :tech [:gradle :javascript :buster-js]}

              {:url "http://codewader.blogspot.no/2011/08/groovy-infatuation-growing.html"
               :title "A groovy infatuation growing"
               :blurb "Etter mange år med java begynte jeg så smått å bli litt lei. Det var jo mange
                       andre språk på JVM plattformen der ute. Etter å ha jobbet med gradle en periode
                       fikk jeg mer om mer sansen for Groovy."
               :tech [:groovy]}]

 :open-source-projects[{:url "https://github.com/rundis/elm-light"
                        :name "Elm Light Table Plugin"
                        :description "Light Table plugin for Elm. Syntax-highlighting, repl/inline eval, elm reactor integrasjon mm"
                        :tech [:elm :clojurescript]}
                       {:url "https://github.com/rundis/rewrite-cljs"
                        :name "rewrite-cljs"
                        :description "ClojureScript port av rewrite-clj. Bibliotek for traversering og omskriving av Clojure/ClojureScript/EDN- kode"
                        :tech [:clojure :clojurescript]}
                       {:url "https://github.com/rundis/clj-light-refactor"
                        :name "Clj-Light-Refactor"
                        :description "Plugin som gir Clojure refactoring support til Light Table"
                        :tech [:lighttable :clojure :clojurescript]}
                       {:url "https://github.com/rundis/AsciiLight"
                        :name "AsciiLight"
                        :description "Light Table plugin for live-edit visning av Asiidoctor dokumenter"
                        :tech [:lighttable :clojurescript :asciidoc]}
                       {:url "https://github.com/rundis/lt-snippets"
                        :name "lt-snippets"
                        :description "Snippet/templates plugin for Light Table"
                        :tech [:lighttable :clojurescript]}
                       {:url "https://github.com/busterjs/lt-instabuster"
                        :name "LightTable InstaBuster"
                        :description "Light Table plugin for BusterJS"
                        :tech [:lighttable :javascript :clojurescript]
                        }
                       {:url "https://github.com/rundis/LightTable-Groovy"
                        :name "LightTable-Groovy"
                        :description "Groovy plugin for Light Table. Steg 1 er å lage et langt bedre Groovy Console. Steg 2 er helt åpent. Sky's the limit!"
                        :tech [:lighttable :groovy :clojurescript]}
                       {:url "https://github.com/rundis/gradle-buster-plugin"
                        :name "gradle-buster-plugin"
                        :description "Gradle plugin for å kjøre JavaScript tester via BusterJS i jvm prosjekter"
                        :tech [:groovy :gradle :buster-js :javascript]}]

 :open-source-contributions [{:name "buddy-auth"
                              :url "https://github.com/funcool/buddy-auth"
                              :tech [:clojure :security]}
                             {:name "gradle-ssh-plugin"
                              :url "https://github.com/int128/gradle-ssh-plugin"
                              :tech [:groovy :gradle]}]

 }
