{:id :magnar
 :name ["Magnar" "Sveen"]
 :title "Framsieutvikler"
 :start-date "2007-04-01 00:09"
 :description "Magnar kaller seg framsieutvikler, men egentlig trives
               han godt i hele stacken. Han er opptatt av og oppdatert
               på webutvikling. Han har et entusiastisk forhold til
               frontendutvikling - webstandarder, frontendytelse,
               brukergrensesnitt, browserproblematikk, html, css og
               javascript. Magnar får svært gode tilbakemeldinger fra
               våre kunder. Etter kundenes ønske har han holdt flere
               kurs der han har vært konsulent, blant annet om
               JavaScript og testing."

 :phone-number "+47 918 56 425"
 :email-address "magnar@kodemaker.no"

 :presence {:cv "magnar"
            :twitter "magnars"
            :linkedin "/pub/magnar-sveen/2/219/33a"
            :stackoverflow "/users/1123/magnar"
            :github "magnars"
            :coderwall "magnars"}

 :tech {:favorites-at-the-moment [:clojure :responsive-design :ansible :emacs]
        :want-to-learn-more [:react :clojurescript :haskell]}

 :recommendations [{:title "Web Performance Calendar"
                    :blurb "Min favorittjulekalender til helårsbruk.
                            Full av triks, tips, testing og forskning
                            om frontendytelse. Vel verdt å lese hvis
                            du er opptatt av å lage raske websider."
                    :link {:url "http://calendar.perfplanet.com"
                           :text "Besøk kalenderen"}
                    :tech [:web-performance :frontend]}
                   {:title "Simple Made Easy"
                    :blurb "Det er ikke lett å lage noe enkelt. Rich
                            Hickey snakker om forskjellen på nærliggende
                            (subjektivt lett) og ukomplisert (objektivt
                            enkelt). Og implikasjonene for hvordan du bør
                            tenke rundt software."
                    :link {:url "http://www.infoq.com/presentations/Simple-Made-Easy"
                           :text "Se foredraget"}
                    :tech [:design :clojure]}
                   {:title "Building User Interfaces With Facebook's React"
                    :blurb "Steven Luscher har en herlig stil når han
                            i dette foredraget viser fram hvorfor React er bra
                            greier. Underholdende og informativt!"
                    :link {:url "http://www.youtube.com/watch?v=1OeXsL5mr4g"
                           :text "Se foredraget"}
                    :tech [:react :javascript]}
                   {:title "An introduction to Object Oriented CSS"
                    :blurb "En blog post om de to grunnprinsippene i
                            OOCSS: Separasjon av struktur og utseende, og
                            separasjon av innhold og rammer."
                    :link {:url "http://coding.smashingmagazine.com/2011/12/12/an-introduction-to-object-oriented-css-oocss/"
                           :text "Les artikkelen"}
                    :tech [:oocss :css]}
                   {:title "React: Rethinking best-practices"
                    :link {:url "http://www.youtube.com/watch?v=x7cQ3mrcKaY"
                           :text "Se foredraget"}
                    :tech [:javascript :design :react]
                    :blurb "Pete Hunt, en av hodene bak JavaScript
                            UI-rammeverket til Facebook og Instagram, React,
                            forteller om tankene bak. Foredraget fra JSConf.eu
                            2013 utfordrer en del etablerte sannheter og
                            presenterer en måte å tenke på
                            web-frontend-programmering på som sammenfaller med
                            klassisk UI-programmering og som virkelig fokuserer
                            på *separation of concerns*."}
                   {:title "Real-World Datomic: An Experience Report"
                    :blurb "Craig Andera snakker om erfaringer med å
                            bruke Datomic på et større prosjekt, og
                            kommer med flere nyttige poenger
                            underveis. Særlig bra er hans gjennomgang
                            av indekser."
                    :link {:url "http://www.infoq.com/presentations/datomic-use-case/"
                           :text "Se foredraget"}
                    :tech [:datomic]}
                   {:title "Keep Chocolate Love Atomic"
                    :blurb "Stuart Halloway skriver om Datomic og
                            hvordan vi så lett faller tilbake til
                            destruktiv oppdatering, når vi med litt
                            ynde kan legge til facts. Må leses av alle
                            som skal bruke Datomic."
                    :link {:url "http://blog.datomic.com/2012/08/atomic-chocolate.html"
                           :text "Les artikkelen"}
                    :tech [:datomic]}]

 :hobbies [{:title "Brettspill"
            :description "Det er mer enn Monopol og Ludo i verden. Har
                          du prøvd Settlers? Moro, ikke sant? Det er
                          bare begynnelsen. Det er en verden av
                          interessante, artige, morsomme brettspill
                          der ute - bare du kommer deg ut av
                          bokhandleren og inn i en skikkelig
                          brettspillforretning. Noen tips fra meg:
                          [Dominion](http://www.spillsjefen.no/product_info.php?products_id=46439),
                          [Galaxy
                          Trucker](http://www.spillsjefen.no/product_info.php?products_id=32175),
                          eller hvis dere bare er to: [Lord of the
                          Rings: The
                          Confrontation](http://www.spillsjefen.no/product_info.php?products_id=30129).
                          Anbefales. "
            :illustration "/illustrations/hobbies/brettspill.jpg"}]

 :side-projects [{:title "Emacs Rocks!"
                  :description "Jeg ble så begeistret for Emacs at jeg
                                trengte et utløp for all min
                                entusiasme. Resultatet ble denne serien med
                                3-minutters videoer av kule triks som
                                nå er sett over to hundre tusen ganger."
                  :illustration "/illustrations/side-projects/emacs-rocks.jpg"
                  :link {:url "http://emacsrocks.com" :text "Se videoene"}
                  :tech [:emacs]}
                 {:title "Adventur Delux"
                  :description "Et tekstbasert eventyrspill jeg har
                                skrevet på siden 1997, på størrelse
                                med Ringenes Herre fire ganger. Som en
                                ung lovende sverdsvinger går du rundt,
                                sier vittige ting og kverker en haug
                                med orker, zombier, kannibaler og
                                andre kjipinger. Jeg har lagd fem
                                forskjellige editorer opp gjennom
                                årene - i AMOS, Java, Ruby on Rails,
                                [Groovy](/groovy/), samt den siste inkarnasjonen
                                som har en [Clojure](/clojure/) backend til en
                                Emacs Lisp frontend."
                  :illustration "/illustrations/side-projects/adventur.jpg"
                  :link {:url "http://www.adventur.no" :text "Prøv spillet"}}]

 :blog-posts [{:url "http://framsieutvikling.no/post/753317476"
               :title "5 JavaScript-uvaner du må legge av deg"
               :blurb "Jeg tør påstå at JavaScript er et av språkene
                       som er mest utsatt for cargo culting. For noen år siden
                       var det utstrakt klipping og liming, og uvanene spredte
                       seg fortere enn du kunne si globalt navnerom. Her er noen saker du må slutte med."
               :tech [:javascript]}
              {:url "http://framsieutvikling.no/post/37707914430/boker-for-vordende-framsiefolk"
               :title "Bøker for vordende framsiefolk"
               :blurb "En kamerat og kollega som stort sett har holdt
                       seg til baksia, fortalte meg at han ville bli
                       skikkelig god på framsia. Om jeg har noe
                       lesestoff å anbefale? Å ja. Disse bøkene mener
                       jeg er essensielle for vordende
                       framsieutviklere."
               :tech [:frontend]}
              {:url "http://framsieutvikling.no/post/36198524225/oocss-et-paradigmeskifte"
               :title "OOCSS: Et paradigmeskifte"
               :blurb "Jeg satt min stolthet i å skrive slank
                       HTML. Jeg kjente alle triksene i boka for å få
                       nettlesere til å oppføre seg. Men selv om HTMLen
                       var ryddig og semantisk, så hadde CSS’en
                       eksplodert. Kunne det være noe i OOCSS? Det var
                       jo i mot alt jeg hadde lært."
               :tech [:oocss :css]}
              {:url "http://whattheemacsd.com"
               :title "What the .emacs.d!?"
               :blurb "En lang samling med triks og tips for å sette
                       opp Emacs'en din sjæl. Høyt anbefalt over å dumpe inn
                       noen andres config og håpe det blir bra."
               :tech [:emacs]}]

 :presentations [{:title "Zombie TDD: Live parprogrammering"
                  :blurb "Christian og jeg setter oss ned med emacsen
                          og parprogrammerer foran publikum. Se
                          hvordan to typer som digger JavaScript
                          angriper problemer og gjør koden testbar."
                  :tech [:javascript :testing]
                  :urls {:video "http://vimeo.com/49485653"}
                  :thumb "/thumbs/presentations/zombie-tdd-live.jpg"}
                 {:title "Lyntale: Wrap Ajax'en din"
                  :blurb "Jeg tegner og forteller hvordan du får
                          ryddig kode og trivelig testing ved å wrappe ajaxen
                          din."
                  :tech [:javascript :testing :ajax]
                  :urls {:video "http://vimeo.com/28764670"
                         :source "https://github.com/magnars/server-facade"}
                  :thumb "/thumbs/presentations/trivelig-testing.jpg"}]

 :open-source-projects [{:url "https://github.com/culljs/culljs"                 :name "cull.js"               :description "Et verktøybelte for å skrive funksjonell JavaScript."                                     :tech [:javascript]}
                        {:url "https://github.com/culljs/dome"                   :name "dome.js"               :description "Et lite bibliotek for å bygge, traversere og manipulere DOM."                             :tech [:javascript]}
                        {:url "https://github.com/magnars/autolint"              :name "autolint"              :description "Overvåker filene dine for jslint-feil."                                                   :tech [:javascript]}
                        {:url "https://github.com/magnars/creator.js"            :name "creator.js"            :description "Lager create-metoder til objektene dine."                                                 :tech [:javascript]}
                        {:url "https://github.com/busterjs/buster-lint"          :name "buster-lint"           :description "Linting som en del av testkjøringen med Buster."                                          :tech [:javascript]}
                        {:url "https://github.com/magnars/expand-region.el"      :name "expand-region"         :description "Marker deler av fila basert på semantikk."                                                :tech [:emacs]}
                        {:url "https://github.com/magnars/multiple-cursors.el"   :name "multiple-cursors"      :description "Rediger flere deler av fila samtidig med mange cursors."                                  :tech [:emacs]}
                        {:url "https://github.com/magnars/js2-refactor.el"       :name "js2-refactor"          :description "Refaktorering for JavaScript i Emacs."                                                    :tech [:emacs :javascript]}
                        {:url "https://github.com/magnars/clj-refactor.el"       :name "clj-refactor"          :description "Refaktorerings for Clojure i Emacs."                                                      :tech [:emacs :clojure]}
                        {:url "https://github.com/magnars/dash.el"               :name "dash.el"               :description "Et moderne listebibliotek for Emacs."                                                     :tech [:emacs]}
                        {:url "https://github.com/magnars/s.el"                  :name "s.el"                  :description "Et string-manipulasjonsbibliotek for Emacs."                                              :tech [:emacs]}
                        {:url "https://github.com/magnars/tagedit"               :name "tagedit"               :description ""                                                                                         :tech [:emacs]}
                        {:url "https://github.com/magnars/simplezen.el"          :name "simplezen"             :description ""                                                                                         :tech [:emacs]}
                        {:url "https://github.com/magnars/buster-mode"           :name "buster-mode"           :description ""                                                                                         :tech [:emacs]}
                        {:url "https://github.com/magnars/multifiles.el"         :name "multifiles"            :description ""                                                                                         :tech [:emacs]}
                        {:url "https://github.com/magnars/string-edit.el"        :name "string-edit"           :description ""                                                                                         :tech [:emacs]}
                        {:url "https://github.com/magnars/smart-forward.el"      :name "smart-forward"         :description ""                                                                                         :tech [:emacs]}
                        {:url "https://github.com/magnars/change-inner.el"       :name "change-inner"          :description ""                                                                                         :tech [:emacs]}
                        {:url "https://github.com/magnars/buster-snippets.el"    :name "buster-snippets"       :description ""                                                                                         :tech [:emacs]}
                        {:url "https://github.com/magnars/angular-snippets.el"   :name "angular-snippets"      :description ""                                                                                         :tech [:emacs]}
                        {:url "https://github.com/magnars/datomic-snippets.el"   :name "datomic-snippets"      :description ""                                                                                         :tech [:emacs]}
                        {:url "https://github.com/magnars/stasis"                :name "Stasis"                :description "Et Clojure bibliotek for å lage statiske nettsider. Som denne."                           :tech [:clojure]}
                        {:url "https://github.com/magnars/optimus"               :name "Optimus"               :description "Et Clojure bibliotek for frontendytelse."                                                 :tech [:clojure :web-performance]}
                        {:url "https://github.com/magnars/test-with-files"       :name "test-with-files"       :description "Enkel måte å skrive tester som bruker filer på disk."                                     :tech [:clojure]}
                        {:url "https://github.com/magnars/optimus-less"          :name "optimus-less"          :description "[LESS](http://lesscss.org/)-støtte til Optimus."                                          :tech [:clojure :less]}
                        {:url "https://github.com/magnars/optimus-angular"       :name "optimus-angular"       :description "Bedre ytelse for [AngularJS](http://angularjs.org/)-apps."                                :tech [:clojure :angularjs]}
                        {:url "https://github.com/magnars/optimus-jsx"           :name "optimus-jsx"           :description "[React JSX](http://facebook.github.io/react/docs/jsx-in-depth.html)-støtte til Optimus."  :tech [:clojure :react]}
                        {:url "https://github.com/magnars/optimus-img-transform" :name "optimus-img-transform" :description ""                                                                                         :tech [:clojure]}
                        {:url "https://github.com/magnars/autolint-maven-plugin" :name "autolint-maven-plugin" :description "Kjører statisk analyse av JavaScript i Maven."                                            :tech [:java :maven]}]

 :open-source-contributions [{:name "clj-v8"              :url "https://github.com/circleci/clj-v8"              :tech [:clojure]}
                             {:name "cegdown"             :url "https://github.com/Raynes/cegdown"               :tech [:clojure]}
                             {:name "collage"             :url "https://github.com/karls/collage"                :tech [:clojure]}
                             {:name "elnode"              :url "https://github.com/nicferrier/elnode"            :tech [:emacs]}
                             {:name "ecukes"              :url "https://github.com/rejeep/ecukes"                :tech [:emacs]}
                             {:name "flycheck"            :url "https://github.com/lunaryorn/flycheck"           :tech [:emacs]}
                             {:name "wrap-region"         :url "https://github.com/rejeep/wrap-region"           :tech [:emacs]}
                             {:name "litable"             :url "https://github.com/Fuco1/litable"                :tech [:emacs]}
                             {:name "god-mode"            :url "https://github.com/chrisdone/god-mode"           :tech [:emacs]}
                             {:name "restclient.el"       :url "https://github.com/pashky/restclient.el"         :tech [:emacs]}
                             {:name "Kalendae"            :url "https://github.com/ChiperSoft/Kalendae"          :tech [:javascript]}
                             {:name "buster-autotest"     :url "https://github.com/busterjs/buster-autotest"     :tech [:javascript]}
                             {:name "jstdutil"            :url "https://github.com/cjohansen/jstdutil"           :tech [:javascript]}
                             {:name "carousel-js"         :url "https://github.com/finn-no/carousel-js"          :tech [:javascript]}
                             {:name "buster-maven-plugin" :url "https://github.com/peternic/buster-maven-plugin" :tech [:java :maven]}]

 :projects [{:id :finn-oppdrag
             :customer "FINN oppdrag"
             :description "Ansvarlig frontendutvikler. Utviklet hele
                           framsia fra bunnen av. Vi var første marked
                           i FINN til å bruke responsiv design. Skrev
                           over 1000 JavaScript tester og likte det."
             :years [2009 2010 2011 2012 2013]
             :tech [:javascript :responsive-design :oocss
                    :ajax :spring-mvc :html :css :jquery :js-test-driver
                    :jsp :sinon :java :junit :git :jira :confluence]}
            {:id :finn-surf-sammen
             :customer "FINN Surf Sammen"
             :description "Var med fra starten, jobbet med skisser til
                           løsning og databasestruktur. Gikk fort over
                           i rolle som frontendansvarlig på
                           scrumteamet. Står bak mesteparten av Ajax-
                           funksjonaliteten i forbindelse med lagring
                           og deling av annonser."
             :years [2008 2009]
             :tech [:javascript :css :html :ajax :jquery :jsp :java
                    :cvs :jira :confluence]}]

 :endorsements [{:project :finn-surf-sammen
                 :author "Bjørn Henrik Vangstein"
                 :title "Scrum Master"
                 :photo "/thumbs/faces/bjorn-henrik-vangstein.jpg"
                 :quote "Magnar Sveen skiller seg klart ut i mengden,
                         både faglig og personlig. Han ble raskt ettertraktet på
                         huset, både på grunn av sine fagkunnskaper, som stikker
                         dypt og favner bredt, men også på grunn av sine
                         initiativ, pedagogiske evner, og behagelige vesen. Det
                         er generell oppfatning i FINN at Magnar overgår de
                         fleste når det gjelder utvikling av front-endløsninger.
                         Magnar har et modent perspektiv på faget, og klarer å se
                         bruker, teknologi og lønnsomhet i sammenheng. Magnars
                         gode sosiale evner, kombinert med vilje og evne til å
                         dele sine kunnskaper med andre gjør ham til en svært
                         ettertraktet ressurs i de fleste utviklingmiljøer."}
                {:project :finn-oppdrag
                 :author "Kaija Ommundsen"
                 :title "Prosjekteier"
                 :photo "/thumbs/faces/kaija-ommundsen.jpg"
                 :quote "Jeg har hatt glede av å bygge opp FINN oppdrag
                         sammen med Magnar. Jeg har sjelden møtt en utvikler som
                         han; svært opptatt av å lage gode opplevelser for
                         brukeren med god flyt og godt språk i sentrum.
                         Kombinerer du dette med et sylskarpt hode og evne til å
                         tenke helhetlig og konseptuelt, får du Magnar. Han er en
                         usedvanlig dyktig frontutvikler, men jeg har satt minst
                         like stor pris på hans deltagelse i diskusjoner om
                         strategi, konsept, design, arkitektur, datamodell og
                         arbeidsmetodikk. Hans evne til å jobbe i team og finne
                         måter å komme videre på når det stopper opp, hans til
                         tider skarpe spissformuleringer og hans evne til å finne
                         pragmatiske løsninger på komplekse problemer har gjort
                         at hele teamet som står bak FINN oppdrag har oppnådd
                         gode resultater. Grip sjansen om du får mulighet til å
                         jobbe sammen med Magnar - det skaper gode løsninger,
                         interessante diskusjoner og garantert læring
                         underveis."}
                {:project :finn-oppdrag
                 :author "Endre Midtgård Meckelborg"
                 :title "Teknisk Leder"
                 :photo "/thumbs/faces/endre-midtgard-meckelborg.jpg"
                 :quote "Ved oppbyggingen av FINN oppdrag jobbet jeg
                         sammen med Magnar, og det var en lærerik og morsom
                         opplevelse. Magnar er en av de beste frontend-utviklere
                         jeg har jobbet med. Han har veldig god forståelse for
                         brukergrensesnitt, og ser raskt hva som fungerer og hva
                         som ikke gjør det. Magnar er dyktig i alle
                         applikasjonslag, men utpeker seg spesielt for sin
                         kunnskap rundt JavaScript/HTML/CSS. JavaScript-koden
                         til Magnar er fritatt for dårlig klipp-og-lim-kode, og
                         fungerer perfekt på alle plattformer! Sjekk ut hans
                         omdømme på StackOverflow."}]}
