{:id :magnar
 :first-name "Magnar"
 :last-name "Sveen"
 :title "Framsieutvikler"
 :order 9
 :description "Magnar er en svært dyktig og likandes frontendprogrammerer. Han får veldig gode tilbakemeldinger fra våre kunder, og er en ressursperson prosjektene ikke vil gi slipp på."}
