{:id :magnar
 :name ["Magnar" "Sveen"]
 :title "Framsieutvikler"
 :start-date "2007-04-01 00:09"
 :description "Magnar kaller seg framsieutvikler, men egentlig trives
               han godt i hele stacken. Han er opptatt av og oppdatert
               på webutvikling. Han har et entusiastisk forhold til
               frontendutvikling - webstandarder, frontendytelse,
               brukergrensesnitt, browserproblematikk, html, css og
               javascript. Magnar får svært gode tilbakemeldinger fra
               våre kunder. Etter kundenes ønske har han holdt flere
               kurs der han har vært konsulent, blant annet om
               JavaScript og testing."

 :phone-number "+47 918 56 425"
 :email-address "magnar@kodemaker.no"

 :presence {:cv "magnar"
            :twitter "magnars"
            :linkedin "/pub/magnar-sveen/2/219/33a"
            :stackoverflow "/users/1123/magnar"
            :github "magnars"
            :coderwall "magnars"}

 :tech {:favorites-at-the-moment [:clojure :responsive-design :ansible :emacs]
        :want-to-learn-more [:react :clojurescript :haskell]}

 :recommendations [{:title "Simple Made Easy"
                    :blurb "Det er ikke lett å lage noe enkelt. Rich
                            Hickey snakker om forskjellen på nærliggende
                            (subjektivt lett) og ukomplisert (objektivt
                            enkelt). Og implikasjonene for hvordan du bør
                            tenke rundt software."
                    :link {:url "http://www.infoq.com/presentations/Simple-Made-Easy"
                           :text "Se foredraget"}
                    :tech [:design :clojure]}
                   {:title "Web Performance Calendar"
                    :blurb "Min favorittjulekalender til helårsbruk.
                            Full av triks, tips, testing og forskning
                            om frontendytelse. Vel verdt å lese hvis
                            du er opptatt av å lage raske websider."
                    :link {:url "http://calendar.perfplanet.com"
                           :text "Besøk kalenderen"}
                    :tech [:web-performance]}
                   {:title "An introduction to Object Oriented CSS"
                    :blurb "En blog post om de to grunnprinsippene i
                            OOCSS: Separasjon av struktur og utseende, og
                            separasjon av innhold og rammer."
                    :link {:url "http://coding.smashingmagazine.com/2011/12/12/an-introduction-to-object-oriented-css-oocss/"
                           :text "Les artikkelen"}
                    :tech [:oocss :css]}]

 :hobbies [{:title "Brettspill"
            :description "Det er mer enn Monopol og Ludo i verden. Har du prøvd
                          Settlers? Moro, ikke sant? Det er bare begynnelsen. Det er en
                          verden av interessante, artige, morsomme brettspill der ute.
                          Noen tips fra meg: [Dominion](http://www.spillsjefen.no/product_info.php?products_id=46439),
                          [Galaxy Trucker](http://www.spillsjefen.no/product_info.php?products_id=32175),
                          eller hvis dere bare er to:
                          [Lord of the Rings: The Confrontation](http://www.spillsjefen.no/product_info.php?products_id=30129).
                          Anbefales. "
            :illustration "/illustrations/hobbies/brettspill.jpg"}]

 :blogs [{:id :framsieutvikling
          :name "framsieutvikling.no"
          :url "http://framsieutvikling.no/"
          :theme "Teknisk frontend"
          :tech [:javascript :oocss :responsive-design :html :tdd]}]

 :blog-posts [{:url "http://framsieutvikling.no/post/36198524225/oocss-et-paradigmeskifte"
               :title "OOCSS: Et paradigmeskifte"
               :blurb "Jeg satt min stolthet i å skrive slank
                       HTML. Jeg kjente alle triksene i boka for å få
                       nettlesere til å oppføre seg. Men selv om HTMLen
                       var ryddig og semantisk, så hadde CSS’en
                       eksplodert. Kunne det være noe i OOCSS? Det var
                       jo i mot alt jeg hadde lært."
               :tech [:oocss :css]
               :blog :framsieutvikling}]

 :presentations [{:title "Zombie TDD: Live parprogrammering"
                  :blurb "Christian og jeg setter oss ned med emacsen
                          og parprogrammerer foran publikum. Se
                          hvordan to typer som digger JavaScript
                          angriper problemer og gjør koden testbar."
                  :tech [:javascript :tdd]
                  :urls {:video "http://vimeo.com/49485653"}
                  :thumb "/thumbs/videos/zombie-tdd-live.jpg"}
                 {:title "Lyntale: Wrap Ajax'en din"
                  :blurb "Jeg tegner og forteller hvordan du får
                          ryddig kode og trivelig testing ved å wrappe ajaxen
                          din."
                  :tech [:javascript :tdd :ajax]
                  :urls {:video "http://vimeo.com/28764670"
                         :source "https://github.com/magnars/server-facade"}
                  :thumb "/thumbs/videos/trivelig-testing.jpg"}]

 :open-source-projects [{:url "https://github.com/magnars/optimus"
                         :name "Optimus"
                         :description "Et Clojure bibliotek for frontendytelse."
                         :tech [:clojure :web-performance]}]

 :open-source-contributions [{:name "clj-v8", :url "https://github.com/circleci/clj-v8", :tech [:clojure]}
                             {:name "cegdown", :url "https://github.com/Raynes/cegdown", :tech [:clojure]}
                             {:name "collage", :url "https://github.com/karls/collage", :tech [:clojure]}]

 :projects [{:id :finn-oppdrag
             :customer "FINN oppdrag"
             :description "Ansvarlig frontendutvikler. Utviklet hele
                           framsia fra bunnen av. Vi var første marked
                           i FINN til å bruke responsiv design. Skrev
                           over 1000 JavaScript tester og likte det."
             :tech [:javascript :responsive-design :oocss
                    :html :css :spring-mvc :jquery :js-test-driver
                    :sinon :java :junit]}]

 :endorsements [{:project :finn-surf-sammen
                 :author "Bjørn Henrik Vangstein"
                 :photo "/thumbs/faces/bjorn-henrik-vangstein.jpg"
                 :quote "Magnar Sveen skiller seg klart ut i mengden,
                         både faglig og personlig. Han ble raskt ettertraktet på
                         huset, både på grunn av sine fagkunnskaper, som stikker
                         dypt og favner bredt, men også på grunn av sine
                         initiativ, pedagogiske evner, og behagelige vesen. Det
                         er generell oppfatning i FINN at Magnar overgår de
                         fleste når det gjelder utvikling av front-endløsninger.
                         Magnar har et modent perspektiv på faget, og klarer å se
                         bruker, teknologi og lønnsomhet i sammenheng. Magnars
                         gode sosiale evner, kombinert med vilje og evne til å
                         dele sine kunnskaper med andre gjør ham til en svært
                         ettertraktet ressurs i de fleste utviklingmiljøer."}
                {:project :finn-oppdrag
                 :author "Kaija Ommundsen"
                 :photo "/thumbs/faces/kaija-ommundsen.jpg"
                 :quote "Jeg har hatt glede av å bygge opp FINN oppdrag
                         sammen med Magnar. Jeg har sjelden møtt en utvikler som
                         han; svært opptatt av å lage gode opplevelser for
                         brukeren med god flyt og godt språk i sentrum.
                         Kombinerer du dette med et sylskarpt hode og evne til å
                         tenke helhetlig og konseptuelt, får du Magnar. Han er en
                         usedvanlig dyktig frontutvikler, men jeg har satt minst
                         like stor pris på hans deltagelse i diskusjoner om
                         strategi, konsept, design, arkitektur, datamodell og
                         arbeidsmetodikk. Hans evne til å jobbe i team og finne
                         måter å komme videre på når det stopper opp, hans til
                         tider skarpe spissformuleringer og hans evne til å finne
                         pragmatiske løsninger på komplekse problemer har gjort
                         at hele teamet som står bak FINN oppdrag har oppnådd
                         gode resultater. Grip sjansen om du får mulighet til å
                         jobbe sammen med Magnar - det skaper gode løsninger,
                         interessante diskusjoner og garantert læring
                         underveis."}
                {:project :finn-oppdrag
                 :author "Endre Midtgård Meckelborg"
                 :photo "/thumbs/faces/endre-midtgard-meckelborg.jpg"
                 :quote "Ved oppbyggingen av FINN oppdrag jobbet jeg
                         sammen med Magnar, og det var en lærerik og morsom
                         opplevelse. Magnar er en av de beste frontend-utviklere
                         jeg har jobbet med. Han har veldig god forståelse for
                         brukergrensesnitt, og ser raskt hva som fungerer og hva
                         som ikke gjør det. Magnar er dyktig i alle
                         applikasjonslag, men utpeker seg spesielt for sin
                         kunnskap rundt JavaScript/HTML/CSS. JavaScript-koden
                         til Magnar er fritatt for dårlig klipp-og-lim-kode, og
                         fungerer perfekt på alle plattformer! Sjekk ut hans
                         omdømme på StackOverflow."}]}
