{:id                   :nils
 :name                 ["Nils" "Larsgård"]
 :title                "Kodemaker"
 :start-date           "2017-01-01"
 :description          "Nils er genuint interessert i teknologi og liker alt som kan programmeres,
 automatiseres og optimaliseres. Han lærer fort og er opptatt av at programvareutvikling er et håndverk man
 skal være stolt av. Han er glad i utfordringer og liker å samarbeide for å finne de beste løsningene."

 :phone-number         "+47 9053 6771"
 :email-address        "nils@kodemaker.no"

 :presence             {
                        :cv            "nils"
                        :twitter       "nils_magnus"
                        :github        "nilsmagnus"
                        :stackoverflow "/users/639559/nilsmagnus"
                        :linkedin      "/in/nilsmagnus/"
                        }

 :tech                 {
                        :favorites-at-the-moment [:kafka :apache-spark :tensorflow :go]
                        :using-at-work           [:java :apache-spark :hbase :kafka :zookeeper]
                        :want-to-learn-more      [:clojure :redux :react]
                        }


 :hobbies              [
                        {
                         :title        "Stisykling"
                         :description  "Finnes det en bedre måte å koble av på enn å sykle noen kronglete stier i marka? Neppe. Lykken er en fulldempet sykkel på gode norske blåstier."
                         :illustration "/illustrations/hobbies/nils-stisykling.jpg"}
                        ],


 :recommendations      [
                        {:title "Go concurrency patterns"
                         :blurb "En god innføring i hvordan go håndterer concurrency med channels. Passer til både nye go-programmerere og de litt mer erfarne."
                         :link  {:url  "https://blog.golang.org/pipelines"
                                 :text "Les artikkelen"}
                         :tech  [:go]},
                        {:title "Tensorflow and deep learning - without a PhD "
                         :blurb "Kom i gang med maskinlæring uten å ha doktorgrad i matrisemultiplikasjon!
                         Hvis du vil komme i gang med maskinlæring er tensorflow et naturlig sted å starte,
                         denne videoen går gjennom det du trenger å vite om tensorflow for å bruke tensorflow
                         til maskinlæring."
                         :link  {:url  "https://www.youtube.com/watch?v=qyvlt7kiQoI&feature=youtu.be"
                                 :text "Se videoen"}
                         :tech  [:deeplearning :tensorflow]}

                        ]
 :presentations        [
                        {:title "Lyntale: Tracking location of your neighbours wearable"
                         :blurb "På javazone 2016 viste jeg frem hvor lett det er å overvåke alle bluetooth-enheter i nærheten med en egenlaget Android app og en backend skrevet i Go.
                         Det blir ekstra skummelt når jeg sender dataene til google-appengine og lar alle med appen installert abonnere
                         på puls-klokken til han som sitter ved siden av deg. Bluetooth var ikke bygd med tanke på personvern, det du har rundt håndleddet er en digital sauebjelle!"
                         :date  "2011-09-07"
                         :tech  [:android :bluetooth :go]
                         :urls  {:video "https://vimeo.com/181936877"}}
                        ]

 :open-source-projects [{:url         "https://github.com/nilsmagnus/wsdl2java"
                         :name        "wsdl2java"
                         :description "Et plugin for gradle for å generere java fra webservice-kontrakter."
                         :tech        [:gradle :groovy]}
                        ]

 :side-projects        [{:title        "Well Timed"
                         :description  "Laget en android-klient til Timelyapp ved bruk av REST-apiet som
                         timely tilbyr. Appen ble utviklet fordi timely selv ikke har en Android-klent i
                         tillegg til at jeg ville lære litt om material-design for mobile enheter."
                         :link         {:url "https://play.google.com/store/apps/details?id=no.bytecode.timelyappsimple" :text "Prøv app'en"}
                         :illustration "/illustrations/side-projects/timelyapp.jpg"
                         :tech         [:android]}
                        {:title        "DHL Tracker"
                         :description  "En enkel app for android jeg lagde etter å ha irretert meg over
                         at DHL ikke har laget noe sånt selv. Live push-meldinger til telefonen din for
                         hver status-oppdatering for pakken din som er underveis. 150 000 nedlastninger
                         og 1000-2000 daglige brukere. Backend ble opprinnelig skrevet i java, men har
                         blitt skrevet om til Go for å enklere kunne vedlikeholde koden og legge til nye
                         distributører. Støtter i dag pakker fra posten, postnord og flere dhl-distributører.
                         "
                         :link         {:url "https://play.google.com/store/apps/details?id=no.nilsapp.trakpak.app" :text "Prøv app'en"}
                         :illustration "/illustrations/side-projects/dhlapp.png"
                         :tech         [:android :go :app-engine]}
                        ]

 :projects             [{:customer    "Thomson Reuters"
                         :description "Utvikling av løsning for intern distribusjon av fremskrevne tidsserier fra forskjellige markeder ved hjelp av bl.a. Spark, Kafka, Hadoop og HBase."
                         :years       [2016 2017]
                         :tech        [:java, :vertx, :kafka, :spark, :hbase]}
                        {:customer    "Norwegian Air Shuttle"
                         :description "Utvikling og vedlikehold av backend for booking-systemet. Videreutvikling av reiseassistent for Android."
                         :years       [2012 2016]
                         :tech        [:java, :apache-cxf, :guice, :android, :jboss :junit, :maven, :oracle]}
                        {:customer    "Storebrand Aktuarsystemer"
                         :description "Ny kundeportal for pensjonskassene som forvaltes av Storebrand Pensjonstjenester."
                         :years       [2011 2012]
                         :tech        [:java :html :css :javascript :jquery :mssql :apache-cxf :struts2]}]

 }
