{:id            :nils
 :name          ["Nils" "Larsgård"]
 :title         "Programmerer"
 :start-date    "2017-01-01"
 :description   "Nils er genuint interessert i teknologi og liker alt som kan programmeres,
 automatiseres og optimaliseres. Han lærer fort og er opptatt av at programvareutvikling er et håndverk man
 skal være stolt av. Han er glad i utfordringer og liker å samarbeide for å finne de beste løsningene. "

 :phone-number  "+47 9053 6771"
 :email-address "nils@kodemaker.no"

 :presence      {
                 :cv            "nils"
                 :twitter       "nils_magnus"
                 :github        "nilsmagnus"
                 :stackoverflow "/users/639559/nilsmagnus"
                 :linkedin      "/in/nilsmagnus/"
                 }

 :tech          {
                 :favorites-at-the-moment [:kubernetes :go :kotlin]
                 :using-at-work           [:java :spring :docker :docker-compose]
                 :want-to-learn-more      [:kubernetes :kotlin :machinelearning]
                 }


 :hobbies       [
                 {
                  :title        "Stisykling"
                  :description  "Finnes det en bedre måte å koble av på enn å sykle noen kronglete stier i marka? Neppe. Lykken er en fulldempet sykkel på blåstier og noen timer til overs for å forsere kneiker og crux."
                  :illustration "/illustrations/hobbies/nils-stisykling.jpg"}
                 ],


 :recommendations
                [
                 {:title "Concurrency is not parallelism"
                  :blurb "Concurrency og parallelisme er to begreper som blandes sammen. Rob Pike, en av skaperene av Go,
                         forklarer forskjellen og hvordan dette concurrency kan håndteres i Go. Det foretrukne patternet i Go er
                         'Communicating Sequential Processes' (CSP) som også blir brukt av andre språk. CSP implementasjonen i
                         Go er brukt som grunnlag for implementasjon i flere andre språk som Clojure og Kotlin."
                  :link  {:url  "https://blog.golang.org/concurrency-is-not-parallelism"
                          :text "Til video/slides"},
                  :tech  [:go :concurrency]},

                 {:title "Hvorfor vi trenger tidsserie-databaser"
                  :blurb "Paul Dix fra influxdb forklarer hva en tidsserie-database er og hvorfor man skal
                         velge det fremfor tradisjonelle databaser. Tidsserie-databaser er optimalisert for å lagre 'events'
                         fra f.eks logger, sensorer, iot-enheter eller strømmer av børsdata. Influxdb er en open-source database
                         for å lagre tidsserier som lar deg komme i gang fort med å lagre tidsserier, men med avanserte
                         funksjoner for å hente ut og aggregere data."
                  :link  {:url  "https://www.youtube.com/watch?v=GzIYRr40QO4"
                          :text "Se videoen"}
                  :tech  [:influxdb]}

                 ]
 :presentations
                [
                 {:title "Lyntale: Tracking location of your neighbours wearable"
                  :blurb "På javazone 2016 viste jeg frem hvor lett det er å overvåke alle bluetooth-enheter i nærheten med en egenlaget Android app og en backend skrevet i Go.
                         Det blir ekstra skummelt når jeg sender dataene til google-appengine og lar alle med appen installert abonnere
                         på puls-klokken til han som sitter ved siden av deg. Bluetooth var ikke bygd med tanke på personvern, det du har rundt håndleddet er en digital sauebjelle!

                         Lyntalen har senere blitt utvidet til et foredrag som blant annet holdes på ISF sin høstkonferanse 2017.
                         "
                  :date  "2011-09-07"
                  :event "JavaZone"
                  :tech  [:android :bluetooth :go]
                  :urls  {:video "https://vimeo.com/181936877"}}
                 ]

 :open-source-contributions
                [
                 {:name "Go" :url "https://github.com/golang/go/commit/81ec7256072ed5e20b8827c583193258769aebc0" :tech [:go] }
                 ]


 :open-source-projects
                [
                 {:url         "https://github.com/nilsmagnus/grib"
                  :name        "grib"
                  :description "Et bibliotek for å parse værdata-filer i det binære formatet 'grib'. Biblioteket er skrevet i Go og er en videreutvikling av et forlatt bibliotek.
                         Utviklet funksjoner som gjør det mulig å streame grib-filer samtidig som man filtrerer på innholdet."
                  :tech        [:go]},
                 {:url         "https://github.com/nilsmagnus/wsdl2java"
                  :name        "wsdl2java"
                  :description "Et plugin for gradle for å generere java fra webservice-kontrakter."
                  :tech        [:gradle :groovy]},
                 ]

 :side-projects
                [
                 {:title        "Værdata"
                  :description  "Et system for å samle inn og organisere data om vær og vind. Skrevet i go og deployet på google cloud platformen med kubernetes."
                                     :illustration "/illustrations/side-projects/weathergraph.png"
                  :tech         [ :go :kubernetes :tensorflow]},

                  {:title        "Ship(tidligere DHL Tracker)"
                  :description  "En enkel app for android jeg lagde etter å ha irritert meg over
                         at DHL ikke har laget noe sånt selv. Live push-meldinger til telefonen din for
                         hver status-oppdatering for pakken din som er underveis. Backend er skrevt i go og appen i kotlin.
                         Støtter i dag pakker fra posten, postnord og flere dhl-distributører. "
                  :link         {:url "https://play.google.com/store/apps/details?id=no.nilsapp.trakpak.ship" :text "Prøv app'en"}
                  :illustration "/illustrations/side-projects/android-ship-app.png"
                  :tech         [:android :go :app-engine]}
                 ]

 :projects
                [{:customer    "Tieto"
                  :description "Modernisere utviklingsplatform og heve kodekvalitet. Modernisering av legacy kode. Videreutvikle kjernesystemer for bankvirksomhet."
                  :years       [2017 2018]
                  :employer    :kodemaker
                  :summary     "Videreutvikling av system for virtuelle bankkontoer og nyutvikling av applikasjon for automatiske betalinger."
                  :tech        [:java, :docker, :docker-compose :spring :hibernate :db2 :maven]},
                 {:customer   "Western Geco"
                  :description "Utvikling av nytt produkt for landseismikk. Administrere sensorer og data-innhøsting fra sensorer. Scripting av installasjon på redhat."
                  :years       [2017]
                  :employer    :kodemaker
                  :summary     "Utviklig av kontrollsystem for innsamling av seismisk data på land."
                  :tech        [:java, :bash, :grpc, :google-protocol-buffers :javafx :docker]}
                 {:customer    "Thomson Reuters"
                  :description "Utvikling av løsning for intern distribusjon av fremskrevne tidsserier fra forskjellige markeder ved hjelp av bl.a. Spark, Kafka, Hadoop og HBase."
                  :years       [2016 2017]
                  :employer    :kodemaker
                  :summary     "Utvikling av løsning for intern distribusjon av fremskrevne tidsserier"
                  :tech        [:java, :vertx, :kafka, :spark, :hbase :zookeeper :kibana]}
                 {:customer    "Thomson Reuters"
                  :years       [2016]
                  :employer    :bytecode
                  :summary     "Utvikle ny løsning for CDB"
                  :description "Utvikle ny løsning for CDB: distribusjon av fremskrevne tidsserier for forskjellige markeder ved hjelp av bl.a. Spark, Kafka, Hadoop, HBase."
                  :tech        [:hbase :spark :kafka :java :zookeeper :vertx :kibana :java]}
                 {:customer    "Norwegian Air Shuttle"
                  :description "Utvikling og vedlikehold av backend for booking-systemet. Videreutvikling av reiseassistent for Android."
                  :years       [2012 2016]
                  :employer    :webstep
                  :summary     "Utvikling og vedlikehold av backend for booking-systemet"
                  :tech        [:java, :apache-cxf, :guice, :android, :jboss :junit, :maven, :oracle
                                :java-ee :jboss :hibernate :bash :groovy :play :jquery :intellij
                                :junit :testng :xml :git :hystrix]}
                 {:customer    "Storebrand Aktuarsystemer"
                  :description "Ny kundeportal for pensjonskassene som forvaltes av Storebrand Pensjonstjenester."
                  :years       [2011 2012]
                  :employer    :webstep
                  :summary     "Kundeportal og integrasjon av fagsystem."
                  :tech        [:java :html :css :javascript :jquery :mssql :apache-cxf :struts2
                                :java-ee :apache-cxf :html :css :intellij :gradle :maven :nexus
                                :teamcity :seapine :bamboo :junit :itext :svn :jdbc]}
                 {:customer "Statens Pensjonskasse, PERFORM"
                  :years [2009]
                  :employer    :accenture
                  :summary     "PERFORM, Uvikling av kjernefunksjonalitet for pensjonsreformen."
                  :description "Oppgaver: Utvikling av kjernesystemet i
                  pensjonsbehandlings-systemet etter nye regler om
                  pensjonsreformen."
                  :tech [:spring-batch :spring-core :java-ee :eclipse :jsf :junit :fitnesse
                         :jira :crucible :hibernate :java :maven :hudson :scrum :spring :sybase
                         :squirrel-sql :xml :jetty :mockito :sonar :tdd :ci :web-services
                         :apache-cxf]}
                 {:customer "Storebrand Livsforsikring"
                  :years [2008]
                  :employer    :accenture
                  :summary     "Ytelsesvurdering av kjernesystem, fondskjøp med BankID"
                  :description "Oppgaver: Første integrasjon med BankID for
                  Storebrand for kjøp av fond på nett. Lage sparekalkulator med
                  anbefaling av fondsvalg. Evaluering av fagsystem for kjøp og
                  salg av fond. Ytelsesvurdering og vurdering av
                  integrasjonsmetoden mot fagsystemet."
                  :tech [:bankid :java-ee :bamboo :nexus :soa :maven :ant :eclipse :jira
                         :xml :castor-xml :prolink :css :javascript]}
                 {:customer "Karolinska Institutet, Genbanken"
                  :years [2008]
                  :employer    :ibm
                  :summary     "Portal for gen-banken."
                  :description "Oppgaver: Lage en sikker portal for genbanken
                  slik at store datasett av genomer skal kunne deles mellom
                  forskere."
                  :tech [:portlets :websphere-portal :websphere :geronimo :pki :ssl :java-ee :junit :jsr-168]}
                 {:customer "Norsk Boligbyggerlag, NBBL"
                  :years [2007]
                  :employer    :ibm
                  :summary     "Utvikling av web-portal med timeregistrering og billagsføring."
                  :description "Oppgaver: I samarbeid med BOB (Bergen og Omegn
                  Boligbyggerlag) lage en portal for å samle all
                  nett-aktiviteten til NBBL. Lage web-applikasjoner for
                  timeregistrering og bilagsregistrering."
                  :tech [:quickr :javaee :junit :eclipse :ibm-rational-application-developer
                         :dojo :javascript :css :html :webservices]}
                 {:customer "Atmel Corporation"
                  :years [2006]
                  :employer    :ibm
                  :summary     "Porte UI rammeverk til ny prosessortype."
                  :description "Atmel designer og produserer micro-controllere.
                  Porte GUI rammeverk for linux til ny 32-bits
                  microcontroller.."
                  :tech [:c :cpp :bash :linux-kernel]}
                 {:customer "NTNU"
                  :years [2002 2003 2004 2005 2006 2007]
                  :employer :study-part-time
                  :description "Studentassistent i IT-intro.
                  Undervisningsassistent i Menneske-Maskin-Interaksjon(MMI) og
                  Mikrokontrollere"
                  :tech [:java :fortran :sql :html :css :c]}]

 :blog-posts
                [{:url   "https://nilsmagnus.github.io/post/go-tensorflow/"
                  :title "Using your tensorflow model with go"
                  :blurb "En forklaring på hva som skal til for å bruke en ferdig-trent tensorflow-model fra go med kode for å trene en enkel modell i python og kode for å bruke modellen fra go."
                  :tech  [:go :tensorflow]}]

 :cv {}
 :cv/description "Nils er sivilingeniør i datateknikk fra NTNU med erfaring som
 utvikler og arkitekt.

 Nils er genuint interessert i teknologi og liker alt som kan programmeres,
 automatiseres og optimaliseres. Nils lærer fort og er opptatt av at
 programvareutvikling er et håndverk man skal være stolt av.

 Når Nils ikke får nok utfordringer på jobb lærer han gjerne noe på fritiden
 eller jobber med hobbyprosjekter. Algoritmekurs og maskinlæringskurs fra
 Stanford er mine favoritter når han ikke utvikler egne apper og andre
 sideprosjekter. "
 :education-summary "Sivilingeniør/Master Datateknikk, NTNU"
 :experience-since 2007
 :relationship-status "Gift, 2 barn"
 :born 1980
 :education [{:institution "NTNU"
              :years [2001 2002 2003 2004 2005 2006 2007]
              :subject "Sivilingeniør/Master Datateknikk"}
             {:institution "NTNU/USP"
              :years [2004 2005]
              :subject
              "Utvekslingsår ved Universidade de São Paulo(USP), Brasil"}]
 :qualifications ["Senior systemutvikler"
                  "Java Plattform"
                  "Automatisering"
                  "Devops"
                  "Integrasjon"
                  "Ytelsesvurdering og optimalisering"
                  "Mobilutvikling, Android"
                  "Smidig utvikling og kontinuerlig leveranse"]
 :certifications [{:name "Certified Scrum Master", :year 2018}
                  {:name "Machine Learning by Stanford University on Coursera"
                   :year 2017}
                  {:name "TOGAF 9 Part 1 and 2", :year 2014}
                  {:name
                   "Programming Mobile Applications for Android Handheld Systems by University of Maryland, College Park"
                   :year 2014}
                  {:name
                   "Algorithms: Design and Analysis, Part 2 by Stanford University on Coursera"
                   :year 2013}
                  {:name "Spring Core", :year 2010}
                  {:name "Sun Certified Java Web Component Developer", :year 2008}
                  {:name "Sun Java Certified Programmer", :year 2007}]
 }
