{:id :odin
 :first-name "Odin"
 :last-name "Hole Standal"
 :title "Utvikler og arkitekt"
 :order 24
 :description "Odin er en pliktoppfyllende og selvdrevet problemløser som liker å ta ansvar. Han lærer raskt og er lidenskapelig opptatt av faget sitt. I tillegg er han glad i utfordrende arbeidsoppgaver og er flink til å samarbeide."}
