{:id :odin
 :name ["Odin" "Hole Standal"]
 :title "Utvikler og arkitekt"
 :start-date "2012-08-01"
 :description "Odin er en pliktoppfyllende og selvdrevet
               problemløser som liker å ta ansvar.
               Han lærer raskt og er lidenskapelig opptatt av faget
               sitt. I tillegg er han glad i utfordrende
               arbeidsoppgaver og er flink til å samarbeide."

 :phone-number "+47 91 63 50 08"
 :email-address "odin@kodemaker.no"

 :presence {:cv "odin"
            :twitter "odinodin"
            :stackoverflow "/users/273594/odinodin"
            :github "odinodin"
            :coderwall "odinodin"
            :linkedin "/in/odinholestandal"}

 :tech {:favorites-at-the-moment [:clojure :gradle :unity3d :git]
        :using-at-work [:gradle :groovy :java :javascript]
        :want-to-learn-more [:clojurescript :ansible :docker]}

 :blog-posts [{:url "http://odinodin.io/2014-07-15-podcaster/"
               :title "Podcaster for programmerere"
               :blurb "Podcaster er en fin måte å utnytte tiden til noe fornuftig når man gjør kjedelige ting som å
                       pusse opp eller å sitte på toget. Her er en oversikt over de podcastene jeg helst hører
                       på om dagen."
               :tech [:clojure]}
               {:url "http://odinodin.io/2014-07-01-clojure-map-map/"
               :title "Mappe maps"
               :blurb "Hvordan transformere nøkler, verdier eller begge deler i Clojure-maps?"
               :tech  [:clojure]}
               {:url   "http://odinodin.io/2013-06-29-get-git/"
                :title "Forstå Git"
                :blurb "Git er et kraftig verktøy med spisse kanter. Her er en samling med bøker, videoer og andre
                        ressurser som hjalp meg å forstå hvordan git fungerer."
                :tech [:git]}
               {:url "http://odinodin.io/2012-11-12-spock-and-spring/"
                :title "Spock og Spring"
                :blurb "Om du har en Spring-basert applikasjon og ønsker å teste den med Spock så er det kjekt å kjenne til
                       fallgruvene og hvordan du navigerer rundt de."
                :tech [:spock :groovy]}]

 :recommendations [{:title "This Developer's Life"
                    :blurb "Dette er min definitive favorittpodcast.
                            Her får man servert interessante
                            perspektiv på kjente tema innenfor programvareutvikling; krydret
                            med intervjuer av dyktige utviklere."
                    :link {:url "http://thisdeveloperslife.com"
                           :text "Hør podcasten"}
                    :tech [:utvikling]}
                   {:title "Release it!"
                    :blurb "Michael Nygard deler dyrekjøpte erfaringer som kan hjelpe deg med å lage robuste
                            produksjonssystemer."
                    :link  {:url  "http://pragprog.com/book/mnee/release-it"
                            :text "Les boken"}
                    :tech  [:utvikling]}
                   {:title "The Pain we forgot"
                    :blurb "Dette er en påminner om smertene ved systemutvikling som vi har blitt så vant til at
                            vi ikke stiller spørsmål ved de lenger. Det finnes et enormt rom for forbedring!"
                    :link {:url "http://www.lighttable.com/2014/05/16/pain-we-forgot/"
                           :text "Det vi glemte"}
                    :tech [:clojurescript :editor]}]

 :presentations [{:title "Webutvikling med Clojure"
                  :blurb "Det finnes et utall plattformer for å lage webapplikasjoner; så hvorfor skal du
                          vurdere Clojure? Fordi det gir deg enklere løsninger, raskere utvikling og færre feil.
                          Ta sjansen til å bli kjent med et språk som vil forandre måten du tenker på."
                  :tech [:clojure :clojurescript :web]
                  :urls {:video "https://vimeo.com/105857867"}}

                  {:title "Elektronisk tekstbehandling"
                  :blurb "Moderne programmeringsspråk er kraftige
                          saker; de kjemper om å overgå
                          hverandre med høyere og høyere abstraksjonsnivåer.
                          Men av og til kan den korteste veien til målet befinne
                          seg i verktøy som ble laget før internett ble oppfunnet.
                          Her får du en oversikt over Unix-verktøy for å
                          strukturere og filtrere tekst."
                  :tech [:shell :unix]
                  :urls {:video "https://vimeo.com/74309669"}}
                 {:title "Better and groovier tests with Spock"
                  :blurb "Spock er et elegant testrammeverk for Java og Groovy-
                          baserte applikasjoner. Det hjelper deg å skrive
                          lesbare og presise tester, samtidig som det optimaliserer
                          for utviklerproduktivitet."
                  :tech [:spock :testing :java :groovy]
                  :urls {:video "https://vimeo.com/49476112"}}]

 :side-projects [{:title "Cashflow"
                  :description "Nettbanken min har ingen regnskapsfunksjon. Så det lager jeg på egen hånd, i Clojure."
                  :link {:url "https://github.com/Odinodin/cashflow" :text "Les kildekoden"}
                  :illustration "/illustrations/side-projects/cashflow.jpg"
                  :tech [:clojure]}]

 :projects [{:customer "Conax"
             :description "Bistod med å innføre Groovy og Spock som testrammeverk. Arbeid med akseptansetester,
                           byggautomatisering, frontend- og backendutvikling og testautomatisering."
             :years [2012 2013 2014]
             :tech [:groovy, :java, :javascript, :spock, :spring, :hibernate, :spring-mvc, :hazelcast, :gradle, :maven, :git, :devops]}]

 :hobbies [{:title "Fotografering"
            :description "Kameraet mitt er stort sett med overalt. Du vet
                          aldri når muligheten til å ta et blinkskudd viser seg.
                          Dette bildet av soloppgangen tok jeg innerst i en fjord på Sunnmøre."
            :illustration "/illustrations/hobbies/odin-bubble-square.jpg"}
           {:title "Snø"
            :description "Noe av et det kjekkeste jeg vet er å sette utfor en velpreparert skibakke
                          når sola skinner. Det eneste jeg kommer på som topper det, er å pløye
                          pudder med snø til knærne. Da kjenner du at du lever."
            :illustration "/illustrations/hobbies/odin-ski.jpg"}]}
