{:id :olav
 :name ["Olav" "Bjørkøy"]
 :quit? true
 :title "Utvikler"
 :start-date "2021-10-01"
 :description "Olav jobbet hos oss fra oktober 2021 til oktober 2022. Han er en
               dyktig utvikler og trivelig kar. Vi jobber gjerne mer sammen med
               Olav, og anbefaler ham gjerne for andre prosjekter. Ta kontakt
               hvis dere trenger en referanse."

 :phone-number ""
 :email-address "mail@olav.io"

 :presence {}}
