{:id :olav
 :name ["Olav" "Bjørkøy"]
 :title "Utvikler"
 :start-date "2021-10-01 13:37"
 :experience-since 2011
 :born 1986

 :description "Olav er en erfaren og oppdatert frontend-utvikler som også gjerne gjør visuelt design og backend-utvikling.
 Til tross for å være frontend-utvikler er han opptatt av å lage enkle og vedlikeholdbare løsninger.
 Olav er spesielt opptatt av å balansere den beviste styrken til grunnleggende webteknologier med nødvendige nyskapninger fra aller siste nytt."

 :phone-number "+47 979 66 950"
 :email-address "olav@kodemaker.no"
 :presence {:cv "olav" :github "olav"}

 :tech {:using-at-work [:kotlin :typescript :react :kubernetes :postgresql]
        :favorites-at-the-moment [:go :rust :sqlite]
        :want-to-learn-more [:tokio, :wasm]}

 :innate-skills [:android :css :git :github :gitlab :ios :linux :npm :mac-os :pwa :testing :webpack :yarn]

 :qualifications ["Erfaren og oppdatert frontend-utvikler.",
                  "Foretrekker å gjøre mest mulig, fra visuelt design til backend-utvikling.",
                  "Ønsker å lage brukervennlige, tilgjengelige, og vedlikeholdbare løsninger."]

 :certifications [{:name "Oracle Certified Professional, Java SE Programmer", :year 2012}
                  {:name "Ruby Association Certified Ruby Programmer", :year 2011}]

 :recommendations [{:title "A Brief Rant on the Future of Interaction Design"
                    :blurb "Det meste vi designer ser nesten likt ut. Intuisjon føles alltid tryggere enn nyskapning. Men noen ganger bør blikket løftes. Bret Victor minner om at fremtidens interaksjonsdesign kan sikte høyere enn bilder under glass."
                    :link {:url "http://worrydream.com/ABriefRantOnTheFutureOfInteractionDesign" :text "Fremtidsverktøy"}
                    :tech [:interaction-design]}
                   {:title "Brand New fra UnderConsideration"
                    :blurb "Det meste vi koder har en utløpsdato. (Utenom spill? Ta kontakt!)  Men tid-til-omskriving føles som en alt for lav terskel. Brand-design derimot er potensielt tidløst, og et interessant alternativt felt å følge. UnderConsideration vurderer siste nytt."
                    :link {:url "https://www.underconsideration.com/brandnew" :text "Brandingnytt"}
                    :tech [:brand-design]}
                   {:title "GitHub Trending Weekly"
                    :blurb "Det meste i utviklerverden skjer på GitHub. Utviklerverden blir større og større, og ressursene for å lære nytt blir flere og flere. GitHub burde kanskje ha en Random-knapp, som Wikipedia. Men Trending-siden fungerer også."
                    :link {:url "https://github.com/trending?since=weekly" :text "Populær kode"}
                    :tech [:open-source]}]

 :open-source-projects [{:url "https://en.wikipedia.org/wiki/Blueprint_(CSS_framework)"
                         :name "Blueprint CSS"
                         :description "Tidlig CSS-rammeverk for enkle grids, balansert typografi, og fornuftige standardinnstillinger."
                         :tech [:clojure]}]

 :blog-posts [{:url "https://olav.io/text/2018/hardware/"
               :published "2018-01-01"
               :title "A web of hardware"
               :blurb "Forskjeller mellom maskinvare kan ha like mye å si som forskjeller mellom nettlesere."
               :tech [:frontend]}
              {:url "https://olav.io/text/2018/history/"
               :published "2018-06-01"
               :title "Stale data beats fresh errors"
               :blurb "Nettleserens navigasjon er en tidsmaskin. Frem og tilbake bør aldri vise noe nytt."
               :tech [:interaction-design]}
              {:url "https://olav.io/text/2017/frontend/"
               :published "2017-10-01"
               :title "The end of frontend"
               :blurb "Frontend-utvikling blir enklere og prototypeverktøy blir kraftigere. Vil de møtes?"
               :tech [:frontend]}]

 :hobbies [{:title "WWW"
            :description "Ville verdensveven skjedd i dag? Hvor lenge vil den vare? Hva er alternativene? Sci-Fi i hverdagen tatt for gitt. Interessant å snakke om, definitivt."
            :illustration "/illustrations/hobbies/olav-hobby-1.jpg"}]

 :projects [{:customer "Bring"
             :employer :kodemaker
             :years [2021]
             :summary "System for budleveranser med sanntids pakkesporing"
             :description "Frontend- og backend-utvikling for et system for budleveranser. Tjenesten håndterer alt fra mottak av ordre, optimalisering av ruter for sjåfører, sporing av pakker i sanntid, og integrasjoner med mange av Bring sine systemer."
             :tech [:kotlin :typescript :react :redux :cqrs :postgresql :arrow :flyway :jest :junit :kubernetes :docker :docker-compose :ci]},
            {:customer "Dune Analytics AS"
             :employer :self-employed
             :years [2020 2021]
             :summary "Fra SQL-spørringer til grafer, embeds, og dashboards"
             :description "Frontend, backend, og design for en analyseplattform for Ethereum-nettverket som lar brukere bygge grafer og dashboards fra egne SQL-spørringer. Bygget SQL-, graf- og dashboard-editors, samt en hybrid SSG/SSR landingsside."
             :tech [:typescript :nextjs :graphql :d3 :visx :jest :blockhain :ssr :vercel :sanity :hasura :aws :aws-cognito :figma]},
            {:customer "Exabel AS"
             :employer :self-employed
             :years [2017 2018 2019 2020]
             :summary "Fintech møter kunstig intelligens"
             :description "Frontend- og app-utvikling for en finansplattform hvor investorer lager modeller og datatilbydere tilbyr data. Bygget en hybrid-app for web og native med to UI-lag på en delt kodebase. Fokus på hyppig leveranse av nye features."
             :tech [:typescript :react :react-native :d3 :highcharts :grpc :google-protocol-buffers :github-actions :firebase :expo :auth0]},
            {:customer "Unloc AS"
             :employer :self-employed
             :years [2020]
             :summary "Lokaliserte landingssider"
             :description "Frontend-utvikling og design for en flerspråklig landingsside bygget på et hodeløst CMS og serverløse funksjoner. Fra konsept til levering på et par uker. Tett sammarbeid med kundens designere og domeneeksperter."
             :tech [:javascript :react :graphql :gatsby :firebase :sanity :sketch :responsive-design :digital-design]},
            {:customer "Klaveness Digital AS"
             :employer :self-employed
             :years [2018 2019]
             :summary "Cargo Value — Smart maritim logistikk"
             :description "Utvikling og design for en intelligent maritim logistikkplattform, med funksjoner for ruteplanlegging, lagerstyring, og risiko-basert varsling. Bygget en mobilapplikasjon for sporing av skip og mobile varslinger."
             :tech [:scala :typescript :react :react-native :redux :jest :expo :auth0 :kubernetes :brand-design]},
            {:customer "Tikky"
             :employer :designit
             :years [2018]
             :summary "Backend for en smart dørlås"
             :description "Tidlig backend-utvikling for en IoT-tjeneste for smarte dørlåser. Tjenesten lot brukere overvåke og kontrollere sin dørlås via en native app, samt opprette og dele digitale nøkler med familie, håndtverkere, og andre besøkende."
             :tech [:nodejs :express-js :swagger :postgresql :mqtt :docker :docker-compose]},
            {:customer "Appstax"
             :employer :designit
             :years [2017]
             :summary "Utviklerverktøy for en BaaS"
             :description "SDK-utvikling for en eksperimentell Backend-as-a-Service. Bygget og publiserte en minimal Android-SDK, samt en større underliggende Java-SDK, inkludert tilhøtende eksempel-apps og dokumentasjonssider."
             :tech [:java :android :maven :travis-ci :open-source]},
            {:customer "SATS Elixia"
             :employer :designit
             :years [2016]
             :summary "Bygg ditt eget medlemskap"
             :description "Frontend og backend-utvikling for en ny mobiltilpasset medlemskapsflyt, bygget for å understøtte rask iterasjon av nye tilbud. Gjennomførte brukerundersøkelser og intervjuer, samt langsgående brukertesting."
             :tech [:go :nginx :digital-ocean :cd :responsive-design :user-research]},
            {:customer "Cisco Norge"
             :employer :designit
             :years [2013 2014 2015 2016]
             :summary "Videokonferanse på utstilling"
             :description "Frontend og design for et web-basert visningsrom for videoprodukter, møteromskonfigurasjoner, og potensielle bruksområder. Bygget for å virke like bra online og offline, og tilpasset enhver skjerm — fra mobil til messe."
             :tech [:jquery :sass :electron :cd :digital-design]},
            {:customer "Posten Norge AS"
             :employer :bekk
             :years [2011 2012 2013]
             :summary "Digipost — Sikker digital post for Norges innbyggere"
             :description "Frontend-utvikling og design for en digital postkasse. Utviklet landingssider for forskjellige målgrupper. Jobbet med optimalisering av registreringsflyter. Laget en spesialtilpasset statisk sidegenerator for hurtig kontinuerlig leveranse."
             :tech [:javascript :sketch :ssg :open-source :digital-design :responsive-design]}]

 :project-highlights [{:blurb "System for bud&shy;leveranser, rute&shy;optimalsering, ordre&shy;håndtering, og sanntids pakke&shy;sporing."
                       :customer "Bring"},
                      {:blurb "Intelligent forsknings- og analyse&shy;plattform for investorer og tilbydere av alternative data."
                       :customer "Exabel"},
                      {:blurb "Applikasjon for maritim logistikk, intelligent rute&shy;planlegging, lager&shy;styring, og mobil varsling."
                       :customer "Cargo"}]

 :education-summary "Sivilingeniør Datateknikk, NTNU"
 :education [{:institution "NTNU"
              :years [2006 2007 2008 2009 2010 2011]
              :subject "Sivilingeniør Datateknikk"}]

 :languages [{:language "Norsk"
              :orally "Morsmål"
              :written "Morsmål"}
             {:language "Engelsk"
              :orally "Meget god"
              :written "Flytende"}]}
