{:id :per
 :name ["Per" "Spilling"]
 :quit? true
 :title ""
 :start-date "2011-08-01"
 :description "Per jobbet hos oss fra august 2011 til januar 2015. Han er en
               dyktig utvikler og trivelig kar. Vi jobber gjerne mer sammen med
               Per, og anbefaler ham gjerne for andre prosjekter. Ta kontakt
               hvis dere trenger en referanse.

               Per kan kontaktes på telefon +47 909 15 115 eller e-post psp@teleplan.no"

 :phone-number ""
 :email-address ""

 :presence {}}




