{:id :per
 :name ["Per" "Spilling"]
 :title "Sjefskonsulent"
 :start-date "2011-08-01"
 :description "Per har arbeidet profesjonelt med systemutvikling siden 1988. Prosjektene har vært varierende i størrelse, fra en-manns prosjekter til store prosjekter/programmer med over 100 personer. Per er meget faglig interessert og har deltatt aktivt i Javamiljøet i Norge som medlem av programkomitéen i JavaZone fra 2005 til 2013. 
 
 Etter at han begynte i Kodemaker i 2011 har han hatt gleden av å kunne fokusere fullt og helt på programmering igjen, og gjennoppdaget hvilken tilfredsstillelse dette gir. Han er en 'full stack' utvikler med mest erfaring med server-side utvikling, men liker også front-end utvikling.    
 
 Han er opptatt av å levere kvalitet og høy verdi til kunden. Verdier han setter høyt er åpen og ærlig kommunikasjon, i en atmosfære av respekt for andres meninger og vilje til å dele på kunnskap. Når det gjelder arbeidsoppgaver så kan Per fungere i mange forskjellige roller, som f.eks. utvikler, arkitekt, teamleder eller teknisk prosjektleder, men han foretrekker helst en rolle hvor programmering inngår som en viktig del."

 :phone-number "+47 909 15 115"
 :email-address "per@kodemaker.no"

 :presence {
	 :cv "per"
	 :twitter "perspilling"
}

:tech {
	:favorites-at-the-moment [:hibernate-alternativer :angularjs :ruby :rails]
	:want-to-learn-more [:clojure :javascript :reactive-programming :akka]
}

:recommendations [
{
	:title "The Pragmatic Programmer: From Journeyman to Master"
    :link {:url "http://pragprog.com/book/tpp/the-pragmatic-programmer"
    :text "Info om boken"}
    :tech [:software-craftsmanship]
    :blurb "Dette er en bok full av lærdom om hva det vil si å levere godt håndtverk (software craftsmanship) som utvikler, hvordan man kommer dit, og hvordan man kan jobbe med å holde seg selv oppdatert. I tillegg til at det er masse faglig bra stoff er den også morsomt skrevet." 
}
{
	:title "Domain-Driven Design: Tackling Complexity in the Heart of Software"
    :link {:url "http://dddcommunity.org/book/evans_2003/"
    :text "Info om boken"}
    :tech [:ddd :design]
    :blurb "En av de beste bøkene om software design etter min mening. Selv om Eric Evans skrev denne boken i 2003 så er den fortsatt nesten like aktuell. Når jeg skriver 'nesten like aktuell' så gjør jeg det fordi man i dag har mye større fokus på funksjonell programmering enn i 2003. Allikevel er de fleste av prinsippene i DDD like aktuelle i dag, slik som Ubiquitous Language, Value Objects, Context Map, og forskjellige andre design patterns of teknikker for å håndtere kompleksitet." 
}
]


}




