{:id :ronny
 :name ["Ronny" "Løvtangen"]
 :title "Utvikler"
 :start-date "2008-01-01"
 :description "Ronny er en allsidig utvikler med erfaring fra de fleste sider innen javautvikling. Ronny er en humørspreder og drivkraft i det sosiale livet. Påtar seg gjerne ansvar utover det vanlige og er en person som går godt overens med alle."

 :phone-number "+47 928 21 901"
 :email-address "ronny@kodemaker.no"

 :presence {:cv "ronny"
            :twitter "rlovtangen"
            :stackoverflow "/users/141688/rlovtang"
            :github "rlovtangen"
            :coderwall "rlovtangen"
            :linkedin "/in/ronnylovtangen"}

 :tech {:favorites-at-the-moment [:react]
        :using-at-work [:clojure :clojurescript :re-frame :reagent :docker :okd :elasticsearch]
        :want-to-learn-more [:micronaut :graalvm :kubernetes :docker :typescript :kotlin :graphql]}

 :recommendations [{:title "This Developer's Life"
                    :blurb "Nydelig podcast om livet som utvikler. Dessverre lenge mellom hver nye episode, men de som finnes er ganske så tidløse."
                    :link {:url "http://thisdeveloperslife.com"
                           :text "Hør podcasten"}
                    :tech [:utvikling]}]

 :hobbies [{:title "Fallskjermhopping"
            :description "Som utvikler er det lett å ta med seg jobben hjem. Gå og grunne på problemstillinger og tenke ut løsninger.
            Derfor trenger jeg et sted jeg kan koble helt ut. Det gjør jeg når jeg hopper fallskjerm. En dag på flyplassen i strålende sol, glade mennesker, ett hopp i timen - da er stacktrace,
            out-of-memory-error og lignende totalt fraværende."
            :illustration "/illustrations/hobbies/ronny-fallskjerm.jpg"
            :url "http://hoppfallskjerm.no"}

           {:title "Ishockey"
            :description "Med to gutter som spiller hockey, blir det mange timer i Skedsmo ishall.
            Er med som trener på laget til yngstemann. Draktsponsor er selvfølgelig Kodemaker.
            Spiller også med en gjeng selv, for moro skyld. Utrolig intensiv og bra trening, og ikke minst veldig gøy!
            Når vi skal se de voksne spille, så er det Storhamar som er laget."
            :illustration "/illustrations/hobbies/ronny-hockey.jpg"
            :url "http://skedsmoik.no"}]

 :open-source-contributions [
                             {:name "grails-core", :url "https://github.com/grails/grails-core", :tech [:grails :groovy]}
                             {:name "grails-doc", :url "https://github.com/grails/grails-doc", :tech [:grails :groovy]}
                             {:name "grails-profile-repository", :url "https://github.com/grails/grails-profile-repository", :tech [:grails :groovy]}
                             {:name "grails-maven-archetype", :url "https://github.com/grails/grails-maven-archetype", :tech [:grails :groovy]}
                             {:name "grails-wkhtmltopdf", :url "https://github.com/rlovtangen/grails-wkhtmltopdf", :tech [:grails :groovy]}
                             {:name "grails-build-info", :url "https://github.com/mjhugo/grails-build-info", :tech [:grails :groovy]}
                             ]

 :projects [

            {:customer "Animalia"
             :start "2018-09"
             :employer :kodemaker
             :summary "Dyrehelseportalen"
             :description "Utvikling av en applikasjon for registrering av helseopplysninger for storfe, sau m.m."
             :tech [:clojure :clojurescript :docker :okd :leiningen :oauth2 :elasticsearch :compojure :swagger :clojure-spec :reagent :re-frame :react :websocket :bootstrap :sql-server :oracle]}

            {:customer "NSB"
             :start "2018-05"
             :end "2018-08"
             :employer :kodemaker
             :summary "Tjenestevarsling"
             :description "Utvikling av en applikasjon for oppfølging av endringer i tjeneste for lokførere og konduktører"
             :tech [:tomcat :groovy :grails :yarn :node :react :redux :jest :sse :gradle :java :spring :spock :git :haproxy :activemq :mariadb]}

            {:customer "NSB"
             :start "2018-01"
             :end "2018-03"
             :employer :kodemaker
             :summary "UsrPwd 2"
             :description "UsrPwd. Videreutvikling av en tjeneste for autentisering"
             :tech [:tomcat :groovy :grails :java :spring :spock :git :rest :ad :ldap :haproxy]}

            {:customer "NSB"
             :start "2016-10"
             :end "2018-08"
             :employer :kodemaker
             :summary "Topas"
             :description "Topas. Utvikling av backend til en Android-applikasjon for lokførere og konduktører."
             :tech [:tomcat :groovy :grails :java :spring :spock :git :haproxy :ansible :ehcache :quartz :rest :activemq :mariadb]}

            {:customer "NSB"
             :start "2017-08"
             :end "2018-08"
             :employer :kodemaker
             :summary "Usrapi"
             :description "Usrapi. Utvikling av tjenester for tilgjengeliggjøring av data fra Active Directory / LDAP."
             :tech [:tomcat :groovy :grails :java :spring :spock :git :haproxy :ehcache :quartz :rest :ldap :mariadb]}

            {:customer "NSB"
             :start "2017-01"
             :end "2018-08"
             :employer :kodemaker
             :summary "PersonnelInfoSubscriber"
             :description "PaOListener. Utvikling av applikasjon for mottak av endringer i tjeneste for lokfører/konduktør og distribusjon av endring til andre applikasjoner"
             :tech [:tomcat :groovy :grails :java :spring :spock :git :haproxy :ehcache :quartz :rest :activemq :mariadb]}

            {:customer "NSB"
             :start "2015-01"
             :end "2018-08"
             :employer :kodemaker
             :summary "PaOListener"
             :description "PaOListener. Utvikling av applikasjon for å oppdage endringer i et api og sende melding til andre applikasjoner."
             :tech [:tomcat :groovy :grails :kafka :java :spring :spock :git :haproxy :ehcache :quartz :rest :soap :activemq :mariadb]}

            {:customer "NSB"
             :start "2014-10"
             :end "2018-08"
             :employer :kodemaker
             :summary "Mozart"
             :description "Mozart. Utvikling av en applikasjon for å fore flere
             eksterne systemer med toginformasjon, f.eks. ruteplan,
             materiellsammensetning, passasjerestimat osv. Oppgaver: Arkitekt /
             senior Javautvikler."
             :tech [:tomcat :groovy :grails :java :spring :spock :html :javascript :css :bootstrap
                    :git :svn :apache :ehcache :quartz :soap :rest :siri-service-interface-for-real-time-information
                    :activemq :mariadb]}

            {:customer "NSB"
             :start "2014-07"
             :end "2018-08"
             :employer :kodemaker
             :summary "TIM 2"
             :description "TIM 2. Utvikling av en mobil webapplikasjon hvor
             lokførere og konduktører kan se arbeidslister. Oppgaver: Arkitekt /
             frontendarkitekt / senior Javautvikler / frontendutvikler."
             :tech [:tomcat :groovy :grails :java :html :javascript :es6 :react :redux :jquery :css :bootstrap
                    :spring :junit :git :svn :soap :apache :ehcache]}

            {:customer "NSB"
             :start "2014-01"
             :end "2018-08"
             :employer :kodemaker
             :summary "Togbrettmeny"
             :description "Togbrettmeny. Utvikling av en applikasjon med
             snarveier til webapplikasjoner og lokale Androidapplikasjoner.
             Oppgaver: Arkitekt / frontendarkitekt / senior Javautvikler /
             frontendutvikler."
             :tech [:tomcat :groovy :grails :java :spring :spock :html :javascript :jquery :css
                    :less :bootstrap :android-intents :git :svn :apache :ehcache]}

            {:customer "NSB"
             :start "2014-01"
             :end "2015-12"
             :employer :kodemaker
             :summary "Trafficnow"
             :description "Trafficnow. Utvikling av et API for status på
             trafikken i øyeblikket. Oppgaver: Arkitekt / senior Javautvikler."
             :tech [:tomcat :groovy :grails :java :spring :spock :git :svn :apache :ehcache
                    :rest :google-image-charts]}

            {:customer "NSB"
             :start "2013-10"
             :end "2015-12"
             :employer :kodemaker
             :summary "RASK"
             :description "RASK / Min energi. Utvikling av en applikasjon for
             lokførere som visualiserer energiforbruk. Oppgaver: Arkitekt /
             frontendarkitekt / senior Javautvikler / frontendutvikler."
             :tech [:tomcat :groovy :grails :java :spring :spock :highcharts :html :javascript
                    :jquery :css :less :bootstrap :responsive-design :wkhtmltopdf :svn :oracle :mysql :apache
                    :ehcache :quartz :vagrant :soap]}

            {:customer "NSB"
             :start "2013-04"
             :end "2018-08"
             :employer :kodemaker
             :summary "Usroid"
             :description "Usroid. Utvikling av en OpenID provider for innlogging
             med NSB-brukere i Jernbaneverkets applikasjon for togfremføring;
             FIDO. Oppgaver: Arkitekt / senior Javautvikler."
             :tech [:tomcat :groovy :grails :java :spring :gradle :openid :html
                    :css :bootstrap :git :svn :apache :ehcache :quartz :soap :rest :ad]}

            {:customer "NSB"
             :start "2012-04"
             :end "2018-08"
             :employer :kodemaker
             :summary "Apast"
             :description "Apast. Utvikling av en applikasjon som mottar
             telledata fra tog med automatisk passasjertelling. Tilgjengeliggjør
             data via et REST-API. Oppgaver: Arkitekt / senior Javautvikler."
             :tech [:tomcat :groovy :grails :java :spring :junit :git :svn :rest :apache :ehcache :activemq]}

            {:customer "NSB"
             :start "2011-07"
             :end "2015-01"
             :employer :kodemaker
             :summary "ESO, Effektive stasjonsopphold"
             :description "ESO, Effektive stasjonsopphold. Utvikling av en
             applikasjon som forer Jernbaneverket med data om sammensetning av
             kommende tog for visning på anvisere på plattform. Oppgaver:
             Arkitekt / senior Javautvikler."
             :tech [:tomcat :groovy :grails :java :spring :junit :git :svn :soap :rest :ehcache :quartz :apache-poi]}

            {:customer "NSB"
             :start "2011-05"
             :end "2013-06"
             :employer :kodemaker
             :summary "GSM-R Telefonkatalog"
             :description "GSM-R Telefonkatalog. Utvikling av en mobil
             webapplikasjon for søk i jernbanens interne telefonsystem. Oppgaver:
             Arkitekt / frontendarkitekt / senior Javautvikler /
             frontendutvikler."
             :tech [:tomcat :groovy :grails :java :spring :junit :git :svn :soap :html :javascript
                    :css :apache :ehcache]}

            {:customer "NSB"
             :start "2011-02"
             :end "2012-08"
             :employer :kodemaker
             :summary "Rapp"
             :description "Rapp. Utvikling av en applikasjon for oppsett og
             mottak av skjema på nett. Oppgaver: Arkitekt / frontendarkitekt /
             senior Javautvikler / frontendutvikler."
             :tech [:tomcat :groovy :grails :java :spring :html :javascript :css :jquery
                    :jquery-mobile :junit :git :svn :mysql :mongodb :soap :rest :apache]}

            {:customer "NSB"
             :start "2011-02"
             :end "2011-06"
             :employer :kodemaker
             :summary "UsrPwd"
             :description "UsrPwd. Utvikling av en tjeneste for autentisering,
             inkludert en Grailsplugin. Oppgaver: Arkitekt / senior
             Javautvikler."
             :tech [:tomcat :groovy :grails :java :spring :junit :svn :rest :oracle :ad :ldap :apache]}

            {:customer "NSB"
             :start "2011-02"
             :end "2011-03"
             :employer :kodemaker
             :summary "SNMP"
             :description "SNMP-Agent. Utvikling av en applikasjon å simulere
             bevegelsene av et tog, for annonsering av stasjoner. Oppgaver:
             Arkitekt / frontendarkitekt / senior Javautvikler /
             frontendutvikler."
             :tech [:snmp :tomcat :groovy :grails :java :spring :html :css :junit :svn :mysql :soap]}

            {:customer "NSB"
             :start "2010-06"
             :end "2018-08"
             :employer :kodemaker
             :summary "Småtroll"
             :description "Småtroll. Utvikling av en mobil webapplikasjon for
             visning av informasjon om tog, med tilhørende ruteplan,
             passeringshistorikk, meldinger og lignende. Oppgaver: Arkitekt /
             frontendarkitekt / senior Javautvikler / frontendutvikler."
             :tech [:tomcat :groovy :grails :java :html :javascript :css :jquery :responsive-design
                    :spring :mysql :junit :spock :geb :git :svn :rest :bootstrap :apache :ehcache :quartz :struts2]}

            {:customer "NSB"
             :start "2010-01"
             :end "2014-07"
             :employer :kodemaker
             :summary "TIM"
             :description "TIM. Utvikling av en mobil webapplikasjon hvor
             lokførere og konduktører kan se arbeidslister. Oppgaver: Arkitekt /
             frontendarkitekt / senior Javautvikler / frontendutvikler."
             :tech [:tomcat :groovy :java :html :javascript :css :jquery :spring :junit
                    :git :svn :soap :apache :struts2]}

            {:customer "NSB"
             :start "2009-04"
             :end "2018-08"
             :employer :kodemaker
             :summary "Troll"
             :description "Troll. Utvikling av en kartapplikasjon for
             visualisering av hvor togene er i øyeblikket. Oppgaver: Arkitekt /
             frontendarkitekt / senior Javautvikler / frontendutvikler."
             :tech [:tomcat :groovy :grails :java :html :javascript :css :sass :react :redux :es6 :babel
                    :jspm :systemjs :npm :flex :actionscript :blazeds :spring :jms :camel :junit :git :svn
                    :gradle :maven :ehcache :quartz :mysql :soap :rest :bootstrap :apache :svg]}

            {:customer "NSB"
             :start "2008-11"
             :end "2010-12"
             :employer :kodemaker
             :summary "ENKA"
             :description "ENKA, ENØK for lokførere. Utvikling av en
             webapplikasjon for visualisering av strømforbruk på togstrekninger.
             Skal trigge konkurranseinstinkt og bidra til energisparing.
             Oppgaver: Senior Javautvikler / frontendarkitekt /
             frontendutvikler."
             :tech [:tomcat :struts2 :groovy :java :html :javascript :css :prototype :spring :junit
                    :fusioncharts :svn :maven :oracle :quartz :apache-poi]}

            {:customer "NSB"
             :start "2008-11"
             :end "2018-08"
             :employer :kodemaker
             :summary "Diverse infrastruktur"
             :description "Diverse. Oppsett av Git over HTTPS med
             git-http-backend. Oppsett av GitWeb. Konvertering av repos fra
             Subversion til Git. Administrator på JIRA og Confluence. Installasjon av
             JIRA og Confluence. Oppsett av Munin for systemovervåkning. Diverse
             serverdrift og oppsett CentOS. Oppsett av TLS-sertifikater.
             Installasjon av Jenkins, Nexus m.m. Oppsett og konfigurasjon av
             Tomcat, Apache HTTP Server, HAProxy m.m."
             :tech [:git :ansible :tomcat :apache :haproxy :nexus :jenkins :munin :jira :confluence :centos]}

            {:customer "Nordic Lottery Systems"
             :start "2008-01"
             :end "2008-11"
             :employer :kodemaker
             :summary "Internettspill"
             :description "Internettspill. Utvikling av et nytt internettspill
             med svært høye oppetids- og ytelseskrav Oppgaver: Senior
             Javautvikler / frontendutvikler. Ansvarlig for utvikling av en ny
             delapplikasjon i Struts 2. Gjennomførte overgang fra CVS til
             Subversion. Laget en proof of concept på bruk av Flex."
             :tech [:java :jboss-portal :ejb :hibernate :jpa :spring :jboss-messaging :selenium ;EJB 2.1 og 3.0
                    :junit :testng :css :html :javascript :jquery :struts2 :webwork
                    :flex :actionscript :svn :cvs :maven :apache]}

            {:customer "CSAM/Rikshospitalet"
             :start "2003-09"
             :end "2008-01"
             :employer :objectware
             :summary "Klinisk portal"
             :description "Klinisk portal. Utvikling av «Klinisk Portal», en
             portalløsning med integrasjon mot mange underliggende systemer. Var
             bl.a. med på å muliggjøre sammenslåingen av Rikshospitalet og
             Radiumhospitalet. Startet som et prosjekt hos Rikshospitalet men
             vokste til et eget selskap (CSAM) og et produkt som også ble tatt i
             bruk på flere sykehus i Vestmanlän i Sverige. Oppgaver: Senior Java
             / frontendutvikler. Portalutvikling av ajaxintensive portlets."
             :tech [:java :jsp :struts :prototype :ajaxanywhere :javascript :css
                    :html :portlets :oracle-portal :oc4j :intellij :ant :svn :cvs
                    :jstl :spring :junit :hudson :apache-poi :watir]}

            {:customer "DnB NOR"
             :start "2004-07"
             :end "2004-09"
             :employer :objectware
             :summary "Sparekalkulatorer"
             :description "Sparekalkulatorer. Utvikling av diverse kalkulatorer
             på DnB NORs hjemmesider. Konsumenter av webservicer fra Cicero
             Financial Planner. Oppgaver: Senior Java / frontendutvikler."
             :tech [:java :atg-dynamo :javascript :css :html :sourcesafe]}

            {:customer "Schlumberger"
             :start "2003-05"
             :end "2003-08"
             :employer :objectware
             :summary "Kundesystem"
             :description "Kundesystem. Utvikling av tykk klient for
             kundehåndtering. Oppgaver: Design og GUI-utvikling."
             :tech [:java :swing]}

            {:customer "Objectware (internprosjekt)"
             :start "2003-04"
             :end "2003-05"
             :employer :objectware
             :summary "Novell Composer connector"
             :description "Novell Composer connector. Utvikling av en connector for
             Novell exteNd Composer for kobling mot Agresso."
             :tech [:novell-extend-composer-appserver :java :jdbc :weblogic]}

            {:customer "Cicero"
             :start "2002-06"
             :end "2002-04"
             :employer :objectware
             :summary "Cicero Financial Planner"
             :description "Cicero Financial Planner. Utvikling av Cicero
             Financial Planner, støttesystem for finansiell rådgivning.
             Produktet bestod av en rekke webservices som ble solgt til banker
             og finansinstitusjoner. Oppgaver: Hadde ansvaret for utvikling
             av en administrasjonsapplikasjon. Utvikling av webtjenester."
             :tech [:jsp :struts :servlets :webservices :orion :mysql :javascript :css
                    :html :cvs :ant :intellij :oracle9ias :j2ee :cruise-control :dreamweaver-mx]}

            {:customer "Gjensidige NOR"
             :start "2002-04"
             :end "2002-05"
             :employer :objectware
             :summary "Salgsstøtteapplikasjoner"
             :description "Salgsstøtteapplikasjoner. Utvikling av
             salgsstøtteapplikasjoner for salg av diverse forsikringsprodukter.
             Oppgaver: Design og utvikling av javaklient samt utvikling av
             servertjeneste for generering av PDF og lagring til OnDemand."
             :tech [:jfc :ibm-content-manager-ondemand :db2 :rational-rose
                    :rational-clearcase :intellij]}

            {:customer "Tybring Gjedde ASA"
             :start "2002-01"
             :end "2001-04"
             :employer :objectware
             :summary "Netshop"
             :description "Netshop. Ny ehandelsløsning og administrasjonsmodul
             med underliggende produktdatabase. Integrasjon mot SAP/R3 og
             AMTrix. Oppgaver: Analyse, design og utvikling. Ansvar for
             datamodellering (verktøy: PowerDesigner). Utvikling av adminmodul
             og mellomlag i Java."
             :tech [:java :ejb :jdbc :silverstream :oracle]}

            {:customer "Gjensidige NOR"
             :start "2001-07"
             :end "2002-01"
             :employer :objectware
             :summary "Salgsstøtteapplikasjoner"
             :description "Salgsstøtteapplikasjoner. Utvikling av
             salgsstøtteapplikasjoner for salg av diverse forsikringsprodukter.
             Oppgaver: Design og utvikling av javaklient samt utvikling av
             servertjeneste for generering av PDF og lagring til OnDemand."
             :tech [:jfc :ibm-content-manager-ondemand :db2 :rational-rose
                    :rational-clearcase :intellij]}

            {:customer "Tybring Gjedde ASA"
             :start "2000-06"
             :end "2001-06"
             :employer :objectware
             :summary "Netshop"
             :description "Netshop. Ny ehandelsløsning og administrasjonsmodul
             med underliggende produktdatabase. Integrasjon mot SAP/R3 og
             AMTrix. Oppgaver: Analyse, design og utvikling. Ansvar for
             datamodellering (verktøy: PowerDesigner). Utvikling av adminmodul
             og mellomlag i Java."
             :tech [:java :ejb :jdbc :silverstream :oracle]}

            {:customer "UiO"
             :years [1999 2000]
             :employer :usit
             :summary "Brukerstøtte/operatør"
             :description "Brukerstøtte
             for alle mulige IT-relaterte problemer (hardware, OS,
             applikasjoner, oppringt, nettverk, printere, etc) på forskjellige
             plattformer (Windows, Mac, Unix/Linux). Utskriftstjenester,
             systemovervåkning/vedlikehold."
             :tech [:windows :mac-os :linux :unix]}]

 :employments {:objectware {:description "Konsulent, Seniorkonsulent (fra 2004).
               Java/JEE konsulent i en rekke prosjekter med varierende teknologi. Svært mye frontendutvikling på javaplattform, både tykke (Swing) og tynne klienter. Opparbeidet seg rollen som avdelingens ekspert på ajaxteknologi."}
               :usit {:description "Brukerstøtte/operatør.
               Deltidsstilling ved siden av studier."}}

 :project-highlights [{:blurb "Rikt, interaktivt kart over togtrafikken. Viktig applikasjon for driftoperativt senter."
                       :customer "NSB"}
                      {:blurb "Visualisering av strømforbruk for lokførere. For å trigge konkurranseinnstinkt og spare energi."
                       :customer "NSB"}
                      {:blurb "Virksomhetskritisk motor for sending av toginformasjon til flere mottakere. Integrasjon med en rekke kilder."
                       :customer "NSB"}
                      ]

 :cv {:default {:exclude-techs [:dreamweaver-mx :struts :atg-dynamo :webwork :fusioncharts :google-image-charts :weblogic :jboss-messaging :jboss-portal :hudson]}}

 :cv/description "Ronny har lang erfaring med systemutvikling. Han er spesielt
fokusert på å lage webapplikasjoner med høy ytelse, god interaksjon og
brukervennlighet, som virker på tvers av nettlesere. Har erfaring med
frontendutvikling fra før ajax ble et begrep. Ronny har god kjennskap til
ledende rammeverk for webutvikling på javaplattform. Er engasjert i miljøet
rundt Groovy og Grails. Ronny er sosial og går godt overens med kunde og
kolleger. Er opptatt av å avdekke kundens behov og møte disse. "


 :endorsements [{:author "Peter Hausken"
                 :title "tidl. IT-sjef i NSB Trafikk"
                 :quote "I løpet av sin tid som utvikler / konsulent i NSB har Ronny stått bak og deltatt i en omfattende digitalisering av NSBs operative drift. IT-verktøyene han har utviklet er i daglig bruk av flere tusen ansatt i Norge og Sverige. De har automatisert og forenklet en rekke oppgaver ved å legge brukervennlige grensesnitt utenpå andre leverandørers systemer, samt lage mindre systemer for å dekke jernbanespesifikke oppgaver.<br><br>
                 Ronny er svært god til å forstå kundes forretning og hvordan de ulike delene henger sammen. Han har også hatt en selvstendig interesse for jernbanen som strengt tatt er ubetalelig. Han er fokusert og flink til å lage løsninger som er driftsstabile og holder svært høy kvalitet.<br><br>
                 Han følger selv med på at løsningene han har laget faktisk fungerer, og husker godt hva som er implementert og hvorfor. Han er flink til selv å finne svakheter i løsningen som er implementert og sørger for at han eller andre gjør de utbedringene som trenges ettersom utviklingen går videre.<br><br>
                 Ronny har vært blant de aller beste utviklerne som har jobbet for NSB, og jeg vil anbefale ham på det sterkeste."}]

 :endorsement-highlight {:author "Peter Hausken"
                         :title "tidl. IT-sjef i NSB Trafikk"
                         :quote "Ronny har vært blant de aller beste utviklerne som har jobbet for NSB, og jeg vil anbefale ham på det sterkeste"}

 :education-summary "Cand. Mag. Informatikk, UiO"
 :experience-since 2000
 :qualifications ["Fullstackutvikler som liker best å jobbe med ting som synes"
                  "Opptatt av å avdekke kundens behov og møte disse"
                  "Engasjert i miljøet rundt Groovy og Grails"
                  "Tar ansvar for helheten og blir gjerne en person folk går til"
                  "Sterk på frontendutvikling"
                  ]
 :certifications [{:name "Styrekurs for daglig leder og styremedlemmer"
                   :institution "Virke"
                   :url "https://www.virke.no/kurs-konferanser/kurs/kurs-i-styrearbeid/styrekurs-for-daglig-leder-og-styremedlemmer/"
                   :year 2019
                   :certificate
                   {:url "/certificates/ronny/styrekurs.pdf"
                    :text "Kursbevis"}}
                  {:name "Profesjonelt styrearbeid", :year 2011}
                  {:name "Retorikk og presentasjonsteknikk", :year 2010}
                  {:name "Enonic Vertical Site, Utvikler 2 - Malutvikling", :year 2009}
                  {:name "Enonic Vertical Site, Utvikler 1 - Nettstedskonfigurasjon"
                   :year 2009}
                  {:name "Certified ScrumMaster", :year 2006}
                  {:name
                   "Sun Certified Web Component Developer for Java 2 platform, Enterprise Edition"
                   :year 2003}
                  {:name "Sun Certified Programmer for Java 2 platform", :year 2001}]
 :born 1975
 :innate-skills [:postgresql :ruby :objc :xcode :textmate :sublime-text :terminal :osx :h2db :hsqldb :sqlite :google-analytics :eclipse :scrum :architecture :testing :ci :cd :micro-services :php :maven :jetty]
 :education [{:institution "Universitet i Oslo"
              :years [1996 1997 1998 1999 2000]
              :subject "Cand. Mag. Informatikk"}]
 :domain-skills [{:title "Jernbane"
                  :description
                  "Inngående kjennskap til hvordan norsk jernbane fungerer, etter mange år hos NSB. Også kjennskap til svensk jernbane etter flere prosjekter for Tågkompaniet. God kunnskap om både operasjonell virksomhet, materiell og teknisk infrastruktur. Stemplet som tognerd."}
                 {:title "Helseforetak"
                  :description
                  "God kunnskap etter 4 år på Rikshospitalet. Var delaktig i kravinnsamlingsprosessen, som blant annet gikk ut på å ha workshops med leger og sykepleiere. Er gift med en lege, noe som gir ytterligere innblikk i helse-Norge."}
                 {:title "Lotterivirksomhet", :description "Noe kjennskap"}
                 {:title "Bank/Finans", :description "Noe kjennskap"}
                 {:title "Forsikring", :description "Noe kjennskap"}]

:languages [{:language "Norsk"
               :orally "Morsmål"
               :written "Morsmål"}
              {:language "Engelsk"
               :orally "Meget god"
               :written "Flytende"}
              {:language "Tysk"
               :orally "Grunnleggende"
               :written "Grunnleggende"}]

 }
