{:id :ronny
 :first-name "Ronny"
 :last-name "Løvtangen"
 :title "Partner"
 :start-date "2008-01-01"
 :description "Ronny er en allsidig utvikler med erfaring fra de fleste sider innen javautvikling. Ronny er en humørspreder og drivkraft i det sosiale livet. Påtar seg gjerne ansvar utover det vanlige og er en person som går godt overens med alle."}
