{:id :stein
 :name ["Stein" "Engen"]
 :title "Partner"
 :start-date "2010-01-01"
 :description "Stein er en ringrev i faget og har en bred bakgrunn og god faglig ballast. Stein står på for kundene sine og ser etter fornuftige løsninger på intrikate problemstillinger. Stein har også veldig gode talegaver og går godt overens med alle."}
