{:id :stein-tore
 :first-name "Stein Tore"
 :last-name "Tøsse"
 :title "Kodemekker"
 :order 21
 :description "Stein Tore er en erfaren og engasjert java-utvikler. Han er opptatt av å levere kvalitet, gjennom blant annet en aktiv dialog med kunden.\n\n Stein Tore har jobbet med flere forskjellige oppgaver innen IT, slik som support, kundeansvar, installasjon, testing og utvikling. Han bruker denne erfaringen aktivt i alle de prosjekter han deltar i."}
