{:id :stein
 :name ["Stein" "Engen"]
 :title "Partner"
 :start-date "2007-04-01 00:03"
 :description "Stein er en ringrev i faget og har en bred bakgrunn og god faglig ballast.
               Han står på for kundene sine og ser etter fornuftige løsninger på intrikate
               problemstillinger. Stein trives best i farvannet mellom brukerne og
               forretningssiden og tar ofte på seg brukersidens hatt for å komme frem til de
               beste løsningene. Stein har også gode talegaver og går godt overens med alle."

 :phone-number "+47 90833407"
 :email-address "stein@kodemaker.no"

 :presence {:cv "stein"
            :linkedin "/in/sengen/"}

 :recommendations [{:title "Mine dyktige Kodemakerkolleger"
                    :tech [:coder :hardcore]
                    :blurb "Det er alltid kjekt med kolleger som både vet hva de driver
                           med og er hyggelig. Anbefales på det varmeste."
                    :link {:url "http://www.kodemaker.no/mennesker/"
                           :text "Kodemakere"}}]
  :hobbies [{:title "Sykkel"
             :description "For noen år tilbake gikk jeg til anskaffelse av en terrengsykkel. Det
                           førte til bedre form og lavere vekt, samtidig som følelsen av å suse
                           gjennom naturen i frisk luft er ubetalelig. På en av Kodemakers årlige
                           felles weekend-utflukter ble vi introdusert til landeveissykler i
                           Toscana, og deretter var jeg solgt. Det endte med at flere av oss
                           kjøpte syklene vi hadde benyttet og fikk dem sendt hjem. Siden er det blitt mange mil og mye
			  bra trening i mitt hjemmeområde - det fagre Follo. For tiden trenes det
			  med mål om å kunne sykle Lillehammer-Oslo 2014 på under 6 timer.."
            :illustration "/illustrations/hobbies/syklisten.jpg"}
           {:title "Friidrett"
            :description "Jeg har siden årtusenskiftet vært mye engasjert i barne- og ungdomsidrett.
			  Ble kapret til verv som kasserer i Ski IL Friidrett og har siden 2006
			  vært leder av klubben. Dette har vært en usedvanlig hyggelig reise,
			  både i møte med mye flott ungdom, men også i møte med foreldre og
			  støtteapparat/trenere. Anbefaler alle å tenke seg om to ganger før
			  de sier nei til å påta seg verv i lokale lag eller foreninger!"
            :url "http://skifriidrett.no/"
            :illustration "/illustrations/hobbies/marte.jpg"}
           {:title "Vin og mat"
            :description "Siden mine to førstnevnte hobbies tilsynelatende oser av sunnhet,
			  må jeg herved bekjenne min svakhet for et par andre av livets goder.
			  Av en eller annen grunn fattet jeg allerede som 20-åring interesse for vin
			  - og da utover det få i seg sterkest mulig vin på kortest mulig tid. På spørsmål om
			  hva som er min favorittvin, vil det endre seg over tid, men de siste årene
			  er det nok Italia som har vært mest i skuddet. Har en liten kjeller som inneholder
			  noen klenodier (som jeg aldri tar med råd til å drikke), men finner stor glede i
			  å finne frem til gode viner som ikke koster all verden. Det er mer utfordrende å
			  finne god vin til 150 kroner enn til 550.. Er også glad i å lage mat -
			  og det å få til matchen vin/mat er jo helt gull!"
            :illustration "/illustrations/hobbies/vin.jpg"}
           ]
}
