{:id :sten-morten
 :name ["Sten Morten" "Misund-Asphaug"]
 :title "Frihetsforkjemper"
 :start-date "2008-10-01"
 :description "Sten Morten er frihetsforkjemper. Han mener vi skal bruke teknologi for å frigjøre oss fra unødvendig arbeid, i stedet for å bruke teknologi til å binde oss til arbeidspulten. Derfor lager han systemer som får kunder til å komme til deg, systemer som selger, og systemer som leverer produkter. Dette gjør han ved å bruke kognitiv psykologi og hundre år gamle direktemarkedsføringsteknikker, koblet sammen med moderne automatisering (programmering) og annonseplattformer som Google AdWords og Facebook Ads."
 :phone-number "93261911"
 :email-address "stenmorten@kodemaker.no"

 :presence {:cv "stenmorten"
            :twitter "stenmorten"
            :linkedin "/in/stenmorten"
            :stackoverflow "/users/752035/steni"
            :github "steni"}

 :tech {:favorites-at-the-moment [:dan-kennedy :frank-kern :aweber :google-adwords :facebook-ads :google-analytics :infusionsoft :clojure ]
        :want-to-learn-more [:clojure :clojurescript]}

 :recommendations [{:title "The Gary Halbert Letter"
                    :blurb "Kanskje verdens beste \"copy writer\", Gary Halbert, publiserte i mange år sine innsikter i hvordan skrive for å selge. Her ligger alle brevene, gratis for verden. En skattekiste."
                    :link {:url "http://www.thegaryhalbertletter.com/"
                           :text "Les brevene"}
                    :tech [:hjernen :penn-og-papir]}]

 :hobbies [{:title "Løping"
            :description "Ikke noe renser kroppen og hodet for spenninger som en liten mil. I følge forskning fra Boise State University stresser løpere mindre, holder flere løfter, søker mer informasjon, og er bedre til å utsette tilfredstillelse, enn andre. (http://www.ncbi.nlm.nih.gov/pubmed/21873905)"
            :illustration "/illustrations/hobbies/stenmorten-running.jpg"
}]

 :blog-posts [{:url "http://www.timetools.no/ta-tiden-tilbake.php"
               :title "Hvordan ta tiden din tilbake"
               :blurb "De siste 3 månedene har livet mitt blitt snudd på hodet, og jeg elsker det. Jeg har tid til ungene, til kona mi, og til meg selv. Jeg er fri. Og jeg har en melding jeg gjerne vil dele med deg. Trykk play på videoen, og kos deg! (Og så tar jeg veldig gjerne i mot kommentarer under videoen, når du har sett den. Del dine tanker, hva drømmer du om, hva har DU lyst å få til?)"
               :tech [:adwords :facebook-ads :aweber]}
              {:url "http://programmerer.com/2013/05/hvis-du-ikke-har-hvis-eller-if-assembly-and-clojure/"
               :title "Hvis du ikke har hvis"
               :blurb "Hvordan implementerer du noe så enkelt som IF?"
               :tech [:assembly :clojure]}
              {:url "http://programmerer.com/2012/12/personlige-leveregler-gir-dybde-og-mening/"
               :title "Personlige leveregler gir dype og mening"
               :blurb "For noen år siden fant jeg ut at jeg ville prøve å lage et sett \"leveregler\" for meg selv. Noe som ville inspirere og motivere meg, og som jeg kunne la guide meg når jeg var i tvil om neste trekk. Hver gang jeg tar dem frem, gir de meg noe nytt. Samtidig gir de en dybde og mening, og er en rød tråd i livet. Hvis du tar deg tid til ettertanke i dag, kanskje min lille remse kan gi deg noen innspill. Disse er selvfølgelig svært personlige. Dine vil være annerledes."
               :tech [:hjernen]}
              {:url "http://programmerer.com/2012/12/tanker-er-vanedyr/"
               :title "Tanker er vanedyr"
               :blurb "Jeg tok trappen i dag. Jeg ville ikke. Hele kroppen verket etter en dårlig natt med hostende unger. Men jeg vet en ting. Jeg vet at tanker er fysiske. Da mener jeg ikke på sånn new age mumbo jumbo måte. Men at det som skjer i hjernen når jeg tenker, er at elektriske impulser blir sendt gjennom fra et neuron til et annet, fra det ene neuronets aksoner til det andre neuronets dendritter. Og at hver gang en slik overføring skjer, så styrkes banen mellom de to nevronene."
               :tech [:hjernen]}]

 :presentations [{:title "Det eneste du MÅ (FINN.no Techdagen)"
                  :blurb "Om du bare skulle leve ETT liv, hva ville du gjort da? Resultatet av ti år med lykkeforskning er klar: Det vi trenger, er 1) en følelse av samhold, 2) følelse av kontroll over eget liv, 3) å kunne skape noe, 4) å kunne bidra positivt i verden. Samtidig viser eksperimenter med arbeidsdagens lengde at mange får mer gjort når de jobber kortere dager enn åtte timer. Flere bedrifter opplever feitere bunnlinjer med kortere arbeidsdager. Så hva om vi jobbet mindre, tjente mer, og fikk mer fritid? Ja, hva da?"
                  :tech [:hjernen]
                  :urls {:video "http://4x4player.com/deteneste.php"}
                  :date "2012-06-16"}
                 {:title "Lag ditt eget språk, i Groovy, på 37 minutter (JavaZone)"
                  :blurb "Sten Morten viser deg alt du trenger å kunne for å lage ditt eget programmeringsspråk, på 37 minutter."
                  :tech [:lisp :groovy]
                  :urls {:video "http://vimeo.com/album/2525252/video/74401304"}
                  :date "2013-09-12"}
                 {:title "Kjærlighet i automatiseringens tid (CIONET)"
                  :blurb "Kan det hende du får utrettet mer, om du jobber mindre? Hvorfor har vi egentlig 8-timers arbeidsdag? På 34 minutter presenterer jeg et verktøy du kan bruke for å få gjort mer, på færre timer."
                  :tech [:hjernen]
                  :urls {:video "http://4x4player.com/arbeidsdagenslengde.php"}
                  :date "2012-06-10"}
                 {:title "En deilig implementert AND (Teknologihuset)"
                  :blurb "Et dypdykk inn i clojure.core, der vi ser på hvor utrolig deilig AND er implementert"
                  :tech [:hjernen :clojure]
                  :urls {:video "http://programmerer.com/2013/06/en-deilig-implementer-and-video/"}
                  :date "2013-06-10"}]

 :open-source-projects [{:url "https://github.com/steni/ryolisp"
                         :name "Roll Your Own Lisp"
                         :description "Alle programmerere må en gang i livet lage sin egen LISP. Her er en du kan leke med, i Groovy"
                         :tech [:clojure :lisp :groovy]}]

 :projects [{:customer "Adam og Eva - Frisørskolen"
             :description "Lagde listemaskin som drar inn elever til Adam og Eva Skolen."
             :years [2013 2014]
             :tech [:google-adwords :facebook-ads :google-analytics :aweber]}
            {:customer "FINN Motor"
             :description "Utvikling av Nybil-løsning, og videreutvikling av de forskjellige markedene til Finn Motor (bil, båt, etc)"
             :years [2010 2011 2012]
             :tech [:javascript :spring-mvc :ajax :jquery :jsp :groovy :java :junit :jira :confluence]}
            ]

 }
