{:id :torstein
 :name ["Torstein" "Meland"]
 :title "Løsningsmann"
 :start-date "2004-12-01 00:06"
 :description "Torstein er en systemutvikler med lang erfaring fra prosjekter innen en 
               rekke områder. I sine prosjekter er han opptatt av å levere kvalitet i 
               alle ledd fra kildekode til brukeropplevelse. Koding er kjernen i det han
               jobber med og han er flink til å komme frem til løsninger på problemer.

               Torstein leverer moderne, elegante og brukervennlige løsninger på
               store og små utfordringer. Han jobber like gjerne med databaser og backend
               som med GUI og frontend.

               Torstein har jobbet med systemer på javaplattformen hele sin yrkeskarriære.
               Oppdragsgiverne hans kjenner ham som en som får ting gjort. Han har stor arbeidskapasitet
               og jobber effektivt. Han lærer raskt og tenker fremover."

 :innate-skills [:intellij :eclipse :toad :terminal :sql :java :ios :android :osx]

 :phone-number "+47 481 12 911"
 :email-address "torstein@kodemaker.no"

 :presence {:cv "torstein"
            :twitter "tmetrue"
            :linkedin "/in/tmeland/"
            :github "tmetrue"}

 :tech {:using-at-work [:groovy :grails :java :spring :neptune :javascript :bootstrap]
        :favorites-at-the-moment [:groovy :grails]
        :want-to-learn-more [:clojure :emacs :swift]}

 :qualifications ["Fullstack, åpen for alle utfordringer"
                  "Senior systemutvikler, lang erfaring innenfor en rekke områder"
                  "Løsningsmann, liker å løse store og små problemer"
                  "Integrasjon, har brukt mange forskjellige integrasjonsverktøy siden 2005"
                  "Sterk på SQL. Spesielt innen Oracle, men har også brukt PostgreSQL og SQL Server"
                  "Scrum / smidig utvikling. Trives blant folk."]

 :recommendations [{:link {:url "http://butunclebob.com/ArticleS.UncleBob.TheBowlingGameKata" :text "Prøv kataen"}
                    :title "Onkel Bobs Bowling Game Kata"
                    :blurb "Bowling kataen til onkel Bob ble min
                            introduksjon til testdrevet utvikling. Jeg
                            anbefaler den om du har lyst til å prøve
                            ut TDD i praksis."
                    :tech [:testing :tdd]} 
                   {:link {:url "http://emacsrocks.com/" :text "Se videoene"}
                    :title "Emacs Rocks!"
                    :blurb "Min kjære kollega, [Magnar](/magnar/), har bablet om Emacs de siste
                            årene. Jeg har tenkt at han må være riv ruskende gal.
                            Hvorfor skulle noen ville utsette seg for en editor fra
                            juratiden? Vel, det viser seg at Emacs fakstisk rocker.
                            Sjekk ut screencastene hvis du enda ikke er overbevist."
                    :tech [:emacs]}]

 :hobbies [{:title "Seiling"
            :description "Frihetsfølelsen er kanskje den fremste grunnen til
                          at jeg liker seiling. Båten tar meg alle steder hvor det
                          er hav og den trenger i prinsippet ikke annet enn passe
                          vind. Det føles ikke feil å tilbringe noen dager eller uker
                          ved noen holmer langt ute i havgapet."
            :illustration "/illustrations/hobbies/seiling.jpg"}]

 :project-highlights [{:blurb "Modernisering av Amplan. Webapplikasjon utviklet med Spring Boot, Bootstrap, Thymeleaf."
                       :customer "Forsvaret"}
                      {:blurb "Nyutvikling av Material Data Portalen, et system for anmodning om og behandling av materialdata."
                       :customer "Forsvaret"}
                      {:blurb "Videreutvikling av GBMS. Forsvarets system for kontroll og oppfølging av kanonrør."
                       :customer "Forsvaret"}]

 :projects [{:customer "Forsvaret"
             :start "2018-09"
             :employer :kodemaker
             :summary "FUNIF Kasse"
             :description "Webapplikasjon for ansatte på Forsvarets Uniformsutsalg. Direkte
             integrasjon mot SAPs transaksjoner for salgsordre, material og kunderegister.
             Oppgave: Analyse, design, test, utvikling, dokumentasjon."
             :tech [:neptune :javascript :abap :sap]}
            {:customer "Forsvaret"
             :start "2017-09"
             :employer :kodemaker
             :summary "Amplan modernisering"
             :description "Oppgrading av Forsvarets system for ammunisjonsplanlegging.
             Integrasjon med en rekke andre system tilknyttet ammunisjonsforvaltningen.
             Oppgave: Analyse, design, test, utvikling, dokumentasjon."
             :tech [:java :spring-boot :jpa :oracle :bootstrap :html :css :javascript :git]}
            {:customer "Forsvaret"
             :years [2016]
             :employer :kodemaker
             :summary "Forvaltningssystem"
             :description "Nyutvikling av Material Data Portalen, et system for
             anmodning om og behandling av materialdata. Integrasjon med
             forsvarets SAP-løsning. Oppgave: Analyse, design, test, utvikling,
             dokumentasjon"
             :tech [:groovy :grails :oracle :sap :git]}
            {:customer "Forsvaret"
             :years [2015]
             :employer :kodemaker
             :summary "Videreutvikling av GBMS"
             :description "Videreutvikling av GBMS for datafangst og analyse av
             skyts. Integrasjon med forsvarets SAP-løsning. Oppgave: Analyse,
             design, test, utvikling, dokumentasjon"
             :tech [:groovy :grails :oracle :sap-integrasjon :git]}
            {:customer "Forsvaret"
             :years [2007 :ongoing]
             :employer :kodemaker
             :summary "EDBVT, Amplan, Ammunisjonsrestrksjoner,Datakvalitetsmonitor"
             :description "EDBVT, Amplan, Ammunisjonsrestrksjoner,
             Datakvalitetsmonitor Videreutvikling på flere av forsvarets
             applikasjoner. Utvikling av grensesnitt mellom SAP og andre
             forvaltningssystem, samt tilpasning av disse systemene slik at de
             samspiller med SAP. Oppgaver: Senior Javautvikler."
             :tech [:j2ee :java :struts :spring :hibernate :jboss :oracle :maven :svn]}
            {:customer "TAD"
             :years [2006]
             :employer :kodemaker
             :summary "Tolldeklarasjonssystem"
             :description "TVINN System for behandling av tolldeklarasjoner.
             Oppgaver: Senior Javautvikler."
             :tech [:j2ee :j2se :spring :hibernate :genova-8 :rational-rose :sybase]}
            {:customer "Forsvaret"
             :years [2005]
             :employer :kodemaker
             :summary "Forvaltningssystem"
             :description "Forvaltningssystemer: FELREGs webgrensesnitt, Amplan,
             Pubreg, Datakvalitetsmonitor Videreutvikling på forsvarets
             applikasjoner nevnt over. Arkitekt og utvikler for forsvarets
             datakvaitetsmonitor. Oppgaver: Senior Javautvikler. Gjennomførte
             overgang fra CVS til Subversion."
             :tech [:j2ee :java :struts :spring :hibernate :jboss :oracle :jasper-reports :ant :svn]}
            {:customer "Mintra"
             :years [2005]
             :employer :kodemaker
             :summary "Optimalisering og videreutvikling av LMS"
             :description "Optimalisering og videreutvikling av LMS.
             Oppgaver: Senior Javautvikler."
             :tech [:j2ee :java :servlets :xml :xslt :jdbc :caucho-resin :postgres]}
            {:customer "Fagsenteret for kjøtt"
             :years [2004]
             :employer :kodemaker
             :summary "Kvalitetskontroll- og produkjonsstatistikksystem"
             :description "Kvalitetskontroll- og produkjonsstatistikksystem WEB
             løsning for publiserings av kvalitetskontroll og
             produksjonsstatistikk for norske kjøttprodusenter. Oppgaver: Senior
             Javautvikler. Utvikling av ny funksjonalitet."
             :tech [:j2ee :java :servlets :jsp :ejb :hibernate :spring :easerver :oracle]}
            {:customer "Mintra AS"
             :years [2003]
             :employer :mintra
             :summary "Produksjonsstøttesystem og LMS"
             :description "Produksjonsstøttesystem og LMS Utvikling av
             produksjonsstøttesystem og tilpasning av LMS. Oppgaver: Arkitekt og
             utvikler for produksjonsstøttesystem for e-læringskurs med
             swingklient og flashklient. Innbar også oppfølging og coaching av
             utviklingsteamet."
             :tech [:j2ee :java :xml :xslt :ejb :jdbc :jms :swing :jboss :mssql :postgres :actionscript]}
            {:customer "Mintra AS"
             :years [2003]
             :employer :norbooking
             :summary "Produksjonsstøttesystem"
             :description "Produksjonsstøttesystem Utvikling av
             produksjonsstattesystem. Oppgaver: Arkitekt og utvikler for
             produksjonsstøttesystem for e-læringskurs med swingklient og
             flashklient. Innbar også oppfølging og coaching av
             utviklingsteamet."
             :tech [:j2ee :java :xml :ejb :jdbc :jms :swing :jboss :mssql :postgres :actionscript]}
            {:customer "Norbooking AS"
             :years [2002]
             :employer :norbooking
             :summary "Reiselivssystem"
             :description "Reiselivssystem Drift og videreutvikling av
             reiselivssystemet jeg hadde vært med å utvikle i DBC-Munin
             AS/Inspera AS. Oppgaver: Ansvarlig"
             :tech [:j2ee :java :ejb :jdbc :swing :jms :xml :xslt :javascript :weblogic :jboss :jetty :tomcat :oracle]}
            {:customer "Interne prosjekter"
             :years [1999]
             :employer :dbc
             :summary "Reiselivssystem og e-læringssystem"
             :description "Reiselivssystem Utvikling av integrert system for
             presentasjon, publisering , booking, fakturering og lagerstyring
             for små og mellomstore reiselivsbedrifter. Utvikling av moduler til
             bruk i e-læringssystem Oppgaver: Javautvikler."
             :tech [:j2ee :java :servlets :ejb :jdbc :swing :jms :xml :xslt :javascript :weblogic :jboss :jetty :tomcat :oracle]}]

 :cv {}
 :education-summary "Sivilingeniør NTNU, Realfag UiB"
 :experience-since 1999

 :certifications [{:name "JA310: Java Web Dynpro Basics", :year 2012}
                  {:name "SAPEP: SAP NetWeaver Portal - Fundamentals", :year 2011}
                  {:name "Profesjonelt styrearbeid", :year 2010}
                  {:name "Grunnleggende regnskapsforståelse og analyse", :year 2010}
                  {:name "Retorikk og presentasjonsteknikk", :year 2010}
                  {:name "ITIL Foundation versjon 3", :year 2009}
                  {:name "Sun Certified Programmer for the Java platform, SE6"
                   :year 2009}
                  {:name "Scrummaster", :year 2008}
                  {:name "TDD", :year 2008}]
 :born 1975
 :education [{:institution "NTNU"
              :years [1997 1998 1999 2000 2001 2002]
              :subject "Sivilingeniør Datateknikk - Kunnskapssystemer"}
             {:institution "UiB"
              :years [1996 1997]
              :subject "Realfag"}]
 }
