{:id :trygve
 :name ["Trygve" "Amundsen"]
 :title "Løsningsarkitekt og programmerer"
 :start-date "2007-04-01"
 :description "Trygve har lang og omfattende erfaring med systemutvikling. Han har jobbet med løsningsdesign, arkitektur og integrasjon, utarbeidet forstudier og kravanalyser, tilpasset utviklingsprosesser og metoder, mm.. Han ser allikevel på seg selv som systemutvikler og har høy grad av stolthet for håndverket. Han er entusiastisk opptatt av emnet, tilegner seg raskt ny kunnskap og følger nøye med på nyvinninger innen faget. \n\n De siste 12 årene har han hovedsakelig jobbet med store og små systemer på Java plattformen. Han har opparbeidet seg solid erfaring med systemutvikling, arkitektur, integrasjon og design i komplekse homogene og heterogene miljøer. \n\n Han evner å finne enkle løsninger på kompliserte problemstillinger. Han er resultatorientert og målrettet, og leverer høy kvalitet der det trengs. Han trives i de fleste miljøer, og kommuniserer godt med kunder og kolleger. Han er diplomatisk og lyttende av natur, men står for sine meninger når det er påkrevet."

 :phone-number ""
 :email-address ""

 :presence {}}
