{:id :yen
 :first-name "Yen"
 :last-name "Xu"
 :title "Partner"
 :order 12
 :description "Yen er ekspert på PL/SQL og tuning av Oracle-databaser. Hun har også lang erfaring som javautvikler. Hun har ståpå humør, og får svært gode skussmål fra sine tidligere oppdragsgivere. Dessuten har hun stadig et smil på lur."}
