{:id :yen
 :name ["Yen" "Xu"]
 :title "Partner"
 :start-date "2008-09-01"
 :description "Yen er en svært engasjert og kunnskapsrik person med ståpå humør. Hun har et spesiell evne til å sette seg rask inn i forretningsdomene og forstå kundens behov. Hun har jobbet med store datamengde gjennom mange prosjekter og er en kløpper når det gjelder det å designe og modellere forretningskjernevirksomhet. Hun får svært gode skussmål fra alle sine tidligere oppdragsgivere. "

 :phone-number "97052197"
 :email-address "yen@kodemaker.no"
 :presence {:cv "yen"
  	        :linkedin "/in/yenxu"}

 :tech {:favorites-at-the-moment [:grails :groovy :intellij :oracle :spock :dbfit :oracle-analytical-functions]
        :want-to-learn-more [:business-integelligence :tableau]}
 :hobbies [{:title "Trening og helse"
 		:description  "[Å sitte er like ille som å røyke](http://www.nrk.no/livsstil/_-a-sitte-er-like-ille-som-a-royke-1.11428352) mener forskerne .
 		 Hvem liker å føle seg dårlig og uvel og blir plaget av alle mulige sykdommer? Ingen! Den beste måten å unngå dette på som jeg har tro på, er trening.
         Jeg har stor glede av å holde på mine faste treningsrutiner som blant annet spinning, styrketrening og andre saltrening på 
 		 min favoritt treningsenter [Skullerudsportsenter](https://www.skullerudsportsenter.no/). "
 		 :illustration  "/illustrations/hobbies/yen-saltrening.jpg"}
 		 {:title "Aktiviter og reiser"
 		  :description "Å dykke i rødehavet blant skillepadder og haier, dirke murener under hake, 
 		  svømme blant haiene i verdens nest største akvarium i Disney Worlds Epcot Quest og sykle med kodemakere i Italia er noen av de opplevelsene som jeg prøver å samle og lagre min livsgledesbank."
 		  :illustration  "/illustrations/hobbies/yen-dykking.jpg"
 		 }
 		 {:title "Yin og yang og balanse"
 		  :description "Alt handler om balanse. Så lenge man ikke overdriver, så kan man gjøre alt det man har lyst til. Det er noe jeg har lært av den kinesiske filosofien.
 		  Mat og helse går hånd i hånd. Jeg skulle gjerne ha lært mer om hvordan man kan bruke maten som medisin."
 		  :illustration  "/illustrations/hobbies/yinyang.jpg"
 		 }]       
}
